[2018-02-07 06:27] arjunyel opened #2 "checkRegex test fails"
Looks like the test is failing because checkRegex is being assigned to two vars but only returns one, a string[]

https://github.com/zricethezav/gitleaks/blob/06c2141a02ce51ab8ba9726c5d03a4a3f41f0004/checks_test.go#L23

[2018-02-07 18:54] zricethezav commented on #2
good catch, should probably set this up on travis

[2018-02-07 19:02] zricethezav commented on #2
https://github.com/zricethezav/gitleaks/commit/6eba1bb24e32a532f375715d5b8ebed26a644f27 simple fix for now

[2018-02-07 19:02] #2 closed

[2018-02-15 11:48] fd opened #4 "Support other git url types"
these are not properly supported

[code]

[2018-02-15 14:45] zricethezav commented on #4
👍 will look into this

[2018-02-15 14:56] bestform commented on #4
Here is my proposal for a solution. It generates the local repo name based on the URL.

An alternative solution would be to generate a random folder name and just explicitly clone into this one. But my solution has minimal impact on the current implementation and it should work for the given test cases.

[2018-02-15 15:31] fd commented on #4
A random folder name under `$TMPDIR` is probably the most logical solution.

[2018-02-15 16:46] bestform commented on #4
Yeah, that's probably what should be done. So feel free to close my PR or merge it and substitute it with the alternative later.

[2018-02-15 16:56] zricethezav commented on #4
Thanks @bestform and @fd I'll merge the PR to support different url types then implement @fd's solution at a later time.

[2018-02-15 16:56] #4 closed

[2018-02-15 16:57] zricethezav opened #6 "Add travis yaml"
Need to setup travis

[2018-02-15 17:14] zricethezav opened #7 "Stop words option to prevent false positives"
If we come across a line: `conn = client.s3(aws_key=settings.AWS_KEY` there will be a regex match on `aws_key=` which will then check `settings.AWS_KEY` for entropy. If the entropy is past a certain value, gitleaks determines this is a valid leak which it is not. A simple way to reduce false positives is to add a stop word checker in `checks.go`.

There could be a default set of stop words, someth

[2018-02-15 17:23] zricethezav opened #8 "Organization/User Scan"
Retrieve organization/user repos using `https://api.github.com/orgs/<org name>/repos` or `https://api.github.com/users/<username>/repos`. Iterate through repos, clone repo, generate report.

usage:
`$ gitleaks -u https://github.com/<username>`
`$ gitleaks -o https://github.com/<org name>`

[2018-02-16 15:50] JustinAzoff commented on #8
I think to make this even more useful, you would want to do something like skipping the `rm -rf` step and leave the repo on disk, and then use some method to only scan new revs as they show up.

This way gitleaks could just be ran from cron and continually scan all repos in the org without having to clone them from scratch each time.

Main thing that would need to be worked out is how to tell what

[2018-02-16 19:49] zricethezav commented on #8
I like this idea. Adding better support for scheduled runs is definitely a feature that should be added. Boltdb seems like a good data store to track commits.

Another enhancement I want to implement is using https://github.com/src-d/go-git instead of shelling out the git commands for two reasons: minimize disk writes (go-git can clone in memory) and remove the `rm -rf` cleanup step.

[2018-02-17 17:50] zricethezav commented on #6
closed by https://github.com/zricethezav/gitleaks/pull/10

[2018-02-17 17:50] #6 closed

[2018-02-18 18:04] zricethezav commented on #8
starting work here: https://github.com/zricethezav/gitleaks/tree/org_user_scan

[2018-02-20 01:09] #8 closed

[2018-02-20 01:09] zricethezav commented on #7
Started here: https://github.com/zricethezav/gitleaks/pull/13 could use the option to load stopwords from a txt file

[2018-02-20 04:02] zricethezav opened #14 "Timings compared to truffleHog"
I would like to add a timing chart to the README comparing times and false positives between truffleHog/similar tools

[2018-02-20 14:06] zricethezav opened #15 "Persistant/Local Repos"
A feature that has been requested by a few folks is the ability to audit local repos as scheduled tasks. @JustinAzoff in https://github.com/zricethezav/gitleaks/issues/8 suggested using a data store like boltDB to cache commits so we don't run redundant checks on commits that have already been vetted.

I'm thinking we keep the default behavior but add some options like a `--dir`, `-d` flag to tell

[2018-02-20 18:17] zricethezav opened #18 "shell injection"
https://github.com/zricethezav/gitleaks/blob/master/leaks.go#L29 could be pwned by malicious repo urls. need to do some regexing or use https://github.com/src-d/go-git for the clones.

[2018-02-20 18:27] anant2614 commented on #18
Should we use go-git for now ? I can take this up.

[2018-02-20 19:15] zricethezav commented on #18
@anant2614 we should use go-git for cloning at the very least. The other git operations should be fine to shell out since `rev-list` is a defined string. `git diff` should also be to shell out too. If you want to take this on that would be much appreciated! 👍

[2018-02-20 23:37] securient opened #19 "[Feature Request] - Output to JSON"
It would be a great feature to get JSON output of the findings and which we can use for other automations.

[2018-02-21 10:10] ryh commented on #15
will this local feature work with `on-stage files` (not commit yet) ?
Would be more awesome gitleaks can check before commit/push ing

[2018-02-21 10:53] ryh opened #21 "more stopWords please"
- BEGIN CERTIFICATE
 (.crt CERTIFICATE)
- BEGIN RSA PRIVATE KEY
 (.key PRIVATE KEY)
- secret
 (Oauth or  jwt.io or other API but passed the regx check)

and there some false alarm with

[code]

[2018-02-21 11:09] chneau opened #22 "Filter repositories of user/organisation"
Hello,

Something I noticed is, if I fork a big project (like [node](https://github.com/nodejs/node) or better, the [linux kernel](https://github.com/torvalds/linux) ) and then I scan myself, it will take a while !

From here I can see two areas that can get an enhancement:
- Options to scan or not forked project
- Options to filter repos by size ( number of commits, project size or number of file

[2018-02-21 15:30] #14 closed

[2018-02-21 16:56] styfle opened #25 "Installation Question"
Can I install gitleaks [without installing Go](https://stackoverflow.com/q/33945738/266535)?
Or maybe a better question is, can you attach the binaries to the [GitHub Releases](https://github.com/zricethezav/gitleaks/releases)?

[2018-02-22 09:04] mcuadros commented on #18
One question why `git diff` should be the shell output? It's something wrong with the diff output from go-git?

[2018-02-22 13:49] zricethezav commented on #18
Ideally, gitleaks would use go-git for all git commands. I raised this issue specifically for the clone. Using go-git for other commands are nice-to-haves... but also easy to implement so I agree with you, go-git should be used for the diff and rev-list (if supported).

[2018-02-22 13:59] anant2614 commented on #18
@zricethezav well I worked just on the clone part.I went through the go-git docs of supported commands,could not find git-diff and rev-list features and these are open feature requests in their issues.

[2018-02-22 14:10] jraulhernandezi opened #27 "Spanish Translation"
Hi guys, I´m a ENG-SPA translator, I was wondering if you were interested in having a Spanish translation for your project.

Saludos.
Juan Hernández - [Crowding Profile](https://crowdin.com/profile/jraulhernandezi/activity)

[2018-02-22 17:37] zricethezav commented on #18
closing this. @mcuadros feel free to open an issue for getting `rev-list` and `diff` working for go-git.

[2018-02-22 17:37] #18 closed

[2018-02-22 17:43] zricethezav commented on #25
Good call, will be working on this this weekend.

[2018-02-22 20:36] truedat101 opened #30 "Scanning private git repositories"
Would be very useful to be able to provide http credentials as an option to authenticate with private git repositories.  Currently does not appear to support anything but public projects, unless I have misunderstood the options.

[2018-02-22 20:47] zricethezav commented on #30
Agreed this would be ideal to have. Private repo scanning is supported via ssh keys

[2018-02-22 21:27] zricethezav commented on #30
Now that I think about it, probably easiest to revert go-git changes and just shell the clone

[2018-02-22 21:29] truedat101 commented on #30
bingo.  Yes.  My local git already works automagically using git credential manager for windows (https://github.com/Microsoft/Git-Credential-Manager-for-Windows) if I am using https.  For ssh that would be the same under a linux setup.

[2018-02-22 21:36] mcuadros commented on #18
I just asking because diff and rev-list are being used intensively, and
documented ad supported.

https://github.com/src-d/go-git/blob/master/COMPATIBILITY.md

So I wanted to know if you had any missing features.

[2018-02-22 21:39] zricethezav commented on #30
reverted https://github.com/zricethezav/gitleaks/pull/31

[2018-02-22 21:48] truedat101 commented on #30
Hmmm, not exactly.  It does the following on windows:

- Triggers the Git Login Window (I enter my credentials)
- Then triggers an open ssh login window (I enter my credentials)
- fails

I think it may be this is difficult to support on windows with the current design if it assumes ssh login and the user has not set up ssh keys on windows.

[2018-02-22 22:12] zricethezav commented on #18
@mcuadros I see that now. I'll be looking into replacing all shelled cmds with go-git in the future when I have some more time to develop this.

[2018-02-23 14:40] #7 closed

[2018-02-23 15:53] plutov opened #35 "Add GCP Service Account Key to regexes list"
https://cloud.google.com/video-intelligence/docs/common/auth

[2018-02-23 16:37] trayo opened #37 "Add support for scanning an enterprise Github organization"
Tried scanning an organization in our enterprise github and I get an error:

[code]

It's clear now it doesn't use the full url provided so when I attempt to provide the full url according the usage from the help message, nothing happens:

[code]

Scanning a single repo does work on the other hand, but has to be done to every repo in the org.

[2018-02-23 19:52] zricethezav commented on #35
Feel free to open a PR if I don't get to this this weekend

[2018-02-25 08:51] fdcarl opened #43 "Output URL to specific repo in JSON"
It would be nice if the output JSON would contain the URL to the specific repo. Since different orgs can have repos of the same name, it's a bit cumbersome to have to go back and figure out which specific repo has the leaks.

Thanks

[2018-02-25 08:58] fdcarl opened #44 "Output full path in JSON"
A number of the results I've come across so far have been been in test type directories. If the full path to the file was available in the JSON it would make it quicker at a glance to easily dismiss results without having to track down the leak manually

Thanks

[2018-02-25 13:12] plutov commented on #35
Sure thing - https://github.com/zricethezav/gitleaks/pull/45

[2018-02-25 17:10] gopinath6 commented on #37
Is organization repo works?Itscans  only 1 repo i org
OS: win7

![image](https://user-images.githubusercontent.com/6551119/36644174-73654b9c-1a7c-11e8-85b4-6cb1fb6ebe32.png)

[2018-02-25 22:28] zricethezav commented on #44
addressed https://github.com/zricethezav/gitleaks/releases/tag/v0.2.0

[2018-02-25 22:28] zricethezav commented on #43
addressed: https://github.com/zricethezav/gitleaks/releases/tag/v0.2.0

[2018-02-25 22:28] zricethezav commented on #30
Hopefully the version bump will help this @truedat101
https://github.com/zricethezav/gitleaks/releases/tag/v0.2.0
Havent tested on windows... lemme know

[2018-02-25 22:30] zricethezav commented on #21
False positives taken care of here: https://github.com/zricethezav/gitleaks/releases/tag/v0.2.0.
RSA handled. Will look into .crt and .key

[2018-02-25 22:31] zricethezav commented on #19
Handled: https://github.com/zricethezav/gitleaks/releases/tag/v0.2.0
used `--json` flag

[2018-02-25 22:31] #19 closed

[2018-02-25 22:31] zricethezav commented on #15
Handled: https://github.com/zricethezav/gitleaks/releases/tag/v0.2.0

[2018-02-25 22:31] #15 closed

[2018-02-25 22:36] #44 closed

[2018-02-25 22:36] #43 closed

[2018-02-25 22:42] zricethezav commented on #37
@gopinath6 Didn't test on windows but looks like this error is popping up cause `rm` is not found. This should be fixed in the version bump. Let me know your findings after a reinstall

[2018-02-26 16:35] zricethezav opened #49 "more filters and options"
Here are some filters and options that would be nice to have:
* ignore filetypes
* commit depth
* commit range (HASH1 - HASH2)
* scan PR #
* Redact offending string from report/output
* ~include commit url in leaks~

[2018-02-26 23:44] keirans opened #50 "Git leaks - Usability feedback"
Hey There,
Thanks again for a really great tool.  I'm providing this feedback here, as per our discussions on reddit DM's.

I've got a bit of feedback that i think would help greatly with general usability. I'm slightly selfish in that these would greatly help me, however, I think it would also help other peoples adoption as well.

* Customise the datadir / workdir directory on the CLI
Currently a

[2018-02-27 03:19] zricethezav commented on #50
Hey K,

Thanks so much for the detailed feedback. This is exactly what I was looking for and will help direct me during my next code jam. I think these four features would really help folks integrate gitleaks into whatever CI/pipeline/infra they have. Perhaps we could work together on defining exit codes?

Cheers 👍

[2018-02-27 04:31] zricethezav commented on #50
Tackled the simplest of the bunch and now no reports will be generated if no leaks are found.

[2018-02-27 07:51] keirans commented on #50
Absolutely.

Let me get a sample set of exit codes over to you tomorrow.

I'll take the latest build for a spin then as well.

This is going to be great when its in, escpecially for pipelines and audits.

K

[2018-02-27 20:32] willfaught opened #52 "Any plans to enable scanning an existing cloned repo?"
I don't need a separate copy of a repo cloned, I already have one locally, and want to scan it in place for leaks. Useful for CI stages like linting. Arguably this should be the default, since it's trivial to clone a repo yourself and `cd` into it or give the path to it.

[2018-02-27 20:47] zricethezav commented on #52
This is in the works, doing a fairly large refactor and some feature implementations described here: https://github.com/zricethezav/gitleaks/issues/50. stay tuned

[2018-02-27 21:55] keirans commented on #50
Morning!,
OK how does this sound. I have reworked Puppet's --detailed-exitcodes option and when present, git leaks would return:

[code]

When this option is not used, the tool will by default  return 0 for execution success and 1 for all failure types. Thus keeping current functionality unchanged.

We can then add further detailed exit codes 3+ later if required.

Feedback welcome,

K

[2018-02-28 08:07] lanmalkieri commented on #30
This appears to still trigger a request for a login.

Tried running with both GIT_TOKEN env var set and manually specifying token at the cli --token argument, prompts me with github username.

The following is set with env var set:
stobiewan|[]:[~/go] > env|grep GITHUB_TOKEN
GITHUB_TOKEN=REDACTED

REDACTED|[]:[~/go] > bin/gitleaks --json https://github.com/REDACTED/onboarding
Cloning https://githu

[2018-02-28 08:42] truedat101 commented on #30
I haven't tried the new update, however, the net effect of the previous version I tried was that I had to re-run Windows GIT credential manager to get git working again with github.  I will try this again later in the week with the new version.

[2018-03-01 05:37] zricethezav commented on #50
Hey @keirans, just wanted to let you know I'm still working on implementing all of these features. Progress here: https://github.com/zricethezav/gitleaks/tree/feature/usability
quite a big refactor

[2018-03-01 06:01] keirans commented on #50
All good mate.
Just had a quick look, it's looking great.

I had another bit of feedback to add around when cloning , looping through all branches rather than operating off master as well. I think that will give you more coverage. Whats easiest for you ? Add it to my original suggestions at the top for tracking for the time being ?

Let me know if you want some help atleast with some of the doco,

[2018-03-03 12:23] orrc commented on #52
I know it's not the same as scanning an existing clone, but I've been doing this, which at least saves on network traffic:
`./gitleaks -j file://$HOME/code/some-repo`

[2018-03-05 02:28] zricethezav commented on #50
https://github.com/zricethezav/gitleaks/pull/55 should do the trick on most of what you requested 👍 still need to implement externalizing regex... yaml has some goofy escape sequences so i might just opt for writing regex into a straight txt file...

[2018-03-05 14:19] zricethezav commented on #49
@crazyvikas23 absolutely!

[2018-03-05 14:20] zricethezav commented on #52
v0.3.0 introduces this. `gitleaks --local path/to/repo`

[2018-03-05 23:57] paulfantom commented on #52
@zricethezav `--local` mode is not working or I'm doing sth wrong.

1. I ran everything in docker container [`golang`](https://hub.docker.com/_/golang/) with mounted volume (`/mnt/repo`) with git repository. (`docker run -it -v `pwd`:/opt/repo golang bash`)
2. Downloaded gitleaks with `go get -u github.com/zricethezav/gitleaks` as it is described in README.md
3. Ran: `gitleaks --local /opt/repo`
4

[2018-03-06 03:44] keirans commented on #50
I'm taking this for a spin now and will let you know how I go :)

Thanks again for your enhancements.

K

[2018-03-07 10:49] keirans commented on #50
Hey There,
I've taken the new version for a run, it's looking pretty good.

I did find that the -r option that I was using on a [bare repository, local repository](http://www.saintsjd.com/2011/01/what-is-a-bare-git-repository/) was no longer working for me, however i solved this by just pre-cloning the repo and then using the -l option on the clone which got me solved. It would be nice if that cou

[2018-03-11 08:15] vmarkovtsev opened #58 "Idea: port the leak checker to Hercules"
[Hercules](https://github.com/src-d/hercules) is a nice extensible Git repo analysis engine on top of [go-git](https://github.com/src-d/go-git). Should be very easy to write a [plugin](https://github.com/src-d/hercules/blob/master/PLUGINS.md) and effectively do not depend on GitHub API.

[2018-03-11 15:58] zricethezav commented on #58
hey @vmarkovtsev that's a great idea. I have plans to at the very least replace shelling out all the git commands with go-git. I'll have to check out Hercules. Thanks for the suggestion!

[2018-03-11 16:05] mustafaakin opened #59 "Ability to ignore path"
I would really like ability to ignore paths

[2018-03-11 18:08] vmarkovtsev commented on #58
Feel free to ping me if anything is unclear - documenting things is not my strongest skill.

[2018-03-12 00:02] zricethezav commented on #59
Could you elaborate on that please?

[2018-03-12 04:08] keirans commented on #59
I am guessing that @mustafaakin would like to be able to specify filenames , or patterns of filenames that would be filtered from the results.

An example would be to remove matches if the file name or path contained '*example*.json or similar.
AWS SDK's often contain files containing sample API keys and other invalid secrets that cause positive results.

Hope this helps.

K

[2018-03-12 04:31] Hoten opened #60 "Unclear: are commit messages audited too?"

[2018-03-12 07:46] mustafaakin commented on #59
Yes, I purposefully inject pseudo keys sometimes on specific paths for some evil copropate purpose, so ability to filter by regexes would be great

[2018-03-12 14:03] zricethezav commented on #60
negative, they are not

[2018-03-12 22:55] thearthur commented on #52
I also get this with the --local option when using docker: the image id is in :latest right now is:
961c61f679f8

[2018-03-12 23:15] zricethezav commented on #25
@styfle binaries here: https://github.com/zricethezav/gitleaks/releases/tag/v0.4.0

[2018-03-13 00:17] keirans commented on #60
Interesting this came up, I was thinking about this last week, having a set of patterns that cloud be used as 'indications of bad commits' or development practices.

A basic set of examples could be (as blocks of regex)

- (updating|adding)*AWS*key
- (deleting|removing)*(secret|key|credential)
- (adding|updating|committing)*(private|ssh|)*key

It would sit quite well in an external file, however,

[2018-03-13 00:18] styfle commented on #25
Thanks, I'll check it out! 👍

[2018-03-13 00:18] #25 closed

[2018-03-13 16:41] arcsector opened #62 "Go not building/installing"
Hello,

This is my first time installing a go repo. I did `sudo go get -u -v -t github.com/zricethezav/gitleaks` and it only came back with this response:

`github.com/zricethezav/gitleaks (download)`

So I'm not quite sure if I'm not building correctly or what else I could be doing wrong. My go version is 1.8.3 and I'm on linux/amd64 Ubuntu 17.10. Sorry about my incompetence!

And I did try insta

[2018-03-13 20:32] thearthur commented on #52
this seams to be related to the user id of the files being checked not having a matching user inside the docker container

[2018-03-13 20:48] zricethezav commented on #62
You installed correctly and should be able to use `$ gitleaks` right out of the box. What happens when you  `$ which gitleaks`? You may need to add `GOPATH/bin` to your `PATH`:
`export PATH=$PATH:$GOPATH/bin`

how to use binaries (linux):
[code]

Let me know if that works/you have any confusion.

[2018-03-13 21:47] arcsector commented on #62
Thank you so much for your help.

If I do `echo $GOPATH` it's `$HOME/go`, and if I do `echo $PATH` it's:

`/usr/local/sbin:/usr/local/bin:/usr/sbin:/sbin/:/bin:/usr/games:/usr/local/games:/snap/bin:$HOME/go/bin:/usr/local/go/bin`

It appears I have two go things. I can run individual scripts normally, but now whenever I type `gitleaks` it gives:

`$HOME does not exist`

For clarification, it doesn

[2018-03-13 22:13] arcsector commented on #62
Maybe `$PWD/.git does not exist`? Also, thank you so much it super works. I can't wait to use this tool!

[2018-03-13 22:13] #62 closed

[2018-03-14 19:39] arcsector opened #63 "Add support for github.*"
For enterprises that host their own private github (e.g. `github.dhs.gov`, `github.asp.net`, etc...), it appears that the github links aren't recognized by the code as valid github links, so the error `Unknown option https://github.asp.net` shows up. It would be nice if .gov and .net addresses were recognized in addition to the base `github.com` url.

Is there somewhere in your code that you're va

[2018-03-14 21:13] arcsector commented on #63
It seems like it's an issue with google's go-github where they automatically assume default base url. I don't know if they can fix this, however.

[2018-03-19 16:44] ybabel opened #64 "Scan for "secret_key""
This should be added to scan beacause we can have some recaptcha_secret_key and stuff like that in the repositories.

[2018-03-20 13:53] #49 closed

[2018-03-20 13:56] zricethezav commented on #64
you can extend that yourself with the `regex-file` option:
``` echo secret_key > ybabels_regex.txt && gitleaks --regex-file=ybabels_regex.txt {url}``` or something of that flavor

[2018-03-21 16:02] zricethezav commented on #64
closing, reopen if that doesnt work for you @ybabel

[2018-03-21 16:02] #64 closed

[2018-03-26 18:53] #63 closed

[2018-03-27 14:31] #21 closed

[2018-05-07 05:32] jaikishantulswani opened #65 "gitleaks --verbose"
gitleaks --verbose option not working even not listing in all options using help.

[2018-05-09 03:55] keirans commented on #65
Is this via the docker image by chance ?

I have a feeling the image needs to be updated and could be out of sync.
If you grab the latest release, it seems to work for me for remote and local repos.

[code]

[2018-05-09 08:11] jaikishantulswani commented on #65
have clone your repo https://github.com/zricethezav/gitleaks but still won't get the verbose option
![screenshot from 2018-05-09 13-40-59](https://user-images.githubusercontent.com/30144126/39803424-8085712c-5360-11e8-8871-6d14d43311d1.png)

[2018-05-11 14:55] zricethezav commented on #65
All, sorry for the hiatus. Updated travis to handle the docker builds. docker is now all up to date.
Try removing the binary and rebuilding if you are running from a build locally.
[code]
see if that works

[2018-05-12 07:46] jaikishantulswani commented on #65
Thanks @zricethezav ! its working :)

[2018-05-12 13:49] zricethezav commented on #65
Great! closing

[2018-05-12 13:49] #65 closed

[2018-05-17 14:31] mikailtunc opened #69 "Private Repositories - API Token"
Hello!
First I'd like to express my thanks for this awesome project so thank you :)

Is there a reason why I cannot search private repos after providing gitleaks with a read-only API token? It still asks me for my github.com username and password after passing in my --token.

e.g., command:

./gitleaks --temp --token=<token> --verbose --org https://github.com/myOrg

[2018-05-19 00:44] #27 closed

[2018-06-11 11:56] jaikishantulswani opened #70 "--verbose"
--verbose switch giving error
2018/06/11 17:34:15 cannot clone https://github.com/xxx into /root/go/src/gitleaks/xxx

[2018-06-18 02:22] BondAnthony commented on #70
@jaikishantulswani could you provide mode detail? This works for me and I'm running off of source.

[2018-06-18 11:49] jaikishantulswani commented on #70
@BondAnthony,
it stuck on cloning the repo while using it with -v -o

./gitleaks -v -o https://github.com/xyz
2018/06/18 17:16:48 cloning https://github.com/xyz/abc.git into /root/go/src/gitleaks/abc...
2018/06/18 17:16:48 cannot clone https://github.com/xyz/abc.git into /root/go/src/gitleaks/abc

[2018-06-18 11:53] jaikishantulswani commented on #70
Hello @BondAnthony,
Sorry for bothering you, it works fine after removing the old binary and installing the new again, one more thing could you please let me know how we can add more signatures.

[2018-07-03 16:50] oupala opened #71 "Does the docker image work for any git repository?"
I'm trying to use the docker image to test a git repository that is hosted on an internal GitLab instance. And I get an error:

[code]

What is this `Unknown option https://gitlab.internal/mygroup/myproject` error? Where does it come from?

Could it be a proxy related issue? My company is using proxies.

[2018-07-05 14:04] zricethezav opened #72 "Note: Gitleaks rewrite coming"
Hey all,

First of all, thanks for all the support. I'll be honest - I made gitleaks as an exercise to learn Go so it's a pretty novice code base. Since then I've learned some things and am working on a rewrite that will add some cool features such as branch and PR targeting, as well as support for any remote target (gitleaks will no longer be github specific when cloning remote). Additionally, I'

[2018-07-05 14:07] #70 closed

[2018-07-05 14:09] zricethezav commented on #69
This issue will be fleshed out in the next version of gitleaks. This might be broken. I'll take a look and get back to you

[2018-07-05 14:09] zricethezav commented on #60
This will be added in the next gitleaks release

[2018-07-05 14:09] #60 closed

[2018-07-05 14:13] zricethezav commented on #58
@vmarkovtsev next release of gitleaks will be using go-git. Thanks for the suggestion. I think I'm able to do everything I need to do without using Hercules from go-git. Will let you know if I run into any roadblocks

[2018-07-05 14:13] #58 closed

[2018-07-05 14:15] vmarkovtsev commented on #58
Cool!

[2018-07-05 14:18] #37 closed

[2018-07-05 18:53] trayo commented on #37
@zricethezav Was the organization issue I asked about fixed in the version bump?

[2018-07-16 06:20] keirans commented on #72
Hey @zricethezav ,
Looking forward to version 2, I think we have all learnt a bit about how to scan git repos via this tool, and i really do appreciate you releasing your work, it has helped me quite a bit.

Here are my thoughts on some enhancements that could make the tool even better, i've put a bit of deail in place below to help flesh them out as features for development to make things easier

[2018-07-17 01:49] zricethezav commented on #72
@keirans as always, thanks so much for the detailed responses.

I think I hit most of the items. Need to do a little more testing but opening a PR so folks can begin to track the changes: https://github.com/zricethezav/gitleaks/pull/74

[2018-07-17 02:58] keirans commented on #72
Looking forward to checking out the first release.

One other thing I missed is following Semver for all releases and tagging each release for easier release management and bug reporting.

This will help with docker image labelling as well.

:)

[2018-07-18 00:36] zricethezav commented on #72
@keirans if you wanna play around:
`docker run zricethezav/gitleaks:gitleaksv1 gitleaks --help`

[2018-07-21 01:09] zricethezav commented on #72
Closing this, I will open issues for all the items that I missed. v1.0.0 released

[2018-07-21 01:09] #72 closed

[2018-07-21 01:11] zricethezav commented on #71
New release should take care of that. Try now

[2018-07-21 01:11] zricethezav commented on #69
Released new version, please follow examples in the wiki and try now

[2018-07-21 01:12] #50 closed

[2018-07-21 01:12] zricethezav commented on #52
new version should take care of all these issues

[2018-07-21 01:12] #52 closed

[2018-07-21 01:13] zricethezav commented on #59
Added whitelist functionality in latest release

[2018-07-21 01:13] #59 closed

[2018-07-21 16:19] #71 closed

[2018-07-21 16:19] #69 closed

[2018-07-21 19:07] zricethezav commented on #18
@mcuadros v1.0.0 is now powered by go-git. Awesome package! Thanks source-d :+1:

[2018-07-22 18:26] pdparchitect opened #79 "Consumes a lot of memory when running against an org"
Interesting project. I was testing it against uber's github org and it effectively run out of memory twice, even when the --disk option was specified. I did not investigate the cause but it is likely to be a mem leak.

[2018-07-23 00:50] zricethezav commented on #79
@pdparchitect thanks for bringing that up. I hadn't done any huge stress testing. Mem leakage is definitely a possibility -- or could just be too much loaded up into mem as uber has a couple large repos.

Right now gitleaks pulls all the repos into memory, then performs the audit one by one. A better solution would be to fire off audits one at a time as soon as it gets a response from github.

[2018-07-23 22:17] scilganon opened #81 "panic: runtime error: invalid memory address or nil pointer dereference"
### Error:

[code]

### System:

[code]

[code]

---

have other repos, and it works with them

---

what else do you need?

[2018-07-23 23:15] zricethezav commented on #81
hmm could be unbounded concurrency, try setting `--max-go=1`

[2018-07-24 13:57] oupala commented on #71
It works well, thanks!

[code]

[2018-07-25 21:46] ljohnston commented on #81
I'm seeing the same thing also. Adding --max-go=1 either hangs or takes a _really_ long time. After about 30 minutes I aborted it.

[2018-08-06 13:26] jaikishantulswani opened #83 "--github-org leaving with blank"
Hello,
The flag "--github-org=some org url" not working and leaving with blank ?

[2018-08-07 04:09] keirans commented on #79
Hey @pdparchitect ,
Would I be able to get an idea of how much memory we are talking about ?

I'm using gitleaks to audit quite a bit of code, and am looking to move to the 1.x release soon, and this will help me understand if i'll hit this.

Thanks!

K

[2018-08-08 19:43] ljohnston commented on #49
Any particular reason this issue was closed? I don't see these options have been implemented (other than redacting things in the reports). The 'commit depth' option would be extremely useful.

[2018-08-08 20:07] zricethezav commented on #49
These options have been implemented. Use `--commit`

[2018-08-09 04:35] eripa opened #84 "Add support for GitHub Enterprise"
When scanning single repositories it's possible to provide a custom URL to a GitHub Enterprise instance, however when running the Org/User scan the tool assumes the public GitHub instance.

It would be create to have an option like "Base GitHub URL" to override this to support GitHub Enterprise deployments.

[2018-08-09 07:18] d47zm3 commented on #81
For me (same version), --repo-path tries to clone repository to disk, why?
[code]

[2018-08-09 12:50] zricethezav commented on #84
use the `--private` flag for org/user scans

[2018-08-09 12:52] zricethezav commented on #81
@d47zm3 its not cloning locally, just a badly placed log: https://github.com/zricethezav/gitleaks/blob/master/main.go#L269

[2018-08-09 12:54] zricethezav commented on #81
@ljohnston @scilganon  looks like https://github.com/zricethezav/gitleaks/blob/master/main.go#L354 needs to be err checked

[2018-08-09 12:55] zricethezav commented on #81
i can fix this up next week unless someone wants to get to them before. feel free to open a PR

[2018-08-09 13:28] eripa commented on #84
Thanks @zricethezav, but that would only cover private repos at GitHub.com. I meant [GitHub Enterprise](https://enterprise.github.com/home) which companies use to host GitHub on their own domain, for example like `github.example.com`.

In order to support that this part needs to be optional:
https://github.com/zricethezav/gitleaks/blob/master/main.go#L512

and have support for:
https://godoc.org/g

[2018-08-10 13:04] zricethezav commented on #84
That would be swell. There are some issues I need to tackle before taking a crack at this

[2018-08-10 13:32] eripa commented on #84
Submitted #85 yesterday that implements this.

[2018-08-10 14:03] eripa commented on #83
I noticed this as well when using, there's some error handling that's causing the program to prematurely exit if there are cloning errors for any of the repos. I've submitted a PR for GitHub Enterprise support in #85 that also fixes this error handling. Might be related.

[2018-08-10 19:59] #84 closed

[2018-09-04 10:52] benjoz commented on #81
seems to have the same issue

[code]

[2018-09-05 10:08] duraki opened #90 "Exclude organization repository"
Can we somehow exclude forked repositories or skip the list of repo names?

[code]

or (combination):

[code]

[2018-09-05 13:56] zricethezav commented on #90
good call, this could easily be implemented

[2018-09-07 07:43] jaikishantulswani commented on #83
Hello @zricethezav any updates on this issue !

[2018-09-13 12:25] mwargan opened #92 "How to set GITHUB_TOKEN in Docker env?"
Hey! Thanks for this great and important tool!

I'd like to scan my private repositories, and according to your wiki, I need to set the GITHUB_TOKEN. My question is, how do I do that running your app with the one-liner for docker? Where/how can I access the env file to configure it?

Thanks!

[2018-09-17 15:14] satssin opened #93 "Authentication Error"
I am running a scan against a repo that we, However it is giving me authentication error message even to I can clone the repo without any issue.

NFO[2018-09-17T11:11:26-04:00] cloning https://github.*********.com/*******/suite.git
WARN[2018-09-17T11:11:26-04:00] skipping audit for repo suite.git due to cloning error: authentication required
INFO[2018-09-17T11:11:26-04:00] writing report to %s/tmp

[2018-09-17 21:08] zricethezav commented on #93
check the wiki,
[code]
you need to supply a ssh target

[2018-09-26 20:20] zricethezav commented on #93
Can I close this? @satssin

[2018-09-30 03:06] zricethezav commented on #81
@benjoz @d47zm3 @scilganon I ran into this issue when performing some audits on large repos. Seems that other folks outside this project have also ran into it https://github.com/sergi/go-diff/issues/89. Go-git, which gitleaks depends on, uses sergi/go-diff. I'll try and see if I can get a branch that resolves this, or at least handles the panic

[2018-09-30 18:00] camaya opened #97 "Entropy checks"
Although the first version did entropy checks apart from regexes (https://github.com/zricethezav/gitleaks/blob/v0.1.0/checks.go#L34), that's no longer the case in the latest version.

I know entropy checks could create lots of false positives, but they can also catch things that regex don't so I see a lot of value in there. Also, using the whitelisting options can reduce a lot of the false positiv

[2018-09-30 18:44] zricethezav commented on #97
It can, yes. I'll work on adding that next release

[2018-09-30 18:45] zricethezav commented on #97
Or, someone else could take charge of that, itd be a simple add in https://github.com/zricethezav/gitleaks/blob/master/main.go#L539-L588

[2018-09-30 19:00] camaya commented on #97
Nice, I can do it :+1:
What do you think if a new option is added called `--entropy` so you can adjust the level of entropy you want to report? For instance `gitleaks --entropy=4.2`

[2018-09-30 20:41] zricethezav commented on #97
yep exactly what i was thinking, maybe scale it 1-10?

[2018-10-01 00:35] zricethezav commented on #97
need to make a contributing guideline >.<

[2018-10-02 03:48] zricethezav commented on #81
https://github.com/zricethezav/gitleaks/releases/tag/v1.6.1 should fix this. Give me a 👍 and ill close this issue out. NOTE: the panic does cause gitleaks to skip checking the diff on the troubled commit

[2018-10-02 03:50] zricethezav commented on #79
@pdparchitect @keirans Made quite a few performance upgrades since this issue was opened. Care to try now and see if you notice an improvement? https://github.com/zricethezav/gitleaks/releases/tag/v1.6.0 details some of the issues.

[2018-10-02 16:54] zricethezav commented on #93
closing, ill reopen if i hear otherwise

[2018-10-02 16:54] #93 closed

[2018-10-02 16:56] zricethezav commented on #92
https://docs.docker.com/engine/reference/run/#env-environment-variables

[2018-10-02 16:58] zricethezav commented on #83
@jaikishantulswani could you pull the latest release and see if you this issue is fixed. Run with `--log=debug -v` for debugging output and verbose mode. You should see some movement

[2018-10-03 07:53] jaikishantulswani commented on #83
Hello @zricethezav ,
Thank you ! it works without any issue :) :+1:

[2018-10-03 12:42] #83 closed

[2018-10-07 23:32] zricethezav commented on #90
@duraki sorry for the delay, i added a whitelist repo functionality. Add this to your gitleaks config
[code]

[2018-10-07 23:40] zricethezav commented on #90
@duraki better yet... what you actually asked for:
https://github.com/zricethezav/gitleaks/pull/106

[2018-10-07 23:48] zricethezav commented on #90
https://github.com/zricethezav/gitleaks/releases/tag/v1.9.0 @duraki enjoy

[2018-10-07 23:48] zricethezav commented on #22
https://github.com/zricethezav/gitleaks/releases/tag/v1.9.0 and https://github.com/zricethezav/gitleaks/releases/tag/v1.8.0 can do this filtering @chneau

[2018-10-08 10:08] duraki commented on #90
@zricethezav thank you for packing the release. Appreciate the update. Testing/ip, will get back.

[2018-10-09 23:46] #97 closed

[2018-10-09 23:50] zricethezav commented on #90
@duraki gonna close this out, reopen if it doesn't meet your requirements.

[2018-10-09 23:50] #90 closed

[2018-10-10 07:53] camaya opened #110 "Group secrets in the report"
I have found the report a bit noisy when one possible secret has been found multiple times and I have had to spend some time reviewing them. I'd say that it'd be better to report a possible secret only once and show an array of commits where it was found, here's an example:

[code]

What do you think about this?

[2018-10-10 13:42] zricethezav commented on #110
i agree it can be a bit noisy but if we grouped the secrets together then we couldnt send the leaks to stdout as they come in.

Have you tried using `--csv` option? That way you could open the report in excel/libre/whatever and do some quick table filtering.

[2018-10-11 07:01] camaya commented on #110
The `csv`option might help, I'll try that.
Thanks!

[2018-10-13 17:55] zricethezav opened #115 "Gitlab User/Organization Support"
Much like --github-user and --github-org I would like to support gitlab and even bitbucket.

[2018-10-19 09:17] #110 closed

[2018-10-19 09:36] denwwer commented on #115
HI, I can work on GitLab support

[2018-10-19 14:00] zricethezav commented on #115
That would be great! Let me know if you wanna bounce any ideas off me

[2018-10-20 23:00] zricethezav commented on #92
https://github.com/zricethezav/gitleaks/releases/tag/v1.13.0 see example here

[2018-10-20 23:00] #92 closed

[2018-10-20 23:02] zricethezav commented on #115
Hey @denwwer I recently added github PR support. Gitleaks was getting pretty github heavy so i split it out into `github.go` https://github.com/zricethezav/gitleaks/blob/master/github.go. We should have all the gitlab specific code in `gitlab.go`

[2018-10-20 23:29] zricethezav opened #119 "List of regexes for service secrets"
Would love some help on gathering a list of regexes for services so that folks could search for a service they use. This list could be put into its own wiki page and referenced in the README

[2018-10-22 20:41] jfowl commented on #119
Can't edit your wiki pages :/

Here is the markdown you might want to copy:

---

Supported Services
==================

gitleaks supports the following services or secrets:

- RKCS8 keys
- RSA keys
- SSH keys
- Github API tokens
- AWS API tokens
- Facebook API tokens
- Twitter API tokens
- Telegram bot tokens

[2018-10-22 23:54] zricethezav commented on #119
Awesome! Appreciate it. I'll be adding the Telegram bot token shortly

[2018-10-23 17:14] zricethezav commented on #81
closing this

[2018-10-23 17:14] #81 closed

[2018-10-23 17:15] zricethezav commented on #79
closing this, memory issues have been handled. the problem was some dangling goroutines

[2018-10-23 17:15] #79 closed

[2018-10-24 12:33] rhencke opened #124 ""fatal error: concurrent map read and map write" scanning repository"
Version: Built from master (87d916fc24921cde82ecb641d40c1db9d6df81fb as of writing)
OS: macOS 10.14
Go: go version go1.11.1 darwin/amd64

When running 'gitleaks' against a local repository I have (`gitleaks --repo-path=path/to/my/repo`), gitleaks panics with message listed below.

Unfortunately, the repository is private so I cannot share it, but if there's any information I can give to help narro

[2018-10-24 17:07] zricethezav commented on #124
https://github.com/src-d/go-git/issues/457 looks like go-git does not support concurrency when running against a local repo. Try running this with `--max-go=1`. I'll make it a default next release

[2018-10-24 22:04] zricethezav commented on #124
Forcing a single thread run if running gitleaks against a local repo: https://github.com/zricethezav/gitleaks/releases/tag/v1.16.0

[2018-10-24 22:04] #124 closed

[2018-10-26 23:15] derricksong opened #132 "scanning github orgs' private repos"
trying to use the --github-org option, but it's only targetting public repos.  my API key definitely has full repo access (to public and private), what am I missing?

[2018-10-26 23:56] zricethezav commented on #132
is gitleaks using the correct ssh key? gitleaks will use a default `~/.ssh/id_rsa` if you dont manually supply one with the `--ssh-key` option

[2018-10-26 23:57] derricksong commented on #132
oh I was trying to give it a personal API token... makes sense

On Fri, Oct 26, 2018 at 4:56 PM Zachary Rice <notifications@github.com>
wrote:

[2018-10-27 00:04] zricethezav commented on #132
You need both. You have to supply an API token so gitleaks can hit the github api and grab all the private repos. Then gitleaks will clone using ssh for those repos which requires your ssh key

[2018-10-29 05:13] chinanf-boy opened #136 "Wiki: error , From # 8 To # 10 ⬇️"
### From

- [8. Running against a Github Organization](https://github.com/zricethezav/gitleaks/wiki#8-running-against-a-github-organization)

### To

- [10. Running against a Github User](https://github.com/zricethezav/gitleaks/wiki#10-running-against-a-github-user)

## Error

- [ ] 1. The ❤️ two times ?
- [ ] 2. The Code 💛 `--github-org` three times ?
- [ ] 3. And `NOTE` issues ❓

### Source -> H

[2018-10-29 14:19] zricethezav commented on #136
fixed, thanks for pointing this out

[2018-10-29 14:19] #136 closed

[2018-10-29 15:29] riramar opened #137 "[feature request] define disk temp path"
Thanks for such amazing tool!
I'm scanning a huge organization and not sure if the space in my disk will be enough to store everything under /tmp/ directory.
So my suggest is include an optional parameter to define the temp directory when --disk is used.
I'd like to help implement that but I don't know golang enough to contribute.

[2018-10-29 15:50] zricethezav commented on #137
hey @riramar great suggestion. Would a separate `--disk-path=` option work?

[2018-10-29 16:55] riramar commented on #137
yes... it should work! thanks @zricethezav

[2018-10-31 16:21] vikten22 opened #138 "gitleaks scan bypasses RSA key"
This happens for some of my repositories when i did scan today. However, the same scan has been done on October 17th, listed all leaks but now it doesn't for few repositories. The same RSA keys have been identified in some repo's and got listed in the report.

I did check the files where it actually found leaks in my last scan. The keys still exists.
No changes made to those repositories from last

[2018-10-31 18:20] riramar opened #139 "How to find a file"
How to find the file inside the repo from the log below?
OBS.
- The https://github.com/organization/xptorepo/commit/abc123 point to a different file than test/xpto/file.go
- The https://github.com/organization/xptorepo/tree/master/test/xpto folder doesn't exist (probably exist in the past)
- Didn't find anything when searching by "xptoname" or "tralala"
- Didn't find the branch "aaaa/heads/master"

[2018-10-31 19:21] vikten22 commented on #138
@zricethezav could you please help me on this.

[2018-10-31 20:52] sebastian-rojas commented on #115
Would love to see support for Bitbucket server

[2018-10-31 21:43] zricethezav commented on #139
What does OBS mean?

The urls you have 404. There is no need for `organization`

What command are you running with?

[2018-10-31 21:44] zricethezav commented on #138
Nothing has changed between now and Oct 17th that would have changed the scan. Are you using the default regex or your own `--config=` config file?

[2018-10-31 22:36] vikten22 commented on #138
I am using the default file.

[2018-11-01 03:01] zricethezav commented on #138
I would recommend committing to the same repo a dummy file containing an RSA key.

[2018-11-01 12:18] riramar commented on #139
OBS == observation

You got 404 because these I redacted the organization name in order to avoid any the disclosure. The names in my example are fake.

# gitleaks --github-org=organization --disk --log=debug -v --report=gitleaks.csv

[2018-11-01 13:06] zricethezav commented on #139
So youre searching for a specific file, not a string within that file? Right now there is not an option to search for a specific file.

[2018-11-01 13:07] zricethezav commented on #139
default ref is ref/heads/master. you can specify the branch with `--branch` or run with `--all-ref` to scan all branches

[2018-11-01 13:08] zricethezav commented on #132
@derricksong closing this, if this is unresolved open it again

[2018-11-01 13:08] #132 closed

[2018-11-01 15:03] riramar commented on #139
I got the log below and I'm trying to find the file with the string "-----BEGIN PRIVATE KEY-----" inside from the repo but I'm not able to find the file.

[code]

[2018-11-01 15:05] riramar commented on #139
do you have an email that I can send you the real log?

[2018-11-01 15:06] vikten22 commented on #138
I will try that and let you know.

[2018-11-01 18:30] vikten22 commented on #138
I did commit few new files from the same repo. The scan captures the new files with secrets. These secrets which i added in new file were same copied from existing files of same repo. However the old files are not working.

Can i get a gitleaks tool version before oct 18.

[2018-11-05 16:25] camaya opened #142 "Ignored files by default"
Hi,

In version 1.17.0 one of the added features was:

* Default whitelisting: bin, doc, jpeg, gif

But it seems like that was removed in this commit: https://github.com/zricethezav/gitleaks/commit/7e3c7405928dfffcfdc1490843742786668ed4e5#diff-7ddfb3e035b42cd70649cc33393fe32cL193

Was this removal a mistake or am I missing something?

Cheers

[2018-11-05 16:54] zricethezav commented on #142
whoops. thats a mistake. was doing some testing with this https://github.com/zricethezav/gitleaks/blob/master/main.go#L494-L496 but didnt readd the file whitelist. Thanks for pointing that out

[2018-11-06 00:07] zricethezav opened #143 "New logo/banner"
Gitleaks logo is a bit bland. If anyone is bored and wants to submit a new logo I'll gladly consider using it and give you a shoutout in the readme

[2018-11-06 00:15] zricethezav commented on #139
probably because the file has since been removed from the repo

[2018-11-06 00:16] zricethezav commented on #138
try https://github.com/zricethezav/gitleaks/releases/tag/v1.12.0

[2018-11-06 00:18] zricethezav commented on #139
email is on my github user page

[2018-11-06 00:21] #119 closed

[2018-11-06 00:27] #142 closed, assigned to nobody

[2018-11-06 01:58] riramar commented on #139
You're right! The file was deleted. Thanks for your help and patient.

[2018-11-06 01:58] #139 closed

[2018-11-06 21:00] zricethezav commented on #138
@tluolamo @vikten22 Thanks for nailing down the version number. 1.16 introduced full tree coverage in that instead of inspecting a patch for `curr commit vs prev commit` 1.16 gitleaks compares `curr commit vs all of curr commit's parents`. It could be that version 1.15 was generating a false positive as `git rev-list --all` doesn't actually traverse a tree. Can you confirm that the leak caught by

[2018-11-06 21:06] tluolamo commented on #138
it was not a false positive. It was tfstate file which has real RSA keys in it.

[2018-11-06 21:19] zricethezav commented on #138
is that commit accounted for in another leak?

[2018-11-06 21:42] zricethezav commented on #138
Gotcha, and the leak was introduced in the first commit? If thats the case i think i know whatsup. first commit edge case as the first commit does not have any parents...

[2018-11-06 21:44] tluolamo commented on #138
Yes very first commit to the repo. This was a repo created for certain training, so it wasn't very active and the initial commit was pretty huge.

[2018-11-06 21:48] zricethezav commented on #138
gotcha, ill try and put in a fix asap for ya.

[2018-11-06 21:54] tluolamo commented on #138
Thank you, I'd certainly look into fixing myself, but not super familiar with Go yet.

[2018-11-07 04:40] zricethezav commented on #138
@vikten22 @tluolamo try https://github.com/zricethezav/gitleaks/releases/tag/v1.19.2
thanks for pointing this out

[2018-11-07 18:36] zricethezav commented on #138
@tluolamo thanks for the response.

https://github.com/zricethezav/gitleaks/pull/146/files Looking at this change I can see that the initial commit is not counted towards "total commits" analyzed. I'll have to fix that. That is why you are seeing "0 commits inspected".

As to why you are seeing 2 leaks detected between 1.16.0 vs 1.19.2 is most likely because gitleaks now checks ALL branches by def

[2018-11-08 01:45] zricethezav commented on #138
@tluolamo 1.19.3 released. try that, you should see 1 leak detected, 1 commit inspected hopefully

[2018-11-08 14:07] vikten22 commented on #138
@zricethezav  we will try 1.19.3 version and update you.

[2018-11-08 18:15] vikten22 commented on #138
@zricethezav  My scan results were accurate with 1.19.3 when compared with results from 1.19.2
We will update after @tluolamo scans using 1.19.3. Then we will compare both of our results.

Thank you @zricethezav  for a quick update on our issue.

[2018-11-08 19:21] tluolamo commented on #138
OK 1.19.3 got me
1 leaks detected. 1 commits inspected in 8 milliseconds

In my test scenario, I also verified some other repos where now I have no/fewer dupes at least so I this is great. Thanks so much.

[2018-11-08 19:36] zricethezav commented on #138
Awesome, thanks for digging this up for me @tluolamo @vikten22 gonna close this one out

[2018-11-08 19:36] #138 closed

[2018-11-30 10:17] camaya opened #154 "Add option to test a single commit"
When there's a leak that I now exists on a specific commit and I want to tweak the gitleaks configuration to catch it, it'd be very helpful if I could run the tool against that single commit. My suggestion is to add the option: `--single-commit={sha}`

What do you think?

[2018-11-30 10:21] camaya opened #155 "Reduce noise from report when running entropy checks"
It's hard to find all the secrets using regexes and entropy checks help to find other secrets I may have missed otherwise. The problem is that it generates a lot of noise. After checking multiple reports (sometimes more than 1GB of a CSV file having entropy configured in 5), I'd say we could reduce the noise by checking the line of the find for keywords like: "secret", "password", "token", "signat

[2018-11-30 10:23] camaya opened #156 "Add option to run only on current files in the repo"
Going back in time to check every single commit can be a slow process on big repositories. It'd be nice if we could add an option to check only the files that exist currently on the master branch. Maybe adding a --only-master-files option.

What do you think?

[2018-11-30 17:02] camaya commented on #155
Sounds awesome! I'd prefer this to be the default behaviour so the entropy checks will always work with these regex, do you agree? Do you see any value in having a flag to disable the noise reduction?

[2018-12-05 19:09] galiagante opened #160 "Bug: Repo name not showing up in reports when analyzing repo from local disk"
Repo name field in generated reports should be the directory name of the git repo as locally cloned to disk. Repo name currently displayed as "."

[2018-12-10 14:50] #143 closed

[2018-12-10 15:40] #155 closed

[2018-12-13 18:20] milo-minderbinder opened #161 "Whitelist regexes checks inconsistent and sometimes redundant"
# Expected Behavior
For each line with a regex finding, an entropy finding, or both, each whitelist regex should be checked once and only once.

# Observed Behavior
Currently, for a given line if:
1. No whitelist regexes match the line
2. Two or more finding regexes match the line

then the full set of whitelist regexes are checked against the line for each matched finding regex in *[2]* unnecessa

[2018-12-13 18:21] milo-minderbinder opened #162 "whiteListFiles regexes are checked unnecessarily for every chunk of each file"
The whiteListFiles regexes are checked in the `inspect(diff gitDiff) []Leak` function, instead of being called in the `auditGitReference(repo *RepoDescriptor, ref *plumbing.Reference) []Leak` function where `inspect` is called. This is redundant, since inspect is called for every 'chunk' and there may be many chunks in a single `FilePatch`.

Instead, the whiteListFiles regexes should be checked ag

[2018-12-14 04:54] arbazkiraak opened #164 "Detection issue with custom regex"
Hello @zricethezav

I have added a regex to detect password in urls. But not sure why gitleaks is not able to detect it.

`https://raw.githubusercontent.com/hackerarbaz/Tryme/master/slakc.py`

[code]

[2018-12-14 06:21] arbazkiraak commented on #164
Hello @milo-minderbinder ,

[2018-12-14 06:21] #164 closed

[2018-12-14 07:01] arbazkiraak commented on #164
I had never used `grep` with any specific expression, Just wondering why it detects the pattern in `Perl Expression only`. @milo-minderbinder  I know it is out of scope topic, but would be helpful for me to understand it.

[2018-12-14 16:36] milo-minderbinder commented on #164
If you're asking asking why `grep -P "[a-zA-Z]{3,10}://[^/\s:@]{3,20}:[^/\s:@]{3,20}@.{1,100}"` works but `grep "[a-zA-Z]{3,10}://[^/\s:@]{3,20}:[^/\s:@]{3,20}@.{1,100}"` does not, it's because the `-P` flag tells `grep` to interpret the regex as a Perl-compatible regular expression (a.k.a. PCRE). Perl's regular expressions provide more functionality than basic or extended regular expression synta

[2018-12-14 16:59] arbazkiraak commented on #164
Awesome @milo-minderbinder  , Thanks for helping me understanding it.

[2018-12-18 17:47] nightspotlight commented on #154
I totally agree and would like to see this feature. It would be very useful in a CI environment, for example where one wants to validate a single commit before it gets merged to the master branch. I've tried running gitleaks with `--commit=${sha} --depth=1`, but it doesn't seem to do what's expected

[2018-12-18 18:04] nightspotlight commented on #160
have you tried specifying absolute path to `--repo-path`?

[2018-12-18 18:07] nightspotlight commented on #156
`--depth=1` seems to do the trick.

It would be nice though to specify in the manual which values are accepted by `--depth`. I can't understand what `--depth=0` does exactly

[2018-12-18 19:10] galiagante commented on #160
Relative path, yes, I can re-test for any change in output using absolute paths.

[2018-12-18 19:51] galiagante commented on #160
Reporting back: Use of absolute paths did not change the output present in the report files. Repo name is still being displayed as "."

[2018-12-18 20:57] camaya commented on #154
@nightspotlight Agree with the name of the `--commit` option. I think it'd be better to call it `--stop-at`

I haven't done this yet because it involves more work than I thought since currently there's not a function like `auditCommit` for instance so to this, there should be an important refactor.

[2018-12-18 20:58] camaya commented on #156
@nightspotlight I thought `--depth=1` would check the last commit in the repo but I might be wrong here.

@zricethezav Can you clarify, please?

[2018-12-18 21:35] zricethezav commented on #156
that is correct @camaya, `--depth=1` will inspect the changes from the most recent commit. If your repo only has one commit then you would be checking all the current files in the repo but only for that case.

[2018-12-18 23:08] nightspotlight commented on #156
Today at work I've tried `--depth=1`, and in the report it showed results for more than just the most recent commit.

[2018-12-23 22:11] nightspotlight commented on #156
@zricethezav is there (will there be) an option to scan just one specific branch?

[2018-12-27 16:48] arbazkiraak opened #167 "[+] Feature Request : File Extension Detection Patterns"
Feature Request:
================

A way to detect the files based on the given `File Extension patterns`?

Ex:

[code]

[2018-12-28 09:39] arbazkiraak opened #168 "fatal error: runtime: out of memory due at --report"
Hi @zricethezav ,

[code]

[code]

* Trying without `--report` argument.

[code]

* I Believe Error caused due to `writing of large number of leaks` into json file. Is there any way to fix or skip it if it has large amount of `leaks` or limit the no of leaks to some amount if results are large, So that tool continues to hunt next repos.

Awaiting for the response .

[2018-12-29 04:54] rudrasingh99 commented on #168
@milo-minderbinder  @zricethezav facing same issues.

[2019-01-01 17:30] zricethezav commented on #162
thanks for handling this!

[2019-01-01 17:30] #162 closed

[2019-01-01 17:31] zricethezav commented on #161
again, thanks!

[2019-01-01 17:31] #161 closed

[2019-01-03 20:44] milo-minderbinder commented on #168
@zricethezav I did some testing and when running with the options given above, a memory profile does indeed seem to show that `writeReport()` is the likely culprit:
![image](https://user-images.githubusercontent.com/10577399/50660524-05d25380-0f6e-11e9-80e8-371c600fc00f.png)
![image](https://user-images.githubusercontent.com/10577399/50660623-74afac80-0f6e-11e9-9ffa-675add003f0c.png)

[2019-01-03 20:52] zricethezav commented on #168
@arbazkiraak Thanks for bringing this to my attention.
@milo-minderbinder Thank you for the analysis.

Gitleaks currently appends to a global slice of leaks. We could change this so that if a leak is encountered, log it (if verbose option is turned on), and send the leak to a queue that writes to a report file rather than waiting until the audit it completed to write.

Thoughts?

[2019-01-04 21:55] zricethezav commented on #160
Sorry about the delay, I'll give this a look this weekend. Thanks for bringing this to my attention.

[2019-01-06 09:38] arbazkiraak commented on #168
Thanks, @milo-minderbinder for detailed analysis on the issue.

Please push the fix into main branch origin.

[2019-01-06 09:40] arbazkiraak commented on #167
@milo-minderbinder Any thoughts on it?  would be good find sensitive files based on regex given "File name based"

[2019-01-06 14:58] zricethezav commented on #168
merged

[2019-01-06 14:58] #168 closed

[2019-01-11 17:37] JustinGOSSES opened #173 "request slightly longer example in readme for enterprise github runs"
Hi. Could more information be added to the readme for how to run this on a hosted enterprise github? The readme blurb seems to suggest I should add /API/v3/ onto the end of the base url for my enterprise github. That doesn't do anything for me or return an error, even with --verbose. I've tried using

`gitleaks --github-url=<myURLtoHostedEnterpriseGithub>/<org>/<repo>`
`gitleaks --github-url=<myUR

[2019-01-14 17:22] phundisk opened #175 "False Positives When Sourcing Github Hash"
The github regex is currently producing a lot of false positives when there exists something like this in the source code "    { url : "https://github.com/KenanY/node-uuid", branch : "7a018f2d075b03a73409e8356f9b29c9ad4ea2c5" }"
It happens when we are referencing a git URL with a hash.  We should exclude any hits that have "github.com\/" in the results.

[2019-01-17 14:34] arbazkiraak commented on #167
Any thoughts on this @zricethezav @milo-minderbinder

[2019-01-30 15:38] galiagante opened #177 "Feature record: Inspect a specific commit by hash (ID)"
The ability to inspect an exact commit within a target org can be useful. An example use case would be the inspection of a given commit as part of a remote Github webhook event handler.

[2019-01-30 19:24] galiagante opened #178 "Feature Request: Behavior change for --commit option"
When using the --commit flag, it appears that while the use of this flag correctly exits an analysis chain at the specified commit ID, the actual commit being referenced by the flag is not, itself,  scanned.

I would like to request a change in the behavior of the --commit flag to ensure the referenced commit is included in the analysis chain prior to exiting said chain.

[2019-02-07 02:33] zricethezav commented on #178
https://github.com/zricethezav/gitleaks/pull/179 addresses this

[2019-02-08 15:43] #178 closed

[2019-02-08 15:43] #177 closed

[2019-02-12 19:28] merikan opened #180 "Panicking when running in a subdirectory with --repo-path"
Version: 1.24.0
When running gitleaks in a subdirectory of a repository a panic is thrown.

Hi
I usually run gitleaks against my local git repos with '--repo-path .' Sometimes I'm in a subdirectory of the repo and then gitleaks fails with a panic.

[code]

It would be nice if the exception was more descriptive or even better if gitleaks started searching from the root of the repository (git rev-pa

[2019-02-13 13:47] arbazkiraak opened #181 "Killed"
[code]

[2019-02-13 14:32] zricethezav commented on #181
Attempting to clone now. Taking a real long time and consuming ~7GBs of memory. Big repo, have you tried running this with `--disk`?

[2019-02-13 16:51] galiagante opened #182 "Feature Request: Option for relaxed host key checking for SSH access methods"
This issue has popped up as part of "hands-off" automation efforts. Like most any SSH client (or workalike) the ability to relax the usual host key checking rules can be a useful feature.

While I am requesting this as a feature, I also plan to have a go at addressing this on my own. I will post a PR for review if it goes well.

[2019-02-14 02:27] arbazkiraak commented on #181
Hi @zricethezav ,

Thanks for helping me out.

* Using `--disk` worked.

is there any way to keep the cloned repository ? I noticed that it will delete the repo once it done with scanning.

Also Any thoughts on this `https://github.com/zricethezav/gitleaks/issues/167`

[2019-02-14 02:27] #181 closed

[2019-02-14 03:14] zricethezav commented on #181
@arbazkiraak If you wanted to keep the repo after the scan I would suggest first cloning the repo then using the `--repo-path=` option to point to that repo.

I'll take a look at that issue this weekend. Thats a useful feature for sure

[2019-02-28 14:00] galiagante opened #183 "Feature Request: Specify Github Token as Command-Line Arg"
As a companion to Issue 182, there appears to be valid use cases for specifying a Github token via command-line argument.

[2019-03-05 06:54] arbazkiraak commented on #167
Hi @zricethezav ,

Any update on the feature?

[2019-03-08 17:25] theoretick opened #185 "Clarification on the default gitleaks.toml configuration"
Hello! Thank you for this project.

When looking for the default configuration I was a bit confused and was wondering if we could improve the documentation or remove duplication around the default configuration. I assumed `./gitleaks.toml` was the default configuration however it looks like there is `defaultConfig` defined within `main.go` that will be used when generating a sample. Both have dist

[2019-03-20 17:25] Eric-Hern opened #186 "False negatives when testing against custom rules defined in gitleaks.toml"
Thank you for developing this tool.

I would like the tool to flag certain strings, (e.g.: "password", "key", etc). I've also added rules to flag IP addresses and email addresses.   I've added the appropriate regex to gitleaks.toml

The criteria that I'm specifying in my regex is skipped over when I run the tool against the repo. What am I doing wrong? Thank you so much for your help.

`
# gitleak

[2019-03-20 17:29] Eric-Hern commented on #186
`[[regexes]]
description = "EMAIL ADDRESS"
regex = '''(?<email>.+@.+)\s'''`

[2019-03-22 17:30] galiagante commented on #186
I have been doing a number of custom regex's for this tool. Here's a version using a case-insensitive search for a given string:
  [[regexes]]
  description = "Password String"
  regex = '''(?i)password'''

Here's another for both case- and sequence-insensitive search for a given group of characters:
  [[regexes]]
  description = "Password String"
  regex = '''(?i)[pasword]'''

Both have been test

[2019-03-22 17:41] galiagante opened #187 "Feature Request: Pure JSON Output Option"
As JSON is a very useful data format, having adulterated output can be troublesome to use I might suggest an option that would output this.....

    INFO[2019-03-22T13:35:29-04:00] cloning git@github.com:armadillo-field-testing/snippets.git
    Enumerating objects: 1783, done.
    Counting objects: 100% (1783/1783), done.
    Compressing objects: 100% (806/806), done.
    Total 1783 (delta 829), r

[2019-03-26 15:15] galiagante opened #188 "Bug: Out-of-Scope Results using '--commit' Option"
Scans of a target repo by commit ID can reveal results in files outside the contents of the commit in question. This has been confirmed to occur in version 1.24.0 and might exist in previous versions.

Note: Due to the proprietary nature of the data used to confirm this bug, specific details will not be posted here. Continued conversation(s) with the author regarding this issue will be conducted p

[2019-03-28 19:56] Eric-Hern commented on #186
Thank you! I will test this ASAP. Can you think of any reason why my initial syntax didn't work as planned?

[2019-03-29 11:32] galiagante commented on #186
I'm going to speculate by suggesting that the exact formatting of the statement(s) added to your custom TOML file might have been malformed, and hence ignored? But that's merely an educated guess...

[2019-03-30 20:22] zricethezav commented on #187
`--report=fileName.json` you can save the report as a json. Would this cover what you're looking for?

[2019-03-30 20:41] zricethezav commented on #175
Couple a things you can do:
1. write custom rules for whitelisting regexes
2. enable entropy
3. filter entropy hits with additional regexes

[2019-03-30 20:41] #175 closed

[2019-04-01 11:20] galiagante commented on #187
I considered this idea, but it adds a good deal of extra "plumbing" to what would otherwise be a relatively simple sub-process run that just captures output on 'stdout'. I am, however, open to suggestions?

[2019-04-01 14:06] zricethezav commented on #187
10-4, feature will be added

[2019-04-02 04:51] arbazkiraak commented on #167
Hi @zricethezav,

* Please provide an update regarding the feature,

Thanks!

[2019-04-02 15:27] Eric-Hern commented on #186
Thank you for the insight.

Oddly enough, I'm still having issues where the string `password` is not getting matched and therefore not showing up as a leak.  I've used the syntax that you've specified.

I agree that there has to be something wrong with my toml file (posted here in my test repo):

https://github.com/Eric-Hern/TEST_JS/blob/master/gitleaks.toml

I'm running gitleaks against the repo

[2019-04-02 15:42] galiagante commented on #186
After a quick review, I haven't noticed anything wrong with the formatting or syntax of your TOML file. I'll have to pull a copy and do some live-fire testing before rendering any further opinion(s).

[2019-04-02 18:21] milo-minderbinder commented on #167
It’s not my project, but IMO rules based on file path and/or extension _alone_ would not likely provide much value. For example, pem files can contain public keys (non sensitive) as well as private keys, and I can’t really think of many examples of file extensions that are exclusively for secrets.

That said, I have considered making a feature request for adding the git commit hash, file path, and

[2019-04-02 20:19] arbazkiraak commented on #167
* Yes, There would be high chances for FP since we are just checking the file extensions & filing an offender leak,
* How about keeping this feature  as optional,
if the user defines a set of extensions in `gitleaks.toml` then only gitleaks look for leaks along with extensions.
Please look at how `Gitrob` does the extension based leaks.

https://github.com/michenriksen/gitrob/blob/master/core/sign

[2019-04-03 11:37] hakkay opened #192 "Bug : Panicking when running gitleaks with --repo-path in gitlab-ci"
Hi,

I use the latest version (v.1.25.1) of Gitleaks in my pipeline to scan my repo with the --repo-path option.
Before the v1.25.1 gitleaks worked well in my gitlab repo but after this release my job always fail.
However When I use the --repo option to scan a remote repo in gitlab it works.
Also when I used gitleaks locally with --repo-path option it works.

My Job gitleaks :

`
gitleaks:
  image

[2019-04-03 12:46] zricethezav commented on #167
@arbazkiraak I agree with what you're saying. This would be a useful option. No progress on this feature yet, but I have it on my roadmap.

[2019-04-03 12:47] zricethezav commented on #192
Yep definitely looks like a bug, thanks for submitting this. Will be looking into it

[2019-04-03 23:18] avishnyakov opened #193 "Consider "severity" or "tags" field for regexes configs"
Hi team,

Thanks for the great tool, it's really cool!

It might be a good idea to have a way to groups findings. For example, as simple as adding severity field or tags into *.toml

Say, AWS findings are critical, and app related are less critical: 10 and 5 as severity.

[code]

These fields would be promoted into result JSON output. That way, we would be able to range our checks, slice and dice

[2019-04-10 07:54] avishnyakov commented on #188
@galiagante which commit ID you use?

Seeing this issue on 1.25.0 on short form commit id, like this

But it work on full commit id like this:

[2019-04-11 05:06] avishnyakov opened #194 "Ability to run only particular regexes rule(s)"
Might be overlooking but cannot find a way to run gitleaks with selected regexes rules.

**The first use** case is tuning our custom rules, testing on a smaller amount of data, ensuring that a particular rule works as needed:

[code]

It would be nice if we could do this in order to simplify rule tuning

[code]

**The second use case** is running a subset of the rules. For example, consider naming

[2019-04-11 15:20] zricethezav commented on #193
Hey @avishnyakov I like this idea a lot. I'll work on putting this into my next release. I'm going to rework the language and values of the gitleaks.toml configuration file. Gonna look something like

[code]

[2019-04-12 00:27] avishnyakov commented on #193
Sounds like a plan, thanks for listening @zricethezav .

On that note, rule ID might be a good idea, tracked here:
* Ability to run only particular regexes rule #194

That would simplify maintainability of the toml and rules tuning. Hope that make sense.

[2019-04-12 00:51] avishnyakov opened #195 "Consider CLI option to validate toml config"
It would be nice to have --validate-config or similar option to ensure config validity prior execution.

Malformed toml or badly written regexp can result in super-mystic go stack trace. Might be not critical but surely challenging while playing with dozens of toml configs and tons of rules.

Here is the one, something like this:

[code]

[2019-04-12 14:14] zricethezav commented on #195
this is a great idea! Definitely going to work on implementing this in the next week or so

[2019-04-17 09:31] hakkay commented on #192
The bug has been fixed in the latest release (v2.0.0), we can close this issue.

[2019-04-17 09:31] #192 closed

[2019-04-17 14:24] zricethezav opened #197 "vault token regex"
need to add vault token regexes as it looks like they have a specific pattern now

[2019-04-19 15:36] theoretick commented on #185
@zricethezav just a bump on this, would you be interested in merging these two configs or improving the docs on the difference between the two?

[2019-04-19 15:53] theoretick commented on #167
This would be a very welcome addition! We recently dropped a similar library ([`diffence`](https://github.com/techjacker/diffence)) that offered this due to performance and maintenance issues. Would be great to rely entirely on `gitleaks`.

I might suggest expanding the scope of this feature more generically to "filename matches" rather than just extensions.

Beyond `gitrob` signature list linked

[2019-04-19 19:59] chu-fu opened #199 "v2.0.0 Ignores Regexes defined in --config File"
## Test Setup
[code]
`root@6913f6cf4b98:/tmp/secrets# /usr/bin/gitleaks --version`

`root@6913f6cf4b98:/tmp/secrets# cat /opt/gitleaks/gitleaks.toml | grep KEY -B2`

`root@6913f6cf4b98:/tmp/secrets# /usr/bin/gitleaks -v --config /opt/gitleaks/gitleaks.toml --repo-path=.`

## Default Config (Works as expected)

`root@6913f6cf4b98:/tmp/secrets# /usr/bin/gitleaks -v --repo-path=.`

## Working version

[2019-04-23 21:43] thearthur commented on #132
Here's a working example of doing this without divulging the ssh key (so it can work in jenkins with jenkin's credential store) and scanning all the private repos:

[code]

[2019-04-26 13:33] pdparchitect opened #200 "Integrate More Leaky Keys"
A great resource of various types of sensitive keys can be found here: https://gist.github.com/EdOverflow/8bd2faad513626c413b8fc6e9d955669

[2019-04-29 19:07] jdesulme opened #201 "Brew install out of date"
I noticed that when I perform a brew install that it's a couple versions behind. Is there any plans to keep the versions in sync and pull the latest since it's now a bit out of date?

[code]
https://github.com/Homebrew/homebrew-core/blob/master/Formula/gitleaks.rb

[2019-05-06 11:42] gjohnson opened #203 "Feature Request: Line Number"
Thoughts on adding the line number and start/end column of the match to the output? The use case would be using gitleaks within a [Check Suite, including annotations](https://developer.github.com/v3/checks/runs/#annotations-object-1).

[2019-05-07 16:12] zricethezav commented on #201
Thank you for opening this. Will prepare a PR tonight.

[2019-05-09 18:20] janmasarik opened #205 "Feature Request: Scan all users of an organization"
Hey 👋,

First, thanks for your awesome work, I really love the new _rules_ option in config!

It would be cool if `gitleaks`, much like [`gitrob`](https://github.com/michenriksen/gitrob) could take an organization and automatically scan all the users of it.

Do you see this as a possible addition to gitleaks?

[2019-05-09 21:06] ORESoftware opened #206 "Fedramp and compliance"
With regard to fedramp

https://www.fedramp.gov/

any idea if gitleaks gets us close to fulfilling the requirements?

[2019-05-09 23:15] zricethezav commented on #206
Hi @ORESoftware what requirements are you referring to?

[2019-05-09 23:16] zricethezav commented on #205
@janmasarik that's definitely a feature that could be added. Next minor release I'll work on putting that in

[2019-05-09 23:56] ORESoftware commented on #206
Not sure, just wondering if this repo could document what kind of compliance it can satisfy

[2019-05-10 01:48] Incisive opened #207 "Only scan additions, ignore removals"
Thanks for this great tool!

Hoping to get some clarification here surrounding commits.  I've setup automation around Gitleaks to scan commits as they happen on a few repositories, however, the tool is alerting when the secret is first committed, and then alerting a second time when it's removed (not a file deletion, but a line removal).

Is there any configuration options to disable alerts when l

[2019-05-10 07:48] janmasarik commented on #205
Wow, that escalated quickly, thanks @zricethezav! 😅 👍

I have one more separate question - do you plan on implementing a directory scan? (something like https://github.com/dxa4481/truffleHog/issues/92)

Should I create a separate feature request for it or have I overlooked it and it's already implemented somehow?

[2019-05-10 14:54] zricethezav commented on #205
You can do a directory scan with `--repo-path` or `--owner-path`
From the `--help`:
[code]

[2019-05-10 15:13] janmasarik commented on #205
Tried it already, but when I point it to `/tmp/dir/` with either `--repo-path=` or `--owner-path=`, it won't any find secrets in `/tmp/dir/file-with-secrets.py`.

My use case would be to do simple run on files, without the need to initialize a git repo, and based on the number of 👍 in Trufflehog, I believe I'm not the only one. :-)

#### Steps to reproduce:
[code]

`--repo-path=`  output:
[code]

[2019-05-10 17:49] ORESoftware opened #208 "Scan all commits - and cache commits that have already been scanned"
Couple questions for you

1. how to scan all commits
2. how to cache which commits have already been scanned

is there a way to do this with gitleaks?

[2019-05-10 18:00] ORESoftware commented on #208
I ran it like so:
[code]

it says:

[code]

so it looks like it went through all the commits, but it would be cool if we could cache that somewhere, so we don't always have to go through all the commits

[2019-05-10 18:03] ORESoftware opened #209 "Better error message when --ssh-key is absent"
I have this which works:

[code]

but let's say I remove the .ssh keys and --ssh-key argument

[code]

I get this:

[code]

I don't think there should be a segfault or null pointer if no `--ssh-key` arg was passed, can't it check for the presence/absence of that argument?

[2019-05-10 18:06] ORESoftware opened #210 "Depth of commit search"
As a command line option/arg, can we specify the depth of the commit search?

[code]

so instead of scanning all commits, we just can the most recent 15?

I guess the most recent 15 can be discovered via `git log --all`?

[2019-05-10 19:32] ORESoftware opened #211 "The --ssh-key option should be able to accept absolute path"
I passed in this:

[code]

but it couldn't find the key, it expected 'bucket' instead the full path, but it should be able to accept the full path

[2019-05-10 20:15] ORESoftware commented on #211
this was my mistake, I think the keys will always be in `/root/.ssh`, so I think I was mistaken in my diagnosis of the problem I was experiencing.

[2019-05-10 20:15] #211 closed

[2019-05-10 21:27] ORESoftware commented on #210
again maybe I should read the documentation :)

[2019-05-10 21:27] #210 closed

[2019-05-10 21:30] ORESoftware opened #212 "Cannot get ssh-keys to work with Docker container running as sibling container"
It's fairly common to run Jenkins as a container - `jenkins/jenkins:lts`, ran like so:

[code]

so any container launched within Jenkins jobs, is running as "a container in a container", in reality though they should be sibling containers both launched by the host fs.

However, even so, I can't seem to get my ssh keys into the gitleaks container using the docker --volume option. Has anyone else re

[2019-05-10 22:21] the1mills opened #213 "Having trouble installing on MacOS"
I am having this problem:

https://stackoverflow.com/questions/56085373/how-to-install-go-package-after-downloading/56085424

my `go env` is shown in the OP

any help appreciated

[2019-05-10 23:21] the1mills commented on #213
this was an issue with homebrew, `brew install go` doesn't seem to put the main binaries in /usr/local/go, but some other location.

[2019-05-10 23:22] #213 closed

[2019-05-10 23:28] the1mills opened #214 "bug? No commits were scanned"
I have this command:

    gitleaks  \
        --ssh-key='/keys/ssh/values/bucket' \
        --repo "$line"

I loop over my org's repo urls, we have 100+ repos.

I see this in my logs:

[code]

so it looks like the clones all worked, ssh-key is good, but never any commits inspected, always 0? why would that be?

[2019-05-14 01:32] ORESoftware opened #215 "support multiple commits at the command line"
Right now there is a CLI option:

[code]

I am looking for something like this:

[code]

or just keep --commit and split on commas?

Basically  I want to be able to test 5-50 commits at once:

[code]

[2019-05-16 19:31] hannylicious opened #217 "gitleaks isn't finding 'password', when there is a password?"
I've installed gitleaks on my development machine (macOS) and I've cloned my repo locally.
In my repo - there is some dummy data that is listed (and committed) to the repo - stuff like

`password=r@nd0mp@assw0rdomg`

and a few other key things I'd like to check for in some repos.

Here is my process:

cd into repo directory
run `gitleaks --repo ./`

It says it checks the commits (which seems to be

[2019-05-17 10:31] timidri opened #220 "Can't scan an org"
HI,

I'm trying to use gitleaks to scan an org, I am calling it like this:

`gitleaks --github-org=<my-org-name> --log=debug`

and this is my result:

`INFO[2019-05-17T12:29:13+02:00] 0 leaks detected. 0 commits inspected in 11 seconds 583 milliseconds`

What am I doing wrong here? I can scan other orgs and my user normally so I am assuming I don't have the right permissions in the org? I can see

[2019-05-19 04:00] Aholicknight opened #221 "can't install with go"
I am trying to install goleaks on my kali virtual machine and it shows no output when I try to install with go. This is the command I use:
![image](https://user-images.githubusercontent.com/7843719/57977551-27c9f100-79b8-11e9-8587-3dce69a8291d.png)
No output shows and when i type `uname -r` it says:
`Linux kali 4.19.0-kali1-686-pae #1 SMP Debian 4.19.13-1kali1 (2019-01-03) i686 GNU/Linux`
Does any

[2019-05-21 16:51] mide commented on #180
I'm also able to reproduce this when specifying a directory that doesn't exist. I'm running version `1.24.0`.

[code]

[2019-05-26 00:25] gilclark opened #223 "Errors not reported properly"
In core.go, Run(), the variable err has no value when the postAudit label is reached.  That's because the variable is assigned within the scope of the if statement for each call like repoInfo, err := newRepoInfo() on line 65 so the method scoped variable err is void.

[2019-05-28 21:04] zricethezav commented on #214
I'm not sure what the issue could be. I tried cloning a bunch of private repos using a custom ssh-key path and it worked fine. Gitleaks is recognizing that you have supplied a valid ssh key otherwise you would be seeing this error message: https://github.com/zricethezav/gitleaks/blob/master/src/config.go#L230-L232

[2019-05-28 21:08] zricethezav commented on #220
Since you can scan other orgs and users this is likely an issue with running gitleaks without a github token env var set. Gitleaks needs to hit the github api with a valid github token in order to scan private repos in an organization

[2019-05-28 21:27] zricethezav commented on #207
that's a good call out. I can look to add this in a future release.

[2019-05-28 21:30] zricethezav commented on #206
If you want to do some more research on how Gitleaks could offer some compliance in accordance with fedramp then by all means open another issue. No plans to work on it atm so I'm closing this issue

[2019-05-28 21:30] #206 closed

[2019-05-28 21:30] zricethezav commented on #199
The config structure has changed to use a `rules` table instead of `regexes`

[2019-05-28 21:33] zricethezav commented on #195
so taking another look at this I think this feature is already implemented since if gitleaks cannot load an external config it will exit. Also I agree that the error message is not the best but I am not going to be building an error message parser specifically for making toml errors more readable.

[2019-05-28 21:33] #195 closed

[2019-05-28 21:36] timidri commented on #220
@zricethezav Thanks, will try this out and report my findings.

[2019-05-28 21:37] zricethezav commented on #217
Hi @hannylicious you need to specifically define the regex gitleaks should look for in a config file

something like
[code]

You can see what gitleaks will currently audit for if you look at the config here: https://github.com/zricethezav/gitleaks/blob/master/gitleaks.toml

[2019-05-28 21:39] zricethezav commented on #208
you can use `commit-stop` option:
[code]
So I would a full gitleaks audit and take note of the most recent commit then use that as the value for `--commit-stop`

[2019-05-28 21:39] #208 closed

[2019-05-28 21:40] zricethezav commented on #200
Appreciate this @pdparchitect! I plan to add a couple more by default but then maybe add an `--expanded` option for users who want an expanded search

[2019-05-28 21:45] zricethezav commented on #203
That would be a useful addition to the report but unfortunately the git library I use does not support line numbers in their patches -- or at least I'm not aware of it

[2019-05-28 21:52] zricethezav commented on #180
Just tested with v2.0.0 and it works as intended. I get an error message saying `unable to open .` and it fails gracefully. For reference:
[code]

Implementing a feature to do `--show-toplevel` would be interesting and I can do some research on that. Might not be possible with the go-git though.

[2019-05-28 21:53] #22 closed

[2019-05-28 21:55] zricethezav commented on #137
Closed this prematurely, sorry. Still have not implemented this.

[2019-05-29 08:23] ni8walk3r opened #225 "Adding new regexs"
How can we add our own custom regex in this tool?

[2019-05-29 13:19] zricethezav commented on #225
Create a config like this https://github.com/zricethezav/gitleaks/blob/master/gitleaks.toml with your custom regexes and then point gitleaks to that config when you run it by either setting the env var `GITLEAKS_CONIFG` as the path to the config or by using the `--config` option

[2019-05-30 06:03] utkrsht commented on #225
Thanks a lot!

[2019-05-31 06:06] mad-eye21 commented on #217
I'm also facing same issue with username and passwords and some patterns of database username password also, it is not able to detect but value is given in file.

[2019-05-31 13:36] zricethezav commented on #217
@mad-eye21 did you supply a custom config?

[2019-06-01 00:34] timidri commented on #220
@zricethezav I have created a personal token and exported a variable GITHUB_TOKEN. I still can't scan that particular org. Do I by any chance need admin permissions in an org in order to be able to scan?

[2019-06-02 22:53] #223 closed

[2019-06-03 06:13] mad-eye21 commented on #217
Hi,
I'm actually using gitleaks-linux-amd64 binary file and moving it to /usr/local/bin/ to use it direct.
I don't have any idea how to use configuration file with this.

[2019-06-03 09:12] mad-eye21 commented on #217
![git](https://user-images.githubusercontent.com/48945491/58790295-b91ea180-860d-11e9-8ab8-d5d4ffcb4147.JPG)
like this?

[2019-06-03 10:39] mad-eye21 commented on #217
OK its working like this
![25 leakes](https://user-images.githubusercontent.com/48945491/58796009-bcb82580-8619-11e9-82e8-3821c14ab9a5.JPG)

with command "gitleaks --config=/home/gitleaks.toml --repo=https://github.com/yourproject.git –v"

[2019-06-03 12:38] zricethezav commented on #220
Hi @timidri would you be willing to share the org name? What version of gitleaks are you running?

[2019-06-03 12:39] zricethezav commented on #217
@mad-eye21 yep, exactly. @hannylicious is this still an issue or can I close this?

[2019-06-03 12:56] jaikishantulswani commented on #217
Hi @zricethezav I am also not getting any issue flagged by gitleaks even on a fresh install.
Getting this
[code]

[2019-06-03 12:58] mad-eye21 commented on #217
I got the solution and making my own regex to make tool work according to me.
Thanks for your help and this tool.
issue is solve you can close it.

[2019-06-03 13:04] zricethezav commented on #217
@jaikishantulswani what are the contents of your config and what regex are you looking for?

[2019-06-03 13:43] jaikishantulswani commented on #217
@zricethezav Its working now, kind of regex issue. Thanks

[2019-06-03 14:27] #217 closed

[2019-06-03 15:40] zricethezav opened #227 "Investigate using ballast"
https://blog.twitch.tv/go-memory-ballast-how-i-learnt-to-stop-worrying-and-love-the-heap-26c2462549a2

[2019-06-04 21:05] jameslindisney opened #228 "What is entropyROI and entropies ?"
Please point out documentation if there is any. Thanks.

[2019-06-04 21:06] jameslindisney commented on #228
Can you explain what is  entropyROI and entropies ? There is absolutely no explanation or documentation so far?

[2019-06-04 21:08] jameslindisney opened #229 "What is tags in gitleaks.toml?"
Can you explain what is tags in gitleaks.toml ? For examples tags = ["key"]

[2019-06-05 02:35] milo-minderbinder commented on #207
This is something I’ve wanted too, and I’ve implemented it in my personal fork. The basic functionality only required modifying a few lines IIRC, but one issue that I came across is that `go-git`s diff algorithm does not detect renamed/moved files like cgit and will instead mark them as new additions ([link to open issue](https://github.com/src-d/go-git/issues/938)). This may or may not be a major

[2019-06-05 19:44] zricethezav commented on #225
@ni8walk3r does that make sense?

[2019-06-05 20:16] zricethezav commented on #228
Hi @jameslindisney. Thanks for pointing out this hole in documentation. Let me know if this wiki page I just created helps. https://github.com/zricethezav/gitleaks/wiki/config-toml

[2019-06-05 20:16] zricethezav commented on #229
Posted this in your other issue: https://github.com/zricethezav/gitleaks/wiki/config-toml

[2019-06-05 23:31] zricethezav commented on #199
@chu-fu  please see https://github.com/zricethezav/gitleaks/wiki/config-toml

[2019-06-05 23:31] #199 closed

[2019-06-05 23:32] zricethezav commented on #201
@jdesulme https://github.com/Homebrew/homebrew-core/pull/40734 just gotta wait for them to merge

[2019-06-06 18:53] zricethezav commented on #201
@jdesulme done

[2019-06-06 18:53] #201 closed

[2019-06-06 18:59] zricethezav commented on #193
@avishnyakov v2.0.0 adds severity and tags https://github.com/zricethezav/gitleaks/wiki/config-toml

[2019-06-06 18:59] #193 closed

[2019-06-06 19:00] zricethezav commented on #167
https://github.com/zricethezav/gitleaks/wiki/config-toml you can now check match file regexes with `filetypes` in the config

[2019-06-06 21:20] jdesulme commented on #201
Thank you!!

[2019-06-11 09:20] timidri commented on #220
Hi @zricethezav, I have done some debugging of the source think I found the root cause.
In github.go onl line 146 the following call is made:
[code]
This call returns "502 Bad Gateway" on my org (puppetlabs) which contains lots of repositories. I have had the same problem with that org with my own project which uses the same go-github library as yours. The issue is described here: https://github.c

[2019-06-14 18:42] fr0stedfl4ke commented on #221
I tried using Kali Linux as well and it doesn't work by default. You have to properly configure the go language environment variables and setup the environment variables as GOROOT,GOPATH and PATH and set the PATH variable to access go binary system wide. I ended up just starting from scratch and using this guide: https://tecadmin.net/install-go-on-debian/. See if this helps.

[2019-06-17 16:41] fr0stedfl4ke opened #232 "Run time error when scanning large org w/ --report (csv) - out of memory"
Hi,

I seemed to receive a runtime error when scanning an org with 130 or so repo's. These repo's can be around 500 mb - 2 GB in size. I setup a screen from my VPS, set the --report perimeter and ended up just piping out the tool output into a .txt file so I can tail the progress when I log back in. It seemed to run very well (up to 6 hours) up to a certain point and just ended up panicking and cr

[2019-06-17 17:44] #229 closed

[2019-06-17 17:45] #228 closed

[2019-06-17 17:45] zricethezav commented on #225
@ni8walk3r reopen if that doesn't work out for you

[2019-06-17 17:45] #225 closed

[2019-06-17 17:46] zricethezav commented on #215
No plans to add this, submit a PR if you want to implement this feature

[2019-06-17 17:46] #215 closed

[2019-06-17 17:49] zricethezav commented on #154
[code]
will do the trick

[2019-06-17 17:49] #154 closed

[2019-06-17 18:21] ni8walk3r commented on #225
@zricethezav Yeah, thanks for your help.

[2019-06-18 05:54] pdparchitect opened #233 "Save report on HUP"
No report will be saved if the user attempts to kill the process. This means that if gitleaks was running for couple of hours and the user decides to terminate the process the results will be lost.

This feature request is to add a feature where gitleaks will attempt to save the results when kill signal is sent to the process.

[2019-06-18 13:22] zricethezav commented on #233
Agreed, thanks for raising this issue.

[2019-06-18 15:10] galiagante opened #234 "Feature Request: Stateful Tracking of Previous Scans"
Use case: Repetitive scanning a large number of repos with a large number of commits and branches can become increasingly resource and time intensive. The ability to track the last known commit ID's within a given branch for a given repo can be used as a way to avoid previously scanned information and yield results for newly-committed assets more quickly. As scans complete, the commit ID pointer(s

[2019-06-18 15:14] dorneanu commented on #207
This is indeed a missing feature. Fortunately I use GitHub webhooks to receive information about current commits. And in that event message I do have the removed and added files as lists. My plan was:

1) Checkout repo with specific commit SHA (via `go-git`)
2) Use `gitleaks` to scan only *added* files

However `gitleaks` doesn't support scanning only individual files (yet). I might have a look at

[2019-06-18 15:27] galitz opened #235 "Feature Request: Scan specified daterange"
For large and/or complex enterprise github sites, the ability to scan on specified daterange would be very useful.  With a large number of repos or orgs, using commits or depth to bound a scan requires significant research to generate a clean report.

Propose example:  gitleaks -r /something --from=2019-01-31 --until=2019-02-15

[2019-06-19 16:34] fr0stedfl4ke commented on #232
running with --disk fixed my issue..looking forward to any improvements to the tool! Thanks!

[2019-06-19 16:34] #232 closed

[2019-06-26 10:42] electrofelix opened #237 "--commit-stop appears broken"
The `--commit-stop` option does not appear to be working as expected.

Given a test git repo with the following
[code]

Running gitleaks on it with `--commit-stop=f3f185f178bb02d13ad090fbf98dadb53b17730f` I would expect to see a summary output saying that either 6 or 7 commits were scanned (wasn't sure if it was exclusive or inclusive), but instead it prints 8 commits scanned

[code]

I've was try

[2019-06-26 11:01] electrofelix commented on #214
@zricethezav I've seen a problem were an unparseable gitleaks.toml file will result in the above instead of erroring out.

Simply adding `--repo-config` without a valid .gitleaks.toml file in the root of the repository triggers it. When looking at the code I spotted the following line:
https://github.com/zricethezav/gitleaks/blob/3b6c198715026ddfa7d6a68ba371e84c0f5c6197/src/repo.go#L147

Which in

[2019-07-13 07:47] janmasarik commented on #205
Hey @zricethezav, do you still see this as a possible addition?

Even though my Go skills are non-existent, I can try to help. Based on a brief look, it should be a fairly straightforward addition as a function in https://github.com/zricethezav/gitleaks/blob/master/src/github.go, that will call `auditGithubRepos()` on each user found, right?

[2019-07-23 14:24] cfzlp opened #242 "Exit code is 0 even if leaks have been detected"
The changes in https://github.com/zricethezav/gitleaks/commit/6d980b4eab7fb279f76b1209261619f9af664d8a removed the non-zero exit code when leaks are detected. Now exit code is always zero.

That is not ideal for gitleaks usage in CI/CD pipelines. I am not sure this behavior change was intentional.

I can work on a patch if that would be helpful.

If that is the case, let me know the precise meanin

[2019-07-25 08:27] legik opened #243 "passwords\token leaks"
If someone will use oauth2 or username/password authentication for repo cloning, the password\token would be leaked in the "INFO" message. But in the "ERROR" message it's masked. I think that it should be masked in both places. You can see examples in the image below:
![2019-07-25_11-21](https://user-images.githubusercontent.com/657615/61858510-e3cefd00-aece-11e9-8b2e-4c760c56024b.png)

[2019-07-30 12:57] cfzlp commented on #242
@zricethezav I see now what NoLeaks means. I will try to fix this issue.

[2019-08-01 14:50] #242 closed

[2019-08-02 12:43] WaiLoonTan opened #245 "Hit error when trying to scan github enterprise using user"
I need to scan all the repositories belong to organizations of my user.

This is under Github Enterprise.

I already set the token for my user

When i run the command

 `gitleaks --github-user=user_name --log=debug -v`

it returned

panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xc0000005 code=0x0 addr=0x8 pc=0x9e1ef1]

goroutine 1 [running]:
github.com/zricetheza

[2019-08-02 17:33] cameronc56 commented on #245
We are seeing the same thing:

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x38 pc=0x8b6283]

goroutine 1 [running]:
gopkg.in/src-d/go-git.v4/plumbing/object.(*Blob).Reader(...)
	/Users/zrice/go/pkg/mod/gopkg.in/src-d/go-git.v4@v4.9.1/plumbing/object/blob.go:93
gopkg.in/src-d/go-git.v4/plumbing/object.(*File).IsBinar

[2019-08-02 17:57] cameronc56 commented on #245
The command I am running is:

['/redacted/file/path/gitleaks-linux-amd64', '--repo=/redacted/repo/path', '--config=/redacted/file/path/.gitleaks.toml', '--redact', '--commit=b8f6ad55c9f822dd47d55fc5e7d06e98a6248b09', '--report=/redacted/file/path/scan.json']

There doesn't appear to  be anything odd in the commit we are scanning either. And this has been scanning hundreds of commits without issues

[2019-08-02 21:44] izgeri opened #247 "Generic API key regex in config example inconsistent with sample config"
The sample config that you get when you run `gitleaks --sample-config` in v2.1.0 shows the regex for the `Generic API key` to be
[code]
but the `gitleaks.toml` file [in this repo](https://github.com/zricethezav/gitleaks/blob/master/gitleaks.toml#L96) lists it as
[code]

In practice I've found that the first version is more effective than the second version. Can the gitleaks.toml file in this repo

[2019-08-02 22:08] zricethezav commented on #247
good catch!

[2019-08-02 22:20] zricethezav commented on #247
https://github.com/zricethezav/gitleaks/commit/c271497ecbd08cc636d9309fd28d174d656926b5 thanks for pointing that out. I'd like to add a CI process that ensures parity between the example toml and the hardcoded default config 👍

[2019-08-02 22:20] #247 closed

[2019-08-03 09:23] apotterri opened #248 "--repo-config with missing config file always succeeds"
Running `gitleaks  --repo-config ...` in a repo without a config file always succeeds:

[code]

Per the description in the README, it should return 2, with an error message indicating that the repo config file doesn't exist.

[2019-08-05 08:33] hughsaunders commented on #214
Other issue for `--repo-config` silently failing with an invalid config file: https://github.com/zricethezav/gitleaks/issues/248

[2019-08-05 22:45] Droidzzzio commented on #93
I am having the same issue on public repo too
ERRO[2019-08-06T04:11:59+05:30] authentication required

command given
gitleaks --repo=https://github.com/user/repo --verbose

[2019-08-14 14:38] bufferoverflow opened #250 "travis fails on all pull requests"
I have the feeling that all build fail if sent via pull request. Maybe the following variables have an impact on this?
https://github.com/zricethezav/gitleaks/blob/master/.travis.yml#L15

[2019-08-14 14:46] zricethezav commented on #250
That's exactly what is happening. I've been meaning to switch over to github actions or gitlab ci. Good thread on why things are failing here: https://github.com/OHDSI/Achilles/issues/165

[2019-08-16 08:50] bufferoverflow commented on #250
thanks @zricethezav ! gitlab ci has a limitation... PR's do not build, this might change, see https://gitlab.com/gitlab-org/gitlab-ee/issues/5667 and https://gitlab.com/gitlab-org/gitlab-ee/merge_requests/15082

[2019-08-19 10:45] mousavian opened #251 "Question & Suggestion on Report"
Hey @zricethezav ,
First of all, thank you for this beautiful library. What it does is definitely helpful in many ways.

To give you a little bit of context, I am integrating this with bunch of other libraries for an internal Github App that we have. So I'm not using the binary file but I'm interested to programmatically run gitleak and do sth with the report.

I have noticed that during [refactor

[2019-08-20 16:04] zricethezav commented on #251
@mousavian thanks for bringing up this issue. I think that is a good idea. I didn't know folks used gitleaks as a library, what a pleasant surprise! I'll be sure to put this in the next release.

[2019-08-22 07:09] mousavian commented on #251
If you don't mind may I also suggest how we get token for github from user as well?
Currently it's being expected to be provided through env variable.
I think the better approach is to get that as a cli parameter for the sake of consistency so that when you run the application with certain params we can make sure nothing from outside can affect the execution. In this case the caller can do `./gitl

[2019-08-30 13:07] camaya opened #252 "Entropy checks?"
Hi,

I hadn't checked the project in a while and after updating it, I've realised that the entropy feature is gone in version 2.0.0. What happened? There are some cases where that is the only way to find some secrets.

As an example, this would not be flagged without entropy checks:

[code]

Entropy checks can be quite noisy, but you could enable the `--noise-reduction` flag and that would give mo

[2019-09-02 13:41] KarynaTaranova opened #253 "unable to generate ssh key: ssh: cannot decode encrypted private keys"
I'm trying to scan my private repo using ssh-key option (on MacOC) with this example:

export SSH_KEY_DIR=$(echo $HOME)/.ssh
export SSH_KEY_NAME=id_rsa
export REPO="git@github.com:zricethezav/gitleaks.git"

docker run --rm --name=gitleaks \
    --mount type=bind,src=${SSH_KEY_DIR},dst=/root/.ssh,readonly \
    zricethezav/gitleaks \
        --ssh-key=/root/.ssh/${SSH_KEY_NAME} \
        --verbose

[2019-09-03 08:21] #253 closed

[2019-09-04 13:22] arthurakay commented on #253
I'm actually hitting this same error... did you find a solution for it?

[2019-09-05 13:52] avishnyakov commented on #194
Hey @zricethezav, there was a great progress on tags and severity and even entropy in https://github.com/zricethezav/gitleaks/issues/193

Did you have plan to implement this feature? Executing a single rule would have been a great win.

[2019-09-05 21:45] avishnyakov commented on #252
Entropy can be very noisy, indeed. Useful for initial exploration of the codebase but later, it still needs tuning.

Maybe gitleaks can add various entropy on top of found value via regex? We still write regex to identify interesting string, and then gitleaks would add entropy and "entropy for value without empty string" on top, in the JSON output?

For example, I don't use built-in entropy. Inste

[2019-09-05 21:52] avishnyakov opened #254 "More tracing for findings and rules?"
Might be overlooking but can gitleaks add more tracing while executing rules and crawling repositories, commits and branches?

Large repositories and tons of rules can lead to a longer execution time, minutes and tens of minutes. Output does not say why it took so much time - was it an aggressive regexp, amount of branches, commits, files, etc.

Ideally, it would be nice to have this:
- total exec

[2019-09-05 21:55] avishnyakov commented on #243
Had similar one.

This is exactly why we might want to separate gitleaks execution against repository from fetching repository. Adding more options to work with different providers would increase gitleaks scope and featureset leading to more work and bugs.

Instead adding more and more options to gitleaks, we might just script fetching the source code externally, in separate script or docker conta

[2019-09-05 21:58] avishnyakov commented on #235
Double that. Very useful for continuous scanning implementation.
Right now, continuous scanning with gitleaks is a bit of a pain.

[2019-09-05 22:35] avishnyakov opened #255 "Whitelisting per-rule?"
v2 config looks good.
https://github.com/zricethezav/gitleaks/wiki/config-toml

Would it be useful to have white-listing per rule?
Right now, white-listing is global - for both files and strings. It is too broad, would be much nicer to have per-rule whitelisting so that final .toml file does not become fat and unmanageable.

[2019-09-05 22:40] avishnyakov opened #256 "Ability to define positive/negatives datasets for rules?"
It would be super-nice to have ability to define positive and negative datasets within the rule.
Both, self-documentation, testability, regression and quick assurance the rules actually work.

Gitleaks should be validating .toml against dataset_positive/negative before running against codebase.

For example:
[code]

[2019-09-05 22:44] avishnyakov opened #257 "Ability to define a folder with *.toml configirations"
Following Ability to define positive/negatives datasets for rules? #256, having a folder with *.toml files might be very helpful.

Organizing dozens rules in the same *.toml is not fun.
Adding positive/negative dataset might expand rule significantly. At the end, file name might be a good indicatino of the rule, and then the *.toml itself would have all we need - the rule, tags, metadata and regre

[2019-09-05 23:43] avishnyakov opened #258 "Positive look ahead support or multiple regexps per rule?"
Looks that indernearh regexp library does not support feature like positive look-ahead?
Trying to use anything like (?=regex) yields exception during compilation.

Any ways to support more advanced regexp support?

Other way around is to support array of regexps per rule with AND / OR logic.
For example, handling 32 long tokens which kind of look random.

[code]

Similar approach can be used for O

[2019-09-06 00:11] avishnyakov opened #259 "v2.1.0 is not available on the DockerHub"
https://hub.docker.com/r/zricethezav/gitleaks/tags does not seem to have v2.1.0
It is suggested that there is v2.1.0, as per https://github.com/zricethezav/gitleaks/releases page

[2019-09-07 01:34] avishnyakov commented on #203
This can be useful. Having line number in the output would help to produce the right URL link to the GitHub or other repository straight away - to the commit, file and even line!

[2019-09-07 01:44] avishnyakov commented on #156
There is a key `--branch=YOUR_BRANCH_NAME`, goes all over the history.

`--only-master-files` would be a super-useful flag. As mentioned, going back in history is very nice but slow and might not be optimal. Secrets could have been already changed and rotated, not much value going back.

In this case, we want to know if current state of the repository, the latest (not the commit but all the latest

[2019-09-08 05:54] avishnyakov opened #260 "--repo-path option locks gitleaks to 1 thread"
There is option `--threads=` which suggests that gitleaks would perform bettter.

However, `--repo-path` option locks thread number to 1. Testing with different amount of cpu/cores and ram also suggests there is no difference while using `--repo-path`  option. See this locked here:

https://github.com/zricethezav/gitleaks/blob/master/src/repo.go#L220

Is that because processing scales per-repo, no

[2019-09-08 12:24] bufferoverflow commented on #248
@apotterri does `gitleaks --repo-config --repo-path=./` work?

[2019-09-08 12:26] bufferoverflow commented on #214
@themills You should use `--repo="$line"` the following should work:

[code]

[2019-09-09 09:26] simkin commented on #253
I also like to learn how to pass SSH password as it seem steh agent is not used

[2019-09-09 09:28] simkin opened #263 "How to pass SSH key password as argument?"
I am currently faced with:
`
ERRO[2019-09-09T11:22:57+02:00] unable to generate ssh key: x509: decryption password incorrect`

I am using a pwd protected key to clone. Could someone explain how this pwd can be used with gitleaks?

[2019-09-09 18:48] fr0stedfl4ke opened #264 "How to remove rules/regex"
I'm assuming I would use the gitleaks.toml file to do this, but when I remove certain rules, regex, tags, and descriptions..save...and then scan I still get results relating to the rules I removed from this file. Is these rules referenced somewhere else? or do I have to specify my modified gitleaks.toml file?

[2019-09-10 16:02] #264 closed

[2019-09-10 19:48] jonfairbanks commented on #221
Saw similar when install Go with snap/apt on Ubuntu 18.04.

Fixed with the following:
[code]

[2019-09-10 20:02] jonfairbanks commented on #221
Ran into the same issue on Ubuntu 18.04. Here was the fix:
[code]
You can add these to **~/.profile** so they persist a reboot.

[2019-09-19 13:25] zricethezav commented on #260
Thanks for bringing this up and I should've made a comment on the code to remind me why this decision was made. I believe that the go-git library would panic if multiple go-routines tried to access a local repo. I'll double check and update this issue.

[2019-09-19 13:53] gkroon opened #265 "Missing option to ignore certificate issues"
Please consider the below example:

[code]

It's nice to see that the certificate is being checked for (common) errors. But would it not be an idea to add an option that ignores certificate issues like this? I'm not asking to change the default behaviour, but just an option to override this default _and correct_ behaviour.

[2019-09-23 04:53] avishnyakov commented on #245
To be fair, this could be feature creep. Adding more features to support multiple git hosting services leads to increased complexity of the gitleaks itself.

It might just make it KISS focusing on scanning capabilities, and "the how" code gets into gitleaks is surely not the gitleaks responsibility.

[2019-09-30 14:28] dbuteau commented on #221
got the same problem, i've done this if it can help to understand the prb.
Seem like the dependencie with xanzy is broken
[code]

[2019-10-02 11:49] dbuteau opened #266 "gitleaks as pre-commit ?"
Hello :)
i wanted to use gitleaks as pre-commit check to avoid leaking sensitive data. (bc i think preventing is better than undoing)
But, gitleaks seems to not analysing files which are not commited, or there is something in readme i didn't understand/see

# How i've tested
- git clone a project locally
- create a test.key file with "-----BEGIN OPENSSH PRIVATE KEY-----" in it (to correspond to on

[2019-10-05 16:02] rgmz commented on #228
Hi @zricethezav, I have done some research but still do not understand how to actually use "entropies". Can you please explain the significance of entropy ranges and why they're between 0-8?

Thank you!

[2019-10-09 15:29] cheiff commented on #266
From git 1.8.2 you have a new hook: `pre-push`
Maybe you can use it for this purpose.
https://stackoverflow.com/questions/4196148/git-pre-push-hooks/21434677#21434677

[2019-10-09 18:16] sjhdiuhw97h7 opened #269 "[Feature request] Continuous gitleaks scan."
It would be a great addition to be able to have gitleaks run in a continuous 24/7 fashion and only scan new or changed repos.

[2019-10-14 11:08] dbuteau commented on #266
yeah i know it is what i use currently.
But just IMHO it's a workaround, the best would be than leaks are not committed at all.
More over with IHM (like gitlab/github) which commit directly in the main repo without pushing... a pre-commit hook could be very usefull to avoid unaware leaking

[2019-10-16 12:03] rgmz commented on #255
I was just thinking about this, in addition to per-filetype whitelists.

Contrived examples:
**Per-Rule Whitelist**
[code]

**Per-Filetype(s) Whitelist**
[code]

[2019-10-16 12:50] rgmz commented on #269
I'm not sure what Zachary has planned, but this seems out of scope for Gitleaks.

These projects are more suited for this:
- https://github.com/eth0izzle/shhgit
- https://github.com/auth0/repo-supervisor
- https://github.com/Yelp/detect-secrets

[2019-10-16 12:55] rgmz commented on #258
The same is true for look-behind; my understanding is that those features cannot be safely compiled, and thus are deliberately not supported.

This is an interesting solution. How would you differentiate AND vs OR in this fashion?

Not to clutter the syntax, but perhaps something explicit like `regex_any_of = []` for OR and `regex_all_of = []` for AND?

[2019-10-16 13:15] rgmz commented on #265
If you are using macOS you can work around this by adding those certificates to your keychain and trusting them; Go/Gitleaks should respect the system keychain settings.

But I agree that it would be nice to have an option that passes through the underlying Git/GitHub client contexts. 👍

[2019-10-16 14:04] kramer65 opened #270 "Why doesn't gitleaks find my committed secrets?"
So I recently added a secret to on of our repos by accident. To prevent this from happening in the future I found this repo. I downloaded the linux binary and I tested it but it doesn't seem to find the secret I comitted at all.

The password I committed is in the README.md and was formed as follows:

    export OURCOMPANYNAME_OBJECTSTORE_PASSWORD=16_character_random_string

I added the binary to

[2019-10-17 05:53] supanadit commented on #30
https://github.com/src-d/go-git/issues/1228#issue-508250464

[2019-10-17 22:16] Kamleshpa commented on #156
This feature should have been there by default. Why would I want to fail my pipeline because of some historical secret checkin which does not exists anymore.

[2019-10-19 16:44] zricethezav opened #271 "Let's talk exit codes"
Hey all. First of all I know the issues are piling up but I plan on addressing them in the coming weeks. I was out for a while where I didn't touch my computer due to bereavement, but now I'm back at my desk hacking away.

Taking a look at the code, I kind of want to do another rewrite... it's a bit messy and has some pretty nasty go anti-patterns, I want to fix these in the next big release.

So

[2019-10-19 16:46] zricethezav commented on #269
@rgmz is correct, I do not plan on adding a continuous scan functionality. The projects Richard listed are great alternatives

[2019-10-19 16:49] zricethezav commented on #266
Hi @dbuteau one thing I am considering adding in my next release is a `--pre-commit-hook` option that would output pre-commit-hook code. This way you could just run gitleaks with that option, grab the output then update your git hooks

[2019-10-19 16:52] zricethezav commented on #255
This is a good idea, I'll try to get this into my next release

[2019-10-19 18:55] rgmz commented on #270
Finding secrets is harder than just searching for "password"—if the rules are too general you will get a significant number of false-positives, and the results won't be useful.

The [default search rules](https://github.com/zricethezav/gitleaks/blob/master/src/constants.go#L16) look for patterns of known secrets like API keys, private keys, etc. However, you can provide a custom [rule configuratio

[2019-10-21 08:15] dbuteau commented on #266
Nice ! Thank :)

[2019-10-21 11:39] mindriven commented on #271
I'd leave it as it is, I like it, it allows me to know what the result of the run is, I use that in a script that I use to scan multiple repositories.
One option to keep everyone happy would be to provide a flag that allows to steer this behavior.. just not sure if there's a demand for it

[2019-10-21 12:59] galiagante commented on #271
I concur with leaving the current exit code intact, but adding another code to depict the occurrence of the actual error event after a failed run is a good idea. There is precedent for this in numerous command-line utilities and it doesn't seem like much of a lift to add in such a return code. I question the utility of anything more than one error exit code, however.

As far as rewrites go, I reca

[2019-10-23 17:44] #227 closed

[2019-10-29 21:47] avishnyakov opened #272 "2.1.0 seems to ignore files section in [whitelist]"
Having this config ignored by gitleaks 2.1.0
Can't figure out what is wrong.

[code]

[2019-10-29 21:50] avishnyakov commented on #272
Ouch, all works well. More coffee and fresh view helps.

[2019-10-29 21:50] #272 closed

[2019-10-31 03:31] dahu33 opened #273 "Go module compatibility"
[code]

AFAIK, can't have a go.mod with a major version superior to 1 and not following the rule described here: https://github.com/golang/go/wiki/Modules#semantic-import-versioning

[2019-10-31 22:14] technopwnsauce commented on #265
Go-git doesn't directly provide this option, but they have documented a way to define a custom http.Client to accept insecure certificates.

https://github.com/src-d/go-git/issues/817

[2019-10-31 22:22] technopwnsauce commented on #265
@gkroon @rgmz Are there any public repos with invalid certs you know off-hand I could use for testing?

[2019-11-01 08:55] gkroon commented on #265
@technopwnsauce You could use any public git repo with your local burp or zaproxy in between. Without importing their local CA cert, this will show up an invalid (untrusted) certificate warning by default.

[2019-11-03 22:46] rgmz commented on #265
I don't know any off-hand — we have a corporate proxy, so everything is invalid.

:+1: to this:

[2019-11-04 16:47] equals215 opened #275 "Go panic and sigsegv on large diffs"
Hi,
I'm currently using gitleaks for an enterprise project and after scanning a large repo with large diffs the package throws this error :
[code]
Is it a known error ? Or is there a way to bypass this error and not analyze the large diffs ?

[2019-11-04 17:11] zricethezav commented on #275
This is a known bug and will be addressed in the next release. I'm adding a `--timeout=` option which allows you to tune how long you want a goroutine to work on a commit. So if creating the diff is taking >` --timeout` then it will be ignored.

[2019-11-04 17:14] equals215 commented on #275
Thanks for your fast response, when will the new release come out ?

[2019-11-04 17:23] zricethezav commented on #275
Hoping to get to it this weekend or early next week

[2019-11-04 17:25] equals215 commented on #275
This is good news ! Good luck for this release.
I'm closing the issue.

[2019-11-04 17:25] #275 closed

[2019-11-07 03:50] mil2ne opened #277 "There is an error trying to connect to ssh in the --github-user option."
There is an error in the --github-user option trying to connect to ssh as shown below.

<
[root@ansible-node04-vagrant ~]# gitleaks --github-user=gitleakstest -v
INFO[2019-11-07T03:46:45Z] cloning: emptyRepo
WARN[2019-11-07T03:46:46Z] ssh: handshake failed: knownhosts: key is unknown
INFO[2019-11-07T03:46:46Z] cloning: gronit
WARN[2019-11-07T03:46:47Z] ssh: handshake failed: knownhosts: key is unk

[2019-11-07 04:01] mil2ne commented on #277
yesterday , I did a private repo test with ssh key authentication ...( with the --ssh-key option )

Modifying the .ssh directory to .ssh_bak and then retesting it, it performs normally.

[root@ansible-node04-vagrant ~]# gitleaks --github-user=gitleakstest -v
INFO[2019-11-07T03:52:03Z] cloning: emptyRepo
WARN[2019-11-07T03:52:04Z] remote repository is empty
INFO[2019-11-07T03:52:04Z] cloning: groni

[2019-11-07 04:14] rgmz commented on #277
This seems to be an issue with the upstream go-git library: https://github.com/src-d/go-git/issues/637

[2019-11-07 04:33] mil2ne commented on #277
If you do a private repo test with ssh key authentication and then use the --github-user option on the same server, you might have an error trying to connect to git@xxx instead of https://github.com/xxxx

[2019-11-08 23:58] zricethezav commented on #233
@pdparchitect adding this in next release. super easy to implement

[2019-11-10 11:16] avishnyakov opened #279 "Add test dataset for built-in rules in gitleaks.toml"
Current `gitleaks.toml ` has tons of rules, and more are coming with PRs:
* add rule for DSA keys #276

It might be a reasonable idea to add a test dataset to ensure that these rules work as expected.
For example:
* create a new repository called "gitleaks-dataset"
* create folders to represent every rule
* within these folders, add two files: data.txt and whitelisting.txt
* fill these files with

[2019-11-10 18:39] zricethezav commented on #266
https://github.com/zricethezav/gitleaks/tree/v3 @dbuteau nearly there.

`gitleaks` will check uncommitted changes in PWD or `gitleaks --uncommitted --repo-path={path}` will check uncommitted changes in {path}.

[2019-11-12 06:45] avishnyakov opened #280 "Support capturing groups as a rule match value"
It seems that currently GitLeaks uses GoLang regex.FindString value as an outcome for rule match.

https://github.com/zricethezav/gitleaks/blob/f3360cbf66be167c29aaa55f08cb0c1a5ce4575a/src/utils.go#L119

That works well until we want to extract a very specific value for further processing (eg., classification, entropy calculation, etc)

Let's say we would like to handle all tokens in XML or html f

[2019-11-12 20:23] lagold27 commented on #271
I agree, more exit codes would be helpful to determine issues with authenticating with git.

[2019-11-14 05:09] avishnyakov commented on #277
Let's ditch all cloning functionality from the GitLeaks. A fair share of issues have little to do with GitLeaks scanning functionality.

Supporting various auth scenarios with GitHub, GitLab, Bitbucket and other repos looks like enormous work. I have been raising awareness in other tickets that GitLeaks does much more than it probably should do. GitLeaks features around scanning still have room fo

[2019-11-14 06:06] avishnyakov opened #282 "Enhancement proposal: provide extensibility points or plugins"
Hi all, I put together some thoughts on the GitLeaks after using it for almost a year and exploring various limits and workarounds at scale. Thoughts on features, architecture and current work in progress. Hope that's fine and I am excited to learn from other people experience.

## The challenge
GitLeaks tends to be monolithic application incorporating more and more features. That complicates new

[2019-11-14 10:28] avishnyakov opened #283 "Support multi-line regexp execution"
It seems that currently GitLeaks uses GoLang regex.FindString value against a single line of code.
https://github.com/zricethezav/gitleaks/blob/f3360cbf66be167c29aaa55f08cb0c1a5ce4575a/src/utils.go#L119

That does not seem to work against JSON based configuration like this:
[code]

Regexp not ideal, looks somewhat like this:
[code]

Can be tested here:
* https://regex-golang.appspot.com/assets/htm

[2019-11-15 12:09] jakethedogg opened #284 "gitleaks don`t see leak"
Hi there, i decided to test gitleaks inside of docker container. I made copy of my local repository into container. I get into container create file id_rsa with fake key

[code]

After that commit changes and run the gitleaks:

`
gitleaks --repo-path=gitstock --report=leaks.json
`

But output is:

[code]
Is the problem in update of gitleaks or what?

[2019-11-16 05:14] avishnyakov commented on #258
@rgmz good point. Agree, multiple regexp per rule should be coming with ability to define matching pattern. This is a challenge for GitLeaks and number of other similar projects out there.

There might be a better way to handle rules configuration.

Why not to consider YARA rules? The pattern matching swiss knife BY VirusTotal used by many security companies.
* https://github.com/virustotal/yara
*

[2019-11-19 19:49] zricethezav commented on #233
added in v3.0.0 https://github.com/zricethezav/gitleaks/releases/tag/v3.0.0

[2019-11-20 13:46] onrelgan opened #288 "Since V3 the file element of the report json doesn't contain the full path"
Hi,

We've used gitleaks for some time and have built some automation around it.  We think it's an excellent tool.

Prior to V3, the file component of the JSON report had the full path to the offending file, something like:

[code]

Now, with V3, the path is missing and you just get the name of the file:

[code]

You can reproduce the problem by checking out the 2.1.0 tag and running gitleaks with

[2019-11-21 15:52] zricethezav commented on #288
Thanks for bringing that issue up. It wasn't on purpose just a relic of refactoring. I can include the full file path in the next release.

[2019-11-21 15:55] zricethezav commented on #251
Hey @mousavian in v3.0 I addressed these problems. I refactored Gitleaks to be used as more of a library. Check https://github.com/zricethezav/gitleaks/blob/master/main.go and https://godoc.org/github.com/zricethezav/gitleaks. I also added a `--access-token=` option to auth via cli with access token.

[2019-11-21 15:56] zricethezav commented on #255
Added whitelists per rule in 3.0, check out https://github.com/zricethezav/gitleaks/tree/master/examples and https://github.com/zricethezav/gitleaks/tree/master/test_data/test_configs for examples @avishnyakov @rgmz

[2019-11-21 15:59] zricethezav commented on #284
OPENSSH is not included in the default config, you need to specific a regex rule in a custom config. Please see https://github.com/zricethezav/gitleaks/tree/master/examples for example configs

[2019-11-21 15:59] #284 closed

[2019-11-21 16:06] zricethezav commented on #270
What @rgmz said, finding a general secret is tricky. Check out the example configs: https://github.com/zricethezav/gitleaks/tree/master/examples. Here's an example of a rule that looks for a "key" which defines a regex and an entropy range. Use both entropy and regex to get the best results.

[2019-11-21 16:06] #270 closed

[2019-11-21 16:07] zricethezav commented on #266
@dbuteau https://github.com/zricethezav/gitleaks/releases/tag/v3.0.0 solve this issue?

[2019-11-22 05:54] mousavian commented on #251
Hi Zachary,

Although I'm not involved in the project I was working on back then when I raise this but I did a quick check and it looks great. I am sure it'll be useful for others.

Thanks for changes.
Cheers,
Rahman

[2019-11-22 05:54] #251 closed

[2019-11-22 11:16] onrelgan commented on #288
Hi,

I really appreciate the response and I'm glad it's something that can be fixed.  I look forward to the next release.

Thanks again.

[2019-11-22 16:30] Bream commented on #93
:~/$ docker run --rm --name=gitleaks zricethezav/gitleaks  -v --repo git@gitlabXXX  INFO[2019-11-22T16:27:28Z] cloning git@gitlabXXXXX
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x10 pc=0x6d697b]

goroutine 1 [running]:
gopkg.in/src-d/go-git.v4/plumbing/transport/ssh.(*PublicKeys).ClientConfig(0x0, 0xc00005b620, 0x6

[2019-11-24 09:38] GolanTrevize10 opened #292 "Minified files"
Hi, I am using gitleaks to scan several git repositories. The problem is some of those repositories have minified js files and, if gitleaks finds any password on those files, because the file has only one line, gitleaks prints the whole file in the report. So the report can be in some cases hundreds of megabytes.  Is there any way of printing only a fragment of the line in the report?

PS: I know

[2019-11-25 08:38] adamgiesinger opened #293 "Excluding forks on latest version"
I just updated gitleaks for the first time since around August and using the latest version, the `--exclude-forks` flag doesn't exist anymore. Is there any other way I can achieve this effect?

[2019-11-25 15:11] petegallagher commented on #266
This looks good, with the only problem being it doesn't seem to honour the `--repo-config` flag, interestingly it works fine with the `config=` flag e.g.:

**Example ignoring the local .gitleaks.toml and using the default regexes instead**
[code]

**Example using the local .gitleaks.toml which includes an additional password regex**
[code]

[2019-11-25 15:36] petegallagher opened #294 "Ignore .gitleaks.toml by default"
When you commit a `.gitleaks.toml` file to the repo being audited it often throws up false positives as the regexes within this file match themselves e.g.:

[code]

This can be overcome by explicitly whitelisting this file e.g.:

[code]

Is it possible to exclude this file from the audit by default?

[2019-11-27 21:19] morhimi opened #299 "Version 3 is missing the --depth option"
Since version 3 got released, the --depth option is no longer available.
how can I achieve that functionality in V3?

[2019-11-28 12:22] erebos12 opened #300 "gitleaks --repo-path=. -n 10 for number of scanned commits"
**FEATURE-REQUEST:**

When the repo is very big then the scan takes quite long. See output below:

[code]

When I could specify how many commits (i.e. last 10 commits) should be scanned would make this kinda scan a lot faster.

[2019-11-28 14:25] arbazkiraak commented on #300
have u tried `--depth=` argument?

[2019-11-28 14:29] arbazkiraak commented on #300
I guess depth feature has been removed in the newer version

[2019-11-28 14:32] arbazkiraak commented on #299
this depth feature was indeed helpful in previous versions where we can only perform scans over newer commits , any reasons why it has been removed @zricethezav ?

[2019-11-29 04:09] zricethezav commented on #294
I 100% agree with this. Feel free to make a PR or I can throw it into the next release when I get around to it sometime in the next few weeks

[2019-11-29 04:10] zricethezav commented on #288
https://github.com/zricethezav/gitleaks/releases/tag/v3.0.2 @onrelgan 3.0.2 includes the full filepath in the json report

[2019-11-29 06:41] soorajnr commented on #233
is it possible to access external scanner device for preview and scanning

[2019-11-30 15:44] #294 closed

[2019-11-30 15:54] zricethezav commented on #288
closing this @onrelgan. open again if it does not accomplish what you were looking for

[2019-11-30 15:54] #288 closed

[2019-12-02 12:56] #266 closed

[2019-12-02 13:10] onrelgan commented on #288
@zricethezav I've checked and we're all good, thank-you!

[2019-12-02 13:28] petegallagher opened #306 "Docker automated builds"
I noticed the last time the [Docker Hub image](https://hub.docker.com/r/zricethezav/gitleaks) was updated was 2 months ago.

![Screenshot 2019-12-02 at 13 27 54](https://user-images.githubusercontent.com/688331/69963194-94957a80-1507-11ea-83bb-7a92c9e66a72.png)

Is it possible to setup automated builds? The screenshot below shows the required config for both a "latest" (i.e. built from master) and

[2019-12-03 15:26] danksim commented on #253
Same here... Has anyone figured this out? @KarynaTaranova @arthurakay @simkin

[2019-12-04 10:13] seb-ehm opened #308 "Add license to repository"
Currently, gitleaks does not seem to contain any license information, at least I was not able to find any. This makes gitleaks impossible to use in a productive setting - and contributing to the repository isn't possible either. Could you add a license file?

[2019-12-04 13:49] zricethezav commented on #308
Thanks for the reminder: https://github.com/zricethezav/gitleaks/commit/274e8212a6aa833c4723d151af35e9377ba70e8b

[2019-12-04 13:49] #308 closed

[2019-12-04 19:56] zricethezav commented on #292
Just merged https://github.com/zricethezav/gitleaks/pull/305 which should handle this issue. I set the max "offender" length to be 200 characters.

[2019-12-07 20:10] katrinleinweber opened #309 "Add GitHub Topic: gitleaks"
Thanks for publishing this! A few people started using that [topic](https://help.github.com/articles/about-topics/) already to make [related repos more findable](https://github.com/topics/gitleaks). So, how about adding it to this "mothership" as well?

[2019-12-08 20:57] prabhu opened #310 "Consider using gosec inspection as part of dev/CI"
Thanks for this excellent project!

Can I suggest adopting a linter/security checker such as [gosec](https://github.com/securego/gosec) as part of the dev/CI flow?

The latest scan report attached for reference. There are some medium issues reported which could be considered low. However, there are some low issues reported regarding some missing error handling case which could be considered as tec

[2019-12-09 09:06] dleyanlin opened #312 "How to use organization to audit?"
in new version prompt" repository does not exist" when want to use audit organization

[2019-12-11 15:31] petegallagher commented on #306
@zricethezav is there anything else I can do to help this one? Happy to configure this for you if want to make [me](https://hub.docker.com/u/petergallagher) a collaborator on Docker Hub for this project.

[2019-12-17 11:20] prabhu commented on #306
Looks like the author is struggling to deal with the popularity of this library :(

[2019-12-17 13:30] zricethezav commented on #306
I'll get on it this week

[2019-12-17 16:30] zricethezav commented on #306
https://hub.docker.com/r/zricethezav/gitleaks/tags @prabhu @petegallagher there ya go. I'll be updating the makefile/dockerfile next release

[2019-12-17 16:36] petegallagher commented on #306
Awesome, thank you.

[2019-12-17 16:36] #306 closed

[2019-12-17 23:29] gavinelder commented on #312
Hey passer by but stepping through the code and testing this works.

[code]

[2019-12-26 04:09] phuhaquoine commented on #312
I got this error while trying to run the audit for my organization.
======================
`NFO[2019-12-26T10:53:30+07:00] gathering github repos... progress: page 1 of 6
INFO[2019-12-26T10:56:08+07:00] gathering github repos... progress: page 2 of 6
INFO[2019-12-26T10:56:13+07:00] gathering github repos... progress: page 3 of 6
INFO[2019-12-26T10:56:17+07:00] gathering github repos... progress: p

[2019-12-28 13:22] arbazkiraak opened #314 "[Feature Request] : Only scan from a given commit hash"
- It would be super useful if gitleaks could have the functionality to perform scan only from given commit hash.
-  when we are scanning large scale repos on a daily basis, instead of scanning entire repos we could just start a scan from commit hash given. this could save lot of time, memory, bandwidth.

Please let me know what's your views on this.

Thank you,

[2020-01-02 09:54] GolanTrevize10 commented on #314
That is supported using the --commit option.

[2020-01-02 09:57] GolanTrevize10 opened #315 "Scan a range of commits"
Hi, I think it would be very useful if it were possible to scan a commits range instead of the whole repository or only a specific range. Something like

gitleaks --commit-from=<from rev> --commit-to=<to rev>

[2020-01-02 20:46] rafaveira3 commented on #315
Totally agree! It will help [huskyCI](husky.ci) a lot scan repositories with a large number of commits.

[2020-01-04 19:02] arbazkiraak commented on #315
+1

[2020-01-07 01:02] arbazkiraak commented on #314
Closing as duplicate `#315` https://github.com/zricethezav/gitleaks/issues/315

[2020-01-07 01:02] #314 closed

[2020-01-07 13:54] dorneanu commented on #203
I agree with @gjohnson: Having the line number in-place will help generating check run annotations.

[2020-01-10 08:09] lghakamo-paf commented on #312
Getting a similar error when running it on an organisation and supplying the ssh key gives the error "unable to find any valid known_hosts file, set SSH_KNOWN_HOSTS env variable".
Running it on a single repo in the organisation with the same token works though 🤔

[2020-01-10 08:39] lghakamo-paf commented on #312
Seems to be different implementations when doing the cloning that causes this.

Cloning a single repo: https://github.com/zricethezav/gitleaks/blob/master/audit/repo.go#L70
Cloning a repo as part of iterating Organisation repos: https://github.com/zricethezav/gitleaks/blob/master/hosts/github.go#L96

[2020-01-11 22:01] zricethezav commented on #315
@arbazkiraak @rafaveira3 @GolanTrevize10  https://github.com/zricethezav/gitleaks/pull/317. Let me know if there are any issues before I put this in 3.1.0

[2020-01-12 11:38] GolanTrevize10 commented on #315
@zricethezav  it looks good for me. Thanks

[2020-01-12 13:10] arbazkiraak commented on #315
Looks good!

[2020-01-12 13:52] rafaveira3 commented on #315
@zricethezav, thanks for working on this one! It is indeed a very useful feature!

[2020-01-12 15:10] #315 closed

[2020-01-12 15:12] zricethezav commented on #292
@GolanTrevize10 does #305 resolve this issue for you?

[2020-01-12 15:12] #271 closed

[2020-01-12 15:15] zricethezav commented on #260
@avishnyakov this is no longer an issue in v3.0.0+ of gitleaks. Threading is available for local repos. Feel free to open this again if it remains a problem for you.

[2020-01-12 15:15] #260 closed

[2020-01-12 15:15] zricethezav commented on #255
Closing this issue

[2020-01-12 15:15] #255 closed

[2020-01-12 15:18] zricethezav commented on #248
v3.0.0+ should handle this error correctly:
[code]
Reopen the issue if it remains an issue

[2020-01-12 15:18] #248 closed

[2020-01-12 15:20] zricethezav commented on #250
Rewrote the tests so this does not rely on any external apis or git repos

[2020-01-12 15:20] #250 closed

[2020-01-12 15:21] zricethezav commented on #309
Done. Thanks for the suggestion @katrinleinweber.

[2020-01-12 15:21] #309 closed

[2020-01-12 15:24] zricethezav commented on #254
@avishnyakov Does https://github.com/zricethezav/gitleaks/releases/tag/v3.0.0 accomplish what you are looking for? Check out the `More useful debugging` section

[2020-01-12 15:51] zricethezav commented on #187
I dropped the ball on this one and never got around to it, however a simple workaround would be to pipe the output of gitleaks to jq and use the `fromjson` builtin which would filter the output for valid json.

ex:
`gitleaks --repo-path=. -v | jq -R 'fromjson?'`

cc @galiagante

[2020-01-12 15:53] zricethezav commented on #237
@electrofelix https://github.com/zricethezav/gitleaks/releases/tag/v3.1.0 reimplemented the `commit-stop` feature. Let me know if this doesn't work for ya

[2020-01-12 15:57] zricethezav commented on #252
@camaya Entropy has been removed as an option and instead is now defined by the config. You can set a per-rule entropy range and use it in combination with regex. Example: https://github.com/zricethezav/gitleaks/blob/master/examples/regex_and_entropy_config.toml

[2020-01-12 15:58] GolanTrevize10 commented on #292
@zricethezav yes thank you very much

[2020-01-12 15:59] zricethezav commented on #299
@arbazkiraak No reason, I simply dropped the ball on including all the features when doing the v3 rewrite. This should be added in the next minor version release.

[2020-01-12 15:59] #292 closed

[2020-01-12 16:01] zricethezav commented on #233
@soorajnr I'm not sure what you mean by that, if you could open another issue and expand on this it that would be great.

[2020-01-12 16:01] #233 closed

[2020-01-13 06:09] arbazkiraak commented on #299
* Since gitleaks now support commit scan range feature I don't think depth feature is necessary.

[2020-01-13 11:48] morhimi commented on #299
@arbazkiraak the range addition is 3.1 is very cool but it is not a good replacement for the depth option. nothing beats `--depth 100` in simplicity and ease of use

[2020-01-13 17:36] katrinleinweber commented on #309
You're welcome & thanks for adding the topic :-)

[2020-01-13 18:02] awiddersheim opened #318 "Repo configuration changes"
**Describe the bug**
At some point between `2.1.0` and `3.1.0`, the way repo configurations interacted with the base configuration changed. Previously the repo configuration was merged into the global config. For example, you could have a base set or rules and whitelists configured globally but for individual repos you could have explicit whitelists or rules that may apply. Now, the repo configura

[2020-01-14 12:41] #237 closed

[2020-01-19 17:18] zricethezav commented on #300
https://github.com/zricethezav/gitleaks/pull/321 cc  @arbazkiraak  @erebos12. This is going into 3.2.0

[2020-01-19 17:19] zricethezav commented on #299
cc @morhimi https://github.com/zricethezav/gitleaks/pull/321 going into 3.2.0

[2020-01-19 17:41] zricethezav commented on #293
@adamgiesinger re added this https://github.com/zricethezav/gitleaks/pull/322. Will be putting it in 3.2.0

[2020-01-19 17:42] zricethezav commented on #252
Reopen if the examples aren't what you're lookin for

[2020-01-19 17:42] #252 closed

[2020-01-19 18:00] #293 closed

[2020-01-19 22:25] #299 closed

[2020-01-19 22:26] #300 closed

[2020-01-22 00:23] #254 closed

[2020-01-22 00:28] avishnyakov commented on #254
@zricethezav nice work, good enough.

[2020-01-22 00:32] avishnyakov commented on #254
JSON formatted, machine-readable log output would be the next big thing, then :)
So we can analyse such stat against thousands of repositories at scale.

[2020-01-22 03:27] zricethezav commented on #254
@avishnyakov could you open a new issue and give an example of your desired output?

[2020-01-23 09:48] sunilkarthy89 opened #324 "Running from pre-receive hook"
**Describe the bug**
Running from pre-receive hook to scan the latest commit is failing with timeout even after adding the --timeout option.

**To Reproduce**
Add the gitleaks docker image in the github environment. Setup pre-receive hook to run on the gitleaks environment and scan the latest commit everytime.

**Expected behavior**
the scans should be completed and the leaks should be reported.

[2020-01-23 09:49] sunilkarthy89 commented on #324
adding the script we have configured in the hook.

#!/bin/bash
echo "starting script - "`date`
echo "GIT HUB REPOSITORY IS : " $GITHUB_REPO_NAME
echo "GITLEAKS VERSION      : "`gitleaks --version`
zero_commit="0000000000000000000000000000000000000000"
ls -ltr
cat /go/src/github.com/zricethezav/gitleaks/config/gitleaks_dhl.toml

# Do not traverse over commits that are already in the repository
# (e

[2020-01-23 12:35] zricethezav commented on #324
Hi @sunilkarthy89 are you sure this is a gitleaks error? The error message: "execution time exceeded 5s" is not coming from gitleaks.

[2020-01-24 16:07] dorneanu opened #326 "Scan for single commits seems to be broken"
**Describe the bug**
I'm trying to scan single commits. For my understanding that means that only in that commit involved files (added and modified ones) should be scanned. Nothing more. Well, exactly the opposite happens.

**To Reproduce**
I'll use a test repository to demonstrate:

[code]

Let's have a look at the latest commit and which files have been added or modified:

[code]

When I run `gi

[2020-01-24 16:21] zricethezav commented on #326
@dorneanu thanks for bringing this up. Can you tell if it is an off by one (commit) error? Do you have a sample repo I could test against?

[2020-01-24 16:35] dorneanu commented on #326
Yes. Try this: https://github.com/dorneanu/test

[2020-01-24 20:02] zricethezav commented on #326
This is currently not the case. When `--commit` is set gitleaks will look at the entire tree at that commit, in otherwords all the [files at that commit](https://github.com/zricethezav/gitleaks/blob/master/audit/util.go#L263) will be scanned.

A solution would be to check the commits parent, create a patch and [inspect that patch](https://github.com/zricethezav/gitleaks/blob/master/audit/util.go#L

[2020-01-27 06:54] sunilkarthy89 commented on #324
But the timeout option should've killed the scan if it exceeds 3 seconds.

**gitleaks --repo-path=. --commit=$COMMIT --config=/go/src/github.com/zricethezav/gitleaks/config/gitleaks_custom.toml --depth=1 --verbose --pretty --timeout=3s;**

[2020-01-27 14:08] zricethezav commented on #324
When you run this locally was do you see? There is a known bug with the `--commit` option where it scan the entirety of the repo at that commit, not just the changes so if there is a large file or you have a complex regular expression that could be the issue.

When you run it locally, could you also use `--debug` to see the timings on the regular expression being used? (redact the actual regexes i

[2020-01-28 17:57] dorneanu commented on #326
@zricethezav I see. At the moment I don't really have the time for a PR. As a workaround I just check if the files in the results list were also involved in the commit itself. If not I just drop them from the final results list.

[2020-01-28 19:17] zricethezav commented on #326
@dorneanu no worries, I can put this in the next release. Thanks for bringing up this bug

[2020-01-31 09:56] arguptasec opened #328 "Avoid History Scan/ Duplicate findings"
If it is possible can we avoid history scan .. so that unnecessary findings can be avoided .
cc @zricethezav

[2020-01-31 14:08] zricethezav commented on #328
Hi @arguptasec could you elaborate? This seems like two different issues:
1. Avoid history scan, in other words scan what is presently in the repo.
2. Dedupe leaks that are found in multiple rules.

Is this what you were thinking?

[2020-02-01 16:38] #326 closed

[2020-02-01 21:54] zricethezav commented on #273
@dahu33 this is resolved in the latest version 3.2.2

[2020-02-01 22:43] zricethezav commented on #200
exporting these into a valid gitlieaks config file in the examples directory would be a good first issue for someone

[2020-02-02 08:12] dorneanu commented on #326
Thanks for the quick fix!

[2020-02-04 02:42] dahu33 commented on #273
awersome, thanks!

[2020-02-04 02:42] #273 closed

[2020-02-04 05:22] arguptasec commented on #328
Hi @zricethezav  , request is for .. 1- Can we avoid Github History Scan  in Gitleaks (Like those secrets which has been removed from code but still coming in history as well in merging too )

[2020-02-04 06:42] jatindhankhar opened #331 "Scan Free Text / Patch provided instead of cloning the repo"
**Is your feature request related to a problem? Please describe.**
To scan a particular commit/patch of a repo there is ``--commit`` but it takes lot of time if the repo is quite big.

Since it first needs to first clone the repo (no shallow clones there) and then checkout the particular commit followed by scan.

If all we need is a patch then we can provide the patch using provider api and scan t

[2020-02-04 08:39] sdhanawade-tavisca-com commented on #328
Hi, I belong to same team as @arguptasec. What challenge we are facing is as below -
1. Gitleaks scans latest source code as well as historical changes. Historical changes might have been fixed already in the latest source code, we do not want to highlight those in scan report
2. In case of merges, when developers are doing 'git pull' before 'git push' and earlier developer had induced leaks, then

[2020-02-04 16:53] sbarbeau-od opened #332 "Incorrect results with the --redact option"
**Describe the bug**
When I use the --redact option, gitleaks found less secrets than when I omit this option

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
Both gitleaks command listed above should return the same number of secrets

**Basic Info:**
 - OS: OSX Catalina (10.15.3)
 - Gitleaks Version: 3.3.0 (installed using brew)

**Additional context**

[code]

cc

[2020-02-04 18:45] xfornesa commented on #207
Related to #268

[2020-02-07 18:29] sbarbeau-od commented on #332
I'm not familiar with GoLang, but I did some printf debugging and it seems that `repo.Manager.SendLeaks(manager.Leak{ [...]})` is not called for all findings which result in an incorrect number of findings with the --redact option

[2020-02-13 10:22] tdhavalikar opened #334 "Scanning based on date-time parameters"
Hi, is it possible to scan the repositories within date-time parameters? Currently, Gitleaks scans entire history. If it could only scan commits made in a time-frame e.g, last 7 days last 24 hours, etc. ,the scans could reduce the number of duplicate findings.
Adding other team members @arguptasec @sdhanawade-tavisca-com

 cc @zricethezav

[2020-02-13 10:32] sdhanawade-tavisca-com commented on #328
@zricethezav - Do you have further updates?

[2020-02-13 13:54] lghakamo-paf opened #335 "Report only states repo as "." when scanning an organisation"
**Describe the bug**
The report when scanning repos in an organisation only states dot as repo.

**To Reproduce**
Scan all repos in an organisation.

**Expected behavior**
Repo should be reported as <repo-name>.git
This worked in versions < 3.x. Scanning a single repo reports the expected repo correctly.

**Basic Info (please complete the following information):**
 - OS: MacOS 10.15.3
 - Gitleaks

[2020-02-13 14:22] zricethezav commented on #335
Thanks for bringing this up. I noticed that this past weekend too actually. Great first issue for anyone who wants to open a PR.

[2020-02-19 10:55] tdhavalikar opened #336 "fatal error: runtime: out of memory while scanning Bitbucket repository"
Hi @zricethezav,

**Describe the bug**
While scanning a private Bitbucket repository for leaks, following error occurs.
-> gitleaks --repo=***** --username=**** --password=**** --report=gitleaks.csv --report-format=csv --redact -v
[36mINFO[0m[2020-02-19T10:02:52Z] cloning... *****
Counting objects: 32003, done.
Compressing objects:   0% (1/12048)
Compressing objects:   1% (121/12048)
Compressing

[2020-02-19 13:37] zricethezav commented on #336
@tdhavalikar try cloning to disk rather than in-memory.
[code]

[2020-02-19 14:55] lochlainnw opened #337 "Possile to add regex option to binary?"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I'd love to be able to run the latest binary with --regex=customregex.json option.  In the customregex.json we could have a list of our own regexes!

**Describe alternatives you've considered**
I tried to use truffleHog which has this option but doesn't work very well.  i find this one to be

[2020-02-19 14:58] zricethezav commented on #337
@lochlainnw you can define your own regular expressions by creating a gitleaks config toml. See https://github.com/zricethezav/gitleaks/tree/master/examples for examples.

use the `--config=path-to-toml` option

[2020-02-19 15:09] lochlainnw opened #338 "Looking for improved output feature"
**Is your feature request related to a problem? Please describe.**
It would be great to be able to run the binary as a for loop in a folder with 1000's of repos.  The output function overwrites itself in a loop.  Would it be possible to have a new option called --projects (or something that would better describe a large amount of repos) where it will run through all of the repos in the path and ou

[2020-02-19 15:13] lochlainnw commented on #337
Ah that is great.  Sorry I didn't see that in the docs.  Thanks very much @zricethezav

[2020-02-19 15:13] #337 closed

[2020-02-19 15:48] zricethezav commented on #338
@lochlainnw use --owner-path=path-to-repos this will run gitleaks on any directories with a .git sub directory

[2020-02-19 16:05] lochlainnw commented on #338
Again @zricethezav thanks very much.  this is a great tool, appreciate your work on this!

regards,
Lochlainn

[2020-02-19 16:14] lochlainnw commented on #338
Hey @zricethezav sorry again to bother you.  Do you know why a scan would not work on a some repo's that do have a .git directory?

I have a list of 10 repos for example, 8 are not working and 2 are. they all have ".git"

WARN[2020-02-19T15:55:54Z] ap107216-stash-playbook is not a git repo, skipping
WARN[2020-02-19T15:55:54Z] ap107216_bitbucket is not a git repo, skipping
WARN[2020-02-19T15:55:54Z

[2020-02-19 16:23] lochlainnw commented on #338
I also notice the "repo-path" will work on repositories from the server.  but "owner-path" does not.  I am guessing owner path is looking at cloned repos.

[2020-02-19 17:22] lochlainnw commented on #338
I have a for loop working like so:

for d in ../repositories/*/ ; do ./gitleaks-linux-amd64 --repo-path=$d --branch=master --exclude-forks --report=/home/secrets --report-format=csv --config=/home/regex.toml && cat /home/secrets >> /home/secrets.csv; done

an untidy workaround.

[2020-02-20 06:59] tdhavalikar commented on #336
Hi @zricethezav,

Thanks for the suggestion! However, it works for only a few repositories. The error persists for other repositories. All the repositories in this case are private Bitbucket repositories of varying sizes.

[2020-02-20 22:03] sbarbeau-od commented on #332
@zricethezav do you have an idea what could be the issue?

[2020-02-20 23:52] zricethezav commented on #332
Nope, haven't looked at it as I don't really have much time on my hands

[2020-02-21 01:26] kaushalyap opened #339 "Android Keystore support"
**Is your feature request related to a problem? Please describe.**
Find if the keystore files ( ex: keystore.jks ) or `local.properties` with sensitive data committed to git

**Describe the solution you'd like**
If keystore files or `local.properties` with sensitive data committed to git, exit code should be 1 (these files should be git ignored)

**Describe alternatives you've considered**
Writing

[2020-02-24 08:20] Chan9390 opened #341 "Feature to scan only on added content"
**Is your feature request related to a problem? Please describe.**

Gitleaks is doing a wonderful job to detect secrets in the history. Gitleaks gives the commits in which a secret is added and removed.

If there are 3 commits:
commit1 - secret added
commit2 - secret deleted
commit3 - some random code

Gitleaks will detect the same secret which is present in commit1 and commit2. This works fine fo

[2020-02-24 16:42] sbarbeau-od commented on #341
There is a PR for what you are looking for: https://github.com/zricethezav/gitleaks/pull/268

[2020-02-26 17:23] zricethezav opened #343 "Update Go to 1.14"
**Describe the solution you'd like**
Update Go https://twitter.com/golang/status/1232421783548067840

**Additional context**
Defer is more efficient

cc @zricethezav

[2020-02-26 22:18] blindphaze opened #346 "Whitelisting applying over multiple matches"
**Describe the bug**
When creating a whitelist rule, the whitelist is applying over multiple lines instead of just a single line where the match was.

**To Reproduce**
Use the rule.txt file provided as a configuration against values.txt to note that there are three leaks detected. Then, uncomment the whitelist rule and note that now 0 leaks are detected.
[rule.txt](https://github.com/zricethezav/g

[2020-02-26 22:33] zricethezav commented on #346
I'm unable to reproduce this. I see the three leaks and then after uncommenting the whitelist I see two as expected

[2020-02-26 22:36] zricethezav commented on #346
No whitelist:
[code]

With whitelist:
[code]

[2020-02-26 22:38] zricethezav commented on #346
Please provide the command you are running and output

[2020-02-26 23:08] zricethezav commented on #332
@sbarbeau-od I believe https://github.com/zricethezav/gitleaks/pull/345 fixes this issue. Reopen if you are seeing different results.

[2020-02-26 23:08] #332 closed

[2020-02-27 14:25] zricethezav commented on #331
@jatindhankhar This sounds like a good idea. I might generalize it a bit and add the ability to scan streaming data as well. Thanks for this. I'll try and work on it in the coming weeks.

[2020-02-27 14:57] sdhanawade-tavisca-com commented on #336
@zricethezav - Can you please respond to this query as multiple decisions are blocked for resolution on this ticket?

[2020-02-27 16:12] zricethezav commented on #336
@sdhanawade-tavisca-com you tryna pay me?

[2020-02-27 17:02] jatindhankhar commented on #331
Thanks for the response.
A big Thanks for making such an awesome tool ❤️, out of many tools in the similar spectrum, we found this to be the most customizable tool with least amount of false positive.

Only false positives we came across were base64 encoded image strings.

I tried looking at the code for this and this seems to be the entry point for scanning strings.
` inspectFileContents` https:/

[2020-02-28 16:04] blindphaze commented on #346
@zricethezav Sorry for taking so long to get back to you, here is a more detailed output.  I uploaded the files to a public repo to make this easier as well

Here is a first run without the whitelist rule enabled: (6 findings)

[code]
[code]

Now I uncomment the rules.whitelist lines and we see there are now only 3 findings:

[code]
[code]

[2020-02-28 16:43] blindphaze commented on #346
I have pulled in the lastest commits and rebuilt the binary, I am no longer seeing this issue.
It looks like I was on commit e7fbcf53338e283bd4c92ecb1e59de7a6df5fa14 when seeing this issue.

[2020-02-28 17:06] zricethezav commented on #346
Perfect, glad the latest version fixed it. Closing this issue out. Reopen if needed. Cheers

[2020-02-28 17:06] #346 closed

[2020-02-28 20:38] GolanTrevize10 opened #349 "Unable to clone private GitHub repository using token"
**Describe the bug**
GitLeaks is unable to clone a private GitHub repository using token when scanning a whole organization. It returns this error

INFO[2020-02-28T21:31:48+01:00] gathering github repos... progress: page 1 of 1
INFO[2020-02-28T21:31:48+01:00] cloning... https://mygitserver/XXXX/myrepo.git
WARN[2020-02-28T21:31:48+01:00] unable to clone via https and access token, attempting with s

[2020-02-28 20:45] GolanTrevize10 commented on #349
I tried to run a git clone with same token and it works.

[2020-02-28 21:09] zricethezav commented on #349
@GolanTrevize10 mmm not sure what is going on with this one. It's passing the token to an http client right here: https://github.com/zricethezav/gitleaks/blob/master/hosts/github.go#L37-L44

[2020-02-28 21:22] GolanTrevize10 commented on #349
But I think the http client is only used to call the github api. That part
works. But in the cloning I think it is not using token

El vie., 28 feb. 2020 22:09, Zachary Rice <notifications@github.com>
escribió:

[2020-02-29 15:13] zricethezav commented on #349
https://github.com/zricethezav/gitleaks/pull/350 should fix it. Turns out I was not passing an auth method when cloning in that github loop

[2020-03-02 17:25] Chan9390 commented on #259
Looks like the issue is solved as we have latest release on Dockerhub (latest version 4.0.1 at the time of commenting).

[2020-03-02 18:05] Chan9390 commented on #328
Hi @sdhanawade-tavisca-com and @arguptasec , here are few of my thoughts:

Gitleaks allows you to scan secrets between few commits only using `--commit-from` and `--commit-to`. So you can customize your wrapper around gitleaks to scan the repo till the HEAD commit you had last scanned.

Where are you running gitleaks ? On developer laptops as a pre commit hook ?
Please give more context.

[2020-03-03 07:25] GolanTrevize10 commented on #349
Yes, it works, thanks

[2020-03-03 12:22] #349 closed

[2020-03-04 10:36] WaiLoonTan opened #351 "Report showing N/A in Line column when scanning an organisation"
Describe the bug
The report when scanning repos in an organisation only states N/A as line..

To Reproduce
Scan all repos in an organisation.

Expected behavior
Line should show which line is the code of the problem.

Basic Info (please complete the following information):

OS: Windows 10
Gitleaks Version: 4.1.0
GO version : 1.12

Additional context
N/A

cc @zricethezav

[2020-03-05 14:04] bryanlalexander opened #352 "Gitleaks --uncommitted fails on first commit"
**Describe the bug**
Gitleaks fails with error `reference not found` when executed against a newly initialized repository with staged changes.

**To Reproduce**
Steps to reproduce the behavior:

- create a new folder
- `git init`
- `touch file`
- `git add file`
- `gitleaks --uncommitted`

**Expected behavior**
Gitleaks should be able to handle the initial commit to a repository, this is even somet

[2020-03-08 21:37] GolanTrevize10 commented on #351
@zricethezav I think the problem is if there is a new line character in the commit message, that is not removed when generating csv reports and then the report is malformed.

[2020-03-09 12:20] stone-z commented on #200
Hey @zricethezav I would be open to picking this up. It would be helpful to me to include [these patterns](https://github.com/dxa4481/truffleHogRegexes/blob/master/truffleHogRegexes/regexes.json) (or at least those which aren't already included) by default, you also mentioned you had some others you'd like to include. I can go ahead and add them if you're open to it

[2020-03-10 14:03] zricethezav commented on #259
closing this issue

[2020-03-10 14:03] #259 closed

[2020-03-10 15:18] zricethezav commented on #200
@stone-z adding the regexes that are not already included from the list you provided would be a nice addition. I was hoping to add a gitleaks.toml config file that included all the regexes that @pdparchitect provided in their link. This config would live in the `/examples` directory of this project.

[2020-03-11 17:52] fr0stedfl4ke opened #353 "Invalid memory address - org scan - crashing at empty repo"
**Describe the bug**
When running a default scan on our company repo, the scan gets to a certain point where it just crashes. I've identified the repo in question and noticed that it's empty. I'm not sure as to whether this has anything to do with it. The program states that it was unable to clone via https and access tokens, attempts to ssh, unable to get ssh auth, skips, retries cloning the same

[2020-03-12 03:17] pburkholder commented on #352
Oh, wow, we're both at GSA :wave:

[2020-03-12 03:24] pburkholder commented on #352
OS: Mac Mojave 10.14
Gitleaks version: v4.1.0 v3.3.0 v3.0.3

[2020-03-12 20:08] zricethezav commented on #352
Kinda busy but this wouldn't be too difficult to fix if a community member wants to pick it up. I can provide some details after I do the dishes. 1 sec

[2020-03-12 20:37] bryanlalexander commented on #352
Sure, if you know how to resolve it - I can probably pick it up.

[2020-03-15 01:43] 0xfabiof opened #354 "False Positive - Findings in the Config File itself"
**Describe the bug**
The tool flags the rule-set defining file (.toml file) as scannable and reports findings in it

**To Reproduce**
Steps to reproduce the behavior:
- Run the tool setting --config=PATH to be a PATH inside the repository scanned.

**Expected behavior**
The tool should ignore the loaded .toml file used for the rule-set

**Additional context**
An alternative fix would be enabling u

[2020-03-15 16:10] dhra commented on #200
Please check [this resources](https://github.com/Shashank-In/TravisLeaks/blob/master/wordlist.txt)

[2020-03-16 15:21] zricethezav opened #355 "SARIF report output"
**Is your feature request related to a problem? Please describe.**
I would like to add the ability to format the report output that is compliant with SAIRF.

**Describe the solution you'd like**
`--report-format=sarif` (default would be json)

**Additional context**
https://docs.oasis-open.org/sarif/sarif/v2.0/sarif-v2.0.html

cc @zricethezav

[2020-03-18 10:03] stone-z commented on #200
@zricethezav I found that the current default patterns included the majority of the trufflehog patterns. I cleaned up some issues I found in https://github.com/zricethezav/gitleaks/pull/356, which also expands the generic credential pattern to include almost everything @pdparchitect and @dhra suggested.
Neither of those lists included (new) patterns for the keys themselves, only for the variable n

[2020-03-18 17:49] zricethezav commented on #353
@fr0stedfl4ke I will be taking a look at this. If a repo is empty there can be some odd behaviors.

[2020-03-18 18:21] fr0stedfl4ke commented on #353
@zricethezav Thanks for taking a look into this. Let me know if there's anything else I could do to assist in this process.

[2020-03-19 03:46] mungmoong3 opened #357 "Gitleaks can not scan AWS SECRET KEY"
**Describe the bug**
Gitleaks can not scan AWS Secret key

**To Reproduce**
 - git init
 - create fake.py
[code]
 - git add ./fake.py
 - git commit -m 'fake'
 - gitleaks --repo-path=. --verbose --pretty

**Expected behavior**
The access key was detected but the secret key was not detected.
[code]

**Basic Info (please complete the following information):**
 - OS: Ubuntu 18.04
 - Gitleaks Version:

[2020-03-21 01:17] zricethezav commented on #357
This is not a default regex. If you want to search for a specific you need to add a new rule and use a custom gitleaks config. This is not a bug. See https://github.com/zricethezav/gitleaks/tree/master/examples for examples

[2020-03-21 01:17] #357 closed

[2020-03-21 02:44] zricethezav commented on #353
@fr0stedfl4ke just merge https://github.com/zricethezav/gitleaks/pull/358. That should fix it. Could you re-clone and give it a shot? See if that fixes it

[2020-03-22 20:40] GolanTrevize10 commented on #351
@zricethezav I thin the file rules are not working properly. I tried with a config file just with one rule like this
`[[rules]]
    description = "PEM Files"
    file = '''(.*)?pem$'''
    tags = ["key", "PEM"]
`
and I get many leaks like this

{
  "line": "N/A",
  "offender": "Filename/path offender: sonar-project.properties",
  "commit": "d8691ae8dd999375aef0c2848726e7851238f1f7",
  "repo": "pos

[2020-03-22 20:46] GolanTrevize10 opened #359 "Commit messages with new line characters break csv reports"
**Describe the bug**
When you have a leak in a commit with a commit message that contains new line characters, those characters are not removed from the csv report. Therefore the csv file is broken and it is impossible to load it in Excel

**To Reproduce**
Steps to reproduce the behavior:
1. Commit a leak and add a commit message with a new line character
2. Run gitleaks with the --report-format=c

[2020-03-23 08:49] galitz opened #360 "Read access-token from file or environment"
**Is your feature request related to a problem? Please describe.**
The access-token used to access to GitHub API and sometimes a private repo can be read from the process table when launched.  This can potentially leakthe token to access private repo data.

**Describe the solution you'd like**
A possible solution would be add an option to read the access-token from a file or environmental variable

[2020-03-23 10:27] GolanTrevize10 commented on #351
ah I found the issue. I was using the file property in the rule instead of filenameregex. With filenameregex it works. I think you should update the example in https://github.com/zricethezav/gitleaks/blob/master/examples/regex_and_file.toml because it is wrong.

[2020-03-23 15:34] fr0stedfl4ke commented on #353
@zricethezav Unfortunately, I'm still getting an error with this one - even using the latest version. Any suggestions?
![image](https://user-images.githubusercontent.com/42190475/77333559-d88fd380-6ce0-11ea-9778-2e207965a8e0.png)

[2020-03-23 21:11] zricethezav commented on #360
https://github.com/zricethezav/gitleaks/blob/master/options/options.go#L241-L249 you can use `GITLEAKS_ACCESS_TOKEN` which is the access token whatever host you are hitting (gitlab and github are currently the only ones supported).

Documentation is due for an overhaul and something I could use some help with if anyone has spare cycles.

[2020-03-25 23:00] zricethezav commented on #353
@fr0stedfl4ke I haven't tagged the new release yet as I was planning on putting some more items in before I cut a new release. Could you clone this locally and run it? I'm trying to reproduce it locally but I'm not having success reproducing this bug.

[2020-03-26 11:04] waristea commented on #312
Is it possible to scan an org's public repositories without supplying the access-token?
I tried it a few times to no avail

[2020-03-27 13:58] GolanTrevize10 commented on #353
@zricethezav it works for me as well

[2020-03-27 14:07] zricethezav commented on #353
@GolanTrevize10 that's good to hear! I will wait until @fr0stedfl4ke confirms this is working for them before closing out this issue.

[2020-03-30 06:15] fr0stedfl4ke commented on #353
Hi @zricethezav, it seems to be crashing once again. Let me know if I did this right

1. git cloned the repo
2. go run main.go with all necessary parameters.

It seems to kick off the program just fine, and then crashes after a certain point. Usually, I run this program using 'screen' and let it run in the background. I can't seem to "scroll" back up on my screen session because I didn't set the p

[2020-03-31 10:38] galitz commented on #360
Thanks for the following up!  I'll happily help update the docs.

[2020-03-31 10:38] #360 closed

[2020-04-02 12:15] joshghent opened #361 "Object Not Found"
**Describe the bug**
When running gitleaks against a single commit on the latest build it returns the error Object Not Found

**To Reproduce**
Steps to reproduce the behavior:
`docker run --rm --name=gitleaks -v $PWD:/repo-path zricethezav/gitleaks --verbose --repo-path=/repo-path --commit=latest --redact --threads=1 --verbose`

Tried it on two private repos at my company and both returned the sam

[2020-04-02 13:01] zricethezav commented on #361
Hey @joshghent thanks for bringing up this issue. Could you try running the binary directly? I'm able to reproduce this bug while using the docker image but when I use binary I'm not able to reproduce it.

[2020-04-03 00:03] fr0stedfl4ke commented on #353
@zricethezav - Looks like when I run 'go run main.go' after cloning the repo - it runs out of memory. Even though I use the --disk parameter is seems to have a memory issue. This doesn't happen when I run after go get. Any suggestions?

![image](https://user-images.githubusercontent.com/42190475/78310677-84b49400-7503-11ea-8a5b-ab85e7bd5bd4.png)

[2020-04-04 18:50] zricethezav commented on #354
Good call, merged https://github.com/zricethezav/gitleaks/pull/362 to address this

[2020-04-05 13:20] #354 closed

[2020-04-05 15:14] zricethezav commented on #352
https://github.com/zricethezav/gitleaks/pull/364 should take care of it

[2020-04-05 15:30] zricethezav commented on #361
whoops, nvm, i see the issue. submitting a pr now

[2020-04-05 16:34] #352 closed

[2020-04-05 16:34] zricethezav commented on #352
reopen if you need

[2020-04-05 16:34] zricethezav commented on #361
https://github.com/zricethezav/gitleaks/releases/tag/v4.1.1 includes the fix

[2020-04-05 16:35] #361 closed

[2020-04-05 16:35] zricethezav commented on #343
https://github.com/zricethezav/gitleaks/releases/tag/v4.1.1

[2020-04-05 16:35] #343 closed

[2020-04-08 13:54] KimRomBot opened #366 ""go.sum" files fail the Gitleaks check"
**Describe the bug**
My Gitleaks check failed. It cited all files that failed it to be go.sum files.

**To Reproduce**

- Commit a go.sum file with many dependencies on it
- Run a Gitleaks check on repo
- It should fail

**Expected behavior**
The test should pass. There are no secrets anywhere in the repository currently.

**Screenshots**
![image](https://user-images.githubusercontent.com/57997576

[2020-04-14 00:17] steeve85 opened #367 "Incorrect results with the --redact option"
**Describe the bug**
Similar issue than #332
When I use the --redact option, gitleaks found less secrets than when I omit this option

**To Reproduce**
Steps to reproduce the behavior:

[code]

I used https://github.com/Plazmaz/leaky-repo for testing

**Expected behavior**

Number of findings with or without `--redact` should be the same

**Basic Info (please complete the following information):**

[2020-04-15 01:51] cyberbiont opened #369 "Cannot write a report"
I might be missing something very obvious here, but how do I write a report file?
I'm running this command from Powershell against local repo, using Docker container:
[code]
It shows me leaks info, and then:
INFO[2020-04-15T01:39:50Z] report written to E:\Projects\current_directory

But in fact nothing gets written.

[2020-04-15 15:04] fr0stedfl4ke commented on #353
Hi @zricethezav. I went ahead and pulled the latest release and all looks good on my end.

Thank you!

[2020-04-15 15:04] #353 closed

[2020-04-15 16:34] steeve85 commented on #369
This should work:
`docker run --rm --name=gitleaks -v `pwd`:/code/ zricethezav/gitleaks -v --repo-path=/code/ --report=/code/report.json --pretty --depth=1`

[2020-04-16 01:04] cyberbiont commented on #369
Indeed, it worked. Thank you very much! I'm closing this.

[2020-04-16 01:04] #369 closed

[2020-04-19 08:47] m1nkeh opened #371 "Question: Prevent secret duplication"
Hi,

Is there a way of writing a rule that will match to the secret: `G5CdMajvIpyyZ020VRddccTxkX/GjXjq5ID52+nrghg=`

but not match to the secret: `V2agTeXn6YXfUWhrDSJlVnwbrXMSRfCmi4rlrznOOEaG5CdMajvIpyyZ020VRddccTxkX/GjXjq5ID52+nrghg==`

So far i have:
[code]

But due to the first string being a substring of the second value, i get false-positives..
![image](https://user-images.githubusercontent.c

[2020-04-21 12:51] zricethezav opened #372 "Documentation help"
**Is your feature request related to a problem? Please describe.**
The gitleaks documentation is severely lacking. I've added a lot of features without taking the time to document them.

**Describe the solution you'd like**
A wiki page or a HOWTO.md in the repo with a bunch of examples and documentation on the available options.

**Additional context**
If anyone wants to help me with this I'd happ

[2020-04-22 08:03] rgkobashi commented on #372
first of all, thanks!

About the docs, is there some of it? I saw some place it refers to the wiki but it is empty so far.

TIA

[2020-04-22 22:49] prabhu commented on #355
Perhaps supporting a standard such as SARIF is better. Note that [scan](https://github.com/ShiftLeftSecurity/sast-scan) automatically converts gitleaks json into SARIF

[2020-04-23 12:11] boly38 opened #373 "cannot find package "github.com/google/go-github/v29/github""
**Describe the bug**
we have cicd simple stage to execute gitleak :
[code]

**To Reproduce**

This stage was working well for a while, but recently we are facing the following issue
[code]
**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/3100576/80097756-1eec8280-856c-11ea-9a55-54803fa72cd0.png)

**Basic Info (please co

[2020-04-23 16:48] NdagiStanley commented on #372
I just discovered this tool yesterday from [linuxsecurity](https://linuxsecurity.expert/tools/gitleaks/)
It's awesome!

Probably if @rgkobashi has picked this up I'll be happy to help.

[2020-04-23 16:50] NdagiStanley commented on #335
This issue is done, right?

[2020-04-23 17:10] NdagiStanley commented on #372
One more thing, I was just about to integrate this into my GitHub actions but it's not verified.
I've not seen an issue on that, any reason why @zricethezav?

What would it take to have it verified? Can anyone help with that?

[2020-04-24 05:17] lghakamo-paf commented on #335
Yeah, seems to be fixed by https://github.com/zricethezav/gitleaks/pull/344. Verified with release 4.1.1 but probably fixed already with 4.0.

[2020-04-24 05:17] #335 closed

[2020-04-28 17:31] zricethezav commented on #372
Hey folks, I started a wiki page https://github.com/zricethezav/gitleaks/wiki which is editable by anyone and everyone. I would love to have in depth documentation on the how to configure rules. Right now all I have is an example folder https://github.com/zricethezav/gitleaks/tree/master/examples which does not cut it.

Two pages I need help with: https://github.com/zricethezav/gitleaks/wiki/Confi

[2020-04-28 17:32] zricethezav commented on #372
Hey @NdagiStanley I'm actually not sure what you mean by it not being verified. Could you elaborate? Thanks!

[2020-04-28 18:11] NdagiStanley commented on #372
@zricethezav, my bad. I've just found out that verification is just for apps and not actions:
compare [gitleaks](https://github.com/marketplace/actions/gitleaks) action and these [apps](https://github.com/marketplace?type=apps).

[2020-04-30 19:14] tomi-roam commented on #373
I was able to workaround this in our CI environment with `export GO111MODULE=on;` while manually testing installs as root.

However, to get it to work in our automation for Ansible/Jenkins, the following was the magic incantation (for running under `jenkins` user):
[code]

[2020-05-04 06:36] fnxpt commented on #328
I have the same issue, and if we use the option --commit-from and --commit-to we won't be able to scan the complete repository, since this will only scan the files changed on those commits.
I think @arguptasec idea is to scan the current status of the repo, not things that could be already removed from the current HEAD

[2020-05-04 11:29] dkmbw opened #376 "local repo scan does not work with docker version?"
**Describe the bug**
I cannot scan local repositories with the docker image.
**To Reproduce**
Steps to reproduce the behavior:

I pulled and ran the program with docker:

   docker pull zricethezav/gitleaks
   docker run zricethezav/gitleaks -v --repo-path="$(pwd)"

and get the error:

  ERRO[2020-05-04T11:24:54Z] repository does not exist

**Expected behavior**
Either document that local scanning

[2020-05-04 12:16] boly38 commented on #373
@tomi-roam your workaround works well, thanks

sage used on our side become:
[code]

[2020-05-05 15:13] galitz opened #377 "whitelisted repo not whitelisted"
Using some config files we ported over from older implementations, we have some repos showing up in reports that we had added to the global whitelist.

Code snippet:
[code]

`gitleaks --org=security --host=github --baseurl="http://github.redacted" --report=sec-noredact.json --config=tester.toml --disk`

[code]

OS: Centos 7
Version: V4 Latest

cc @zricethezav

[2020-05-05 21:20] zricethezav commented on #372
Feel free to contribute to the wiki, closing this issue now

[2020-05-05 21:20] #372 closed

[2020-05-06 03:59] Chan9390 commented on #328
Didn't know such a feature existed. Yeah `--files-at-commit` tag works.

[2020-05-07 16:36] karsten-wagner commented on #283
+1

We are running into false positive on files that have been encrypted and the output was saved as a base64 encoded string. Just by accident there are lines included that look like an AWS key, but apparently the are not.
With the multi line regexp, we might be able to define a regexp for the whitelisting that is skipping such files...

[2020-05-09 14:34] zricethezav commented on #377
That whitelist config was removed in one of the major updates. It makes sense to bring back: https://github.com/zricethezav/gitleaks/pull/378 got a PR open here which will go into the next release.

[2020-05-09 14:39] zricethezav commented on #373
@boly38 @tomi-roam I just merged a PR that bumps the go-github version to v31.

does
[code]
work for you now?

[2020-05-09 14:44] boly38 commented on #373
thank you @zricethezav I will tell you that on monday 👍

[2020-05-09 14:46] zricethezav commented on #371
@m1nkeh you could make use of the whitelist table within a rule. For example: https://github.com/zricethezav/gitleaks/blob/master/test_data/test_configs/aws_key_aws_whitelisted.toml
[code]
This rule will match all AWS Manager keys besides the example key defined in the whitelist: `AKIAIO5FODNN7EXAMPLE`

[2020-05-09 14:54] zricethezav commented on #366
This is due to the fact that in the default config there is a generic credential rule. This should probably be removed as we don't want to increase the false-positive rate on the default configuration. I'll open a PR for this. Thanks for bringing this up @KimRomBot

[2020-05-09 14:55] m1nkeh commented on #371
I tried that.. I had hoped that I could put another regex in the whitelist, but it didn’t work.

I guess the challenge is two fold because they are both random strings, and I can’t whitelist a string larger than the string that has been hit.

I worked on this for a while since I posted the question, didn’t get a satisfactory irking answer unfortunately :/

[2020-05-09 15:20] zricethezav commented on #371
@m1nkeh Is the length of the larger string known?

[2020-05-09 15:53] zricethezav commented on #377
fix released in https://github.com/zricethezav/gitleaks/releases/tag/v4.2.0. Reopen this issue if needed.

[2020-05-09 15:53] zricethezav commented on #367
fix released in https://github.com/zricethezav/gitleaks/releases/tag/v4.2.0. Reopen this issue if needed.

[2020-05-09 15:53] #367 closed

[2020-05-09 15:53] zricethezav commented on #366
fix released in https://github.com/zricethezav/gitleaks/releases/tag/v4.2.0. Reopen this issue if needed.

[2020-05-09 15:53] #366 closed

[2020-05-11 12:30] GolanTrevize10 commented on #359
@zricethezav did you have a chance to take a look to this issue?

[2020-05-11 14:01] zricethezav commented on #359
@GolanTrevize10 Have not taken a look at this yet but could see an easy fix which would be escape newlines before writing here: https://github.com/zricethezav/gitleaks/blob/master/manager/manager.go#L291-L293.

Feel free to open a PR if you have the time. If not, I'll try to get this handled sometime this week.

[2020-05-11 15:26] m1nkeh commented on #371
Yes absolutely, i think it's about 80 or 90 characters, i can check the regex on my other computer.. but yeah, it's around double.. looks similar to the original post.

[2020-05-11 16:40] galitz commented on #377
Hi.. alas, it does not seem to be fixed.  I am still seeing results for whitelisted repos.

Here is my test config:

``
[[rules]]
        description = "Generic Credential"
        regex = '''(?i)(api_key|apikey|secret|password|pass|pw|key)(.{0,20})?[0-9a-zA-Z]{16,45}'''
        tags = ["key", "API", "generic"]

[whitelist]
        description = "Whitelisted things"
        repos = [

[2020-05-11 16:45] galitz commented on #377
fyi, I seem to be unable to re-open the issue on my own.

cc @zricethezav

[2020-05-12 00:41] zricethezav commented on #377
@galitz my apologies, I did not see you were attempting to whitelist repos using the `host/org` options so the logic to skip whitelisted repos was never hit. Thank you for reopening this. I'm working on a fix right now.

[2020-05-12 12:02] boly38 commented on #373
Hi @zricethezav ,

 I test it again and here are my tests results as today:

[code]

- with `export GO111MODULE=on;` : go get downloads deps and **gitleaks execution ok** - I'll keep this state for now

- **without `export GO111MODULE=on;` line** :

[code]

- **with `image: golang`** (solved with image `sha256:2421885b04daf2f5095c46fe1889887d89e5ab77157e54423d97ea6816db54b6`) && **without `export

[2020-05-12 13:39] muv1 opened #380 "AuditUncommitted fails with deleted worktree files"
With the function `AuditUncommitted` (`audit/repo.go`), before an attempt is
made to open a file, two checks are done:

https://github.com/zricethezav/gitleaks/blob/0d7c18cb39c60efb62a6c7b351f95d46ebe1f63e/audit/repo.go#L180-L181

However this seems to miss at least one case, which I ran into by accident.

1. Pick a file that is tracked
2. Modify the file, and add the change
3. Delete the file

I

[2020-05-13 14:29] Zeyshi opened #381 "Facebook Secret Key in gitleaks/config/default.go causes false positives"
**Describe the bug**
Incorrect regex rule in gitleaks/config/default.go for Facebook Secret Key causes false positive alerts

**To Reproduce**
Match the rule on `sha256:08a96c641c3a74e44eb59afb61a24f2cb9f4d7188748e76ba4bb5edfa3cb7d1c"
` or `"sha256:fb77ce16570fe9965acd6d30101a28f62fb4a7f9e926b3bbc9b61f8b04247e72"`

**Expected behavior**
Facebook Secret Key rule should not match such patterns

**Ba

[2020-05-13 15:50] zricethezav commented on #381
Feel free to open a PR

[2020-05-15 13:43] #381 closed

[2020-05-18 10:08] Sy3Omda opened #383 "can not run against list of urls"
**Describe the bug**
I have list of git links and i want to run gitleaks against it but i did not find an argument to do so,
So i created a bash script to run gitleaks BUT when i use option --report= to generate a list of reports for each git repo separately it keeps gives error

**To Reproduce**
for line in $(cat testurls); do gitleaks --repo=$line --report=$line --verbose --pretty ; done

**Expe

[2020-05-18 18:21] ed-sulli opened #384 "GitLeaks (totalPatchTime) has dramatically different performance on two nearly-identical repos"
# Describe the bug
I have two repos called **ABC** and **ABC-clone** and they are ostensibly equivalent (please see below for a detailed comparison). However, when I invoke `/home/githook/gitleaks --debug --repo-path=. --commit=b372769d4025e174a5b1c367c2963823f8e1eea5 -v` on both repos in a server-side pre-receive hook on GitHub Enterprise using the same arguments, the performance is dramatically

[2020-05-18 21:00] galitz commented on #377
Hi.. in doing some further testing it may be that commit hash whitelists are not working?  Should I open a separate issue for that?  Here is my test config file:

´´´
title = "gitleaks config"

[[rules]]
        description = "Generic Credential"
        regex = '''(?i)(api_key|apikey|secret|password|pass|pw|key)(.{0,20})?[0-9a-zA-Z]{16,45}'''
        tags = ["key", "API", "generic"]

[whitelist]

[2020-05-18 21:04] zricethezav commented on #377
@galitz whats your output. This is just a config

[2020-05-19 06:51] galitz commented on #377
command line:
´´´
gitleaks --access-token="XXXX" --org=sre --host=github --baseurl="https://github.XXXX.net" --report=sre.json --config="tester.toml" --redact
´´´

´´´
[ggalitz@ops-security_scanner01.us-east-1 ~]$ more tester.toml
title = "gitleaks config"

[[rules]]
	description = "Generic Credential"
	regex = '''(?i)(api_key|apikey|secret|password|pass|pw|key)(.{0,20})?[0-9a-zA-Z]{16,45}'''
	tag

[2020-05-19 15:44] ed-sulli commented on #384
I've discovered that the source of the slowness is likely `go-git`'s algorithm for accessing trees, specifically the a repo has been forked and uses the `.git/objects/info/alternates` file in conjunction with storage in `.git/objects/../../network.git`.

For more explanation, please see my detailed comment for **go-git** here: https://github.com/go-git/go-git/issues/67#issuecomment-630903816

I'll

[2020-05-21 17:43] cyrus43 opened #386 "List of URLs can't run"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Basic Info (please complete the following information):**
 - OS:
 - Gitleaks Version:

**Additional context*

[2020-05-21 18:56] zricethezav commented on #386
No description, closing

[2020-05-21 18:56] #386 closed

[2020-05-27 07:24] kaushalyap opened #387 "Consider adding a comparison with other alternatives"
Please consider adding a feature comparison table to the README with other alternatives like

- https://github.com/michenriksen/gitrob
- https://github.com/dxa4481/truffleHog
- https://github.com/awslabs/git-secrets

[2020-05-27 12:07] zricethezav commented on #387
I like that idea. It would be better suited for the wiki here: https://github.com/zricethezav/gitleaks/wiki which anyone can contribute.

[2020-05-28 23:33] ishaq201 opened #388 "Uknown option --report="
**Bug Description:**
Trying to run the gitleaks docker on an organisation and trying to create a report out of it but i am getting the error saying `Uknown option --report=`, without the report option the image seems to be running fine

**To Reproduce:**
`docker run --rm --name=gitleaks -v `pwd`:/code/ raphaelareya/gitleaks -o <github-org-url --report=/code/report.json --pretty --depth=1`

**Scree

[2020-05-29 00:02] zricethezav commented on #388
You are running the wrong docker image. This is the official image: https://hub.docker.com/r/zricethezav/gitleaks

[2020-05-29 00:42] #388 closed

[2020-05-29 12:20] pburkholder opened #389 "whitelist commit doesn't work for first commit in repo history"
**Describe the bug**

When I provide a list of commits to whitelist like this:

[code]

If a listed commit is the initial commit, it's not whitelisted.

**To Reproduce**

Run this script:

https://gist.github.com/pburkholder/bdffb295bbac4caee4ae86d69671a3be

**Expected behavior**

It should find zero leaks. Instead it still finds one from the initial commit.

**Screenshots**

![image](https://user

[2020-05-30 16:03] zricethezav commented on #384
Gonna remove the bug label but keep this open as it has useful information. Likely will throw this in a wiki page as well.

[2020-05-30 16:06] zricethezav commented on #383
I'm not seeing where the source of the error is from. Could you provide a more detailed error message?

[2020-05-30 16:11] zricethezav commented on #389
Think I found the issue. https://github.com/zricethezav/gitleaks/blob/master/audit/repo.go#L285-L296 these two blocks should be switched.

[2020-05-31 13:07] zricethezav commented on #389
https://github.com/zricethezav/gitleaks/issues/377#issuecomment-630432655 duplicate issue for tracking

[2020-05-31 14:25] #389 closed

[2020-05-31 14:27] zricethezav commented on #373
Is this still an issue? @boly38 @tomi-roam

[2020-05-31 16:38] boly38 commented on #373
my side, a working way is enough to close it, then I'll let you manage this issue state. Thanks 👍

[2020-06-01 21:17] jdispiritoae opened #391 "GITHUB_TOKEN environment variable doesn't seem to work since v.2.1.0"
First, Thank you for writing this awesome software!!

**Describe the bug**
I'm passing the GITHUB_TOKEN environment variable to gitleaks (I've tried every version since v2.1.0) and it seems that when I try to clone a repository it gives me authentication required.

**To Reproduce**
Steps to reproduce the behavior:
using docker build --env-file=envs.txt
My dockerfile runs a python script to gather

[2020-06-02 00:03] zricethezav commented on #391
Access token authentication has been changed to the env var: `GITLEAKS_ACCESS_TOKEN`. Could you try using that and let me know if you are still experiencing issues?

[2020-06-02 13:36] jdispiritoae commented on #391
That fixed it! Thanks.
I also doublechecked and don't see that documented anywhere,  unless I missed something.  It might save someone some trouble one day.

Thank you again!
John.

[2020-06-02 13:36] #391 closed

[2020-06-02 18:35] tomi-roam commented on #373
@ zricethezav It's still failing for me based on a quick test without the workaround. Some details below:

**Ansible playbook steps**
[code]

**Build failure***
[code]

And with that cleaned out a bit the error is:
`package github.com/go-git/go-billy/osfs: code in directory /home/jenkins/go/src/github.com/go-git/go-billy/osfs expects import \"github.com/go-git/go-billy/v5/osfs`

Going to try a few

[2020-06-03 02:02] fmigneault opened #392 "commit-to/commit-from seems broken since v4.2.0"
**Describe the bug**

I'm using the generated docker by this repo to run a custom action https://github.com/fmigneault/gitleaks-action.

When using v4.1.1, I get the following (as expected) :
[code]

But starting with v4.2.0:
[code]

The commands are exactly the sames, as the error seems related to incorrect parsing/resolution of `commit-to` and `commit-from` parameters.

**To Reproduce**
Run some

[2020-06-03 12:51] zricethezav commented on #392
Woof, thats a big one. Pushed a fix now and deploying new version momentarily. Thanks for finding this!

[2020-06-03 13:05] zricethezav commented on #392
Fixed in https://github.com/zricethezav/gitleaks/releases/tag/v4.3.1

[2020-06-03 13:05] #392 closed

[2020-06-03 16:49] fmigneault commented on #392
@zricethezav Thanks

[2020-06-04 13:34] MaKyOtOx opened #393 "Integrate GitLeaks with Patrowl"
Hello,
What about integrate GitLeaks with Patrowl ? (see: https://github.com/Patrowl/PatrowlManager and https://github.com/Patrowl/PatrowlEngines)
With this new engine, it will enable users to have a continuous overview of data/secret leaks and mix these findings collected from other source code scanners (Checkmark, OWASP-DC, Retire.JS, SonarQube, ...) -> Great enhancement in Secure SDLC and SAST

[2020-06-09 23:02] adamdecaf opened #394 "go.sum triggers AWS leak rule"
**Describe the bug**

The following leak is detected when scanning [moov-io/customers](https://github.com/moov-io/customers):

[code]

This commit: https://github.com/moov-io/customers/commit/e80c0333ab600a35ba07b9b4ac994b4aa8fadf17

**To Reproduce**
Steps to reproduce the behavior:

`./bin/gitleaks --depth=10 --repo-path=$(pwd) --pretty --verbose`

**Expected behavior**

No leak should be found a

[2020-06-10 08:26] tdhavalikar opened #395 "Two secrets in same line do not get scanned"
**Describe the bug**
If there are more than one secrets in single line, only one secret gets scanned. The other secrets do not get detected.

**To Reproduce**
1.  Introduce more than one secrets in same line and scan with gitleaks

**Expected behavior**
All secrets in the same line should be detected.

**Basic Info (please complete the following information):**
 - OS: Amazon Linux
 - Gitleaks Vers

[2020-06-11 16:23] yzhou94 commented on #376
Try mount?
docker run -v $PWD:/path zricethezav/gitleaks -v --repo-path=/path

[2020-06-12 09:06] strikergoutham opened #396 "How to scan only pull request of a particular organisation repository"
First of everything, i would like to thank you for such an awesome project! I tried `--pr` option
to scan a particular PR by giving url of the pull request. It still gives me an error "Specified repo not found" can somebody please let me know how to use this feature? what options does this need precisely? Thanks!

Edit 1 : I was able to audit a PR. but the problem is it always results in zero leak

[2020-06-14 13:31] azim254 commented on #386
:joy::joy::joy::joy::joy::joy::joy::joy::joy::joy::joy:
   :joy::joy::joy::joy::joy::joy::joy::joy::joy:
 :joy::joy::joy::joy::joy::joy::joy::joy::joy:

[2020-06-14 14:30] zricethezav commented on #394
@adamdecaf Thanks for pointing that out. The rule defined here https://github.com/zricethezav/gitleaks/blob/master/config/default.go#L16 does not include quotes which would help reduce false positives.

This also brings up another good idea: `go.mod` and `go.sum` files should be whitelisted by default.

[2020-06-14 19:41] #394 closed

[2020-06-14 19:44] zricethezav commented on #393
I'm open to it but this seems like something the maintainers of patrowl would implement. I don't have the time to do something like this unless we are talking $

[2020-06-14 22:49] adamdecaf commented on #394
Awesome, thanks!

[2020-06-15 18:10] jonny-wg2 opened #398 "Whitelist a commit within the rule"
**Is your feature request related to a problem? Please describe.**
I would like to be able to whitelist a commit within the rule. Furthermore, I would like the ability to have multiple whitelists for commits so I can add more descriptive tags from which repo the commit lives etc.

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
I was only able to get it wor

[2020-06-16 09:23] crunchtime-ali opened #399 "Enable traversing multi-level project groups in GitLab"
**Is your feature request related to a problem? Please describe.**

GitLab supports multi-level organizations (project groups) and therefore I would like to be able to traverse the complete organization (or even GitLab instance) with gitleaks

**Describe the solution you'd like**
There should be a `traverse` option which traverses the organization to the most specific level and checks all projects

[2020-06-18 11:12] Ndh-31 commented on #373
go get -u github.com/zricethezav/gitleaks
 package github.com/google/go-github/v29/github: cannot find package "github.com/google/go-github/v29/github" in any of:
 	/usr/local/go/src/github.com/google/go-github/v29/github (from $GOROOT)
 	/go/src/github.com/google/go-github/v29/github (from $GOPATH)
 ERROR: Job failed: exit code 1

how to resolved this error.
thanks

[2020-06-18 15:38] c6g4 commented on #376
this works

[2020-06-29 06:35] CargaisonTuba opened #401 "Any custom rules files ?"
Hi guys !
For some reasons I would like to know if there are available custom rulepack ?
Because the default config only looks for aws and some websites..?
Any place I can find kind of a "starter pack rules" that includes most commons keywords ? Like "password", email, regex, etc etc
Sorry maybe it's not the good place to ask this question
Thanks for your time !

[2020-06-29 14:57] zricethezav commented on #401
Hey @CargaisonTuba there are some example rules located [here](https://github.com/zricethezav/gitleaks/tree/master/examples) and an explanation of how the rules works is in the wiki [here](https://github.com/zricethezav/gitleaks/wiki/Configuration).

That said, I would encourage folks to create their own rulepacks and open a PR or add them to the wiki which is editable by anyone.

[2020-06-29 16:58] bearsystems opened #402 "Can't load package: package gitleaks-linux-amd64: cannot find package "gitleaks-linux-amd64""
**Describe the bug**
I tried to download the latest installer and then I attempted to run through the posted GO command to build from the latest repository but, in both cases I received the following error on my Linux machine:

can't load package: package gitleaks-linux-amd64: cannot find package "gitleaks-linux-amd64" in any of:
        /usr/local/go/src/gitleaks-linux-amd64 (from $GOROOT)

[2020-06-30 13:20] CargaisonTuba commented on #401
Yeah well finally I create some really basic regex about password, MD5 hash (cause it's a weak hash), email (very basic, will detect dzadzaadz@dzadzazd.ckd) here it is :
`[[rules]]
	description = "Basic email regex"
	regex = '''\w{4,36}@[a-z]{3,20}.[a-z]{0,5}'''
	tags = ["email", "address"]

[[rules]]
	description = "Password basic regex"
	regex = '''(?i)pass\w{0,10}\s*:?=+\s*("|'){1,3}.*("|'){1,3