[2021-11-25 17:44] zricethezav commented on #715
released in v8.0.4, thanks @emmahsax

[2021-11-26 06:59] Dentrax commented on #677
Hey @tomdavidson, I forgot here! In case `.gitignore` file does not include in the repository, even I passed the `--no-git`, gitleaks still scans the vendor folders (i.e., `vendor`, `node_modules`, `venv`, etc.) and no behavioral change observed. So this is why we proposed the `ignorelist` key to override unwanted dirs/files on top level.

[2021-11-26 13:34] zricethezav commented on #677
@Dentrax You can use the global allowlist to accomplish this. Setting `paths` to the files/directories you want to ignore will do the trick
[code]

[2021-11-26 20:13] MichaelDenwood opened #718 "Errors Running in Azure DevOps Pipeline"
**Describe the bug**
When Running version 8.0.4 from an Azure DevOps build pipeline, the following errors are generated:
`8.0.4

    ○
    │╲
    │ ○
    ○ ░
    ░    gitleaks

1:05PM DBG No gitleaks config found, writing default gitleaks config to F:\Agents\SaaSProdW2\_work\1656\s\.gitleaks.toml
1:05PM DBG executing: F:\Agents\SaaSProdW2\externals\git\cmd\git.exe -C F:\Agents\SaaSProdW2\_work\165

[2021-11-27 16:29] zricethezav commented on #718
Hi @MichaelDenwood, I unfortunately don't have a azure pipeline to test on or a windows machine. Looks like this error is something to do with the way git is configured based on the discussions on this stackoverflow post https://stackoverflow.com/questions/60371641/git-error-cannot-spawn-more-no-such-file-or-directory

This issue is likely an issue with git configuration, not gitleaks.

[2021-11-28 16:24] JoostVoskuil commented on #532
Reverse the slashes will work. Use / instead of \

[2021-11-28 16:25] JoostVoskuil commented on #532
Problem does not exist anymore with Gitleaks v8

[2021-11-28 16:28] JoostVoskuil commented on #718
Can you run the same pipeline on an hosted agent? I believe 2016 is still available at the moment but It will be gone in a couple of weeks. If 2016 hosted does not work, can you try on a Windows 2019 machine?

[2021-11-29 07:54] PSanetra opened #720 "Exit code is 0 on unknown flag error"
Gitleaks v8.0.4 exits with code 0 when it detects an unknown flag although it just prints an error message.

**To Reproduce**
Steps to reproduce the behavior:
* Execute `gitleaks --non-supported-flag`
* Then output the exit code via `echo $?`

**Expected behavior**
* Gitleaks prints `Error: unknown flag: --non-supported-flag`
* The exit code should not be `0`

**Actual behavior**
* Gitleaks prints

[2021-11-29 19:47] MichaelDenwood commented on #718
Thanks to both @zricethezav  and @JoostVoskuil  for the troubleshooting tips.  These helped lead me to the solution.

For anyone else with this issue:

1.) This only occurs on Self-Hosted agents (because MS-Hosted agents already have the solution in place systemwide)
2.) The self-hosted agent is attempting to use its own distribution of GIT (Agent.HomeDirectory\externals\git).  If you drill down i

[2021-11-29 19:47] #718 closed

[2021-11-30 09:57] codekuu opened #721 "Not finding passwords anymore?"
**Describe the bug**
I ran the exact same command two days ago and got a report on my fake project.
Tried again today without any success.

Never changed anything in the gitleaks config, always used the auto generated one.

Gitleaks output:
[code]

The commit where the passwords are:
[code]

Cat'ing the file to show that passwords are actually there.
[code]

**To Reproduce**
Steps to reproduce the

[2021-11-30 11:33] JoostVoskuil opened #722 "Gitleaks exits with exit code 0 when ambiguous argument to log-opts are provided"
**Describe the bug**
Gitleaks exits with exit code 0 when ambiguous argument to log-opts are provided

**To Reproduce**
Run Gitleaks with log-opts that triggers an error from git log

**Expected behavior**
When error occurs I would expect exit code 1

** Logging**
8:47AM ERR fatal: ambiguous argument '18ee779d989c28192f5d439a91bcbbd3bf11dac2^..ffc5f83a4f995ed146c27fa32227ddfff251f282': unknown rev

[2021-11-30 14:03] zricethezav commented on #721
@codekuu
Post your config file and provide a repo for me to reproduce this with.

Note that I removed the [generic rule](https://github.com/zricethezav/gitleaks/commit/172459102961fc34d334093a59769bb968176f7e) from the default config since it was detecting lots of duplicate keys. If you cloned and built the gitleaks binary since that commit then it would make sense why you are not detecting these

[2021-11-30 14:26] zricethezav commented on #722
I'm not able to reproduce this behavior:
[code]

This chunk of code is responsible for catching errors coming from `git` https://github.com/zricethezav/gitleaks/blob/master/git/git.go#L73-L85

I suppose what could be happening is the goroutine that continues the main execution finishes before the error can be scanned.

[2021-11-30 14:30] zricethezav commented on #720
good catch

[2021-11-30 16:05] zricethezav commented on #720
fixed in https://github.com/zricethezav/gitleaks/releases/tag/v8.0.5

[2021-11-30 16:05] #720 closed

[2021-11-30 16:06] zricethezav commented on #709
@adamdecaf as a stop-gap I removed the generic rule in https://github.com/zricethezav/gitleaks/releases/tag/v8.0.5. I left it commented in the default config in case folks want to enable it.

[2021-11-30 16:46] galmalka opened #724 "gitleaks hangs on protect command if there are no files to scan"
**Describe the bug**
When running protect command, if there are no files to scan, the process hangs. It happens if there are no unstaged files without the --staged flag and vice versa.

**To Reproduce**
Run 'gitleaks protect' without any unstaged changes OR 'gitleaks protect --staged' without any staged changes.

**Expected behavior**
The process should return without any errors

**Screenshots**
N

[2021-11-30 16:49] zricethezav commented on #724
[code]

Seems to be working for me, could post your commands/output like I did?

[2021-11-30 17:20] zricethezav commented on #722
Doing a little more testing and I'm realizing there is no reason to open a goroutine for streaming errors. The error checking should happen once at the beginning and that's it.

[2021-11-30 17:35] billabongrob opened #725 "Broken Link for default config in README"
https://github.com/zricethezav/gitleaks/blob/5e51da600b5f6c08e5a02bc50a3147941db41825/README.md?plain=1#L212

**Describe the bug**
The link to the default config in the readme file results in a GitHub 404 not found error.

**To Reproduce**
Click link "gitleaks config" on line 212

**Expected behavior**
Takes me to a default config:  https://github.com/zricethezav/gitleaks/blob/master/config/gitlea

[2021-11-30 18:24] zricethezav commented on #725
fixed, thanks @billabongrob

[2021-11-30 18:24] #725 closed

[2021-11-30 18:35] zricethezav commented on #722
@JoostVoskuil please try `v8.0.6` and see if this is still an issue

[2021-11-30 18:40] zricethezav commented on #724
This could be related to https://github.com/zricethezav/gitleaks/issues/722 although I doubt it, could you please try `v8.0.6` and see if it is fixed?

[2021-11-30 20:02] JoostVoskuil commented on #722
Awesome, can't reproduce this anymore. You are really fast @zricethezav , can't keep up haha

[2021-11-30 22:22] galmalka commented on #724
Thanks for the quick reply.
First of all, here is the output (with debug logging):
[code]
This is where the process seems to hang.

I checked with version 8.0.6 and it works, but then I also downloaded version 8.0.4 from the releases and when I run the bin from the download directory it works as well (for any version).
So now it seems that the issue only occurs for the version installed by homebre

[2021-11-30 22:46] zricethezav commented on #724
@galmalka thank you for the context. Let's keep this open until its verified on v8.0.6 installed via brew.

[2021-11-30 23:03] paul-m commented on #279
For instance:
[code]
This is a class name with entropy 0 which is a false positive from Gitleaks 8.0.4.

[2021-12-01 12:02] galazat opened #728 "Does not work correctly with the flag (--commit-since) when using the other flag (--branch)"
When using the flag (--commit-since) without the flag (--branch), everything works correctly. Scans 'commits' that are newer than the date. Request example:
[# gitleaks --path=<some-path> --config-path=rules.html --verbose --report=report.on --commit-sense='2021-09-01' ]

But when you add the flag (--branch), the program starts scanning all the 'commits', from the newest to the very first. Request

[2021-12-01 13:35] zricethezav commented on #728
Hi @galazat I am not supporting bug fixes on releases prior to v8. Sorry for the inconvenience

[2021-12-01 13:35] #728 closed

[2021-12-01 17:10] zricethezav commented on #724
@galmalka now that https://formulae.brew.sh/formula/gitleaks is on v8.0.6, could you see if this is still an issue for you? If it's not then we can close this issue

[2021-12-01 22:31] m1nkeh commented on #371
Never really got an answer though, happy to leave it closed though as it's no longer at all relevant to me 👍 🙂

[2021-12-02 00:55] veleek commented on #724
@zricethezav - I'm seeing this same problem on my end in two different situations.

1. Cloned git repo and build on Windows.  Then run `gitleaks protect -v --staged --log-level=debug` hangs same as above.
[code]
2. Running as part of pre-commit in a GitHub action on a Linux machine.  Can't get the exact same output, but it does appear to hang indefinitely (private repo so I can't point to a repres

[2021-12-02 00:59] zricethezav commented on #724
@veleek hmm that's troubling, what version of gitleaks are you using?

[2021-12-02 01:00] veleek commented on #724
Just cloned moments ago.  Here's another repro with a brand new empty repo.

[code]

[2021-12-02 01:01] zricethezav commented on #724
damn, mind sharing what version of `git` you're using?

[2021-12-02 01:02] veleek commented on #724
[code]

[2021-12-02 01:06] veleek commented on #724
Git version being used on GitHubActions build machine is `git version 2.34.1`.

[2021-12-02 01:08] zricethezav commented on #724
Dang, I wish I could reproduce this. I'll try to figure this out by rubber ducky-ing it but if anyone has steps to reproduce on a Mac that would be great.

[2021-12-02 01:15] veleek commented on #724
I'm debugging through the `GitDiff` function to see if I can see.  May be related to #722, but seems odd why it would be.

[2021-12-02 01:24] veleek commented on #724
When there are no files, `GitDiff` returns an empty channel that doesn't appear to be closed.

Calling `range files` on the channel hangs here: https://github.com/zricethezav/gitleaks/blob/master/detect/git.go#L22

[2021-12-02 01:25] zricethezav commented on #724
I have a feeling it might have to do with https://github.com/gitleaks/go-gitdiff/blob/master/gitdiff/parser.go#L18. Can't devote time tonight to look at this but will continue in the morning. Help is welcomed! Thanks for digging more into this @veleek

[2021-12-02 01:26] zricethezav commented on #724
Okay last thought for the night, then

Is probably right, the channel is never closed and nothing is sent to it

[2021-12-02 01:26] veleek commented on #724
Cool, I can dig in more tomorrow if you need it to.  Thanks for the quick response!

[2021-12-02 01:32] zricethezav commented on #724
@veleek okay sorry this is my actual last thought:

https://github.com/gitleaks/go-gitdiff/blob/master/gitdiff/parser.go#L22-L27 needs a `close(out)` before returning.

[2021-12-02 02:46] zricethezav commented on #724
@veleek I know I said I was done for the night but uhm well I lied.

Would you mind pulling the `bump-git-diff` branch https://github.com/zricethezav/gitleaks/tree/bump-git-diff and see if the issue is fixed?

[2021-12-02 07:16] galmalka commented on #724
@zricethezav, I pulled the `bump-git-diff` branch. This version works, but I did notice the problem only for the version installed by homebrew.
Do you know why this might happen and how to reproduce for locally built versions?

[2021-12-02 08:24] galazat commented on #728
Yes, of course I understand. Thanks for the great product anyway)

[2021-12-02 14:02] zricethezav commented on #724
@galmalka

Okay I figured it out. I committed a big no-no in that when I was developing the go-gitdiff dependency I altered the code in my `go/pkg/mod` so the binaries in the release had the [`close(out)` statement](https://github.com/gitleaks/go-gitdiff/blob/master/gitdiff/parser.go#L23) where the binary built by brew, did not.

Lesson learned, I'll stop being lazy and use `replace` in my go.mod

[2021-12-02 14:30] zricethezav commented on #724
leaving this open until confirmed working on v8.0.7 brew

[2021-12-02 18:40] paul-m opened #732 "Document How Configuration Works"
**Describe the bug**

I have a gitleaks.toml file in each of my repos.

They no longer work with gitleaks 8.x.

I modify them to be more like the default configuration.

They still don't work, because they have a lot of false positives and they ignore the allow lists.

Now I have .gitleaks.toml files everywhere, too because gitleaks is being helpful.

I take the hint and move my toml files to be d

[2021-12-02 19:06] paul-m opened #733 "Gitleaks should honor repo root configuration"
**Describe the bug**

If you invoke gitleaks from a subdirectory of a repo, it does not find the root of the repo while looking for configuration.

**To Reproduce**

Run gitleaks at the root directory of a repo. It will generate a `.gitleaks.toml` file there.

Change directories to any other directory within the repo.

Re-run gitleaks. Gitleaks now uses the default configuration rather than the on

[2021-12-02 19:09] zricethezav commented on #732
@paul-m you are right, the documentation is wrong.

it should be
[code]

[2021-12-02 19:21] paul-m commented on #732
Right, that's still completely unclear.

What's the distinction between a `-c` and an `-s`?

[2021-12-02 19:23] zricethezav commented on #732
- `-c` is the path to a config `-c/--config`
- `-s/--source` is the path to the source, aka what is being scanned

[2021-12-02 19:37] zricethezav commented on #733
@paul-m
I don't agree with the bug label. If your CWD is not at the root of the repo then you should use `--config-path` to specify the config otherwise gitleaks will use the path specified in the soon to be fixed documentation of `--config-path`:

[code]

Note: `--source/s` defaults to `.`

This is an enhancement as it would require gitleaks to check if the `--no-git` flag is present. If its _not

[2021-12-02 19:52] zricethezav commented on #733
Alternatively I could make `--source` mandatory which would resolve this issue.

[2021-12-02 20:01] zricethezav commented on #732
Fixed in https://github.com/zricethezav/gitleaks/commit/9358e845883077591b8d4107c452d7aa70cd60ab and https://github.com/zricethezav/gitleaks/commit/958c18f0b721e125da5a4c5e25a6bbce0ea629ea.

Closing this issue but feel free to continue discussing in case it's still not clear.

[2021-12-02 20:01] #732 closed

[2021-12-03 02:19] zricethezav commented on #280
This is accomplished with `secretGroup` in https://github.com/zricethezav/gitleaks/releases/tag/v8.1.0

[2021-12-03 02:19] #280 closed

[2021-12-03 17:24] zricethezav opened #736 "config validation"
**Is your feature request related to a problem? Please describe.**
It would be nice if gitleaks had a `validate` command that would validate examples found in the config rules. Introducing such a feature would speed up rule development and help with debugging.

**Describe the solution you'd like**
`example` entry in the `rules` tables
ex:
[code]
Running `gitleaks validate --config-path={path-to-co

[2021-12-03 20:46] veleek commented on #724
I haven't tried the homebrew version, but it fixes the problem on my box.

[2021-12-03 20:52] zricethezav commented on #724
Good deal, I think I'll be closing this then. Feel free to reopen if the problem persists

[2021-12-03 20:52] #724 closed

[2021-12-04 00:36] nvuillam opened #737 "Unable to ignore paths with --no-git and --source ."
**Describe the bug**

Unable to ignore paths with --no-git and --source .
I tried with regexes, path, files... but I didn't succeed to have a folder ignored ... maybe it's just a toml config error ?

This issue has been detect while integrating gitleaks within [MegaLinter](https://megalinter.github.io/v6-alpha/descriptors/repository_gitleaks/), for the next major version (v6)

**To Reproduce**

Ha

[2021-12-04 06:12] llaville commented on #737
Issue confirmed here locally with
- OS: Ubuntu 18.04 LTS
- Docker: 20.10.11, build dea9396

Strange, because I've a local git clone of my project. I've also tried with sudo without any results.

All info in screenshot

![gitleaks_detect](https://user-images.githubusercontent.com/364342/144699740-7036d66f-671b-440c-926b-a2903508a9df.png)

[2021-12-04 09:44] nvuillam commented on #737
@llaville i had this problem too, it's not exactly the one I describe ^^ For your case, I think that using `--source /path` will do the job... then bring you to my problem :)

[2021-12-04 10:04] llaville commented on #737
@nvuillam No way 😕, relative or absolute path give me the same results

![gitleaks](https://user-images.githubusercontent.com/364342/144705511-8dde3075-39da-4c41-82c9-3a36fba0dcda.png)

[2021-12-04 14:31] zricethezav commented on #737
@llaville please open another issue. The one you are describing is not related to the one @nvuillam opened.

[2021-12-04 14:38] zricethezav commented on #737
@nvuillam I'm unable to reproduce this

[![asciicast](https://asciinema.org/a/453618.svg)](https://asciinema.org/a/453618)

[2021-12-04 15:10] llaville opened #738 "[v8.1] unable to scan source path"
**Describe the bug**
Cannot be able to scan a git clone repository with following docker commands (simple user or root account with sudo)
- `docker run -v $(pwd):/path zricethezav/gitleaks:latest detect`
- `docker run -v $(pwd):/path zricethezav/gitleaks:latest detect --no-git`
- `docker run -v $(pwd):/path zricethezav/gitleaks:latest detect --source .`
- `docker run -v $(pwd):/path zricethezav/gi

[2021-12-04 15:17] galmalka commented on #724
Works from homebrew, thanks @zricethezav!

[2021-12-04 15:23] zricethezav commented on #738
@llaville you need to do what @nvuillam [suggested](https://github.com/zricethezav/gitleaks/issues/737#issuecomment-986000028)

`docker run -v $(pwd):/path zricethezav/gitleaks:latest detect --source /path`

[2021-12-04 15:25] zricethezav commented on #737
And fwiw, this is the bit of code that prevents allowlisted files from being scanned: https://github.com/zricethezav/gitleaks/blob/master/detect/detect.go#L23-L26

[2021-12-04 15:53] llaville commented on #738
![gitleaks_detect_ok](https://user-images.githubusercontent.com/364342/144715810-95581408-e0c6-4f4f-8da6-8c1788e850a3.png)

@zricethezav Ok it works.
If `--source /path` identify the mount container directory, is this `--source` option really usefull, especially if default as we can read is `-s, --source string          path to source (default: $PWD) (default ".")`

[2021-12-04 15:57] nvuillam commented on #737
@zricethezav I use absolute path for config file, maybe it changes something ?

`[gitleaks] command: ['gitleaks', 'detect', '-c', '/github/workspace/.gitleaks.toml', '--no-git', '--verbose', '--source', '.']`

[2021-12-04 15:57] llaville commented on #738
I don't understand what you means by default, when option requires an argument

![gitleaks_detect_source](https://user-images.githubusercontent.com/364342/144716078-ab5a4dee-15b1-4888-99b4-7d5283ae8023.png)

[2021-12-04 16:01] zricethezav commented on #738
@llaville
`--source` needs an argument

The default argument for `--source` is `.` if `--source` is not set

Using `docker run .... detect --source` results in an error because you have no argument for `--source`

Closing this issue

[2021-12-04 16:01] #738 closed

[2021-12-04 16:01] lostatc opened #739 "Include rules for browser cookie databases in default config"
**Is your feature request related to a problem? Please describe.**

The Register [recently reported](https://www.theregister.com/2021/11/18/firefox_cookies_github/) that there's been an epidemic of GitHub users pushing their browser cookie databases as part of their public dotfiles repos, which is a problem because browser cookies often include authentication tokens. GitHub apparently isn't planni

[2021-12-04 16:02] zricethezav commented on #737
@nvuillam If you run the command with `--log-level=debug` you will be able to see what config is being used

[2021-12-04 16:03] nvuillam commented on #737
Thanks, i'll do that and keep you posted :)

[2021-12-04 16:08] llaville commented on #738
@zricethezav But remember that command `docker run -v $(pwd):/path zricethezav/gitleaks:latest detect` (without `--source` option, then default `.` applied) won't works.

`4:06PM ERR fatal: not a git repository (or any of the parent directories): .git`

[2021-12-04 16:11] llaville commented on #737
@nvuillam Something like
[code]

[2021-12-04 16:36] zricethezav commented on #738
@llaville that is fine because the default value for —source is set for ease of use on developers local machines. The documentation is clear, —source must be set when running in docker. This issue is not a bug. Feel free to open a PR if you think the documentation is lacking.

[2021-12-04 17:36] nvuillam commented on #737
@zricethezav I have better results, I succeeded to ignore paths, but now it's... .gitleaks.toml files that don't succeed to ignore :/ ( I tried with regexes and files )

I have several .gitleaks.toml files in the repo

Any tip ? )

Config:

[code]

job:

https://github.com/megalinter/megalinter/runs/4418273978?check_suite_focus=true

[2021-12-04 17:40] lostatc commented on #739
To reduce the chance of a false positive, it might be possible to match on the name of the parent directory as well, which might look something like this for Firefox and Chromium respectively:

[code]

[code]

[2021-12-04 19:43] zricethezav commented on #737
@nvuillam please reference the configuration example in the readme: https://github.com/zricethezav/gitleaks#configuration

Your config is wrong. If you want to ignore `.gitleaks.toml`s you need to add that to your `allowlist.paths`. This probably should be the default behavior which I'll open a PR for that soon.

So something like:
[code]

[2021-12-04 20:11] nvuillam commented on #737
I looked in gitleaks own gitleaks.toml... and we have regExp in `regexes` and in `paths` ... that's not crystal clear, I think that documentation should contain more examples to avoid other users to be lost like I've been ^^

Also, if `paths` can contain regex, how is it possible that a dot is sometimes recognized as a dot without escape character (ex: `'''.automation/test'''`), or as a dot with e

[2021-12-04 21:08] #737 closed

[2021-12-06 15:46] paul-m commented on #733
Thanks.

"If your CWD is not at the root of the repo then you should use --config-path to specify the config"

Well, that's the issue. I don't think you should have to, and I wasted an afternoon on the assumption that you wouldn't have to. :-)

I'd say it's a bug because it's going to drop a bunch of extra .gitleaks.toml config files in my repo that will then become false positives.

Thanks again

[2021-12-06 16:03] zricethezav commented on #733
I'll fix this by defaulting to ignore any config tomls

[2021-12-07 12:16] jantari opened #740 "Custom configuration always results in "no leaks found" or apparently doesn't extend default config?"
**Describe the bug**
We have a repo with old secret leaks that have since been rotated and are no longer relevant.
I wanted to exclude the commits with these leaks as per the documentation, but whenever I run gitleaks
with the custom configuration file it reports "no leaks found" despite me only adding some of the commits
with leaks to the allowlist.

**To Reproduce**
Steps to reproduce the behavi

[2021-12-07 14:16] zricethezav commented on #740
That is the case. Extending/merging is not supported right now but I am open to introducing that functionality in a future release. I need some time to think about how to do that. Perhaps something like

[code]

`operation` could either be "replace" or "append"

Please open a PR if you think the documentation is unclear.

Closing this issue. Feel free to open another issue with a request to merge/

[2021-12-07 14:16] #740 closed

[2021-12-07 15:00] jantari commented on #740
Thanks for the clarification, I'll open another issue and see if I can come up with a useful docs PR as well

[2021-12-07 15:27] jantari opened #741 "Ability to merge / extend / append the default config"
**Is your feature request related to a problem? Please describe.**

I want to be able to change/override just a few settings from the default configuration for our needs without the need to keep and maintain a copy of the entire settings for gitleaks locally.

As per #740 that is currently not possible, specifying a custom configuration file always fully replaces all configuration.

**Describe the

[2021-12-07 17:39] zricethezav commented on #648
closing this issue as it should be fixed in latest version

[2021-12-07 17:39] #648 closed

[2021-12-07 17:40] #543 closed

[2021-12-07 17:40] zricethezav commented on #497
You can use `--log-opts` now to manage what commits get scanned

[2021-12-07 17:40] #497 closed

[2021-12-07 17:41] #541 closed

[2021-12-07 17:52] k0ral commented on #741
Would you consider adopting [Dhall](https://dhall-lang.org/) as a configuration file language ?
It has an active [Golang binding](https://github.com/philandstuff/dhall-golang) and, I believe, would essentially answer all refactoring/modularity needs for `gitleaks` configuration.

[2021-12-07 23:13] agonzalez-plume commented on #700
Just updated from 7.6.1 to latest master and my regex's are really greedy now. Almost the entire file is being detected in each run.  Before 1Mb json output file w/842 detections, now 47Mb output file w/42 detections.

What's the new trick for regex's?

[2021-12-07 23:46] zricethezav commented on #700
@agonzalez-plume what rule is bloating the report?

[2021-12-08 01:17] agonzalez-plume commented on #700
Can't say my regex is perfect, I have a .* in there, and a pretty liberal [\x20-\x7e], as well as a not expression for anything except '*'
encryption[\\]+",.*[\\]+"key[-\d+]*[\\]+",[\\]+"[\x20-\x7e][^*]+[\x20-\x7e][\\]+.*]]]

[2021-12-08 01:39] zricethezav commented on #700
@agonzalez-plume having a `.*` means all bets are off as I'm not limiting the output by character length like I was before

[2021-12-08 03:14] alangonzalez commented on #700
Yeah, like most regexes there a couple of other ways I can write it.  Will take a look at making it simpler.

[2021-12-08 04:04] agonzalez-plume commented on #700
An update, it wasn't the .*, it was the [^*].  It's gobbling up the characters.  To fix, I added to not like closing brackets too (since it's a section delimiter for my text) -> [^*\]] and now it's detecting it the same as 7.6.1

[2021-12-08 14:37] rodrigoramosrs opened #743 "No ARM Release After v8.0.0"
**Describe the bug**
There are no arm version after v8.0. The latest version with arm build is v7.6.1

cc @zricethezav

[2021-12-08 17:12] zricethezav commented on #743
@rodrigoramosrs good call, i'll add this back in next release. this was an unfortunate casualty from switch my ci/cd setup

[2021-12-08 21:27] zricethezav commented on #743
@rodrigoramosrs https://github.com/zricethezav/gitleaks/releases/tag/v8.1.3 here you go

[2021-12-08 21:27] #743 closed

[2021-12-09 14:43] zricethezav opened #744 "Remove writing default config"
**Describe the solution you'd like**
Writing a default config if no `--config` option is set turned out to be a poor design imo. It becomes difficult to manage all the configs when running gitleaks in different directories.

**Additional context**
Add any other context or screenshots about the feature request here.

cc @zricethezav

[2021-12-09 14:47] zricethezav opened #745 "Introduce loading config from env var `GITLEAKS_CONFIG`"
**Describe the solution you'd like**
Users should be able to load a global config if `GITLEAKS_CONFIG` env var is set

[code]

**Additional context**
If the user does not provide a config path from one of the three options then the default config will be used.

cc @zricethezav

[2021-12-09 15:27] #744 closed

[2021-12-09 15:27] #745 closed

[2021-12-09 15:29] zricethezav commented on #733
Closing this as I have changed my mind. I don't want gitleaks to be responsible for finding the root of the repo when you can use `--config-path` or `GITLEAKS_CONFIG` env var to load configs.

New config usage:
[code]

[2021-12-09 15:29] #733 closed

[2021-12-09 15:32] zricethezav commented on #610
`ruleID` has been added to the sarif report. See https://github.com/zricethezav/gitleaks/blob/master/report/sarif.go#L47-L48

Closing issue

[2021-12-09 15:32] #610 closed

[2021-12-09 15:39] codekuu commented on #721
Hi @zricethezav  sorry for the late response. Yes it works now, thanks for what ever you did!👯‍♂️

[2021-12-09 15:39] #721 closed

[2021-12-09 17:01] derekmurawsky commented on #741
I am +1 ing this. This functionality previously existed with the `--additional-config` CLI option. We were integrating gitleaks into our CI/CD process and were relying on this functionality to allow development teams to manage an exception list. I would either like that old capability back, or the ability to merge configs as noted by @zricethezav here https://github.com/zricethezav/gitleaks/issues

[2021-12-10 05:56] damiencarol commented on #610
@zricethezav awesome!

[2021-12-10 09:17] leoxhj opened #748 "to support scan remote github repos"
**Is your feature request related to a problem? Please describe.**
For some reason, organization in github need scan all their repos for code security.

**Describe the solution you'd like**
Parameters to support scan remote github repos

for example:
[code]
@zricethezav

[2021-12-10 14:01] zricethezav commented on #748
hi @leoxhj as stated in the v8 announcement I do not want gitleaks to be responsible for cloning repos. A simple script similar to the one presented here https://github.com/zricethezav/gitleaks/pull/667/files would do the trick

[2021-12-10 14:01] #748 closed

[2021-12-13 12:29] visionarchitect opened #751 "--no-git option does not seem to be working properly"
**Describe the bug**
I have large solution with many leaks both in git history and in current version
When I run gitleaks detect with --no-git option (which I assume should recursively scan all folders) no leaks are returned and scan finishes really fast

**To Reproduce**
Use Webgoat project and run default config with detect and --no-git

**Expected behavior**
Recursively go through all folders a

[2021-12-13 13:17] visionarchitect commented on #751
Found it!

if !godocutil.IsText(b) {
				return nil
			}

Normal text files are identified as binary and skipped!
Works much better with this code removed from files.go

[2021-12-13 14:42] visionarchitect commented on #751
Ok this is what I did to debug
`if !godocutil.IsText(b) {
				fmt.Println(pa)
				return nil
			}`

![image](https://user-images.githubusercontent.com/3788334/145832528-9e3f62af-5d90-4a46-b9b6-f8681f744c5d.png)

And here is what I got
[webgoat.txt](https://github.com/zricethezav/gitleaks/files/7704579/webgoat.txt)

[2021-12-13 14:52] zricethezav commented on #751
@visionarchitect hmmm that's odd, https://go.dev/play/p/ZUjmtCvMLPw seems to be working. I can try reproducing this locally after work. Maybe
[code]
should be removed.

FWIW this is the doc for `IsText(b)` https://pkg.go.dev/golang.org/x/tools/godoc/util#IsText

[2021-12-13 14:56] visionarchitect commented on #751
Maybe this is Windows specific.
I will try Linux later today. This have occurred on different desktops and VM's today. (well I am not sure if exactly this but I was trying to instruct some people to use gitleaks for their repo and I failed to show them it works)

[2021-12-13 15:07] visionarchitect commented on #751
Maybe you should use
IsTextFile() instead

[2021-12-13 15:10] zricethezav commented on #751
IsTextFile() instead

I encourage you to look at the code for `IsTextFile`, all that that function is doing is checking the file extension and opening the file then calling `IsText`

[2021-12-13 15:11] zricethezav commented on #751
@visionarchitect

😬

Let me know what you find! Thanks 😄

[2021-12-13 15:52] visionarchitect commented on #751
looks like linux/windows issue - probably you can't see it on mac too
Same repo
Linux:
![image](https://user-images.githubusercontent.com/3788334/145843886-35c48483-a485-4adb-990f-599f477a99cd.png)

Windows:
![image](https://user-images.githubusercontent.com/3788334/145844065-502e720a-c19a-4de2-a5d2-f9f3e6824c58.png)

[2021-12-14 22:59] johnjeffers opened #752 "invalid memory address or nil pointer dereference"
**Describe the bug**
`gitleaks detect` with no other options throws an `invalid memory address or nil pointer dereference` on some, but not all, of my repos. On some repos it works fine, on others it throws this or a similar error.

**To Reproduce**
run `gitleaks detect` on an affected repo

**Expected behavior**
`gitleaks detect` returns a result

**Screenshots**
[code]

**Basic Info (please comp

[2021-12-14 23:03] zricethezav commented on #752
@johnjeffers That is coming from https://github.com/zricethezav/gitleaks/blob/master/detect/detect.go#L61. I suppose that should be checked for nil.

Can you rerun with `--log-level=debug` and post your config that you are using?

[2021-12-14 23:10] johnjeffers commented on #752
Well damn, it looks like there's an existing `.gitleaks.toml` in the repos where it's failing. So I'm sure that must be the problem. Sorry to bug you, and thanks for the quick response!

[2021-12-14 23:16] zricethezav commented on #752
@johnjeffers thanks for opening this issue! The gitleaks config should be validated before continuing the program. If a rule is defined, it needs to have a `regex` or a `path` defined.

[2021-12-15 06:18] vivekyad4v opened #753 "Does it support scanning all the branches?"
If I run a scan against an existing huge repo, will it scan all the branches that exist in a repo?

[2021-12-15 14:48] zricethezav commented on #753
@vivekyad4v by default yes since `--all` is passed into the `git log` command (see here https://github.com/zricethezav/gitleaks/blob/master/git/git.go#L26-L27 ). If you want to have more control and specify a branch you can use `--log-opts={branch_name}`.

https://git-scm.com/docs/git-log for reference

[2021-12-15 14:48] #753 closed

[2021-12-16 12:06] dineshchand1984 opened #755 "Different results"
**Describe the bug**
A clear and concise description of what the bug is.
scan the same code, with release 7.2.1 and 8.2.1.
Both give out different results.

**To Reproduce**
Steps to reproduce the behavior:
Scan the same code with 7.2.1 and 8.2.1 release

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help ex

[2021-12-16 13:43] zricethezav commented on #755
@dineshchand1984 not a bug, many changes have gone into gitleaks between v7.2.1 and v8.2.1 including a new config with 70+ new rules

[2021-12-16 13:43] #755 closed

[2021-12-16 14:01] dineshchand1984 commented on #755
But why old leaks ( with release 7.2.1 ) are not getting detected in 8.2.1.
e.g. "offender": "AIDAAAAAAAAAAAAAAAAA" was a leak in 7.2.1 as "rule": "AWS Access Key" but no more in 8.2.1>

[2021-12-16 14:09] zricethezav commented on #657
closing, pre-commit is working as intended https://asciinema.org/a/455683

[2021-12-16 14:09] #657 closed

[2021-12-16 14:11] zricethezav commented on #755
@dineshchand1984 part of the AWS rules were unintentionally dropped but have been readded in https://github.com/zricethezav/gitleaks/commit/f4d37a2c0d9892bdffb4c61093a06767e4a33504.

Those changes will go out in the next release.

You can always roll your own config if you don't like the defaults.

[2021-12-17 02:56] akhilmishra109 commented on #736
Hi,
getting below error while adding Gitleaks extension in Azure DevOps Server.
![image](https://user-images.githubusercontent.com/65621826/146481495-64bfcb89-4759-4042-a5df-335a9140ac56.png)
Need your help to resolve the issue.
Thanks in advance.

[2021-12-17 03:06] zricethezav commented on #736
@akhilmishra109 I don’t maintain the gitleaks extension for azure and cannot help with your issue unless you provide more information. Additionally this issue is not the place to discuss bugs. Open a new issue if you want me to look at something

[2021-12-17 03:08] akhilmishra109 commented on #736
Sure Zachary. Thanks

[2022-01-03 10:15] KameleonSec commented on #751
Same issue here, trying to upgrade to gitleaks_8.2.1_linux_x64 there are allot of files that aren't beeing scanned and leaks that are missed.
Running gitleaks-linux-amd64 with --no-git option finds leaks that the most recent versions do not.

[2022-01-05 09:37] sharath-sequoia commented on #677
@Dentrax, here's what worked for us:
gitleaks --path=. -v --no-git --additional-config=.gitleaks.toml

And that config file contains the paths to ignore as described by @zricethezav. It wasn't clear how to use it as additional config (instead of the only config). Running the gitleaks -h helped.

[2022-01-05 19:36] mark-ship-it commented on #751
I can confirm this also breaks in a `.pre-commit-config.yaml` file also:

[code]

Error: unknown flag: --no-git

[2022-01-07 16:44] mickutz opened #762 "Gitleaks can't handle files with CRLF terminated lines"
**Describe the bug**
When scanning files with CRLF terminated lines gitleaks will not detect secrets.

**To Reproduce**

- Create a new file and add a secret to it. Check that end of line sequence is set to LF first. In VSCode it's indicated in the bottom bar on the right hand side.
Running a scan will detect the secret.
- Change end of line sequence to CRLF and save the file.
Running a scan now w

[2022-01-07 16:54] zricethezav commented on #762
@mickutz It's because of https://github.com/zricethezav/gitleaks/blob/master/detect/files.go#L54-L56. That check has caused some issues elsewhere so probably best to just remove it. Allowlist filtering can be the responsibility of the user

[2022-01-07 16:59] #762 closed

[2022-01-07 18:38] zricethezav commented on #751
@visionarchitect closing this issue with the release of v8.2.7, reopen if it doesn't fix it for ya

[2022-01-07 18:38] #751 closed

[2022-01-09 08:17] foolioo opened #764 "configuration version and verification"
**Is your feature request related to a problem? Please describe.**
There is a coupling between GitLeaks version and its configuration, since configuration are not always compatible. E.g., from [version 8.1.0 release notes](https://github.com/zricethezav/gitleaks/releases/tag/v8.1.0)

When looking at the configuration, there is no indication with which GitLeaks version it is compatible, and when ru

[2022-01-09 10:55] cvhariharan commented on #736
Hello @zricethezav, if this is still an open issue, I would like to give it a go.

[2022-01-09 14:36] zricethezav commented on #736
@cvhariharan by all means

[2022-01-09 22:34] crazy-matt commented on #752
@johnjeffers I was experiencing the same issue using the gitleaks docker image. Until I revisit my toml config file by validating rule by rule and find out that one of them was not using the correct syntax.
I tried:
`file = '''(.*?)(id_rsa|passwd|id_rsa.pub|pgpass|pem|ppk|key|shadow)$'''`

and then

`paths = ['''(.*?)(id_rsa|passwd|id_rsa.pub|pgpass|pem|ppk|key|shadow)$''']`

while I should have u

[2022-01-10 10:43] JPStrydom opened #766 "Running "protect" scripts via Husky pre-commit hook fails on Windows with CRLF line endings"
**Describe the bug**
When running `protect` via a pre-commit hook using husky, it fails with errors:
[code]

Running the `protect` script manually works, it only fails in pre-commit hooks.

My `package,json`:
[code]

**To Reproduce**
Run the `protect` script on a project in the Windows file system as a Husky pre-commit hook.

My `huskyrc.js`:
[code]

**Expected behavior**
The commit should pass if

[2022-01-10 11:09] JPStrydom commented on #766
Just to clarify, the `protect` scripts works when running it in isolation. It only fails when running in a Husky pre-commit hook. See this output below where I first run the script manually and then via a pre-commit hook (I've hilighted the scripta steps in yellow)
![image](https://user-images.githubusercontent.com/25905330/148756147-06d683eb-f4d5-441b-8e98-65a1105877a7.png)

[2022-01-10 11:17] Dentrax commented on #677
Nice! Should we add this usage scenario in the README? @zricethezav

[2022-01-10 12:44] IyotakeTatanka opened #767 "Scan on precommit still not working"
The precommit scan is not working. Therefore secrets are getting committed.

This is not working [video](https://asciinema.org/a/455683).
I am using husky to run gitleaks as pre-commit hook:

[code]

[2022-01-10 15:13] zricethezav commented on #767
I don't know what husky is and you haven't provided any details. Closing this issue.

[2022-01-10 15:13] #767 closed

[2022-01-10 15:18] zricethezav commented on #766
@JPStrydom this error is coming from `git`. What happens when you run `git log -p`? I also don't know what Husky and don't claim to support it. Sounds like this issue should be opened for Husky. Closing this.

[2022-01-10 15:18] #766 closed

[2022-01-10 15:28] cvhariharan commented on #736
Hello @zricethezav, I have created this [PR](https://github.com/zricethezav/gitleaks/pull/765)

[2022-01-10 15:50] JPStrydom commented on #766
Husky is just a pre commit tool. Regular pre commit hooks (as you specify in your readme) gives the same issue. Will have a look at the git issue, but if your tool is causing pre-commit hooks on Windows, it might be worth checking out.

[2022-01-11 10:21] JensVanhulstSolita opened #768 "Error when running git push : git:2: = not found on MacOS"
**Describe the bug**

1. Installed gitleaks with : `brew install gitleaks`
2. Created config file : https://github.com/zricethezav/gitleaks/blob/master/config/gitleaks.toml
3. Run Gitleaks with : `gitleaks detect -s . -v -c ~/gitleaks-config.toml && git exitloop "$@"`

**BUG** :
Installing gitleaks brakes the `git push` command and produces the following error:

<img width="615" alt="Screenshot 20

[2022-01-11 13:51] zricethezav commented on #768
I'm unable to reproduce this. I would guess something funky is going on with your $PATH

[2022-01-12 11:54] JPStrydom commented on #766
For those looking for a sollution/workaround - manually changing the line endings on all files to `LF` fixed the issue for me. Still wish they could add a propper fix for this, because the manual change can be quite tedious.

[2022-01-12 14:31] zricethezav commented on #766
Try messing with the git config

from https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration#Formatting-and-Whitespace

[code]

[2022-01-13 08:24] bj185023 opened #770 "Out Of Memory issue is seen during 'commit'"
**Describe the bug**
Out Of Memory error is seen during commit.

**To Reproduce**
Executing 'commit' is throwing Out Of Memory error.

**Basic Info (please complete the following information):**
 - OS: Win10
 - Gitleaks Version:

**Additional context**
Add any other context about the problem here.

cc @zricethezav

[2022-01-13 08:24] bj185023 commented on #770
*** pre-commit ***
HooksPath=C:\Work\GitHub_Source\finplat-tools-shared\git-hooks
WorkingDir=/c/Work/GitHub_Source/finplat-feature-pcusbtch_1
Running gitleaks with default config C:\Work\GitHub_Source\finplat-tools-shared\git-hooks/gitleaks-ncr-config.toml
time="2022-01-13T11:25:39+05:30" level=info msg="opening .\n"
runtime: out of memory: cannot allocate 394264576-byte block (989691904 in use)
f

[2022-01-13 13:39] zricethezav commented on #770
looks like your running an old version of gitleaks, I recommend upgrading. Reopen if you still find this is an issue

[2022-01-13 13:39] #770 closed

[2022-01-13 21:24] sindhujarudra opened #771 "Gitleaks not scanning Readme.md and yaml files for secrets"
Describe the bug
I have gitleaks extension installed on my AzureDevops. I have added the stage in my yaml file for repo to detect the secrets.
Repo has different file types with hardcoded secrets ( AZURE PAT tokens).
1. .ps1
2. cs
3. yml
4. Readme.md
5.json

When I run my pipeline, it detects the secrets in .json/cs/.ps1 files and it is ignoring Readme.md/yml files. Is this expected.
I have attach

[2022-01-14 04:38] sergiomarotco opened #772 "gitleaks_8.2.7_windows_x64.zip"
**Describe the bug**
How to instal for Windows?

**To Reproduce**
I download gitleaks_8.2.7_windows_x64.zip
trying to start `gitleaks detect <my git repo URL>`
and i get an error:
`←[90m11:35AM←[0m ←[1m←[31mFTL←[0m←[0m Failed to get git log ←[31merror=←[0m←[31m"exec: \"git\": executable file not found in %PATH%"←[0m`

**Basic Info (please complete the following information):**
 - OS: win 10 x64
 -

[2022-01-14 16:27] zricethezav commented on #772
@sergiomarotco
1. `"exec: \"git\": executable file not found in %PATH%"←[0m` means you need `git` installed
2. `gitleaks` does not accept URLs, you need to clone the repo you want to scan and provide the path to it: `gitleaks detect --source=<path to repo>`

[2022-01-14 18:42] sergiomarotco commented on #772
@zricethezav thanks comrade!

[2022-01-14 18:42] #772 closed

[2022-01-17 14:49] JensVanhulstSolita commented on #768
Magically started working after a restart. Closing now.

[2022-01-17 14:49] #768 closed

[2022-01-18 13:13] joealba opened #773 "Backward-compatible --version command line option?"
**Is your feature request related to a problem? Please describe.**

Thanks for creating gitleaks!  It's a handy tool, for sure.  The recent command line changes do simplify the options and code quite a bit, but I'd like to propose a backward-compatible consistent way to retrieve the version number so any tooling like pre-commit hooks can be built to be version-aware in a straightforward way for pr

[2022-01-19 18:47] galiagante opened #775 "Findings With Empty Fields (Github Anomaly?)"
**Description**
I though to contact you first about an issue I’ve seen pop up intermittently with a small number of private repos. When scanned with ‘gitleaks’ 8.x (I’m using 8.2.7, presently), the generated findings are missing elements. See screenshots below. This might indicate an unexpected edge case in a repo's structure logic that has not been accounted for, or some (new?) structural error i

[2022-01-20 00:10] sindhujarudra opened #776 "Pull Request with scan Mode "smart" is throwing an Error: "Cannot read property 'length' of null""
Hi, I using smart mode for my azure task in my repo. When I run the smart mode scan from my working branch, it works fine but I create a PR to merge it to master, it is throwing me

Error : "##[error]Cannot read property 'length' of null".

![image](https://user-images.githubusercontent.com/46533139/150238749-78275438-5646-47d9-9a31-e82e48f1ef14.png)

Any inputs here?

@zricethezav

[2022-01-22 19:28] JoostVoskuil commented on #776
Hi @sindhujarudra , can you raise this issue at: https://github.com/JoostVoskuil/azure-devops-gitleaks. You are using the Azure DevOps extension. That uses Gitleaks. I will look into this issue

[2022-01-22 19:33] JoostVoskuil commented on #771
Hi @sindhujarudra , can you raise this issue at: https://github.com/JoostVoskuil/azure-devops-gitleaks. You are using the Azure DevOps extension. That uses Gitleaks. I will look into this issue

[2022-01-25 10:11] malexmave opened #777 "`--log-opts` for parameters containing spaces"
**Describe the bug**
When using `--log-opts` with a parameter that contains spaces, quoting does not seem to be respected.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
I would expect the long version to also work - am I doing something wrong with the quoting, or is this a bug in gitleaks?

**Basic Info (please complete the following information):**
 - OS: Latest

[2022-01-25 14:12] zricethezav commented on #777
$ gitleaks detect --log-opts="--since='5days'"

This is how you gotta do it

[2022-01-25 14:12] #777 closed

[2022-01-25 14:14] zricethezav commented on #776
Thanks @JoostVoskuil, looks like you got it. Closing this issue 🙇🏻

[2022-01-25 14:14] #776 closed

[2022-01-25 14:14] zricethezav commented on #771
Thanks @JoostVoskuil, looks like you got it. Closing this issue 🙇🏻

[2022-01-25 14:14] #771 closed

[2022-01-26 17:30] raro42 opened #778 "Improve generic regex"
**Describe the solution you'd like**

I have the following secret in my secret.json file in a repo:
{
    "client_id" : "0afae57f3ccfd9d7f5767067bc48b30f719e271ba470488056e37ab35d4b6506",
    "client_secret" : "6da89121079f83b2eb6acccf8219ea982c3d79bccc3e9c6a85856480661f8fde",
    "response_type" : "id_token"
}

I would like to recognize it with the default regex provided in your repo.

The follow

[2022-01-27 22:13] rasa opened #779 "Ignore lines/blocks/files containing `gitleaks-disable` or listed in `.gitleaksignore` file"
**Is your feature request related to a problem? Please describe.**

I want to ignore scanning files that have example secrets in them.

**Describe the solution you'd like**

Have gitleaks ignore files that have a specific string, such as `gitleaks-disable` appearing somewhere before the example secrets.

**Describe alternatives you've considered**

Hack the config file. This is difficult when call

[2022-01-29 03:24] rasa commented on #779
See https://github.com/secretlint/secretlint/blob/master/docs/configuration.md#ignoring-error-by-comments and
https://github.com/secretlint/secretlint/blob/master/docs/configuration.md#secretlintignore

[2022-02-04 20:37] k0ral commented on #775
I've stumbled into the same issue, and in my case, this happens when a changeset includes a binary file diff: [`go-gitdiff`](https://github.com/gitleaks/go-gitdiff/) fails to parse the specific format used by `git log` for binary diff, and the **subsequent** changeset from `git log` ends up producing a finding with empty fields.

[Fixing the binary diff parsing](https://github.com/gitleaks/go-gitd

[2022-02-07 09:11] De-Luxis opened #781 "It complains about hash sum go-logr/stdr v1.2.2 in the go.sum file"
**Describe the bug**
Writing a golang application. Run `go get github.com/go-logr/stdr@v1.2.2` and get an error in gitleaks:
[code]
[go.sum.gz](https://github.com/zricethezav/gitleaks/files/8013812/go.sum.gz)

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Basic Info (please complete the following information):**
 - OS: Linux
 - Gitleaks Version: latest by docker hub

cc @zricethezav

[2022-02-07 10:40] jetexe commented on #781
Confirm. I can reproduce https://github.com/jetexe/gitleaks-bug/runs/5091667497?check_suite_focus=true

[2022-02-07 10:55] j0k2r opened #782 "Invalid SARIF report on empty configuration file"
**Describe the bug**
Running Gitleaks with an empty configuration file will produce an invalid SARIF report.

**To Reproduce**
Steps to reproduce the behavior:

- Run gitleaks with an empty configuration file
- Validate the SARIF output file with a `json-schema` like program
- Validation error: Failed to validate the SARIF data [None is not of type 'array'] rules

**Expected behavior**
A valid SAR

[2022-02-08 03:55] De-Luxis commented on #779
For `.gitleaksignore` can use the package https://github.com/iriri/minimal.
If no one will do it, then I'll try to do PR.

[2022-02-08 12:53] dfernandezvalero opened #784 "Error when secretGroup is less than len(groups)"
You can only use the last group from a multiline regex when you set the `secretGroup` config. The error is found in the line https://github.com/zricethezav/gitleaks/blob/v8.2.7/detect/detect.go#L87.

The condition should be `if len(groups)-1 < r.SecretGroup || len(groups) == 0`

cc @zricethezav

[2022-02-08 12:55] dfernandezvalero commented on #784
https://github.com/zricethezav/gitleaks/blob/991223ababf9675cb7d92f55ee46b08762822581/detect/detect.go#L87

[2022-02-13 11:17] k0ral commented on #775
FYI I've found another issue in `go-gitdiff` that causes empty fields the same way: https://github.com/gitleaks/go-gitdiff/pull/2 .

[2022-02-15 12:01] chriswolfdesign commented on #782
Good morning!

I believe I have fixed this issue through PR: https://github.com/zricethezav/gitleaks/pull/786

Of course, any feedback or change requests are always appreciated.  Have a great day!

Adding the reason for the bug in case future issues like this arise:

REASON FOR BUG -- json.Encoder() handles empty slices in a strange way. By default, this function sets empty slices to null (I have

[2022-02-16 20:25] maciej-redzik opened #787 "AllowList for false-positive regex does not work"
**Describe the bug**

When I add custom regex to [allowList] to provide custom flags to my code, gitleaks still counts that as positive.
I've created my solution based on discussion from here [Link](https://github.com/zricethezav/gitleaks/issues/579)

**To Reproduce**
My [allowlist] (in custom *.toml file):
[code]
My source code (Program.py):
[code]
I'm invoking gitleaks using following command-li

[2022-02-19 18:13] C1ph3R-s opened #788 "specified branch"
Hi,

I used v7.6.1 version until now, but I have to update it.
I would like to know, how can i run on a specified branch in the latest version?

Thanks,

[2022-02-19 23:13] zricethezav commented on #788
@C1ph3R-s you can pass a `--log-opts` value to specify the branch name.

Say you want to scan _only_ commits for the `feature-1` branch which is branched off `develop` _and_ you don't want to include commits from `develop`, you could run `gitleaks detect source={path to source} --log-opts="develop^..feature-1"`,

Or, if you're certain that the currently checked out branch on `source` is the base r

[2022-02-20 10:48] C1ph3R-s commented on #788
Thank you :)

[2022-02-20 10:48] #788 closed

[2022-02-22 12:14] cyrusmatsumori opened #790 "Rule with 'path' and without 'regex' section occur an error with SARIF output format"
**Describe the bug**
Using rule (see below) with path and without regex section as gitleaks config occur an error (with SARIF report format): `panic: runtime error: invalid memory address or nil pointer dereference`

Rule:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use rule as config:
[code]
2. Run `gitleaks . detect --source . --config="files-with-keys-and-credentials.toml" --re

[2022-02-22 22:12] zricethezav commented on #787
@maciej-redzik good catch, taking a look at this. This likely isn't working due to the fact that `allow:gitleaks` is outside the regex capture. As such, I'm not sure I would consider this a bug as `"Match": "discord_client_secret = '8dyfuiRyq=vVc3RRr_edRk-fK__JItpZ'"` does not contain `allow:gitleaks`.

Perhaps we should re-frame this issue as an `enhancement` to support commented/inline "allows"?

[2022-02-22 22:13] zricethezav commented on #790
reopening until new release

[2022-02-22 22:33] zricethezav commented on #784
@dfernandezvalero good catch, although I'm confused as to why multiline regexes are of concern here. I was seeing this behavior for non-multiline regexes as well

[2022-02-22 22:35] zricethezav commented on #784
reopening until new release

[2022-02-22 23:17] #790 closed

[2022-02-22 23:17] #784 closed

[2022-02-24 09:50] sergiomarotco opened #793 "Add into report full link to the file with secret"
**Describe the solution you'd like**
I suggest adding a full link to the secret file to the report. This will allow you to quickly open the secret file instead of looking for it in Git
Like this:
`"Match": " *** ",

  "Secret": " *** ",

  "File": " *** / *** / *** /file-with-secret.***",

  **"FileURL": "Https://git.domain/*** / *** / *** /file-with-secret.***",**

  "Commit": " *** ",`

[2022-02-24 12:57] zricethezav commented on #793
@sergiomarotco that could be useful but I don't see an easy way to do that. How do you suggest that be accomplished?

[2022-02-24 13:04] zricethezav commented on #793
I suppose `git remote get-url origin` could be used. However, there would need to be some translation from ssh to https if users cloned via ssh

[2022-02-24 19:20] adamdecaf opened #795 "gitleaks binary is detected as leaked secrets"
**Describe the bug**
The change to remove godoc text filtering seems to allow the gitleaks binary to be caught as a leaked secret.

**To Reproduce**
Part of our CI steps download the `gitleaks` binary and run it locally. This allows us to cache the binary on machines inside the git repository.

**Expected behavior**
The gitleaks binary should not be detected as a secret.

A quick dump of the binar

[2022-02-24 19:22] adamdecaf commented on #795
I tested v8.2.6 and the binary was not detected, but v8.2.7 throws the errors. Since there's only one commit in v8.2.7 this seems the obvious cause.

![Screen Shot 2022-02-24 at 11 21 29 AM](https://user-images.githubusercontent.com/120951/155592757-7bd95711-73fb-44a5-b7d8-851bb5de0304.png)

[2022-02-25 07:47] k0ral commented on #793
I'd like to respectfully argue that this shouldn't be `gitleaks`' responsibility :) .

Indeed, since [release `8.0.0`](https://github.com/zricethezav/gitleaks/releases/tag/v8.0.0), `gitleaks` is no longer responsible for cloning git repositories, so to be consistent, `gitleaks` should remain unaware of where the repository was cloned from.

Besides, the file URL may not be a well-defined concept:

[2022-02-25 11:02] sergiomarotco commented on #793
Okay, I understand you. Now I am adding the repository path to the report from the power shell. I also call Gitleaks from the power shell

[2022-02-25 11:02] #793 closed

[2022-02-28 00:22] thockin commented on #781
Seems fixed?

[2022-02-28 05:34] De-Luxis commented on #781
Apparently not.
https://github.com/jetexe/gitleaks-bug/runs/5355357395?check_suite_focus=true

[2022-02-28 10:23] sergiomarotco opened #796 "HashiCorp Vault secretid and roleid"
I using regex: `(?i)(secretID|RoleId)(=|>|:=|\|\|:|<=|=>|:).{0,10}['\"]([0-9a-zA-Z]{8})(-)([0-9a-zA-Z\-]{4})(-)([0-9a-zA-Z]{4})(-)([0-9a-zA-Z]{4})(-)([0-9a-zA-Z]{12})['\"]`

Exmple  SecretID and RoleID format: **1234567n-35h7-123c-12m3-123456789g12** ( 8-4-4-4-12)

https://regex101.com/r/8fNQfz/3

Rule:

[[rules]]
id = "HashiCorp Vault parameters"
description = "HashiCorp Vault SecretID and RoleID

[2022-02-28 17:34] thockin commented on #781
Weird, yesterday my repro attempt was clean, now it shows this error.  It is getting "LTAI563KZ5YKYRhT3MFKZMbj" from a larger hash string "hSWxHoqTgW2S2qGc0LTAI563KZ5YKYRhT3MFKZMbjag=".  I don't know what heristic makes this make sense, but this tool should probably ignore go.sum and go.mod files.

[2022-03-01 03:49] De-Luxis commented on #781
I think a solution with gitleaksignore files would be ideal:
https://github.com/zricethezav/gitleaks/issues/779

[2022-03-01 06:53] jetexe commented on #781
ignoring of those files already merged years ago #397. But was removed in v8 #683

I opened a new pull request #797

[2022-03-01 07:41] sergiomarotco opened #798 "Russian language pack"
Need support for other languages, I'm ready to translate into Russian

[2022-03-01 07:54] sergiomarotco opened #799 "Failure to generate a work report"
**Describe the solution you'd like**
In the process of searching for errors in the log from Azure DevOps pipeline, I came across an interesting problem.
I noticed after an hour and a half of work the following problem happens:
![image](https://user-images.githubusercontent.com/29877074/156126208-6722cbf0-f0fe-45e5-b84f-cdaf75fcf68b.png)
after _match:_ the code of the analyzed file is displayed, in

[2022-03-01 10:13] sergiomarotco commented on #799
As I understand it, the problem is with the minified JS code (spaces, line breaks and other characters have been removed from the code to make it difficult for an attacker to study the code)
![image](https://user-images.githubusercontent.com/29877074/156150102-bac8007c-879a-4184-8d56-51f35d92a723.png)
@zricethezav It is necessary to limit the maximum length of parameter "match" and "secret" values

[2022-03-01 16:16] #781 closed

[2022-03-02 16:35] bplaxco opened #800 "Add a flag to enable scanning both the git commit message as well as the commit conntent"
**Is your feature request related to a problem? Please describe.**
There have been several cases where folks were looking to open source their repositories where we wanted to scan not only the codebase but also their commit messages for secrets. (Folks manage to put secrets in the most interesting places).

**Describe the solution you'd like**
I would like the ability to add a flag to include scan

[2022-03-03 14:00] sergiomarotco opened #801 "New parametr "branch" in report"
Please add parameter "branch"
[code]

[2022-03-03 17:48] #801 closed, assigned to nobody

[2022-03-07 10:38] pylapp opened #803 "Need to look for Android keystore objects"
**Is your feature request related to a problem? Please describe.**
Of a repository has leaked is keystore file and the credentials to access it, the scan does not see it.

**Describe the solution you'd like**
As a developer making scan of repositories
I wan to check in Android-projects-related files like keystores have leaked
So that I can contact colleagues and remove such files

**Describe alter

[2022-03-14 11:20] mmanski opened #805 "Generic api key rule is leaky"
### Is your feature request related to a problem? Please describe.
Yes, the Generic API Key fails to detect some obvious secret patterns, like passwords with special characters or Basic Auth credentials. It also does not detect secrets longer than 64 characters.

### Describe the solution you'd like
The Generic API Key rule regexp should catch special characters, like `@` and `:` and detect secret

[2022-03-14 11:45] sergiomarotco commented on #805
haha, I found about 40 variants of secrets in my code that Gitleaks does not find.  I have not written regular expressions yet, then I plan to push them.

[2022-03-14 11:55] sergiomarotco commented on #805
I met authorization JWTs right in the code, they are 200 characters long

[2022-03-14 21:40] eduardofavarato commented on #787
Hey @zricethezav, first of all thanks for maintaining gitleaks 🙏🏼
I just to upvote this and say we could really use this feature as currently there is no way to ignore a line.
Thanks again!

[2022-03-16 16:11] #799 closed

[2022-03-17 12:31] zricethezav commented on #798
maybe some day

[2022-03-17 12:31] #798 closed

[2022-03-18 13:47] sergiomarotco commented on #803
@pylapp  As I see it, @zricethezav does not write regular expressions, you need to write a regular expression yourself and commit with your regular expression

[2022-03-18 20:25] oleyv-cl opened #807 "Discover secrets in base64 encoded strings"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
It is currently possible to search for base64 encoded string. After the base64 sting is found, would it be possible to decode the string and pass it through the gitleaks detection logic again in the decoded form to discover potential secrets within base64?

**Describe alternatives you've co

[2022-03-18 21:32] zricethezav commented on #807
This feature request sounds more like you want me to add support for accepting piped input, is that correct?

[2022-03-19 15:09] zricethezav commented on #787
I have a draft of this feature available on this branch/pr:

https://github.com/zricethezav/gitleaks/pull/809

cc @eduardofavarato @maciej-redzik

[2022-03-20 01:23] eduardofavarato commented on #787
Hi @zricethezav, thanks a lot! I have tested it locally and it's working perfectly. 👏🏼👏🏼👏🏼

[2022-03-21 12:54] OleyV commented on #807
Re-reading the request I've realized that piped input will definitely help without overcomplicating the code logic.

[2022-03-21 14:44] adamdecaf commented on #795
@zricethezav Any idea how we can fix this? I can try to detect the binary if that would work.

https://github.com/h2non/filetype offers a helpful matcher for this

[code]
[code]

[2022-03-22 13:19] svyotov opened #811 "gitleaks ignores bad fields in the configuration silently"
**Describe the solution you'd like**

A developer mistakenly set up the wrong field in the configuration, `whitelist` vs `allowlist`, `paths` vs `files` (see `Additional context`).
Or they might just misspell something. In those cases currently `gitleaks v8.5.0` continues as if nothing happened. This is an issue because the developer is left wondering why the tools does not work. This could probab

[2022-03-22 13:22] svyotov commented on #805
Same here @zricethezav, the default rules are too lenient. These here are a good starting point IMHO : https://github.com/GSA/odp-code-repository-commit-rules/blob/master/gitleaks/rules.toml

[2022-03-22 13:41] sergiomarotco commented on #805
"Pure Entropy" looks interesting

[2022-03-22 15:03] zricethezav commented on #805
Thank you for the suggestions, I have plans to update the generic rule with a new regex. Something like
[code]

which should catch most of what is missed here

[2022-03-22 19:32] #795 closed

[2022-03-23 01:21] Izzmo commented on #805
@zricethezav when will this be in a release?

[2022-03-23 01:37] zricethezav commented on #805
@Izzmo that regex will be part of a larger feature, so idk, maybe in a month or something

[2022-03-23 16:24] svyotov commented on #811
After some looking and asking around, I believe this library could potentially be used for that: https://github.com/mitchellh/mapstructure/

[2022-03-24 14:45] sergiomarotco opened #813 "Secrets in web.config files"
**Is your feature request related to a problem? Please describe.**
nope

**Describe the solution you'd like**
I noticed that if the secret is in the web.config file (for example, "Web.Release.config"), the Gitleaks does not find the secrets due to the presence of the word "value" in the line

![image](https://user-images.githubusercontent.com/29877074/159941396-a7b2ff53-4a9c-44b7-ad86-1a376ac1b8a7

[2022-03-28 03:40] kbroughton opened #816 "new global allowlist prevents regex matches where key contains 'secret' (or any allowlist variable)"
**Describe the bug**
The new addition in #808 of stopwords like "secret" is designed to eliminate noise from values with "secret" on the RHS of an assignment which indicate further substitution, like "AWS_KEY" = {{aws_secret}}. However, if the identifier (LHS) on the line includes one of the stopwords, then you will skip over that as well. I think it's actually quite common to use "secret" or "tok

[2022-03-28 13:24] zricethezav commented on #816
@kbroughton you are right, thanks for filing this issue. I've reverted this and released v8.5.2. I'll have to think about a better way to implement this feature.

[2022-03-28 18:23] #816 closed

[2022-03-29 06:44] anotherbridge opened #820 "Segmentation violation error when forbidding certain files"
**Describe the bug**

When trying to include certain files only with a path I get a runtime error telling me that there is a segmentation violation. As a baseline I used the [path_only.toml](https://github.com/zricethezav/gitleaks/blob/master/testdata/config/path_only.toml) from the test data.

However, when adding a regex there is no error and gitleaks runs as expected.

**To Reproduce**
[path_on

[2022-03-29 16:57] zricethezav commented on #820
Fixed with https://github.com/zricethezav/gitleaks/releases/tag/v8.5.3, reopen if you're still experiencing problems

[2022-03-29 16:57] #820 closed

[2022-03-31 09:25] danysprof opened #821 "Incoming commits are not scanned as part of pre-receive hook"
**Describe the bug**
When scanning repository in a gitlab per-recieve hook, the incoming commits are ignored.

**To Reproduce**
Setup per-recieve on gitlab
`gitleaks detect -v --config=rule-file.toml --source=.`

**Expected behavior**
command detecting secrets in the incoming commits

**Actual behavior**
incoming secrets are not detected and get committed to the repository. All subsequent pushes f

[2022-03-31 12:38] zricethezav commented on #821
@danysprof I haven't set up a pre-recieve hook on gitlab. This is a feature request, not a bug. If anyone has set up a pre-recieve hook feel free to chime in.

[2022-03-31 12:57] zricethezav commented on #821
@danysprof can you provide more details? What is the output when setting `--log-level=debug`?

[2022-04-01 13:27] Krelen opened #822 "Hardware specifications, os , dependencies"
Hello guys,

I am trying to find a tool for a secret scanning ( locally about 500mb repos)
May you tell me if there are any hardware  specifications for potential server ,OS , CPU cores etc.
Also any network configurations like ports and tunnels ?

Thank you in advance!

[2022-04-01 13:53] zricethezav commented on #822
Hi @Krelen, I'm not sure what you're requesting. Gitleaks can be used cross-os on most popular architectures. See the releases page. Gitleaks does not make any network connections.

[2022-04-03 07:07] danysprof commented on #821
Created a new repository with a single empty file.
We have a rule that prevents pushing UUIDs, so this should fail.
[code]
After the UUID was pushed to remote
[code]
In both cases it scanned only what was already in the repository, but not the incoming data.

[2022-04-04 09:57] Krelen commented on #822
HI,
Any hardware requirements like ram, cpu cores etc ?

[2022-04-04 15:27] #822 closed

[2022-04-05 11:58] ibrahimejaz opened #823 "Reg. using the code base in a organisation!"
Hi,
We're looking for an option where we can use your code base either cloning or forking.. for both repos. i.e., gitleaks and gitleaks-action.. It would be really great if you shed us ideas, I've tried cloning the code base for both repos but there are dependencies and can't able to make use of it. Any suggestions welcome.. Thanks.

[2022-04-05 14:03] imaditiagg opened #824 "Default gitleaks config file doesn't detect all the generic api secrets"
**Describe the bug**
Default gitleaks config file (gitleaks.toml) doesn't detect all the generic api secrets e.g generic secrets where secret key is enclosed within quotes.

**To Reproduce**
Steps to reproduce the behavior:
e.g "testSecret" : "test" - This secret doesn't get detected by gitleaks.

**Expected behavior**
An additional rule can be added to detect such secrets as well.
e.g One possibl

[2022-04-05 14:07] zricethezav commented on #824
Hi @imaditiagg, this is not a bug since you can configure the regex with a custom gitleaks.toml. The generic rule doesn't claim to capture all secrets as it has to maintain a healthy balance of True Positives to False Positives.

[2022-04-05 14:07] #824 closed

[2022-04-05 14:09] zricethezav commented on #823
Hi @ibrahimejaz,

[code]

Updates are coming to gitleaks-action, although I'm not exactly sure what it is you are requesting. Closing this issue for now but feel free to continue the discussion.

[2022-04-06 03:25] sergiomarotco opened #826 "Flags "-no_msg" to disable print "Message""
**Is your feature request related to a problem? Please describe.**
nope

**Describe the solution you'd like**
Add a possible start flag that would allow not to display the Message field
![image](https://user-images.githubusercontent.com/29877074/161889640-f8fb1a33-75ec-4298-8286-b48bf54045f4.png)
This will reduce the log size

cc @zricethezav

[2022-04-06 03:26] sergiomarotco commented on #807
I vote for this feature

[2022-04-06 05:49] sergiomarotco opened #827 "Add validation config parameter"
**Is your feature request related to a problem? Please describe.**
maybe

**Describe the solution you'd like**
Add to the validation rules a configuration file containing an invalid sequence of characters: ,''',

**Describe alternatives you've considered**
Manual error search as usual

**Additional context**
![image](https://user-images.githubusercontent.com/29877074/161904411-3840d148-ba80-4e92-b

[2022-04-06 08:55] ibrahimejaz commented on #823
Hi @zricethezav
We're trying to use your code base under our own repository by either cloning or forking it, since some the dependencies files are been controlled. So was wondering if you could help on that part, we also would like to see if we could sponsor if incase we can customise both repos i.e., gitleaks and gitleaks-action under our own repository and try using that instead of this public r

[2022-04-06 09:28] va1entin opened #828 "Generic regex matches but Gitleaks doesn't detect secret"
**Describe the bug**
The [generic regex](https://github.com/zricethezav/gitleaks/blob/v8.6.0/config/gitleaks.toml#L630) matches the following pattern:

`secret = "super_secret"`

Gitleaks does not detect that secret though.

**To Reproduce**
Add the secret above to a repo and run gitleaks detect on it.

**Expected behavior**
Gitleaks detects the secret, because the regex matches the secret.

**Bas

[2022-04-06 13:01] zricethezav commented on #828
`super_secret` has an entropy value of 2.86. To be considered a secret it needs an entropy value of 3.7

[2022-04-06 13:01] #828 closed

[2022-04-06 13:02] zricethezav commented on #826
I don't plan on implementing this feature. Limiting the message length is something I have planned though.

[2022-04-06 13:02] #826 closed

[2022-04-06 13:17] va1entin commented on #828
Thanks for the heads-up! I think 3.7 is quite a high default for the generic regex, which is probably why it felt like a bug. Be that as it may - it'd be great, if we could extend the config as requested in #741 to just set the entropy to 0 and keep all the other defaults.
Is a config extension feature on the roadmap currently?

[2022-04-06 13:45] sergiomarotco opened #829 "Flag -add_full_row"
**Is your feature request related to a problem? Please describe.**

Sorry for my English

Now I'm trying to write regular expressions that find something themselves, instead of first trying to find something with my eyes and writing rules for an already found secret, for which there is no rule yet.  And so far there are a lot of false positives.

What about another option: -add_fullrow.  The param

[2022-04-06 13:49] sergiomarotco commented on #813
can anyone write a regular meeting or improve the current one?

[2022-04-06 16:05] sergiomarotco opened #831 "15 vulns in base image"
![Снимок веб-страницы_6-4-2022_23443_app snyk io](https://user-images.githubusercontent.com/29877074/162018456-e08b2bac-612a-4e15-a955-fafab267a8ca.jpeg)

[2022-04-06 17:50] nkadel opened #833 "Undocumented goland and git version requirements"
**Describe the bug**
Git and golang have minimum version requirements to build gitleaks

**To Reproduce**
On a RHEL 7 server, git clone this repo and run "make build"

**Expected behavior**
I expect a successful build. Instead, the golang download fails on the standard git 1.8.3.
If an updated git is installed, it fails on golang 1.16 being too old, and requiring golang-1.17.

**Screenshots**
If a

[2022-04-07 13:16] KameleonSec opened #834 "--no-git option does not seem to be working properly"
**Describe the bug**
This is very simalir to issue #751.
When I run gitleaks detect with --no-git option (which I assume should recursively scan all folders) no leaks are returned and scan finishes really fast wihtout going into all subdirectories.

**To Reproduce**

1. Create any private RSA key (.pem) or any other secret for that matter in a nested directory structure.
Like this: /example/nest1/

[2022-04-07 13:38] zricethezav commented on #834
Hmmm I'm unable to reproduce this issue unfortunately,

[code]

Using a more granular `source`:
[code]

[2022-04-07 13:38] zricethezav commented on #834
@KameleonSec can you provide the output when you use `--log-level=debug`?

[2022-04-07 13:48] KameleonSec commented on #834
Played with the directory names and got it again.
All secrets are located under /builds/CI_CD/CI/Tests (as expressed in the nesting above)

`/home # /tools/gitleaks detect -s "/builds/CI_CD/CI/" --log-level=debug -v --no-git --exit-code=0

    ○
    │╲
    │ ○
    ○ ░
    ░    gitleaks

1:41PM DBG No gitleaks config found in path /builds/CI_CD/CI/.gitleaks.toml, using default gitleaks config
[trun

[2022-04-08 10:50] pijoter opened #836 "separate gitleaks from git so any tool that feed unified diff log can be used as source"
**Is your feature request related to a problem? Please describe.**
gitleaks is a great tool but is limited to git as a scm; would be nice if gitleaks (as security detection engine) could be separated from source log data (git or raw files if --no-git option is used)

**Describe the solution you'd like**
something like:
`git log -p --ancestry-path "$(git rev-parse HEAD~1)".."$(git rev-parse HEAD~0)

[2022-04-08 13:03] zricethezav commented on #836
Hi @pijoter, I don't have any intention of separating `git` from `gitleaks` but I do plan on supporting what you are requesting at some point in the near future. What I am envisioning is a `--pipe` option that operates similar to `--no-git` on the `detect` command in that is changes the default scan type from `git` to accepting `stdin`. So you could do things like
`git log -p --ancestry-path "$(gi

[2022-04-17 16:18] aaron42net opened #842 "Slice bounds out of range panic in v8.7.0 detect.(*Detector).Detect()"
When running v8.7.0 `gitleaks detect -s .` against my repo, I get this panic in `detect.(*Detector).Detect()` line 398:
[code]

`d.prefilter.FindAll()` is run on the output of `strings.ToLower()`, while the slice operation is not.  `strings.ToLower()` is Unicode-aware. Perhaps it changed the length of the string.  I'd maybe suggest running `strings.ToLower(fragment.Raw)` once here and passing the

[2022-04-17 17:57] zricethezav commented on #842
@aaron42net thanks for raising this issue. Could you check if the changes pushed here https://github.com/zricethezav/gitleaks/tree/fix-842 fix your issue?

[2022-04-18 18:46] wjessop commented on #842
I had the same issue. I built master and still get the issue:

[code]

[code]

[2022-04-18 19:03] zricethezav commented on #842
@wjessop can you try building from this branch: https://github.com/zricethezav/gitleaks/tree/fix-842 and letting me know if it is still an issue?

[2022-04-18 19:25] wjessop commented on #842
Yup, that worked, thanks!

[2022-04-18 19:57] #842 closed

[2022-04-19 02:07] fnk0c opened #844 "Gitleaks ignoring git safe.directory"
**Describe the bug**
When running `gitleaks` at `Gitlab CI` it returns the following error and workaround:
[code]

However, the workaround doesn't seem to be taking effect as the error keeps happening.

**To Reproduce**
*gitlab-ci.yml file*

[code]

*Execution output*
[code]

**Expected behavior**
Add directory to exception list and don't fail

**Screenshots**
![image](https://user-images.githubus

[2022-04-19 13:54] tuan1986le commented on #844
Root cause: The owner of the directory is different than the (current) user, performing git/gitleaks
(as in the example below, `root` and `gitleaks`)

1. the first run `gitleaks detect --source "/src"` got error

the fix `git config --global --add safe.directory` should be placed at same docker/user as the `gitleaks ` command

2. the second run `gitleaks detect --source "/src"` is successful

[cod

[2022-04-19 15:00] zricethezav commented on #844
This is an environment issue rather than a gitleaks issue. If you need support on getting your environment set up I will be offering commercial support soon. Closing this issue for now.

Thank you @tuan1986le for providing a solution.

[2022-04-19 15:00] #844 closed

[2022-04-20 16:54] fnk0c commented on #844
Thank you, @tuan1986le. Works perfectly

[2022-04-20 18:04] emmahsax opened #846 "GitLeaks is erroring on an unsafe repository"
**Describe the bug**
Since upgrading to GitLeaks 8.7+, running GitLeaks on CI gets the following error:

[code]

This is easily fixed by inserting that suggested line into our CI files:
[code]

But I didn't see anything in the documentation about intentional changes to gitleaks that would cause this. So, I wanted to bring awareness to it just in case nobody knew this was coming up. So far, I've ru

[2022-04-20 19:28] varac commented on #778
I was surprised that a simple yaml file with the content `password: aghoh8oubu1obin9Cagae0u` is not recognized (this is a test password, please don't try to hack me based on this :) ). Is this a bug or is `password` really not in the default regex (it should!) ?

[2022-04-20 19:31] zricethezav commented on #778
@varac there is a small bug where I need to include EOL regex in the secret suffix. Will be pushing out a fix tonight hopefully.

[2022-04-20 19:34] varac commented on #778
I don't understand, but that's not important. looking forward for the fix.
@zricethezav could you please answer the questions from @raro42, I'm also interested how you are testing.

[2022-04-20 19:41] zricethezav commented on #778
https://github.com/zricethezav/gitleaks/blob/master/cmd/generate/config/rules/generic.go

[2022-04-20 19:53] zricethezav commented on #846
Thanks @emmahsax, looks like this is similar to https://github.com/actions/checkout/issues/760. I'm not sure what a solution would look like at the moment unfortunately.

[2022-04-20 20:46] bpo commented on #846
You can avoid this issue by running `git config --global --add safe.directory /app` before launching gitleaks, assuming you know that the target directory is safe. Or ensure that the directory has the same owner before starting.

In my fork of [the GitHub action](https://github.com/bpo/gitleaks-action) I had to work around it slightly further by modifying the user of the Docker container to root s

[2022-04-20 22:55] #778 closed

[2022-04-20 22:55] zricethezav commented on #778
@varac @raro42 see fix in https://github.com/zricethezav/gitleaks/pull/847

[2022-04-20 23:21] zricethezav commented on #846
Thanks @bpo, I think this is more of an environment issue rather than something that should be fixed in Gitleaks. I suppose Gitleaks _could_ shell out `git config --global --add safe.directory {source dir}` but that seems like a bad idea...

I originally was gonna update the docker file with some default paths to make safe but am holding off on that: https://github.com/zricethezav/gitleaks/blob/82

[2022-04-20 23:45] bpo commented on #846
My comment was unclear: I agree that this is environmental, not for gitleaks to fix. Gitleaks won't be guaranteed to have appropriate permissions to declare a safe directory. I'm not sure modifying the config within the Dockerfile would even help because the volume isn't yet mounted.

An approach that might work for Docker is to set the safe directory from a dedicated entrypoint script, then step

[2022-04-21 03:35] emmahsax commented on #846
Interesting. I figured it was environment-based, but I guess assumed that maybe there should be more documentation on how to avoid this issue if it arises. In another workflow, I run this command:
[code]

So, I believe, I am setting the volume.... how is that different than mounting?

[2022-04-21 04:28] bpo commented on #846
Not different. The action where you attach your volume (`docker run`) happens after the Dockerfile is processed by `docker build`. So the `git config --global --add safe.directory` command in the Dockerfile would be declaring a path to be "safe" before it exists, which might not cause an error but is at least strange-looking.

Yes. This is caused by a [very recent change in Git](https://github.blo

[2022-04-21 11:46] Janne-Nykanen commented on #778
The "Generic API Key" rule now (v8.7.2) matches lines similar to this (Terraform):
"client_vpn_endpoint_id = aws_ec2_client_vpn_endpoint.client-vpn-endpoint.id"

How is that leaking anything...?

[2022-04-21 12:38] Janne-Nykanen commented on #778
@zricethezav I'm not fully getting the regexp logic in question, but it seems to ignore, say, "client_cidr_block". In a similar way, "client_vpn_endpoint_id" should be overridden.

[2022-04-21 12:45] ibrahimejaz commented on #823
@zricethezav Can you pls share us your ideas on the same. Thanks.

[2022-04-21 13:08] zricethezav commented on #778
@Janne-Nykanen
`client_cidr_block` has a low entropy. (3.45)

`client_vpn_endpoint_id` has a high enough entropy to be considered a secret. (3.7)

[2022-04-21 13:38] Janne-Nykanen commented on #778
Thanks @zricethezav you are my hero :)

[2022-04-21 13:38] zricethezav commented on #846
Happy to accept a PR if someone wants to write up a little blurb about this in the README. If not I can get to it after work today. In either case, thanks for the help @bpo @emmahsax!

[2022-04-21 13:54] adamdecaf opened #850 "v8.7.2 detects Kubernetes RBAC as a generic secret"
**Describe the bug**
Version v8.7.2 of gitleaks returns a false positive on the following file. (Highlighted area)

https://github.com/moov-io/infra/blob/master/lib/lb/10-traefik-rbac.yml#L31-L32

**To Reproduce**
Run gitleaks v8.7.2 on the following file.

**Expected behavior**
No error to be returned.

**Screenshots**

[code]

**Basic Info (please complete the following information):**
 - Gitlea

[2022-04-21 14:02] zricethezav commented on #850
This https://github.com/zricethezav/gitleaks/blob/master/cmd/generate/config/rules/rule.go#L31-L37 list

[2022-04-21 16:26] zricethezav commented on #850
Another list: https://github.com/XingyuGit/RepoSimilarity/tree/ac956c9ab18cfac5ad45e4a245f51eb6dce9c11c/text_based

[2022-04-21 16:36] emmahsax commented on #846
Thanks!

[2022-04-21 17:48] varac commented on #778
I tried with gitleaks `8.7.2` but I could commit `password: aghoh8oubu1obin9Cagae0u` in a yaml flle once again without gitleaks complaining. Should I create a seperate issue for this ?

[2022-04-21 17:53] zricethezav commented on #778
@varac are you using your own config?

[2022-04-21 17:56] zricethezav commented on #778
@varac it's because `aghoh8oubu1obin9Cagae0u` does not have a high enough entropy (3.64) to be considered a secret (3.7). I'll consider dropping it down to 3.6 once I have more stopwords.

[2022-04-21 19:38] varac commented on #778
@zricethezav Interesting - testing this password with [dwolfhub/zxcvbn-python](https://github.com/dwolfhub/zxcvbn-python) shows 100000000000000000000001 guesses are needed (and falls in the `centuries` crack category).
`dwolfhub/zxcvbn-python` is the python port of the original [dropbox/zxcvbn](https://github.com/dropbox/zxcvbn), which [dropped using entropy in favor of guesses a some time ago](ht

[2022-04-21 20:03] zricethezav commented on #778
@varac

It does. `password: aghoh8oubu1obin9Cagae0u` fails on the entropy heuristic.

No I haven't. I maintain gitleaks in my free time and don't have the ability to do everything. I will look at this.

[2022-04-21 20:13] zricethezav commented on #778
using `zxcvbn-python` for this doesn't entirely make sense since there could be a lot of false positives give that gitleaks is trying to extract credentials from code. Passing `this.secret.function` into zxcvbn would result is a strong password, I'm assuming.

[2022-04-21 22:01] #850 closed

[2022-04-21 22:06] zricethezav commented on #850
@adamdecaf Should be fixed with https://github.com/zricethezav/gitleaks/releases/tag/v8.8.1. Please add any other stop words you think are helpful here https://github.com/zricethezav/gitleaks/blob/master/cmd/generate/config/rules/stopwords.go

[2022-04-22 10:06] varac commented on #778
Is there an easy way to measure/tune entropy thresholds ? I.e. how did you find out the entropy for this password that you mentioned above ?

[2022-04-22 13:13] adamdecaf commented on #850
Will do, thanks @zricethezav!

[2022-04-22 16:14] RUBenGAMArrarodRiguEZ-ToMtOm commented on #384
Hi @zricethezav it seems that the link is broken, https://github.com/zricethezav/gitleaks/wiki/FAQs direct here https://github.com/zricethezav/gitleaks
Is possible still to see how is documented?

[2022-04-22 16:33] zricethezav commented on #384
@RUBenGAMArrarodRiguEZ-ToMtOm I removed the wiki as the README/issue search is sufficient documentation. This issue is not a problem anymore since Gitleaks no longer relies on go-git

[2022-04-23 13:46] lutzwillek-tomtom commented on #834
Good day to you @KameleonSec and thank you for opening the issue,

I could not reproduce the behave as well. In order to use a clean environment (to avoid that any local, environment specific settings could influence the result) I used a docker container.

This is how I prepared the test setting:
[code]

This is how I tested.
First, using gitleaks:v8.6.1
[code]

Followed using gitleaks:v7.6.1 for

[2022-04-23 14:37] lutzwillek-tomtom commented on #834
@KameleonSec while re-checking the local setup, would you mind testing if the path eventually contains some symbolic links? I ask because after thinking for a while what possibly could have caused the issue you reported, "CI_CD" started to ring a bell, and a quick test shows the following:

[code]

[2022-04-23 15:16] lutzwillek-tomtom commented on #831
Thank you @sergiomarotco for opening this issue.
This should be fixed meanwhile by #848  - I could not find an issue anymore: ![Screenshot 2022-04-23 at 17 14 28](https://user-images.githubusercontent.com/72460064/164912146-3c9c72b9-164d-4344-a7d2-24404c0f2f6c.png)

Would you mind to re-check on your side as well?

[2022-04-23 15:53] lutzwillek-tomtom commented on #572
Hello @w0rmr1d3r,
gitleaks did not detected the [certificate](https://en.wikipedia.org/wiki/Public_key_certificate) as a [certificate is not a secret](https://stackoverflow.com/questions/28446654/why-certificate-is-not-a-secret-in-ssl-authentication).  This means merging #656 would cause a lot of false positives.

In case there is a specific reason why a certificate should be detected, then a usin

[2022-04-24 17:00] w0rmr1d3r commented on #572
Hi @lutzwillek-tomtom !
Agree, since @zricethezav suggested how to create the rule, I went for it.
Will close both the issue + PR.

Thanks

[2022-04-24 17:00] #572 closed

[2022-04-26 10:49] KameleonSec commented on #834
@zricethezav Tried again with the latest gitleaks and now It got even worse.
Placed the same key twice as above under `/build/CI_CD/CI/TestKey2.pem` and `/build/TestKey1.pem`
**I am not running it using your docker image as you did,** instead I was using `alpine:latest` docker image and the release binaries.
`docker run -v [path to src]:/build -it alpine:latest /bin/sh`
inside the container shell:

[2022-04-26 11:01] lutzwillek-tomtom opened #854 "Gitleaks does not find RSA private keys (since v8.7.0)"
**Describe the bug**
Gitleaks in latest versions is unable to detect all types of private keys. Only the standard (PKCS8) keys are detected, but for example RSA keys are not detected anymore. This behave was introduced with version v8.7.0, earlier versions are unaffected according to my tests.

**To Reproduce**
[code]

This shows the expected behave of older versions:
[code]

This shows the not ex

[2022-04-26 11:50] zricethezav commented on #834
@KameleonSec I'll look at this time permitting, I have a full time job and don't get paid for this.

[2022-04-26 11:57] lutzwillek-tomtom commented on #834
@KameleonSec the results with the newest version could be explained by https://github.com/zricethezav/gitleaks/issues/854
 in case your key has RSA in it's name. (v8.6.1 is unaffected by this)

[2022-04-26 13:17] zricethezav commented on #834
What does that mean

[2022-04-26 13:19] zricethezav commented on #834
@KameleonSec please provide more detailed instructions with the report output and sample repo if you want me to debug this. From my tests, I am not seeing an issue with `--no-git` or nested directories.

The private key rule is another issue entirely. That regex could use some work.

[2022-04-26 13:21] KameleonSec commented on #834
10x is a an abbreviation for thanks :)

[2022-04-26 14:39] zricethezav commented on #834
@KameleonSec again, please provide a sample repo so I can clone it and try to reproduce what you are seeing with `--no-git` enabled. A copy/paste of the output is not enough for me to properly debug this.

Other questions:
- What are the contents of `TestKey1.pem`. v8.x.x of gitleaks support multi-line secrets. The string `-----BEGIN PRIVATE KEY-----` is not enough to be considered a secret, it mu

[2022-04-26 14:46] zricethezav commented on #834
@KameleonSec I would recommend testing on a simpler rule, one that isn't mutlilined

[2022-04-26 17:46] dileepdkumar opened #856 "Gits leaks doesn't detect base64 encode string"
**Describe the bug**
Trying to detect base64 encode string in file that is committed to the Git.  but gitleaks doesn't detected thed base64 encode string

**To Reproduce**
Steps to reproduce the behavior:
File content:
#!/usr/bin/env python
import base64

# Replace the quoted text with the code you wish to decrypt.
coded_string = 'SG9va2VkIG9uIHBob25pY3Mgd29ya2VkIGZvciBtZQo='

# Decrypt the code s

[2022-04-27 09:30] RemakingEden opened #857 "Gitleaks container failing in Github Actions due to security change"
**Describe the bug**
It would seem due to the security changes noted here https://github.blog/2022-04-12-git-security-vulnerability-announced/, the docker container is now failing in Github actions with the below error. The built in action seems to be working correctly but the docker container is not.

[code]

**To Reproduce**
1. Run the Gitleaks container in a step on Github

**Expected behavior*

[2022-04-27 09:46] alaaseeku commented on #857
The same issue is here

[2022-04-27 12:12] zricethezav commented on #857
duplicate https://github.com/zricethezav/gitleaks/issues/846

[2022-04-27 12:12] #857 closed

[2022-04-27 12:26] zricethezav commented on #854
Thanks for opening this issue @lutzwillek-tomtom! I found the issue and submitted a fix for it: https://github.com/zricethezav/gitleaks/pull/858

[2022-04-27 12:33] zricethezav commented on #854
closing this out with the release of https://github.com/zricethezav/gitleaks/releases/tag/v8.8.3

[2022-04-27 12:33] #854 closed

[2022-04-27 12:37] zricethezav commented on #856
@dileepdkumar Just to be clear you want me to detect the decoded string? So you're expecting Gitleaks to detect a base64 encoded string, decode it, and check if that decoded string contains a secret?

[2022-04-27 17:40] KameleonSec commented on #834
Finally after equalizing the `config.toml` between the different gitleaks versions and sorting out all the other problems caused by the differences between the old and new versions I found the problematic file that cause this weird behavior.
It is the existence of `.git` file that will cause the scanner to ignore all the subsequent directories. The `--no-git` option is not fully taken into account

[2022-04-27 19:18] zricethezav commented on #834
@KameleonSec thanks for providing that feedback. I did some testing at lunch and I can reproduce the error when `.git` is a _file_. I was unable to reproduce your bug when `.git` is a folder, like it normal is. That said, https://github.com/zricethezav/gitleaks/blob/master/detect/detect.go#L338-L340 should include a file info check to make sure it's a directory as well. This should fix your bug:

[2022-04-27 20:43] zricethezav commented on #831
feel free to reopen if you feel this isn't resolved @sergiomarotco

[2022-04-27 20:43] #831 closed

[2022-04-28 02:48] #834 closed

[2022-04-28 08:59] 10101349 commented on #846
Hello all,
Just a quick&dirty fix: i wanted to share
`
echo "git config --global --add safe.directory /path && cd /path && gitleaks detect --no-git --redact /path -v " > cmd
docker run -i -v "${PWD}":/path  --entrypoint /bin/bash zricethezav/gitleaks:latest < cmd
`

[2022-04-28 09:01] the-maux commented on #846
Just a quick fix i wanted share with you
`
echo "git config --global --add safe.directory /path && cd /path && gitleaks detect --no-git --redact /path -v " > cmd
docker run -i -v "${PWD}":/path  --entrypoint /bin/bash zricethezav/gitleaks:latest < cmd
`

[2022-04-28 15:25] EllaMozes opened #860 "gitleaks dont recognize password"
We have a file that contains a password :
`password=********` (contains only letters and numbers)

when we run this command :
gitleaks detect --no-git -f json -r output.json -s <path to file> it doesn't recognise it as password
and the check is passing gitleaks

 - OS: linux
 - Gitleaks Version: 8.8.4

<img width="936" alt="image" src="https://user-images.githubusercontent.com/89922915/165787604-5

[2022-04-28 15:46] zricethezav commented on #860
@EllaMozes you can always configure your own gitleaks rule to detect passwords but the reason the password is not detected is because there are special characters in that example password that are not part of the generic credential rule. I can look into expanding the generic credential's regex alphabet for the secret capture group but that might lead to more false positives.

In either case, I'll

[2022-04-28 17:30] evanstucker-hates-2fa opened #861 "Can we build images for arm64 so users on Apple Silicon can run the docker-image version of gitleaks via pre-commit?"
Can we build images for arm64 so users on Apple Silicon can run the docker-image version of gitleaks via pre-commit?
cc @zricethezav

[2022-04-28 17:38] yene opened #862 "Azure Storage Account Key Pattern"
**Is your feature request related to a problem? Please describe.**
Does anyone know the Azure Storage Account Key Pattern? I have seen some microsoft docs that can detect them but nobody shared a regex.
Azure Storage Account is the S3 from Microsoft.

Thank you for your help.

**Describe the solution you'd like**
Detect Azure Storage Account access keys.

cc @zricethezav

[2022-04-28 17:39] zricethezav commented on #861
certainly, ill try to get it into next release

[2022-04-28 17:40] zricethezav commented on #861
err wait, sorry, I already support this: https://github.com/zricethezav/gitleaks/releases/tag/v8.8.4

[2022-04-28 17:42] evanstucker-hates-2fa commented on #861
I mean here - there is no ARM64 image:

https://hub.docker.com/r/zricethezav/gitleaks

By comparison, you can see that the alpine docker image supports multiple architectures:

https://hub.docker.com/_/alpine

[2022-04-28 17:43] zricethezav commented on #861
I gotcha, I can look into adding that

[2022-04-28 17:48] evanstucker-hates-2fa commented on #861
I might be able to provide code too. I attempted to do multi-architecture docker builds with "buildx" once and failed, but I think there's a tool called "buildah" that might work well. I have to focus on my day job, but I can look into this later today.

[2022-04-29 13:24] fnune opened #863 "Overeager match of string containing "token... = ""
**Describe the bug**
This code:

[code]

Is matching because it contains string `token_authentication_v2 =`. While this may be desirable in other situations, it wasn't in this one.

**Expected behavior**
No leak is found.

**Basic Info (please complete the following information):**
 - OS: `Linux melian 5.17.4-arch1-1 #1 SMP PREEMPT Wed, 20 Apr 2022 18:29:28 +0000 x86_64 GNU/Linux`
 - Gitleaks Vers

[2022-04-29 14:27] fnune commented on #863
Sweet, thank you!

[2022-04-29 15:44] fnune commented on #863
Tested with the same code. No longer reports it! Thanks! <3

[2022-04-29 15:44] #863 closed

[2022-04-30 21:57] weineran opened #864 "Add regexes for sidekiq secrets"
**Is your feature request related to a problem? Please describe.**
As a sidekiq and gitleaks user, I want gitleaks to scan my repos for sidekiq secrets. The basic forms:
* `BUNDLE_ENTERPRISE__CONTRIBSYS__COM: cafebabe:deadbeef`
* `export BUNDLE_ENTERPRISE__CONTRIBSYS__COM=cafebabe:deadbeef`
* `BUNDLE_GEMS__CONTRIBSYS__COM: "cafebabe:deadbeef"`
* `export BUNDLE_GEMS__CONTRIBSYS__COM="cafebabe:deadb

[2022-05-01 08:59] EllaMozes commented on #860
Hey, thanks for replying!
even when we use a password like this ( 7s5zy94ugr) it doesn't recognize it as a password - without any special characters
and where is the config file which we couldn't find? or do we need to create a new one?

[2022-05-01 14:32] zricethezav commented on #860
hi @EllaMozes, so there are a few heuristics gitleaks needs to pass when considering a secret. One of the heuristics is entropy. `7s5zy94ugr` has an entropy of [3.33](https://planetcalc.com/2476/) which does not pass the [generic rule's entropy threshold](https://github.com/zricethezav/gitleaks/blob/master/config/gitleaks.toml#L724-L732).

Feel free to use your own config in order to detect `7s5zy

[2022-05-01 14:58] EllaMozes commented on #860
sounds reasonable
however even when I use this file and decrease the entropy to 2.0 and still doesn't recognize it as a password
furthermore, I see that  in the config file, it supposes to recognize the word 'password' (as a keyword) which is still not raising an error even when the word is hardcoded

[2022-05-01 15:06] zricethezav commented on #860
@EllaMozes works for me:

[code]

using this rule: `
[code]

keywords string matches do not automatically flag a piece of code as a secret, keywords are used as a pre filter so gitleaks is not running regexes on regions of code that likely do not contain a secret

[2022-05-05 18:22] SimonGurney opened #865 "Algolia key support"
An Algolia key matches the regex `[a-zA-Z0-9]{32}`.

Algolia keys are quite common now and are often included in front end JS code to build autocomplete forms etc.  Overly permissive keys are an issue as it means attackers can manipulate data etc and gitleaks would make an awesome tool to find them.

The regex for the key is likely prone to false positives, but no more so than "generic-api-key".

[2022-05-05 20:22] zricethezav commented on #865
Hi @SimonGurney, all semi-generic regexes follow a similar pattern to that of https://github.com/zricethezav/gitleaks/blob/master/config/gitleaks.toml#L74, for example. I generate these rules with a utility here https://github.com/zricethezav/gitleaks/blob/master/cmd/generate/config/main.go.

I can add this sometime in the next two weeks if you haven't gotten to it already

[2022-05-05 20:34] SimonGurney commented on #865
I'll get a PR in tomorrow.  So does the keyword need to be found in the document for the regex to find the secret?

[2022-05-05 20:36] zricethezav commented on #865
@SimonGurney yes, the keyword is essentially a ROI marker or prefilter. If a git patch fragment does not contain a the keyword, that rule can be ignored.

[2022-05-05 20:40] SimonGurney commented on #865
Ok understood.  I think in *most* cases the word "Algolia" would be on the same line, but it's definitely not required and I imagine a diff which changes the key could be as simple as

Key=[key]

Would you want the keyword including or not?  I guess it's a balance between eliminating false positives and missing secrets right?

[2022-05-05 20:44] zricethezav commented on #865
I don't follow

Keywords should always be included to reduce fps. The generic key would likely catch keys that don't contain `Algolia`

[2022-05-05 20:53] SimonGurney commented on #865
Makes sense, I'll raise the PR tomorrow.

Thanks for your help 😃

[2022-05-06 07:45] SimonGurney commented on #865
Is this what you were thinking, I just based it off old PRs, or do you want me to use the rule generator and add one to here cmd/generate/config/rules/?

[2022-05-07 01:00] tbennett6421 opened #867 "Unable to compile program // go.mod: no locks available"
**Describe the bug**
Following the manual steps to compile fails with the following error

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. apt install golang-go
2. git clone https://github.com/zricethezav/gitleaks.git /offsec/git/gitleaks
3. cd /offsec/git/gitleaks && make build

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.
The compilat

[2022-05-10 15:54] mark-ship-it opened #868 "allowing previous commits with leaks does not work"
**Describe the bug**
I am unable to allow previous commits in a "dirty" git history

**To Reproduce**
add commits to history with a secret leak.
update rule list to ignore problematic commits:

[rules.allowlist]
description = "ignore commits with redacted secrets"
commits = [ "fdaf1d883213b82a3a0f4758ba282807b108b753",
    "6ad90af498763fbdc4d43d519166cb0bed2e92d3",
    "0c8e969a30c347cc0eb7e2191d

[2022-05-11 05:55] Vankog opened #869 "Using unaltered "zricethezav" config toml explicitly, leads somehow to way more findings"
**Describe the bug**
We plan to customize some rules. Thus, we naturally started by copying the default config from
https://github.com/zricethezav/gitleaks/blob/master/config/gitleaks.toml
and used it via
`- gitleaks detect  -f json --redact -r ./secret-scan-results.json -c .config/gitleaks.toml`
in our gitlab-ci.yml.

Much to my suprise, the findings went up from 86 to 102.

Gitleaks Version and

[2022-05-11 06:07] Vankog commented on #869
Onke strange thing I found is that the results seem to reference the same findings in different commits.
example:
a result with default config:

[code]

same result with copied config:
[code]

The two commits are adjacent to each other in the history:
![commits](https://user-images.githubusercontent.com/3804909/167779959-09d57588-5c4c-44b8-a35a-9649f951dae1.png)
However, neither the first result r

[2022-05-11 06:21] Vankog commented on #869
Extending on the previous:
I am not sure about this, but is it intended that the same results are reported over and over again, but for different commits?

The example finding above shows up in the results with 6 instances each, each instance only differing in the commit.
Further, while there are some overlaps in the results with default config and the results with copied default config, most of t

[2022-05-11 12:17] zricethezav commented on #869
@Vankog
I'm unable to reproduce this.

example:

Those examples are from two different commits on two different files. They are not the same findings.

The scan results should be the same ever scan, although the order may be slightly different due to concurrency.

I'm doubtful of that, please verify the findings following these steps: https://github.com/zricethezav/gitleaks#verify-findings

What I

[2022-05-11 12:17] #869 closed

[2022-05-11 12:20] zricethezav commented on #868
@mark-ship-it are you trying to allow commits for a specific rule or for all rules? The example you provided would be for a specific rule since you are using the `[rules.allowlist]` syntax

[2022-05-11 12:52] zricethezav commented on #860
closing this issue for now as it can be resolved by a custom configuration

[2022-05-11 12:52] #860 closed

[2022-05-15 09:21] BugsBunnyHub opened #870 "Invalid command in README.md"
**Describe the bug**
Invalid commnad in the README `gitleaks --source . --log-opts="--all commitA..commitB"`

**Additional context**
Fix: `gitleaks detect --source . --log-opts="--all commitA..commitB"`

cc @zricethezav

[2022-05-16 17:05] SimonGurney commented on #865
@zricethezav  are you happy with the PR?

[2022-05-17 00:08] zricethezav commented on #870
Fixed, thanks @BugsBunnyHub

[2022-05-17 00:08] #870 closed

[2022-05-17 16:58] bmbferreira commented on #608
👋 is the docker image being pushed to ECR? Seems it was removed ? 😕  can we have it again?

[2022-05-20 07:43] GridexX opened #871 "Q&A : Best configuration between GitLab and GitHub"
## I was asking myself a question about difference between configuration file in GitHub and GitLab.

On this project [secrets](https://gitlab.com/gitlab-org/security-products/analyzers/secrets) on Gitlab, the configuration [file](https://gitlab.com/gitlab-org/security-products/analyzers/secrets/-/blob/f=e895e96a00baf4147b51761210df5b067dd37f5/gitleaks.toml) used for detecting secrets is differents

[2022-05-20 15:58] zricethezav commented on #871
@GridexX
Github rules are better. Gitlab rules lag behind a bit as the review process is more time consuming.

The major differences between the rules are the inclusive of `keywords` in the github configuration which provide a major performance improvement, and a more restrictive regex to reduce false positives.

[2022-05-20 15:58] #871 closed

[2022-05-20 19:04] Suson1478 opened #872 "gitleaks fails running in pre-commit on MacBook Pro (14-inch, 2021), Apple M1 Pro"
**Describe the bug**
I am running gitleaks as part of my pre-commit and it used to work perfectly. Recently it started failing on the following error:

[code]

This is how the check is defined in my `.pre-coommit-config.yaml`:

[code]

**To Reproduce**
Steps to reproduce the behavior:

- Configure gitleaks in pre-commit-config.yaml

[code]

- run from terminal:

[code]

**Expected behavior**
pre-c

[2022-05-20 22:43] pburkholder opened #873 "Zero-length files don't trigger `path`"
**Describe the bug**
I have a set of tests that I run to make sure certain patterns cause gitleaks
to fail (status 1) or succed (status 0). One of the tests relied on `touch shadow` and
it was reliably detected by v7 and a `path` rule.

In updating to 8, this behavior has changed and `touch shadow` does not
result in a detected secret. A `path` rule is only
triggered if the file is not zero-length

[2022-05-25 14:47] adamdecaf opened #876 "gitleaks ignores default config and doesn't merge configs"
**Describe the bug**
If I have a config like the following zero secrets are detected. I'm unable to specify a few allow directives.

[code]

gitleaks reports no secrets, but there are some. This is likely due to gitleaks thinking `--config` should _replace_ the default config, but that's not what I want.
[code]

**Expected behavior**
It would be nice to have a way to allow a few entries as many pr

[2022-05-25 15:17] adamdecaf commented on #876
That would be great. I've got ~100 repositories to manage and while we do template codebases I was hoping to rely on the default config. Having overrides would be a big help to us.

[2022-05-25 19:42] foolioo commented on #876
relates to #741

[2022-05-26 17:49] dcb-imvaria opened #877 "generic-api-key detected erroneously"
**Describe the bug**
The text "username/password combination." is detected as a generic-api-key leak erroneously using the latest docker image.

**To Reproduce**
Steps to reproduce the behavior:
1. The text "username/password combination." followed with any additional text will trigger the problem.

**Expected behavior**
This text should not trigger detection.

**Basic Info (please complete the fo

[2022-05-26 19:42] zricethezav commented on #877
@dcb-imvaria nice! Thanks for raising this issue. Reducing false positives for the generic rule is something that can always be improved and I think the best way to do it is adding to the list of stopwords -- you're right on the money. Want to open a PR for the change to get contributor credit? If not I'm happy to open a PR tomorrow or when I get some free time.

[2022-05-27 17:54] Dingjie-Daniel-Yang commented on #876
@zricethezav, I am echoing with @adamdecaf. It will be great if there is a **separate config** to allow users to customize the global allowlists.

[2022-05-28 17:45] #877 closed

[2022-05-30 15:12] dcb-imvaria commented on #877
I ran the latest docker image this morning. The problem still exists. Is it possible that the edited config/gitleaks.toml file is not included in the docker image or is ignored?

[2022-05-30 15:14] dcb-imvaria commented on #877
Here is the error message:
gitleaks
{
	"Description": "Generic API Key",
	"StartLine": 44,
	"EndLine": 46,
	"StartColumn": 83,
	"EndColumn": 20,
	"Match": "password combination.\n\nR5: Regulatory--21 ",
	"Secret": "Regulatory--21",
	"File": "",
	"Commit": "",
	"Entropy": 3.6644979,
	"Author": "",
	"Email": "",
	"Date": "2021-03-13T18:00:26Z",
	"Message": "add complete docs and reorganize",
	"Tags"

[2022-05-30 15:20] zricethezav commented on #877
@dcb-imvaria During the build process (like `go build`, the file is loaded using `embed`), so it's almost certainly not an issue of the wrong configuration file being used. I tried recreating this locally but was unable to. Could you run with `--log-level=debug` to see if a local config is being used instead?

[2022-05-30 15:54] dcb-imvaria commented on #877
Using docker image sha256:1b2a4d9ec5d4e31ed243904f0f71d871367ca465643515b03412c82a56a14409 for zricethezav/gitleaks with digest zricethezav/gitleaks@sha256:8dc0ef7acc9d3f2cad825baa5d60ddfefa2bfd68d8733211cc76e97c1c8d5771 ...
...
3:31PM DBG No gitleaks config found in path .gitleaks.toml, using default gitleaks config
DBG executing: /usr/bin/git -C . log -p -U0 --full-history --all

[2022-05-30 15:55] dcb-imvaria commented on #877
gitleaks:
  stage: Secrets Detection
  before_script: []
  image:
    name: "zricethezav/gitleaks"
    entrypoint: [""]
  script:
    - gitleaks detect -v --log-level=debug

[2022-05-30 16:20] zricethezav commented on #877
@dcb-imvaria ah, right. Just refreshed myself on the code and the stop words only prevent secrets if the matched _secret_ contains a stop word, not the base regex match. So in this case the secret is `Regulatory--21`. The _match_ is on

[code]

So, if we wanted to prevent this leak we should add `regulatory` or maybe `regula` to the stop word list.

Another improvement I could see to the generic r

[2022-05-30 16:26] dcb-imvaria commented on #877
Actually in this case preventing newlines after the initial "credentials" group would be better. Since you know the code better you probably ought to add that fix. In the meantime I will create a PR that adds regula as a quick fix.

[2022-06-01 07:30] tientmse62290 opened #882 "Regex for allowlist is not work effecienly"
**Describe the bug**
I add to the [allowlist]
regrexes = ['''(.*?)(public|Public)(.*?)''']
![image](https://user-images.githubusercontent.com/28757980/171351151-41c67deb-b4a3-4dc2-b2cc-f40c52bad290.png)

but it wasn't overriding the rule for generic-api-key

**To Reproduce**
content:
[code]

**Expected behavior**
gitleaks = 0
output file shows a lot that is duplicate and just shows a part of the v

[2022-06-01 12:09] zricethezav commented on #882
Hi @tientmse62290 this isn't a bug since the generic rule is matching on `PublicKeyToken=b77a5c561934e089`. When it comes time to check the allowlist, the only context gitleaks has is `PublicKeyToken=b77a5c561934e089`, not the entire line. If you want to ensure gitleaks ignores a line you can add a comment like `// gitleaks:allow`.

I'm open to hearing ideas on adding an option for the allowlist t

[2022-06-01 12:09] #882 closed

[2022-06-01 12:11] zricethezav commented on #876
Thanks, I hear you guys. I'm thinking of ways to introduce this. In the meantime if you want this feature expedited consider reaching out to me for a maintenance and support agreement https://gitleaks.io/products.html

[2022-06-01 14:03] zricethezav commented on #876
@adamdecaf certainly, if you're up for it. I probably won't be able to get to this for at least another week or two

[2022-06-02 12:45] zricethezav commented on #846
@foolioo thank you for the PR and supporting documentation for your change. I agree with what is proposed here and will include it in the next release. 🙇🏻

[2022-06-02 19:22] #846 closed

[2022-06-02 19:22] #872 closed

[2022-06-06 16:13] kiblik opened #885 "Create docker tags also for major and minor versions"
**Is your feature request related to a problem? Please describe.**
I would like to use gitleaks for regular automated scanning of my repositories, however
- I would like to use the latest version of the docker image (avoid using of pinning exact version `vX.Y.Z` because it will not be latest version for long time)
- I'm scared to use the tag `latest` because if there will be a major release (which

[2022-06-06 17:57] wolfch-elsevier commented on #876
Can you tell us how to access/list the default config so we can create a custom config based on the default?

[2022-06-07 06:25] anasoid opened #886 "Config rules on multiple files"
Working on many repository we have same rules for all projects and other rules by project/technologies, it's difficult to maintain rules on multiples project

**Describe the solution you'd like**
It wll be easy if we can have rules on multiples files, like this we can maintain separate rules without problem to merge them

thanks
cc @zricethezav

[2022-06-07 06:28] anasoid opened #887 "Ignore false positive on properties files"
There is no way to ignore false positive on properties file as properties file doesn't accept comment on the same line.

**Basic Info (please complete the following information):**
 - OS: Ubuntu 20.04
 - Gitleaks Version: V8.8.7

cc @zricethezav

[2022-06-07 13:24] #886 closed

[2022-06-08 03:09] DariuszPorowski commented on #862
@yene you can use your own custom config with some rules from: https://github.com/jessehouwing/gitleaks-azure/blob/main/UDMSecretChecksv8.toml#L77

[2022-06-13 11:24] OSalamaPret commented on #862
There's a regex for Azure storage account keys at https://github.com/Azure/custom-script-extension-linux/blob/7741689bf83debbf4177cc7edc6dc96496275d10/main/schema.go#L75

I guess it means we just need this rule being added to `gitleaks.toml`?

[code]

[2022-06-16 09:40] namanpreetsingh opened #888 "Add option to mark results as false positive in the scan report"
It'll be great if there's an option to mark the results as false positive in the scan report. Once the report is audited and false positives are marked, it can be fed as an input to the new scan so the results from new scan can be compared against false positives in the audited report and accordingly ignored.

[2022-06-20 08:51] haani-niyaz opened #890 "Invalid sarif?"
**Describe the bug**
Attempting to upload sarif to Github returns an invalid sarif error.

[code]

**To Reproduce**
Full result here:
https://github.com/haani-niyaz/gitleaks-gh-action-sample/runs/6962543625?check_suite_focus=true

**Expected behavior**
No errors

**Screenshots**
N/A.

**Basic Info (please complete the following information):**
- OS: ubuntu docker image, mac OS 10.15.3
 - Gitleaks

[2022-06-20 20:32] #890 closed

[2022-06-21 12:18] zricethezav commented on #887
@anasoid you can specify the false positive in a rule-specific allowlist or change the false positive's rule regex

[2022-06-21 12:18] #887 closed

[2022-06-23 06:58] arulmanoharan opened #894 "flag --path / --config"
Hi , when I was using 7.4.0 version of gitleaks I was able to use   $gitleaks_path/gitleaks --path=. --config-path=gitleaks.toml --report=gitleaksReport/gitleaks_report_generated.json --files-at-commit=latest --verbose

but when I tried using 8.8.8 version it throws error flag --path is there any change I need to make in this line because when I saw there were changes made to ignore gitleaks.toml

[2022-06-23 21:49] zricethezav commented on #894
@arulmanoharan It's all documented in the readme. See the usage section: https://github.com/zricethezav/gitleaks#usage

Use `--source`

[2022-06-23 21:49] #894 closed

[2022-06-29 05:59] infiniator opened #906 "Virustotal reports gitleaks windows executable as malicious"
**Describe the bug**
When I ran Virustotal on the gitleaks v8.8.10 Windows x64 binary, it was reported by MaxSecure that Trojan.Malware.300983.susgen exists, Cylance reported it as Unsafe and SecureAge APEX reported it as Malicious.

**To Reproduce**
Upload the exe file to Virustotal and trigger a scan.

**Expected behavior**
No issues should be reported by Virustotal

**Screenshots**
---

**Basic

[2022-06-29 13:16] zricethezav commented on #906
From https://go.dev/doc/faq#virus:

This is a common occurrence, especially on Windows machines, and is almost always a false positive. Commercial virus scanning programs are often confused by the structure of Go binaries, which they don't see as often as those compiled from other languages.
If you've just installed the Go distribution and the system reports it is infected, that's certainly a mist

[2022-06-29 14:29] zricethezav commented on #868
closing this due to inactivity, reopen if the solution provided above does not work.

[2022-06-29 14:29] #868 closed

[2022-06-29 14:33] zricethezav commented on #805
The generic rule was updated a while ago, sorry for not updating this issue.https://github.com/zricethezav/gitleaks/blob/master/config/gitleaks.toml#L1139-L1147

[2022-06-29 14:33] #805 closed

[2022-06-29 14:35] zricethezav commented on #803
The generic rule should catch most secrets of the forms:
[code]

Since this is a config issue I am closing it as you can define your own gitleaks configuration rules

[2022-06-29 14:35] #803 closed

[2022-06-29 14:35] zricethezav commented on #782
Fixed with the MR above, closing issue. Thanks @chriswolfdesign

[2022-06-29 14:36] zricethezav commented on #813
I do not plan on supporting this in the default generic rule as it would likely introduce more false positives. Closing for now

[2022-06-29 14:38] zricethezav commented on #775
@galiagante Is this still an issue using the most recent gitleaks version?

[2022-06-30 12:52] hemadrio opened #908 "Default Generic API rule - does not scan secrets in XML tags"
**Describe the bug**
If a generic API key is stored in an XML tag, the secret is not being detected.

**To Reproduce**
a secret like below is not being detected
\<api\>sdflkdsfosdfjlsdgwe1343456gsdfsdfvsd\</api\>

**Expected behavior**
The above secret should be detected as a generic api key when scanning.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Basic Info

[2022-06-30 15:22] hemadrio commented on #908
Sure, I can definitely do that

[2022-07-04 14:38] roma8389 opened #909 "Running Gitleaks as container take match longer then executable"
Hi,

I notice that when i am using gitleaks as executable its scan match faster the repo then when using the docker version of it.
Do you maybe have idea of why it can happen?

ty!

[2022-07-04 15:05] Dentrax opened #910 "Running Gitleaks as a library throws `X error(s) occurred: * Empty buffer`"
**Describe the bug**
Gitleaks starting to throw `X error(s) occurred: * Empty buffer` errors after upgrade from `v7` to `v8`.

**To Reproduce**

Initializing:
[code]

[code]

Resulted error is like following:

[code]

I think those are throwing from [fatih/semgroup#86](https://github.com/fatih/semgroup/blob/de404588ab3d4b4ca6f8afba200b5b74994879f8/semgroup.go#L86) library.

**Expected behavior**
I

[2022-07-04 15:38] asmaier commented on #666
I think the fact that gitleaks does not support cloning anymore and the rational behind it should be described in the Readme.

It is really confusing to figure out that quite recent documentation of the usage of this tool e.g.

https://computingforgeeks.com/gitleaks-audit-git-repos-for-secrets/

doesn't work anymore. To add to the confusion an option `--version` is not available anymore (see https

[2022-07-05 02:29] AnthonyPoschen opened #911 "AllowList entire line checking"
**Is your feature request related to a problem? Please describe.**
when trying to whitelist / allow certain matches i would like to define regex's to be allowed that check the entire line and not just the match / secret to allow removal of false positives and would be the feature request from the outcome of #882

**Describe the solution you'd like**
a way to have detector.config.allowlist.Regexes

[2022-07-05 09:23] venkatn087 opened #913 "Unable to execute gitleaks command"
Hi Team,
I have installed gitleaks from the Source as per gitleaks github document

From Source
Step1. Download and install Go from https://golang.org/dl/
step 2. Clone the repo
          git clone https://github.com/zricethezav/gitleaks.git
step 3. Build the binary
         cd gitleaks
         make build
after executing of step 3. i could see  new "gitleaks" file created in the same folder. I ha

[2022-07-05 10:07] asmaier opened #914 "gitleaks fails to detect generic API token in Juypter notebook"
**Describe the bug**
gitleaks fails to detect an generic API token in a Jupyter notebook, although it can detect the same token in a python script.

**To Reproduce**
I created a minimal git repository with two files

test.py
[code]
test.ipynb
[code]

Then I ran
[code]
In the same directory I executed

[code]

**Expected behavior**
I expected `gitleaks` to also detect the second API token in the Ju

[2022-07-05 13:24] zricethezav commented on #914
The generic rule is not capturing this secret because of the `\` character preceding the quotes containing the token. You could update the generic rule regex with:
[code]

This would capture the token successfully. I'll have to think more about adding this to the default config. In the meantime, I'm adding this as an enhancement as this is not a bug with gitleaks but rather a configuration enhance

[2022-07-05 13:28] zricethezav commented on #910
@Dentrax could you provide a `--source` repo for me to reproduce this bug?

[2022-07-05 14:57] venkatn087 commented on #913
Hi Team,
Thanks a lot for your reply.
I am using git version as 1.8.3.1. Please refer to the same from screenshot.
Could you please let me know the required git version .

And also could you please let me know the syntax to execute the gitleaks command  with one or 2 example as per my scenario as am unable to find it from the github document

Thanks
venkat
<img width="418" alt="gitleaks_4" src="ht

[2022-07-05 15:34] zricethezav commented on #913
This is a valid command and should work.

Try updating your git version to at least git `2.x.x`

[2022-07-05 17:30] venkatn087 commented on #913
Hi Team,

Thank you so much for your quick response.

If i want to see all types of log errors, could you please let me know what value do i  need to specify for the "--log-level" parameter?

If i select log-level as "info", does the gitleaks will show info, debug,warn,error,fatl (all types of errors) will be shown or only "Info" messages alone will be shown?
-l, --log-level string       log level

[2022-07-05 17:54] venkatn087 commented on #913
Hi Team,
I have one more query. sorry to ask much questions here.
I am , trying to scan single file to detect the secrets as per the screenshot.
I have created a sampel file named "password.txt" where it will contain the username and password and executed the below command to scan. but seems it's not detected the secrets . Please let me know if anything wrong with my command.
$ ./gitleaks detect -

[2022-07-09 12:25] weineran commented on #913
Hi @venkatn087,

Many of these questions are general questions about software development, rather than questions about gitleaks, but I'll try to point you in the right direction.

Short answer: If you set log level as "info", it will show any logs that are "info" _or higher_.
You can learn more about how log levels work in general by googling. e.g. Here is a blog post I found that should help: htt

[2022-07-11 07:16] anotherbridge opened #915 "GitLeaks fails on git rename warning"
**Describe the bug**
This is related to issue #750.
When I run gitleaks on a large repository it gives me the following warning and quits:
[code]

**Expected behavior**
Gitleaks should still continue to run without the exiting with status 1.

**Basic Info (please complete the following information):**
 - OS: Debian 11
 - Gitleaks Version: 8.8.11

cc @zricethezav

[2022-07-12 12:33] very-doge-wow commented on #876
What's the current status on this? I'm undecided wether or not to implement a workaround as long as extending configs is not yet available.

[2022-07-12 14:32] mazlum commented on #876
Hello,
Are there any updates?

[2022-07-12 14:33] zricethezav commented on #876
I have a branch I'm working on locally and still deciding on the design of this. Next month or two probably, or maybe next week. idk

[2022-07-13 07:06] anotherbridge commented on #915
@zricethezav Unfortunately I cannot share the repo...
Anyways I can provide some other insight that I gained, namely that on a different machine with more resources this issue does not arise. So could it be that it's just a hardware related problem in my case?

[2022-07-13 12:08] zricethezav commented on #915
@anotherbridge no worries actually. I misread and thought the error messages were the same, they are not. So the fix will be as simple as adding your error message to https://github.com/zricethezav/gitleaks/blob/master/detect/git/git.go#L98-L103

[2022-07-14 13:09] #915 closed

[2022-07-15 12:41] whyisdifficult opened #917 "Using --branch option does not seem to work"
**Describe the bug**

I'm passing the `--branch` option to detect secrets in a specific branch but I'm getting the following error:

[code]

**To Reproduce**
[code]

**Expected behavior**

The `--branch` option should be understood.

**Screenshots**

N/A

**Basic Info (please complete the following information):**
 - OS: Mac OS X 12.3.1
 - Gitleaks Version: 8.8.12 ( I tried with v8.8.11 and I get

[2022-07-15 13:07] zricethezav commented on #917
https://github.com/zricethezav/gitleaks/releases/tag/v8.0.0 removes `--branch`. Use `--log-opts="{your branch}"`. If you want to scan _only_ commits on your branch you can do `--log-opts="{your branch}..{base branch}"`

You can pass any `git log` arguments into `--log-opts` if you need to tweak it further.

[2022-07-15 13:07] #917 closed

[2022-07-18 13:07] weineran opened #921 "Enhance CONTRIBUTING documentation"
https://github.com/zricethezav/gitleaks/blob/0d471653b5389029ab9126c35ea960b480114135/CONTRIBUTING.md?plain=1#L41
* There is not actually a section called "regex". It probably refers to the paragraph that begins with `generateSemiGenericRegex`. It would probably be more clear to have a section header.

https://github.com/zricethezav/gitleaks/blob/0d471653b5389029ab9126c35ea960b480114135/CONTRIBUTI

[2022-07-18 14:59] alexgit2k opened #922 "Print number of scanned commits at Info-loglevel"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
The number of scanned commits is currently only printed out at Debug-level:
https://github.com/zricethezav/gitleaks/blob/0d471653b5389029ab9126c35ea960b480114135/detect/detect.go#L322

This information is also interesting at Info-level, so `log.Debug().` should be changed to `log.Info().`

[2022-07-20 15:59] AvaniAModak opened #923 "Not able to scan remote repo"
**Describe the bug**
I am using gitleaks 8.8.11 locally.
I want to give the path of a remote git repo in the source parameter. However, when I do that, I am getting an error as pasted below. Is there something I am doing wrong or would I have to clone the repo if I want to scan it?

**To Reproduce**
Steps to reproduce the behavior:

avani@Avanis-MacBook-Pro ~ % gitleaks detect --source https://git

[2022-07-20 16:43] zricethezav commented on #923
@AvaniAModak you must clone the repo. Use `--source` to point to the cloned repo path

[2022-07-20 16:43] #923 closed

[2022-07-20 16:51] AvaniAModak commented on #923
Thanks for the quick response!! 😊

[2022-07-20 19:46] AvaniAModak opened #924 "Question about scanning historical commits"
Hello team,

I am currently using gitleaks 8.8.11 locally to scan the Git Repo for my organization.
I cloned the repo locally and then ran gitleaks.
However, since cloning the repo is just scanning the current code, I wanted to know how I would be able to scan the historical commits in the Git Repo using gitleaks. (I thought I would be able to do that if I could give the remote repo url in --sourc

[2022-07-21 12:52] cpontvieux-systra commented on #924
Cloning get you all commits, not just the current one. Hence the name « clone ».

[2022-07-23 03:22] zricethezav commented on #876
https://github.com/zricethezav/gitleaks/tree/extend-config wip

[2022-07-23 03:53] zricethezav commented on #924
- `gitleaks detect --source={path to repo}` will scan historic commits
- `gitleaks detect --source={path to repo} --no-git` will treat the repo like a regular directory and scan all the _current_ code.

[2022-07-23 03:53] #924 closed

[2022-07-23 03:59] zricethezav opened #925 "Validate Token"
**Is your feature request related to a problem? Please describe.**
I want to check if the token/secret is valid and grants access to remote resources.

**Describe the solution you'd like**
Add a `rules.validate` table to verify liveliness of a secret

[code]

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**A

[2022-07-23 04:06] #925 closed

[2022-07-24 17:08] zricethezav commented on #876
@adamdecaf @very-doge-wow @foolioo @wolfch-elsevier I just merged https://github.com/zricethezav/gitleaks/pull/926. Check out the updated https://github.com/zricethezav/gitleaks#configuration section for instructions on how to use this new feature. Feel free to pull down master and try it out before I release it sometime this week with `8.9.0`

[2022-07-25 03:55] foolioo opened #927 "Enable discussions"
**Is your feature request related to a problem? Please describe.**
GitLeaks is growing in usages and such its fans and community. Yet, the project lacks of centralize place to/for:

- Collaborative communication forum for the community
- Ask questions, discuss and answer the questions
- Share information and follow along on decisions affecting the community
- Conduct or participate in a conversati

[2022-07-25 03:57] electriquo opened #928 "default configuration vs configuration generator"
Until #927 would be considered, I am posting here my question :|

Following https://github.com/zricethezav/gitleaks/issues/876#issuecomment-1193358341 and looking at several PR's (#806, #918), could you please elaborate [what is the difference between the default configuration and the config generator](https://github.com/zricethezav/gitleaks/issues/862#issuecomment-1149424140)? (and maybe how does

[2022-07-25 05:08] zricethezav commented on #928
Hi @foolioo, thanks for being so active in the project!

The  [default gitleaks configuration](https://github.com/zricethezav/gitleaks/blob/master/config/gitleaks.toml) is used by the `config` package to [load a toml file into a configuration struct](https://github.com/zricethezav/gitleaks/blob/master/config/config.go) used by the program in other parts of the code.

The configuration generator (c

[2022-07-25 05:23] zricethezav commented on #927
re-enabled discussions

[2022-07-25 05:23] #927 closed

[2022-07-25 06:55] jasaz opened #929 "Unable to get the output in CSV file"
**Describe the bug**
1. Unable to get the output of gitleaks detect in CSV format.
2. There is no option to save the output of gitleaks detect to a file (CSV\JSON)

**To Reproduce**
gitleaks detect -v -s file_path -f csv

**Expected behavior**
The output was expected to be in CSV format with each row with a comma seperated delimiter.

**Screenshots**
If applicable, add screenshots to help explain

[2022-07-25 08:30] very-doge-wow commented on #876
@zricethezav Awesome, thanks! Will test it out.

[2022-07-25 09:44] very-doge-wow commented on #876
@zricethezav Is there a way to extend from a default config which is hosted somewhere else than GitHub? The reason being that I'm running gitleaks inside an isolated CI/CD environment which doesn't have access to GitHub directly, but only to a generic github mirror inside an Artifactory server. Meaning: I would need to be able to use something like this:
[code]

[2022-07-25 14:37] zricethezav commented on #876
@very-doge-wow not at the moment. What I recommend is pulling in `https://some.artifactory.internal/artifactory/some-repo/gitleaks-config.toml` prior to running gitleaks in your CI/CD and adding `includeDefault=true` to that config

[2022-07-25 14:42] very-doge-wow commented on #876
But won't `includeDefault=true` try and download the default config from GitHub? Because that's exactly the problem, there's no access to public GitHub repositories. The Artifactory repository is a mirror of GitHub. That's why I wanted to use `path` instead and simply supply a reference to the remote default config inside Artifactory. Sorry if I didn't explain that clearly 😄

[2022-07-25 14:45] zricethezav commented on #876
@very-doge-wow, nope. `includeDefault` will use what is already baked into the binary

https://github.com/zricethezav/gitleaks/blob/master/config/config.go#L186-L206

https://github.com/zricethezav/gitleaks/blob/master/config/config.go#L13-L14

[2022-07-25 14:47] very-doge-wow commented on #876
Okay perfect. Then that solves my problem! Thanks. 🏅

[2022-07-25 17:22] zricethezav commented on #928
Correct. I won't accept any PRs that change the `config/gitleaks.toml` file by hand.

[2022-07-26 14:16] maltemorgenstern commented on #876
@zricethezav awesome!
We just tested this feature and it is working just as expected/hoped 🥇

Looking forward to upgrading to a new version with this feature included 😄

[2022-07-26 14:30] #928 closed, assigned to nobody

[2022-07-27 23:36] zricethezav commented on #876
With the release of https://github.com/zricethezav/gitleaks/releases/tag/v8.9.0 I'm gonna close out this issue. Thanks for being patient and hope you get some value out of the new feature. Feel free to re-open or continue the discussion 👍🏻

[2022-07-27 23:36] #876 closed

[2022-07-27 23:39] zricethezav commented on #929
@jasaz you're missing `-r, --report-path`  as defined I the usage section of the readme https://github.com/zricethezav/gitleaks#usage

[2022-07-27 23:39] #929 closed

[2022-07-28 02:27] sergiomarotco commented on #813
awesome, waiting...

[2022-07-28 13:43] zricethezav opened #932 "Opt-in validation option for configs"
**Is your feature request related to a problem? Please describe.**
It would be nice to introduce a feature like the team at trufflesecurity did with trufflehog where they validate an api key automatically. I would like to do this using the configuration.

**Describe the solution you'd like**
I'm thinking something like:
[code]

Some pseudo-code might look like:
[code]

**Describe alternatives you'

[2022-07-28 21:22] RickyGrassmuck opened #934 "Add an option to follow symlinks when running detection"
**Is your feature request related to a problem? Please describe.**
The detect functionality does not currently allow scanning a file that is a symlink to another file. This makes sense when using in the context of git (scanning a symlink that points to something outside of the repo isn't very useful) but has usefulness when using the tool outside of the context of a git repository. In my use case,

[2022-08-01 21:49] minispooner opened #935 "detect --source doesn't allow ~/ (tilde slash)"
**Describe the bug**
`detect --source` doesn't allow ~/ (tilde slash)

**To Reproduce**
`./gitleaks detect --source ~/cloned_repo`

**Expected behavior**
source param should be able to read `~` as home dir. it does work when I add absolute path though as a temp work around.

**Screenshots**
N/A. Error msg = "[TIME] FTL stat ~/cloned_repo: no such file or directory"

**Basic Info (please complete t

[2022-08-03 14:20] anasoid opened #937 "stopwords compared with contain and not exact match"
**Describe the bug**
When ignoring some secrets using stopwords, other secrets are ignore as they contain stopwords

**To Reproduce**
stop word "123" ignore also secret "qwerty123"

**Expected behavior**
stopword ignore exact match (may be ignore case)

**Basic Info (please complete the following information):**
 - OS: ubuntu 22.04
 - Gitleaks Version: 8.9.0

cc @zricethezav

[2022-08-04 12:00] alexgit2k commented on #779
This is a very good idea, like other security analyzers are doing it:

- Semgrep
  - In line: `// nosemgrep: <rule>` (see https://semgrep.dev/docs/ignoring-files-folders-code/#reference-summary)
  - Before line: `// nosemgrep: <rule>` (see https://semgrep.dev/docs/ignoring-files-folders-code/#reference-summary)
  - File: `.semgrepignore`
- ESLint
  - In line: `// eslint-disable-line <rule>` (see h

[2022-08-04 12:18] zricethezav commented on #779
You can use [allowlists](https://github.com/zricethezav/gitleaks#configuration) to achieve this or use [`gitleaks:allow`](https://github.com/zricethezav/gitleaks/blob/master/detect/detect.go#L35) in a comment. Using `gitleaks:allow` is currently not documented. Note that `gitleaks:allow` does not work retroactively. I,e. if you introduce a commit _without_ `gitleaks:allow` and then later add a `gi

[2022-08-04 13:25] alexgit2k commented on #779
I have seen `allowlists`, this is a powerfull feature with a lot of configuration possibilities but overkill for a single ignore and it is more readable for a developer when having the ignore comment in the same line.

Just tried `gitleaks:allow`, works perfectly. I have seen that it has been introduced in [!809](https://github.com/zricethezav/gitleaks/pull/809) with v8.5.0. Of course it should no

[2022-08-04 17:52] ppejovic commented on #821
@danysprof Did you see the same behavior when operating the pre-receive hook on a remote outside of GitLab? I'm seeing something very similar where a gitleaks pre-receive hook in GitLab isn't scanning incoming content, but when I put the hook script in a local bare repo and push to that it works.

[2022-08-06 04:54] venkatn087 opened #939 "Can we configure gitleaks with GitKraken"
Hi Team,

Could you please let me know how to integrate gitleaks with the gitkraken?

Thanks
Venkat

[2022-08-06 04:55] venkatn087 opened #940 "Can we integrate gitleaks with Intellij Editor"
Hi Team,

Could you please let me know  how to integrate gitleaks with Intellij Editor?

Thanks
Venkat

[2022-08-06 13:39] zricethezav commented on #937
`123` is not part of the default stopwords. What you are describing is what is intended; if `123` is part of the secret, then the secret should be ignored if that is what is configured.

[2022-08-06 13:39] #937 closed

[2022-08-06 13:40] zricethezav commented on #939
Sounds like you're looking for commercial support https://gitleaks.io/support.html

[2022-08-06 13:40] #939 closed

[2022-08-06 13:40] zricethezav commented on #940
Sounds like you're looking for commercial support https://gitleaks.io/support.html

[2022-08-06 13:40] #940 closed

[2022-08-06 13:41] zricethezav commented on #934
@RickyGrassmuck

This sounds like a feature worth adding. I don't have the bandwidth right now to focus on introducing this so if you have the code available I would happily review and potentially accept a PR

[2022-08-06 14:00] zricethezav commented on #787
https://github.com/zricethezav/gitleaks/pull/941 just added some docs. gonna close this one out

[2022-08-06 14:00] #787 closed

[2022-08-06 14:05] zricethezav commented on #779
Just added some docs for this `gitleaks:allow` feature: https://github.com/zricethezav/gitleaks/pull/941

Gonna close this issue out and focus on https://github.com/zricethezav/gitleaks/issues/888

[2022-08-06 14:05] #779 closed

[2022-08-06 14:09] zricethezav commented on #194
I don't plan on adding this feature since it is possible to test rules using a custom config. This is a bit more work for the end user but has the benefit of not cluttering the cli

[2022-08-06 14:09] #194 closed

[2022-08-06 14:17] zricethezav commented on #279
The `cmd/generate` package effectively does this. You can define false positives and true positives to test rules against

[2022-08-06 14:17] #279 closed

[2022-08-07 19:00] zricethezav commented on #888
@namanpreetsingh you can do this with adding a `.gitleaksignore` file to the root of the repo:
PR : https://github.com/zricethezav/gitleaks/pull/938
Docs: https://github.com/zricethezav/gitleaks#gitleaksignore

[2022-08-07 19:00] #888 closed

[2022-08-08 17:27] det opened #945 "Gitleaks will segfault when using the --source option with detect"
**Describe the bug**
Gitleaks will segfault when using the --source option with detect.

**To Reproduce**
`gitleaks detect --source <file that exists>`

**Screenshots**
[code]

**Basic Info (please complete the following information):**
 - OS: Linux
 - Gitleaks Version: 8.10.0 and 8.10.1

**Additional context**
This began happening in 8.10.0. 8.9.x is fine.
Reproduced with both self-compiled gitle

[2022-08-08 18:25] zricethezav commented on #945
@det thanks, likely because `info` is null in this [bit](https://github.com/zricethezav/gitleaks/blob/master/cmd/detect.go#L75-L77):

[code]

I'll try and push out a fix soon

[2022-08-08 19:17] zricethezav commented on #945
@det
https://github.com/zricethezav/gitleaks/pull/946 should fix it

[2022-08-08 19:21] det commented on #945
Thanks for the quick turnaround!

[2022-08-08 19:52] zricethezav commented on #945
You bet, https://github.com/zricethezav/gitleaks/releases/tag/v8.10.2 released. Feel free to reopen this issue if this change doesn't fix your error.

[2022-08-08 19:52] #945 closed

[2022-08-09 10:27] YogevBokobza opened #947 "Problems with current implementation - adding the ability to extend configuration files"
Hi,

I saw that in the latest version of Gitleaks it's now possible to extend configuration files as merged here: https://github.com/zricethezav/gitleaks/pull/926

First, that's an awesome idea because it allows separating configuration to multiple files and not having 1 big configuration file.

Secondly, I think there is a misunderstanding with the documentation of this feature:

Actually, more r

[2022-08-09 12:00] anasoid commented on #937
Hello,

we have a custom gitleaks who extend from default config, thanks for this new feature, and for customization we have a small stopwords who can have a risk to hide a real secrets

[2022-08-09 12:36] YogevBokobza opened #948 "Adding version property to gitleaks.toml"
Hi,

Is it possible to add "version" property to gitleaks.toml?

Example:

# Title for the gitleaks configuration file.
title = "Gitleaks title"
# Version for the gitleaks configuration file.
version = "8.10.1"

This will allow controlling the versioning of the configuration files.
Can be also displayed when running the command

Thanks,
Yogev.

cc @zricethezav

[2022-08-09 19:42] zricethezav commented on #947
Hi @YogevBokobza,

Thanks a detailed issue.

I think that makes sense. I'd be happy to review a documentation change if you want to open a PR.

Would it help if gitleaks would expand env vars so you could have something like:
[code]
where gitleaks would expand `PATH_TO_CONFIGS`?

gitleaks detect -c PATH_TO_CONFIGS_FILES/base.toml -c PATH_TO_CONFIGS_FILES/ourconfig.toml
so PATH_TO_CONFIGS_FILES/bas

[2022-08-10 05:39] venkatn087 opened #949 "can we configure gitleaks a global level hook"
Hi Team,
I can understand that gitleaks can be confgired as  a pre-commit hook as per below instructions .
   Create a .pre-commit-config.yaml file at the root of your repository with the following content:
repos:
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.2.0
    hooks:
      - id: gitleaks

here my question is instead of creating a .pre-commit-config.yaml file at root of the p

[2022-08-10 13:29] YogevBokobza commented on #947
Hi @zricethezav ,
Sure I will make PR with this.

About the improvement I suggested, I hear you that you are not willing to do the -c extension, but how about the first solution?

For example:
[code]

Something like that..

Yogev.

[2022-08-11 14:24] H4Xx0R-PC opened #950 "New Fingerprint generation + no git fingerprint support"
**Is your feature request related to a problem? Please describe.**
The current implementation of generating fingerprints would never work with the --no-git flag. This is because the first part of the fingerprint is the git commit ID of the secret and there wouldn't be a commit ID's in non repos's. See this line from utils.go:33
`finding.Fingerprint = fmt.Sprintf("%s:%s:%s:%d", finding.Commit, find

[2022-08-11 15:37] ukaeufe opened #951 "Test data and test routines for the config"
Hi there,

I am struggling with a few rules in your default config and was looking for a test suite that walk through the existing rules to verify they hit.
In the repo I could not find such a test suite.
How do you ensure that your all rules and your code works as expected?

E.g. I have an issue detecting passwords. I saw in generic-access-key that password is in "keywords" and "stopwords" - I wo

[2022-08-12 12:38] zricethezav commented on #951
@ukaeufe rules are validated upon generation here https://github.com/zricethezav/gitleaks/blob/master/cmd/generate/config/rules/rule.go#L57-L83.

I have plans to add this code to the unit test. If you want to play around with the generic rule you can do so here https://github.com/zricethezav/gitleaks/blob/master/cmd/generate/config/rules/generic.go#L41-L53

[2022-08-12 12:44] zricethezav commented on #951
Keywords are a pre filter on a chunk of code. I,e. if a chunk of code does not contain a keyword, then ignore it. Stopwords ignore findings if the _secret_ contains a stopword. Note that stopwords look at the _secret_, not the whole regex _match_.

[code]

[2022-08-12 12:56] zricethezav commented on #950
https://github.com/zricethezav/gitleaks/pull/952

[2022-08-12 14:27] #950 closed

[2022-08-16 23:24] aabadia-dlocal commented on #821
I have the same problem, I am trying to use the GIT_ALTERNATE_OBJECT_DIRECTORIES or GIT_QUARANTINE_PATH variables in Bitbucket Server but I did not succeed

[2022-08-17 00:48] ppejovic commented on #821
I ended up managing to get this to work using a variation of the following GitLab pre-receive hook for Trufflehog:

https://community.opengroup.org/divido/secret-scanning-hook/-/blob/master/pre-receive-reject-secrets.bash

The script can actually be simplified quite a bit as you can pass the `git log` options on [line 48](https://community.opengroup.org/divido/secret-scanning-hook/-/blob/master/pr

[2022-08-17 00:54] zricethezav commented on #821
Exactly why I added that option!

Happy to review a PR adding some instruction on how to get a pre-receive hook working. I don't have the bandwidth to experiment with pre-receive hooks so any help from the community would be appreciated.

[2022-08-17 13:24] aabadia-dlocal commented on #821
@ppejovic Can you send your script? It would be very helpful

[2022-08-18 07:37] katrinleinweber commented on #629
Hello @soulcurrymedia,

you're missing the `detect` command, I think ;-) `gitleaks detect --no-git` will essentially "quickly scan the files [but] not all the commits".

Cheers!

[2022-08-18 07:44] katrinleinweber commented on #949
[This global hook install helper](https://gitlab.com/gitlab-com/gl-security/security-research/gitleaks-endpoint-installer#gitleaks-for-gitlab-endpoints) does exactly that, but since "[Git currently only allows to have a global **or** a local githook folder […] we can't chain global and local pre-commit hooks](https://gitlab.com/gitlab-com/gl-security/security-research/gitleaks-endpoint-installer/-

[2022-08-18 07:58] Jeeppler commented on #910
@zricethezav I have the same issue, with more than one repository. The one example I can share with you is analyzing [PyGoat](https://github.com/adeyosemanputra/pygoat):

[code]

* I redacted my user name in the output: `~/Repos/pygoat/.gitleaks.toml`

This was not the only repository which I tried and got the `empty buffer` error message.

The problem is, there is no report of the findings either

[2022-08-18 12:12] zricethezav commented on #910
@Jeeppler thanks for giving me a repo I can recreate this with. I'll try and debug it asap.

w.r.t this:

You can provide `-v` which will log findings to stdout and then use `--report-path` and/or `--report-format` to save a report.

[2022-08-18 17:39] YogevBokobza opened #960 "Scanning git but getting only last commit from file"
Hi,
I am trying to scan some repo and getting too many leaks that are on the history of the git log but do not exist anymore.
when I am using --no-git I am getting the remaining leaks.

Something is discussed here:
https://github.com/zricethezav/gitleaks/issues/156

How to achieve this behavior right now with --log-opts?

cc @zricethezav

[2022-08-18 20:10] zricethezav commented on #960
You can use `--log-opts=-1`

https://git-scm.com/docs/git-log#_commit_limiting

I recommend spending some time reading https://git-scm.com/docs/git-log and googling around if you want faster results. /

<img width="745" alt="Screen Shot 2022-08-18 at 3 09 14 PM" src="https://user-images.githubusercontent.com/15034943/185485368-fa59588e-c227-4b2a-b92a-106c7313d857.png">

If you want to see exactly

[2022-08-18 20:10] #960 closed

[2022-08-19 13:24] #951 closed

[2022-08-20 20:25] Sicks3c commented on #657
Hey

Is `--repo-url` depressed ?
What's the alternative in latest version ?

Cheers

[2022-08-21 08:42] YogevBokobza commented on #960
@zricethezav
This is not quite what I wanted...
`--log-opts=-1` will scan the last commit.
It won't scan the current master branch.
So if I do `--log-opts=-1` I get no leaks but if I do `--no-git` I am getting leaks.

[2022-08-22 04:56] tkreuder commented on #910
Same bug for me. I just switched back to zricethezav/gitleaks:v8.8.11 and it works (Have not tried any other previous versions).

[2022-08-22 11:39] venkatn087 commented on #949
Hi Team,
Thanks a lot for your kind response. As per your guidelines i have followed to install gitleaks as a pre-commit hook at global level as per listed command

bash <(curl https://gitlab.com/gitlab-com/gl-security/security-research/gitleaks-endpoint-installer/-/raw/main/install.sh)

After that i have done the commit on WebGoat repo and getting below message. could you please let me know where

[2022-08-22 13:25] katrinleinweber commented on #949
Hi @venkatn087, please note that that _GitLab_ tool is not affiliated with _gitleaks_. The output of `ls -ltr` above shows, that your `gitleaks` is not the [expected binary](https://gitlab.com/gitlab-com/gl-security/security-research/gitleaks-endpoint-installer/-/blob/94407c774f2967d882184d3206677d3ec286c0d3/hooks/pre-commit#L9), but a directory. Possibly, the installer script didn't complete.

My

[2022-08-22 21:32] shoedog opened #962 "Decrease Minimum Regex String Match for Generic Credential"
**Describe the solution you'd like**
Currently in cmd/generate/config/rules/generic.go
[code]
won't match `password = "password"`, or variations like "p@55w0rd", "pass1234!", etc
reducing the minimum length argument for the match to 8 will cover this scenario.
[code]

**Additional context**
Although, it is bad practice for anyone to use this type of credential, because it is common, it seems like

[2022-08-22 21:38] zricethezav commented on #962
@shoedog sounds reasonable, happy to review a PR. Thanks Wesley

[2022-08-23 17:27] shoedog commented on #962
Thanks, submitting PR now.

[2022-08-23 17:35] shoedog commented on #962
Submitted: https://github.com/zricethezav/gitleaks/pull/963

[2022-08-24 14:41] davidsalvador-tf opened #964 "`--log-opts` with multiple parameters not being correctly parsed"
**Describe the bug**
When running [the container version of gitleaks](https://hub.docker.com/r/zricethezav/gitleaks) and using `--log-opts` with multiple `git log` parameters, such as `--log-opts="--first-parent --no-merge"` the second (and following) `git log` parameters will be interpreted as a `gitleaks` parameter instead.

**To Reproduce**

Steps to reproduce the behavior:
1. Create the follow

[2022-08-24 22:53] zricethezav commented on #964
@davidsalvador-tf Thanks for raising the issue.

have you tried using single quotes?

[code]

Without spending too much time looking into this, this seems to get parsed correctly

[2022-08-26 14:11] maltemorgenstern commented on #910
Hey @zricethezav,
we just encountered this issue - gitleaks reported five `Empty buffer` errors:
[code]

I did some trial and error testing and was able to isolate a file which breaks gitleaks. Turns out this file is a 0 byte file.
And a quick search show that exactly five empty files exist in our repository:
[code]

If I find the time I will debug this - otherwise I hope this helps you finding th

[2022-08-26 14:30] zricethezav commented on #910
https://github.com/zricethezav/gitleaks/pull/965 should fix it right up

[2022-08-26 14:48] #910 closed

[2022-08-31 07:16] rverenich commented on #836
Hello!

Is there any update with `--pipe` option?

[2022-09-05 10:47] gawansch opened #974 "Baselining"
**Is your feature request related to a problem? Please describe.**
There is no easy way to create a baseline allowing users to ignore large number of legacy false positives.

**Describe the solution you'd like**
By adding --baseline argument pointing to a previously generated report, the user can ask gitleaks to hide known issues from the new report.

**Describe alternatives you've considered**
Wr

[2022-09-07 06:16] Wankhadess opened #976 "Gitleaks not working as expected for long history Commits on Gitlab"
**Describe the bug**
After adding custom configuration file .toml for excluding the commits. we are still getting the long history issues after providing the required method provided by you it's working fine for excluding the current commits we are getting in the logs at single run but after every run it displays new Issues from past and we have long history it's getting difficult to handle it in

[2022-09-07 06:57] rommi4 commented on #964
@davidsalvador-tf , what can help
please try:
[code]

[2022-09-07 07:24] rommi4 commented on #836
It would be great to have same scan as for git, but from Stdin (hense the name `gitleaks`). And implement additional universal scanners later. Let's move incrementally :)

[2022-09-07 10:48] akashchandwani opened #977 "Auto update version of gitleaks in README.md"
**Is your feature request related to a problem? Please describe.**
There is a hard-coded version of gitleaks present in the installation process via `pre-commit` method in the README.md. Unfortunately, a user who might come to the site, might not find the latest version of gitleaks in the config file as it might not be updated manually as there is no automated way to do it presently.

**Describe t

[2022-09-07 13:06] #977 closed

[2022-09-09 22:17] zricethezav commented on #964
@davidsalvador-tf does the solution provided by @rommi4 work?

[2022-09-13 10:33] stefan-kolb opened #979 "Ignore secrets with .gitleaksignore"
**Describe the bug**
When I try to add specific findings to the .gitleaksignore via their fingerprint, each of the findings reports a new fingerprint on the next commit and reappears. I want to ignore certain secrets but I'm not sure if this is possible with this feature or if I am doing something fundamentally wrong.

**To Reproduce**
Steps to reproduce the behavior:

0. Scan is done via `gitleak

[2022-09-13 13:16] zricethezav commented on #979
@stefan-kolb can you give me commands to run to reproduce this bug because I have not experienced this

[2022-09-13 16:14] #979 closed

[2022-09-14 12:20] b4bay opened #980 "Add support for Telegram Bot API Token"
Add support for Telegram Bot API Token. Format is described here: https://core.telegram.org/bots/api#authorizing-your-bot

Please consoder following requirements:

- Implemented via Gitleaks Rules
- Match variable assigment
- Match environment variables assigment (.env) and YAML files
- Match URL containing token

cc @zricethezav

[2022-09-16 14:15] zricethezav commented on #949
A global pre-commit hook installer sounds like a good idea. `gitleaks install pre-commit` or something. I'm not sure when I can work on this but happy to review a PR if someone wants to work on this

[2022-09-16 14:20] #626 closed

[2022-09-16 14:32] zricethezav commented on #873
@pburkholder
0-length files are explicitly skipped [here](https://github.com/zricethezav/gitleaks/blob/master/detect/detect.go#L381-L396). As for whether this is a bug or not... I don't really have a strong opinion on it either way since this is mostly a rare edge case. If you, or someone in the community feel like contributing a patch, I'm happy to review it. Otherwise, I'll give this another mon

[2022-09-16 14:37] zricethezav commented on #976
@Wankhadess

Allowlists to not stop the scan from continuing to look at history. Commits in allowlists instruct gitleaks to ignore those commits. If you want to limit the history of what is scanned then you need to use `--log-opts` which accept any `git log` arguments. https://git-scm.com/docs/git-log

Closing this issue as it is not a bug. You can continue the conversation on this issue even thou

[2022-09-16 14:37] #976 closed

[2022-09-16 14:38] zricethezav commented on #935
@minispooner fair, I'm happy to accept contributions on this one

[2022-09-16 14:41] zricethezav commented on #861
<img width="1236" alt="Screen Shot 2022-09-16 at 9 41 12 AM" src="https://user-images.githubusercontent.com/15034943/190665574-7d6ed2b3-5226-4671-9ef1-7211ec4abb5d.png">

forgot to close this one

[2022-09-16 14:41] #861 closed

[2022-09-16 14:45] zricethezav commented on #922
@alexgit2k I'm happy to accept a PR for this if you want to contribute a small patch.

I'd argue we should remove the `NOTE` section as it might unnecessarily confuse folks

[2022-09-16 14:46] #913 closed

[2022-09-16 14:48] zricethezav commented on #867
@tbennett6421 is this still an issue? I'm unable to reproduce this bug

[2022-09-16 14:50] zricethezav commented on #864
Sidekiq rules were added with https://github.com/zricethezav/gitleaks/pull/933

[2022-09-16 14:50] #864 closed

[2022-09-16 14:52] zricethezav commented on #974
Closing with https://github.com/zricethezav/gitleaks/pull/975, thanks for the contribution @gawansch, you will be mentioned in the release

[2022-09-16 14:52] #974 closed

[2022-09-16 15:54] zricethezav commented on #775
Going to close this issue due to inactivity. @galiagante feel free to re-open if this is still an issue.

[2022-09-16 15:54] #775 closed

[2022-09-16 15:58] zricethezav commented on #796
@sergiomarotco Closing this issue as it is not descriptive enough. If the vault/hashicorp rules need to be updated, feel free to open a PR

[2022-09-16 15:58] #796 closed

[2022-09-16 16:04] #709 closed

[2022-09-16 16:07] zricethezav commented on #596
@foolioo gonna close this issue with the addition of https://github.com/zricethezav/gitleaks/pull/926. If https://github.com/zricethezav/gitleaks/pull/926 does not satisfy your needs than feel free to reopen this issue and update its description. At this time I don't want gitleaks making any network requests but that is subject to change in the future.

[2022-09-16 16:07] #596 closed

[2022-09-16 16:47] #532 closed

[2022-09-16 17:51] tbennett6421 commented on #867
I just retried this after pulling the latest updates from the repo and it still appears to be an issue.
<img width="502" alt="image" src="https://user-images.githubusercontent.com/6843296/190701715-157662b2-6e00-4399-b86b-4314241577bc.png">

[2022-09-16 20:07] adamdecaf commented on #709
Sounds good, thanks!

[2022-09-17 15:26] #980 closed

[2022-09-20 11:51] sergiomarotco opened #982 "Rule for finding .pfx files"
**Describe the solution you'd like**
Files *.pfx and similar contains crytokeys contain cryptographic keys. It would be nice to find such files in the repositories.
![image](https://user-images.githubusercontent.com/29877074/191250352-8e50eb86-9714-4f93-af66-132f1953d558.png)

cc @zricethezav

[2022-09-20 13:08] t3mi opened #983 "print resulting configuration for debug purpose if extend directive is used"
**Is your feature request related to a problem? Please describe.**
If would be good for debug purpose to have an option to print/dump resulting configuration which would be used by the gitleaks tool when `extend` directive is used.
My use case - I have a few false positives which are triggered by deafult `generic-api-key`. So in attempts to minimize them I wanted to override entropy/allowlist valu

[2022-09-20 21:07] rommi4 commented on #867
@tbennett6421
can't reproduce:
[code]

[code]

[2022-09-22 14:06] zricethezav commented on #983
Hey @t3mi, I think this is a valid request. I'll have to think about whether I want to introduce this information in the `debug` log level, part of a separate command like `gitleaks config`, or as a global option like `gitleaks detect --print-config`

That is correct, when you extend rules using the same name, the extended rule will replace the base rule. This should probably be better documented

[2022-09-22 21:49] zricethezav commented on #964
Going to close this issue as @rommi4 provided a solution. If this is not acceptable, please feel free to reopen @davidsalvador-tf

[2022-09-22 21:49] #964 closed

[2022-09-22 21:50] zricethezav commented on #932
shelving this feature for now, I have some other ideas

[2022-09-22 21:50] #932 closed

[2022-09-24 03:40] noloader commented on #646
Add a mee too. We are working on Ubuntu 20, and it cannot build the tool.

[code]

And:

[code]

We use Ubuntu 20 because it is an approved image at the organization. Cutting over to Fedora 35 for Golang 1.16 is going to cause a fair amount of trouble for us. We need a security exception to run non-approved software and images. We will need to fast track it, so we have to go to a VP for approval.

[2022-09-24 04:18] zricethezav commented on #646
@noloader what are you asking

[2022-09-25 14:17] zricethezav commented on #646
@noloader Golang 1.16 is out of the release cycle anyways https://github.com/golang/go/security/policy

Until very recently the "gitleaks team" has been just me. I do this in my free time, for free mostly.

Sounds important. If you want Gitleaks to be "buildable" on 1.16, I recommend you contact us via https://gitleaks.io/contact.html where we could explore a maintenance and support agreement.

[2022-09-25 15:32] noloader commented on #646
Thanks @zricethezav.

I believe Go version is 1.13 (if I am parsing Apt output correctly). That's the version supplied by Ubuntu 20.

We ended up moving on to another tool. We don't have the time to invest into GitLeaks at the moment. Management wants a quick turnaround on the task the team is working on.

And great job on the tool. It looks very useful. I'm sorry we were not able to use it for th

[2022-09-25 21:40] weineran commented on #646
For anyone else trying to build gitleaks on Ubuntu 20, you can remove old versions of go and install a later version like so:
[code]
Full instructions: https://go.dev/doc/install

If you just need to _use_ gitleaks on Ubuntu 20, you have some additional options:
* Use the gitleaks docker image: https://github.com/zricethezav/gitleaks#installing
* Download the appropriate gitleaks binary for your O

[2022-09-27 08:00] MarkLee131 opened #988 "No json report file generated in docker version v8.13.0"
**Describe the bug**
I tried to output the json format report for a repo  in docker version v8.13.0, but it finished scan without generating the json file.

**To Reproduce**
`sudo docker run -it -v /home/lkx/php-src:/src zricethezav/gitleaks detect -s /src -r /src/111.json`

**Expected behavior**
A json file named `111.json` is supposed to be generated in the folder `/src` in the container.

**Scr

[2022-09-27 15:38] weineran commented on #988
@MarkLee131 Thanks for the bug report. Can you run it again with `--log-level debug` and post the logs?

@zricethezav I tried to reproduce on macos but was unable. The json report was created successfully for me. I will try to reproduce on Ubuntu / WSL today

[2022-09-28 17:13] Kurt-von-Laven opened #992 "Ignore Remotes"
**Is your feature request related to a problem? Please describe.**
Gitleaks is exceptionally thorough and checks commits that were never a part of the history of the repository in question at any time. For instance, Git retains commits that have been fetched from a remote even once the remote has been removed and `git gc --aggressive --prune=now` has been run. In a repository that once fetched fro

[2022-09-29 03:29] weineran commented on #992
@Kurt-von-Laven This is interesting. Thanks for the thorough write up.

Are you able to provide basic steps to reproduce this issue?

[2022-09-29 04:08] Kurt-von-Laven commented on #992
Thanks for the quick reply!

1. Clone a repository without any leaks, such as [ScribeMD/pre-commit-hooks](https://github.com/ScribeMD/pre-commit-hooks).
1. Change directories into the repository.
1. Either [follow the setup steps in our contributing guide](https://github.com/ScribeMD/.github/blob/main/CONTRIBUTING.md#setup) and then run `pre-commit run --all-files --hook-stage push`, or else run G

[2022-09-29 15:00] maltemorgenstern commented on #935
@minispooner are you running gitleaks using the docker container?

I did some testing locally and can only partially reproduce this issue:
- When running gitleaks inside Debian 10 WSL the `~` gets expanded without any issues and gitleaks scans the home directory
  `./gitleaks detect --log-level debug -s ~/secrets --no-git`
- When running gitleaks __manually__ inside the docker container the `~` ge

[2022-09-30 03:29] minispooner commented on #935
iirc, I came across the issue while running a bash loop over a hosts file in ubuntu 20.04 - not in docker. sorry I probably can't look into this one deeper. also im not familiar with go

[2022-09-30 09:36] tarrade opened #994 "[pre-commit hook] An unexpected error has occurred: CalledProcessError: command: ('/usr/bin/git', 'config', 'remote.origin.url')"
**Describe the bug**
On Ubuntu, and using gitleaks in a pre-commit hooks is cashing at the initialization step

**To Reproduce**
As stated in the doc, in the .pre-commit-commit.yaml add the following
[code]
Then run:
`pre-commit run --all-files --verbose`

I am getting:
[code]

Looking at the logs doesn't give me a message that I can understand
### version information

[code]

### error informatio

[2022-09-30 11:23] ukaeufe opened #995 "Fingerprint shows no "hash""
**Describe the bug**
In the output of gitleaks I do not see any unique hash or id in the fingerprint. Instead I see the path to the file plus and ending like :"758"

**To Reproduce**
1) run gitleaks detect
2) check report

**Expected behavior**
A fingerprint as in your gitleaksignore is visible

**Screenshots**

{
  "Description": "Generic API Key",
  "StartLine": 10,
  "EndLine": 10,
  "StartColu

[2022-09-30 12:19] #995 closed

[2022-10-03 17:30] tarrade commented on #994
seems to be ok:

[code]

[code]

[2022-10-03 17:47] tarrade commented on #994
I have the feeling that the script is failing somewhere else and report the wrong issue.

what is done after the repo is clone by the pre-commit hook ? I didn't really find it.
If I try to use "make" then I see some issues with url redirect blocked by the proxy. This is maybe the main issue or something that I will face later:

(jupyter-notebook)jupyter@:~/.cache/pre-commit/repors3wlicl$make
go te

[2022-10-04 06:55] tarrade commented on #994
I am able to trigger the same error using the following code:

[code]

I have the same error if instead of gitleak github repo, I am using one of my github repository.

Now, if I tried to mimic what is done in "cmd_output"
- go to the repo
- run `git config remote.origin.url`  output nothing
but if I use:
`git remote -v`
origin  https://github.com/zricethezav/gitleaks (fetch)
origin  https://githu

[2022-10-04 07:53] tarrade commented on #994
Ok, I think the issue is related to that. If I pass the --file, then it works:

[code]

For my proxy config, I am setting a  GIT_CONFIG=/home/jupyter/.gitconfig

It seems that in new version "For reading options: read only from the specified file rather than from all available files." [Stackoverflow](https://stackoverflow.com/questions/67708573/how-do-i-use-git-config-environment-variable) the -f

[2022-10-04 08:39] MarkLee131 commented on #988
Thanks for your reply, weinaran. Sorry for the late reply to you.
I tried run it again with `--log-level debug`. The output is as follows.
[code]
It seems to run successfully, but I did not find any json file in the `/src` folder.

[2022-10-04 15:44] weineran commented on #994
Glad to hear the issue is not specific to gitleaks.

Does that mean you've resolved the issue? Does it make sense to close this issue now?

[2022-10-04 18:30] tarrade commented on #994
@weineran the issue seems to be either on my git config (still have the issue even if I am not using GIT_CONFIG env variable) or on the pre-commit python utis. It seems not related to gitleaks directly.

I will close this ticket. The discussion is continuing here: https://github.com/pre-commit/pre-commit/issues/2540

[2022-10-04 18:30] #994 closed

[2022-10-04 20:20] tarrade commented on #994
Issue fixed, in my case having a env variable GIT_CONFIG was creating the issue. An empty value is not a valid solution as well. The env variable should not be created or unset.

[2022-10-05 01:36] weineran commented on #994
Thanks for posting the solution @tarrade !

[2022-10-05 03:15] weineran opened #999 "How to configure gitleaks"
Opening an issue for greater visibility for @zricethezav's latest blog post on gitleaks configuration: https://blog.gitleaks.io/stop-leaking-secrets-configuration-2-3-aeed293b1fbf

Read the blog post to learn:
* How to specify a custom config file
* How to pull in a central config file that can be used across multiple repos
* How to extend a central config file with a repo-specific config file
* S

[2022-10-05 03:36] weineran commented on #988
I tried reproducing on WSL, but was unable to reproduce...

[code]

@MarkLee131 Can you try the following?
* Run the stopped container interactively using a shell:
[code]
* In the container, echo something to a file in the `src` directory:
[code]
* **Expected**: It should let you write the test.json file in the container
* Exit the container
* `ls` in the relevant directory on your local filesyste

[2022-10-05 18:55] roma8389 opened #1001 "Get the option to skip blob\commit scan by size OR limit the rule scan\regex by time"
Hi,

i am using gitleaks which is a great tool, but in some cases i have large objects in .git history which resolve to very long time of the tool execution. i was wonder if it possible to get a CLI switch where i will add timeout pre rule or size of blob to skip. one of this option will solve my problem. the other option is to remove large files from history which is not stable solution.
I do nee

[2022-10-06 07:15] MarkLee131 commented on #988
Thanks for your reply.

1. I followed your guide to run command `echo "foo" > test.json` in the container. But I found it failed as follows.
[code]

2. My docker version is:

`Docker version 20.10.7, build f0df350`

An interesting finding is that my workmate run it successfully on his WSL, generating a json file using the same command...

3. Another question is that whether a json file will be gen

[2022-10-06 12:22] 26tanishabanik commented on #934
@zricethezav , can I work on this issue?

[2022-10-06 13:07] zricethezav commented on #934
@26tanishabanik go for it, happy to review a PR

[2022-10-06 13:43] 26tanishabanik commented on #934
@zricethezav , from where should I start with for this issue?

[2022-10-06 15:05] weineran commented on #934
Reading the issue history, it looks like @RickyGrassmuck already has a rough implementation of this feature. @RickyGrassmuck If you haven't already done so, can you open a PR with whatever implementation you have so far? Then maybe @26tanishabanik can pick it up from there...

[2022-10-06 15:34] weineran opened #1004 "Add logging around failure to write report"
**Is your feature request related to a problem? Please describe.**
Yes, it is related to a problem.

When gitleaks fails to write the report file, apparently it fails silently. See discussion on this issue: https://github.com/zricethezav/gitleaks/issues/988

**Describe the solution you'd like**
There are two solutions:
1. When gitleaks fails to write the report file, should log a useful warning or

[2022-10-06 15:35] weineran commented on #988
I wrote up an issue here: https://github.com/zricethezav/gitleaks/issues/1004

[2022-10-06 16:17] weineran commented on #1004
Update:
I actually do see logging when the report fails to write.

Command:
[code]

Result:
[code]

Need to investigate further to understand why the failure in #988 wasn't being logged...

[2022-10-06 16:33] weineran commented on #1004
When I run using docker, the FTL log is _not_ printed to console:
[code]
[code]

However, when I build the docker image from source, and then run that image, it _does_ print the FTL log to console:
[code]
[code]
[code]

So why is the behavior of the locally built docker image different than the released docker image? 🤔
@zricethezav Any thoughts?

[2022-10-07 13:59] aneuway2 commented on #914
Interestingly enough I also am seeing this with ipynb files converted to python. The following detected no leaks:
[code]
[code]
When I manually ran the regex for generic-api-key against the file outside of gitleaks it finds the password...so I'm not sure whats up

https://regex101.com/r/oRzkS2/1

[2022-10-07 14:08] zricethezav commented on #914
@aneuway2 `ExposedExposedExposedExposed` has an entropy of 2.52, which is below the generic password entropy threshold: https://github.com/zricethezav/gitleaks/blob/master/config/gitleaks.toml#L487

[2022-10-07 16:56] aneuway2 commented on #914
Thanks @zricethezav ! Based on whats posted in issue #999, I wrote the following config toml and it appears to have resolved that based on your feedback:
[code]

So my issue is unrelated to this issue, but `nbconvert` may be a workaround for resolving this issue ;-)

By change can you point me to more information on how you determined the entropy?

[2022-10-08 12:54] weineran commented on #988
@MarkLee131 Let me know if the suggested command works. It writes the report to the /home/gitleaks/src directory in the container, which you should have write permissions to.

[2022-10-08 13:25] MarkLee131 commented on #988
Sorry. I tried the given command, but no Json file generated in the `/home/gitleaks/src` directory in the container, neither for the location in the host .

[code]

[code]

According to your advice, we think it was caused by the not enough permission to write json file. Because the user of the container is "gitleaks", who does not have the permission to write. And we solved it by giving the writin

[2022-10-08 18:21] RickyGrassmuck commented on #934
Yeah, I have it somewhere, I'll dig it up and get a PR open.

[2022-10-10 09:00] samyutha90 opened #1006 "Gileak Scan - -files-at-commit=latest"
I have the Gileak Scan report that has all the previous commits as well listed. I dont want those history of the scan repot to be shown. Can someone help me with the --files-at-commit=latest command and how to use it.

[2022-10-10 09:47] SubOptimal commented on #1006
This option was removed with version [v8.0.0](https://github.com/zricethezav/gitleaks/releases/tag/v8.0.0), released 22 Nov 2021.

The former option `--files-at-commit` expects a SHA as parameter, so `latest` is a wrong value.

[code]

Based on the release comment from v8.0.0 you could achieve a scan at a specific commit as

[code]

[2022-10-10 13:16] zricethezav commented on #914
@aneuway2 Sure! The entropy calculation Gitleaks uses is the one defined here: https://planetcalc.com/2476/ and you can see the implementation here: https://github.com/zricethezav/gitleaks/blob/master/detect/utils.go#L38-L60

[code]

[2022-10-10 20:32] weineran commented on #1004
Todo

- [ ] Double check that with the released docker image, the report file is not being written
- [ ] Find another fatal failure to trigger. See if the released docker image logs that FTL log.

[2022-10-10 20:42] weineran commented on #988
@MarkLee131 Can you clarify, who is the owner of the local `php-src` directory? In all of your examples above, is `root` the owner of that directory?

[2022-10-10 21:21] zricethezav commented on #1001
closing this issue with the release of https://github.com/zricethezav/gitleaks/releases/tag/v8.14.0

Thanks @roma8389

[2022-10-10 21:21] #1001 closed

[2022-10-10 21:37] roma8389 commented on #1001
@zricethezav  TY!

[2022-10-11 00:56] basictheprogram opened #1007 "FTL error="flag accessed but not defined: log-opts""
**Describe the bug**
Upgraded gitleaks to 8.14.0 and now multiple different repositories throw the same error
[code]

**To Reproduce**
Pre-commit hook
[code]
$ pre-commit run --all-files

**Expected behavior**
The pre-commit hook would not throw an error

**Basic Info (please complete the following information):**
 - OS:
[code]
 - Gitleaks Version:  v8.14.0

cc @zricethezav

[2022-10-11 10:54] davidsalvador-tf opened #1008 "Evaluation order of regexes"
**Describe the bug**
Opening this as a question, rather than a bug, because I would like to confirm a behavior related to the evaluation order of regexes.

**To Reproduce**
Given the following configuration file (`config.toml`):
[code]

The following file to be analyzed with `gitleaks` (`target.yaml`):
[code]

And running `gitleaks`:
[code]

I get the following result (shortened for simplicity):
[

[2022-10-11 11:32] christiansalway1 commented on #1007
Same issue

[2022-10-11 11:33] ccsalway commented on #1007
Same issue just started happening with latest git pull

[2022-10-11 12:08] zricethezav commented on #1007
@ccsalway @foolioo @basictheprogram Put in a fix here https://github.com/zricethezav/gitleaks/pull/1009

I'm surprised it wasn't failing before...

[2022-10-11 12:11] #1007 closed

[2022-10-11 12:16] zricethezav commented on #1007
Fixed and released with https://github.com/zricethezav/gitleaks/releases/tag/v8.14.1

I figured out this this bug has existed for a while. The program would continue after failing the check for assigning `log-opts`. Until https://github.com/zricethezav/gitleaks/pull/985, this failure went unnoticed

[2022-10-11 12:39] zricethezav commented on #1008
@davidsalvador-tf

[code]

This will check against the extracted secret from a rule. You can see the implementation here https://github.com/zricethezav/gitleaks/blob/master/detect/detect.go#L260-L264

[code]

I'm considering adding an option that changes the behavior to let allowlists check the line/lines containing the secret OR match

[2022-10-11 13:18] davidsalvador-tf commented on #1008
Ok, I understand. Closing this issue/question.

Thanks for your quick response!

[2022-10-11 13:18] #1008 closed

[2022-10-11 19:25] RickyGrassmuck commented on #934
@weineran Just cleaned up and pushed the implementation I had come up with and added an additional test for the new functionality in #1010.

I also updated all the existing tests so that they match the new findings structure and all the tests are passing on my local machine.

[2022-10-12 18:56] Kurt-von-Laven commented on #992
@weineran, I am curious what result you experience from the repro steps.

[2022-10-13 00:28] #934 closed

[2022-10-14 10:27] e23e opened #1013 "adding secret validation feature"
**Is your feature request related to a problem? Please describe.**
Gitleaks is actually a great tool and has good options to identify general API keys and passwords with entropy, and I think it will be great if Gitleaks contains secret validations as well, In my opinion, it will be very useful to reduce false positives by eliminating expired and invalid keys. Actually [trufflehog](https://github.c

[2022-10-15 19:14] elijaholmos opened #1014 "false positives in pnpm lockfile"
### Discussed in https://github.com/zricethezav/gitleaks/discussions/1005

<div type='discussions-op-text'>

<sup>Originally posted by **elijaholmos** October  7, 2022</sup>
I use CI for dependency management in one of my [public repos](https://github.com/elijaholmos/halo-discord-extension), and recently, a pull request was created that triggered several false positives from the Gitleaks GitHub ac

[2022-10-15 21:36] SubOptimal commented on #1014
You might use a customized `.gitleaks.toml`, e.g. in the root directory of your repository. Assuming `gitleaks` run the scan from the root.

Copy the file [gitleaks.toml](https://github.com/zricethezav/gitleaks/blob/master/config/gitleaks.toml) to the root of your repository as `.gitleaks.toml`.

As the `pnpm-lock.yaml` most probably is updated with `pnpm i --lockfile-only` it could be excluded fr

[2022-10-15 22:09] elijaholmos commented on #1014
hi @SubOptimal, thank you for the response. I was able to setup a `.gitleaks.toml` file in my repository and used the first configuration option you sent to add `pnpm-lock.yaml` to the global allow list.

I didn't want to copy the entire [gitleaks.toml](https://github.com/zricethezav/gitleaks/blob/master/config/gitleaks.toml?rgh-link-date=2022-10-15T21%3A36%3A22Z) that you linked, so my `.gitleaks

[2022-10-16 03:32] weineran commented on #1014
No. By putting a .gitleaks.toml file in your repo root, you are overriding the default config.

It sounds like you might want to "extend" the default config. See this blog post for more info: https://blog.gitleaks.io/stop-leaking-secrets-configuration-2-3-aeed293b1fbf#15a4

[2022-10-16 18:48] elijaholmos commented on #1014
thanks @weineran for sharing that article. the `useDefault` flag is exactly what I was looking for. unfortunately, the example repo linked in the article has been taken down, but I was still able to gather enough from the written examples. thank you both for your help!

[2022-10-17 12:34] carelschoeman opened #1017 "gitleaks failed to detect secret when multiple rules are defined"
**Describe the bug**
gitleaks failed to detect secret when multiple rules are defined

**To Reproduce**
Steps to reproduce the behavior:

I created a basic git repo with a single text file, _file.txt_, with content

[code]

I also added a _.gitleaks.toml_ file with the following content

[code]

In my test case I simply staged it and scanned it using  `gitleaks protect --staged`.

This found my le

[2022-10-20 02:54] MarkLee131 commented on #988
yeah, the owner above is root. But it seems that I still got the same result when trying as the roles rather than root.

[2022-10-20 15:19] weedobaledo opened #1021 "Getting a "could not write error=" when trying to generate report"
I'm trying to use gitleaks in an Azure DevOps pipeline. I install and run gitleaks using Docker.

Here's the command I use:
docker run -v $(pwd):/path zricethezav/gitleaks:latest detect --report-path leaks/leaks.txt --source /path --log-level=debug

Here's the log of the error I get.
Status: Downloaded newer image for zricethezav/gitleaks:latest
docker.io/zricethezav/gitleaks:latest

    ○
    │╲

[2022-10-20 16:58] kbroughton opened #1022 "Error: unknown option "staged" when running pre-commit with docker_image language"
**Describe the bug**
I'm seeing the [unsafe directory bug](https://github.com/zricethezav/gitleaks/pull/883)
but I'm using the most recent container
zricethezav/gitleaks:v8.15.0
344cf751f79b   7 days ago      36.1MB

**To Reproduce**
Use the .pre-commit-config.yaml as suggested [here](https://github.com/zricethezav/gitleaks/blob/master/.pre-commit-hooks.yaml)

echo '-----BEGIN RSA PRIVATE KEY-----

[2022-10-20 17:23] weineran commented on #1021
Can you post the commands you used to verify this? Did you connect to the container using `docker exec -it ...`

[2022-10-20 17:48] weedobaledo commented on #1021
I did not exec to the container, but did these commands:

mkdir leaks
echo “Overwriting the existing text in the file” >> $(pwd)/leaks/leaks.txt
ls -la $(pwd)/leaks/leaks.txt
cat $(pwd)/leaks/leaks.txt

**Output**:

-rw-r--r-- 1 vsts docker 48 Oct 20 15:35 /home/vsts/work/1/s/leaks/leaks.txt

Overwriting the existing text in the file

[2022-10-20 18:34] weineran commented on #1021
Looks like some confusion over volume mapping. To troubleshoot, I recommend connecting to the container and poking around.
- Run the stopped container interactively using a shell:
[code]
* Once you're in the container, check if the `leaks` directory exists in the working directory. I believe your working directory will be `/` and you will find that the `leaks` directory does not exist there.
* Che

[2022-10-20 22:46] weedobaledo commented on #1021
@weineran - first, thanks very much for the detailed and descriptive explanation.

Unfortunately, I'm still stuck with this issue.

- As I'm using a Microsoft provided Azure DevOps container, I'm handicapped with what I can and can't do.
- I don't think I have the ability to exec into the Docker container without writing an entrypoint script. The only access I have to the shell in an Azure DevOps

[2022-10-21 02:58] weineran commented on #1021
I'm not familiar with Azure DevOps pipelines, so maybe someone else from the community can jump in and help here...?

In the meantime, one more idea. Based on the output you posted further above, it looks like the target directory is owned by the `vsts` user, so you could try re-running your docker run command with `--user=vsts` or maybe try `--user=root`

Let me know if that works

[2022-10-21 03:01] weineran commented on #1021
Regarding dumping the report to stdout, not sure it's possible but you could try `--report-path=/dev/stdout`

[2022-10-21 12:09] weedobaledo commented on #1021
**Output with --user=root**

Digest: sha256:ebf35c0373d275e0a65e424a35343a9c243bff848fc6c3340c410f59e6616cc8
Status: Downloaded newer image for zricethezav/gitleaks:latest
docker.io/zricethezav/gitleaks:latest

    ○
    │╲
    │ ○
    ○ ░
    ░    gitleaks

11:52AM DBG no gitleaks config found in path /path/.gitleaks.toml, using default gitleaks config
11:52AM DBG executing: /usr/bin/git -C /path

[2022-10-21 16:56] weineran commented on #1021
@weedobaledo I'll take a closer look at all this info this weekend.

Out of curiosity, are you able to reproduce any/all of these issues when running the docker container on your local machine? Or are these only reproducible in your Azure DevOps pipeline?

[2022-10-25 13:15] theprobugmaker commented on #995
@zricethezav I'm confused with this... I'm using pre-commit and I can't commit cause of that, how am I supposed to ignore a file that doesn't have a hash yet?

[2022-10-25 15:23] weineran commented on #995
@theprobugmaker The .gitleaksignore feature is more intended for ignoring previously leaked secrets. If you always want to ignore a file during pre-commit scans, you might be better off adding that file to your allowlist.

Screenshot from readme:
![image](https://user-images.githubusercontent.com/5898785/197814700-c89f9018-8ec9-46d7-897b-4741c55bbe43.png)

Example of how gitleaks uses an allowlist

[2022-10-25 17:14] theprobugmaker commented on #995
@weineran Thank you for the answer. I tried to create a `gitleaks.toml` file to insert the `testdata` (a folder that usually contains keys for testing purposes) but it doesn't work when creating the commit (with `pre-commit`):

[code]

I even tried with different formats `**/testdata/**` but it still gives me an error saying that the key is being leaked.

[2022-10-26 18:19] theprobugmaker commented on #995
Hi there @weineran and @zricethezav, anything on this? I'm kinda stuck with this :(

[2022-10-26 20:27] weineran commented on #995
@theprobugmaker I'm a little stumped...Are you able to provide a test repo and full steps to reproduce the behavior you're seeing? Then maybe we can play around with it and figure it out.

[2022-10-26 20:46] theprobugmaker commented on #995
@weineran Here is an example: https://github.com/theprobugmaker/gitleaks-bug

Just install `pre-commit` as mentioned in the docs and try to create a commit, it will fail.

[2022-10-26 21:00] weineran commented on #995
Just had an idea. Are you specifying your gitleaks.toml file using `--config` or `GITLEAKS_CONFIG`? If not, it needs to be named `.gitleaks.toml` (notice the leading `.`) and placed in the root of your repo. See https://github.com/zricethezav/gitleaks#usage for more info

If it's using your custom config, you'll see something in the logs that tells you so.

[2022-10-26 21:01] weineran commented on #995
I just looked at your repo https://github.com/theprobugmaker/gitleaks-bug. Pretty sure the issue is just you need to rename your config file with a leading `.`

[2022-10-26 21:02] theprobugmaker commented on #995
You are 100% right, for some reason I thought there would be a dot (.) in the name 🤦‍♂️

Thank you very much @weineran

[2022-10-26 21:38] weineran commented on #995
I've made that same mistake before myself. Probably an opportunity for us to improve something to make it less error-prone

[2022-10-27 13:00] theprobugmaker commented on #995
@weineran I noticed a weird behavior...

It doesn't matter how I configure the `.gitleaks.toml` it's either going to ignore all leaks or won't ignore the ones I want at all.

Approach 1:

[code]

Approach 2:

[code]

What happens is that doing this allows me to commit but I created another file out of the `testdata` to check if it would warn and nothing, it's like it's disabling all the rules.

I

[2022-10-27 13:31] theprobugmaker opened #1023 "GitLeaks not ignoring folder (pre-commit)"
**Describe the bug**

I commented before on [another issue](https://github.com/zricethezav/gitleaks/issues/995) but I decided to create this issue to track the problem better.

Imagine that I have a folder called `testdata` which contains keys such as TLS for testing purposes and I want to ignore them when using `pre-commit`. The problem is that it doesn't matter how I configure `.gitleaks.toml` f

[2022-10-27 13:38] theprobugmaker commented on #995
I opened an issue to track this problem and avoid commenting here on another issue (kinda unrelated): https://github.com/zricethezav/gitleaks/issues/1023

[2022-10-27 20:18] weineran commented on #1023
@theprobugmaker I opened a PR on your test repo with some suggested changes to .gitleaks.toml. Let me know if that achieves what you are trying to achieve: https://github.com/theprobugmaker/gitleaks-bug/pull/1

The issues is that you were using a the rule-specific allow list `[rules.allowlist]` as opposed to the global allowlist `[allowlist]`. @zricethezav can correct me if I'm wrong, but I believ

[2022-10-27 20:45] theprobugmaker commented on #1023
@weineran It worked like a charm, thank you very much for the help. You rock!

[2022-10-27 20:45] #1023 closed

[2022-11-01 08:53] scmp-techsys commented on #962
Happy to see @shoedog submitted the PR, I have the same issue as well, I like to see the PR can be merged with a new release  @zricethezav

[2022-11-09 09:02] mcx808 opened #1025 "Cannot exclude a specific keyword match word using [allowlist] or [rules.allowlist]"
**Describe the bug**
This might not be so much a bug as an enhancement for the documentation to clarify behaviour. I've run gitleaks for the first time as I wish to scan a repo containing mostly .NET / C# projects. These contain app.config (xml) files with all the .NET assemblyBinding info and causes the `generic-api-rule` to pickup the `publicKeyToken="b77a5c561934e089"` section of a runtime.asse

[2022-11-09 09:06] mcx808 commented on #1025
Additional screenshot, since I noticed the one I provided is not a good example as it's in camelCase instead of what I specified in my config:
![image](https://user-images.githubusercontent.com/30801293/200787580-63545846-58c9-46e3-8194-c136ae986da4.png)

[2022-11-10 15:05] weineran opened #1027 "Additional documentation for "extending a central config""
Add more documentation to the README around how to extend a central config. Currently we have to refer users to a blog post, which is not idea.

_Originally posted by @anuj147256 in https://github.com/zricethezav/gitleaks/discussions/1020_

[2022-11-10 15:20] weineran commented on #1025
@mcx808 I was just looking over the Configuration section of the README: https://github.com/zricethezav/gitleaks#configuration

It looks like the proper syntax for the rules.allowlist would be:
[code]

Can you try that and let us know if that works? (If so, Gitleaks should probably be detecting the malformed allowlist and failing with a helpful error message.)

[2022-11-10 16:20] mcx808 commented on #1025
Thanks @weineran. I changed regex to regexes tried several combinations in allowlist and rules.allowlist of one or either of the case variations but the result is the same.
I pasted the last config example here: https://pastebin.com/XG0UVH1P

[2022-11-10 21:53] ericfrederich opened #1028 "Unable to detect secrets introduced during merge"
**Describe the bug**
Gitleaks is unable to detect secrets when they were added during a merge

**To Reproduce**
Clone this repo https://github.com/ericfrederich/hidden_secrets and run gitleaks against it.

There are clearly secrets in the `SECRETS` file which was added during a merge commit.
If you were to add the file again with a normal commit...

[code]

**Expected behavior**
It should be detec

[2022-11-10 22:25] ericfrederich commented on #1028
FYI, it seems adding `--cc` to the `git log` options makes the contents of the merge commits appear however after adding this to Gitleaks in `git.go` the problem still persists.

Now when I run `gitleaks --log-level trace detect .` I verified that Git is being called like `git -C . log -p -U0 --cc --full-history --all` yet `gitleaks` still misses it.

Perhaps this is an issue with whatever is pars

[2022-11-11 03:47] jmp75 opened #1029 "Documentation: installation of dependencies when installing from source."
**Describe the solution you'd like**

Additional guidance in the documentation on how to install go dependencies to build and install gitleak.

**Additional context**

I am working on a Debian OS. I assume Ubuntu would be a similar experience.

I can figure out I need `sudo apt golang` to then try `make build`, fair enough. But installing the following packages is less obvious to folks not familia

[2022-11-11 16:44] weineran commented on #1029
@jmp75 Agreed the instructions on installation from source are a bit sparse.

For your case, try upgrading your go version to 1.19 first. This is supposed to be enforced by the go.mod file here: https://github.com/zricethezav/gitleaks/blob/e93d8cb6967f314bed1b5e2904234f6aa25a3510/go.mod#L3
But it doesn't give the meaningful error that I'd hope for, at least in some cases.

As you are slogging thro

[2022-11-11 22:16] ericfrederich commented on #1029
For what it's worth, I think the preferred method of installing on Ubuntu is to download it from golangs website and follow their simple instructions which is not much more than a tar command and setting an environment variable.

I think when you install it from apt you're getting some attempt to integrate golangs with gcc or something, but I could be wrong.

[2022-11-13 04:03] jmp75 commented on #1029
Thank you both for this information, I'll see if I can contribute. I've also notified a few colleagues in my IT and security department about gitleak, so some contributions may come from them too.

As an aside I wrote a small [blog post](https://jmp75.github.io/work-blog/posts/20221111-gitleaks-config/) on my initial steps with gitleak.

[2022-11-15 05:15] meeragirijan opened #1033 "scanmode: 'all' does not identify secrets from historic commits"
I'm implementing gitleaks as cred scanner alternative in a DevOps pipeline using YAML.
Trying out scanmode 'all' option on a feature branch with multiple commits, the runs seem to only detect the current state of the branch and not previous commits. What is the expected behavior, is any additional settings that I'm missing?

[2022-11-15 13:58] zricethezav commented on #1033
Hi @meeragirijan, could you provide the command you are attempting to run? Also what version of gitleaks are you using?

[2022-11-15 17:14] JonZeolla opened #1034 "Exclude encrypted cosign private keys"
**Is your feature request related to a problem? Please describe.**
[Cosign](https://github.com/sigstore/cosign) has a safe way for storing encrypted private keys inside of repositories. They identify these files using the "ENCRYPTED COSIGN PRIVATE KEY" header.

**Describe the solution you'd like**
These encrypted cosign private keys should not be flagged by the `private-key` ruleid.

cc @zricethez