[2020-07-01 07:40] CargaisonTuba opened #403 "Error message when adding Base64 regex"
**Describe the bug**
I implemented a Base64 regex to the rules, and this regex works on regex101.com on the "Go" setup, but here it doesn't work and I get an error message.

**To Reproduce**
add this to the default.go :
[code]

**Expected behavior**
Find Base64 regex

**Screenshots**
No screenshot but here is the error message I get :
[code]

**Basic Info (please complete the following information

[2020-07-01 10:39] strowi opened #404 "Junit-Support"
**Is your feature request related to a problem? Please describe.**
It's always hard to filter and/or read results on a ci/cd system from json.
Also visually in a browser.

**Describe the solution you'd like**
JUnit is a widely used format, that can be parsed by a wide range of ci/cd systems including Gitlab + Jenkins. This would help failing builds on results and make them more readable.

**Descri

[2020-07-01 13:12] CargaisonTuba commented on #403
Okay there was an error in the regex, solved now.
But another problem, I don't get how rules.exception work.
I've added this base64 regex but it detects MD5 so I added an exception like this :
[code]
I understand it as "if I find a Base64 but it's also a MD5 then I don't detect it" but it does nothing and MD5 still get detected as Base64

[2020-07-02 12:32] ogogceloglu opened #405 "Couldn't install with go-get"
Hello all,

For some reason when we try to install gitleaks via go, we've got error as below;
`package github.com/zricethezav/gitleaks/v4: cannot find package "github.com/zricethezav/gitleaks/v4" in any of`

When we try with `go get github.com/zricethezav/gitleaks` it gives us;
`package github.com/google/go-github/v31/github: cannot find package "github.com/google/go-github/v31/github" in any of:`

[2020-07-02 13:30] nitzango commented on #405
Same here.
github.com/zricethezav/gitleaks/v4 gets 404

[2020-07-03 06:35] CargaisonTuba commented on #405
Yeah had the same problem, just download the source code and build it yourself you'll gain time and you'll be able to custom your rules

[2020-07-03 07:40] ogogceloglu commented on #405
Yeah you're right. I can run it this way from the beginning. However, when GO task added in Azure DevOps pipeline, not possible to run. I wonder if there is anything else that needs to be done here, but I see that everyone has this problem.

[2020-07-03 17:28] rrupesh opened #406 "No secrets identified"
_user@mbpro % git clone https://github.com/Plazmaz/leaky-repo.git **--depth=1**_

Cloning into 'leaky-repo'...
remote: Enumerating objects: 85, done.
remote: Counting objects: 100% (85/85), done.
remote: Compressing objects: 100% (72/72), done.
remote: Total 85 (delta 4), reused 62 (delta 1), pack-reused 0
Receiving objects: 100% (85/85), 37.01 KiB | 6.17 MiB/s, done.
Resolving deltas: 100% (4/4),

[2020-07-03 22:05] zricethezav commented on #406
@rrupesh should you be expecting secrets? I don't see any in this [commit](https://github.com/Plazmaz/leaky-repo/commit/2e951359cac53addbee56437da3ffb546e3dfe24) which is scanned when depth=1

Closing this issue.

[2020-07-03 22:05] #406 closed

[2020-07-03 22:51] zricethezav commented on #405
Folks, looks like ya'll are right. This has to do with installing w/ go modules. I was toying around with some things might've got something to work:

Can you try
[code]

cc @ogogceloglu @camaya  @nitzango

[2020-07-04 06:03] ShivamRai2003 commented on #405
Same Here I am getting error

[2020-07-04 06:04] ShivamRai2003 commented on #405
Great ! Appreciated ! Worked For me :)

[2020-07-04 15:52] zricethezav commented on #402
`gitleaks-linux-amd64` is not an installer, its an actual binary. You don't need to run `go get` in order to get it to run. @bearsystems

[2020-07-04 17:34] zricethezav commented on #373
@tomi-roam @Ndh-31 can you try the solution presented here https://github.com/zricethezav/gitleaks/issues/405#issuecomment-653691458 please and let me know if this issue can be closed out.

[2020-07-06 16:21] tomi-roam commented on #373
Just ran a successful build with that suggestion, so should be good to close with that.

[2020-07-06 17:41] #373 closed

[2020-07-07 23:37] gregoriB commented on #392
This fixes the "invalid commit options set" error, but now I get "object not found" instead

[2020-07-08 03:12] #405 closed

[2020-07-08 03:12] zricethezav commented on #221
Solution: https://github.com/zricethezav/gitleaks/issues/405#issuecomment-653691458

[2020-07-08 03:12] #221 closed

[2020-07-08 03:13] zricethezav commented on #188
https://github.com/zricethezav/gitleaks/pull/236 closes this one out

[2020-07-08 03:13] #188 closed

[2020-07-08 03:15] zricethezav commented on #156
`--files-at-commit=latest` will do the trick

[2020-07-08 03:15] #156 closed

[2020-07-08 03:16] zricethezav commented on #183
`--access-token=` is an option in the current version. I believe this was added in v3.0

[2020-07-08 03:16] #183 closed

[2020-07-08 03:16] #197 closed

[2020-07-08 03:18] zricethezav commented on #187
Gonna close this one out. The solution presented above with `jq` is the best I'm willing to do at this point. Feel free to pick this up/open a PR for me to review.

[2020-07-08 03:18] #187 closed

[2020-07-08 03:20] zricethezav commented on #185
👋 gonna close this one out. I did take your advice eventually and did improve the docs [here](https://github.com/zricethezav/gitleaks/wiki/Configuration) :)

[2020-07-08 03:20] #185 closed

[2020-07-08 13:34] zricethezav commented on #392
@gregoriB could you open an additional issue if you think this is a bug?

[2020-07-09 15:44] eternicode opened #407 "Scanning from HEAD to first commit of feature branch scans the entire history up to HEAD."
**Describe the bug**

In our team, when we develop a new feature, we create the feature branch off of master, and then have individual sub-feature branches off of the feature branch where individuals do their work. This normally results in a feature branch that is nothing but merge commits, which is then merged into master.

We are trying to set up gitleaks to scan each branch from branch head to

[2020-07-09 18:20] zricethezav commented on #407
Gitleaks uses go-git as it's git library and doesn't provide a branch filter. Instead it will [attempt to find the reference with the branch name and use that commit as the starting point](https://github.com/zricethezav/gitleaks/blob/master/audit/util.go#L444-L470). The problem with this is branches that have been merged in create a merge commit which has two parents. Git log will traverse the com

[2020-07-10 06:17] hamoriz commented on #203
Would not be possible just to count the line breaks in the file? Like

`func inspectFileContents(content string, path string, rule config.Rule, c *object.Commit, repo *Repo) {
	locs := rule.Regex.FindAllIndex([]byte(content), -1)
	if len(locs) != 0 {
		for _, loc := range locs {
			start := loc[0]
			end := loc[1]
			for start != 0 && content[start] != '\n' {
				start = start - 1
			}
			if start

[2020-07-10 12:44] zricethezav commented on #203
@hamoriz @avishnyakov @dorneanu @gjohnson

I'm actively working on this issue. See https://github.com/zricethezav/gitleaks/compare/extract-line?expand=1 for the progress. Basically if there is a leak detected, gitleaks will open the file at that commit and search for the line that contains the leak. This has potential to significantly slow down the scan so I'm thinking of making this an optional f

[2020-07-20 08:48] sharadpattanshetti commented on #376
Hi, trying the same thing in windows 10 cmd but keep getting below error, appreciate your help on this
command -  docker run --rm -i  zricethezav/gitleaks gitleaks  --repo-path=C:/work/gitrepocloned

Error - repository does not exist

[2020-07-20 10:08] yzhou94 commented on #376
Docker works like a VM. You need to mount the volume into the new VM. Otherwise, this volume will not exist in the created VM. That's why this error occurred.
Try this:
docker run --rm -i -v "C:\work\gitrepocloned":/path zricethezav/gitleaks gitleaks --repo-path=/path.

[2020-07-20 11:52] sharadpattanshetti commented on #376
It worked, Thank you

[2020-07-21 17:44] zricethezav commented on #203
Tracking this work here as well https://gitlab.com/gitlab-org/gitlab/-/issues/230817

[2020-07-22 18:14] gjohnson commented on #203
This makes sense to me @zricethezav! Good point about the performance implications. I am writing less code these days, otherwise I'd submit a PR 🙃

[2020-07-24 16:23] zricethezav commented on #203
@hamoriz @avishnyakov @dorneanu @gjohnson
Folks, I just released https://github.com/zricethezav/gitleaks/releases/tag/v5.0.0 which includes adding line numbers to the report. It would be great if some of you could test it out and lemme know whatcha think before closing this issue.

[2020-07-24 16:48] zricethezav commented on #383
Closing this as there hasn't been any activity on it in a while

[2020-07-24 16:48] #383 closed

[2020-07-24 18:03] zricethezav commented on #351
@GolanTrevize10 thanks for pointing that out. I added some validation in this PR: https://github.com/zricethezav/gitleaks/pull/412. It'll go in the next release.

[2020-07-24 18:03] #351 closed

[2020-07-24 23:35] steeve85 commented on #203
This works great! Thank you @zricethezav
Quick question, I was able to see `-1` as a line number. What is the reason/meaning of this negative line number?

[2020-07-25 00:49] zricethezav commented on #203
@steeve85 thanks for checking it out :)

`-1` means that the line could not be found when doing a search for it OR the git operation was a deletion in which case the leak does not exist in that file anymore. Was the operation an `addition` or `deletion`. The process of searching for the line number could probably use some refining.

[2020-07-25 00:54] steeve85 commented on #203
In my case it was an `addition`. I will do more testing and open issue/PR if I can reproduce the bug

[2020-07-25 00:56] zricethezav commented on #203
Thanks! That would be much appreciated.

[2020-07-25 03:17] steeve85 opened #413 "Bug in line number feature"
**Describe the bug**
Gitleaks v5 is great, again thanks for this tool! I found a bug in the new line number feature. In some cases, `-1` is returned as a line number even if the operation is an `addition` and not `deletion`.

**To Reproduce**
Steps to reproduce the behavior:

[code]

Sample output:
[code]

**Expected behavior**

The line number should be different from `-1`

**Basic Info (please c

[2020-07-25 03:18] steeve85 commented on #203
I was able to reproduce the bug within a public repository: https://github.com/zricethezav/gitleaks/issues/413

[2020-07-25 13:29] zricethezav commented on #413
This is odd.
From the commit thoughtworks/talisman@af0c964 I see:
`2 parents e1a8a9d + 0b60a3e commit af0c9642f5ae18b9bd4098bf320c089fbe24dc9e`

I went into the debugger and saw this scenario While iterating through the commits in `git log` I see `af0c9642f5ae18b9bd4098bf320c089fbe24dc9e` with two parents `e1a8a9d` and `0b60a3e`. Gitleaks will then generate a patch between `af0c9642f5ae18b9bd4098b

[2020-07-25 13:30] zricethezav commented on #413
FWIW the code in question is around here: https://github.com/zricethezav/gitleaks/blob/master/scan/scan.go#L104-L154

[2020-07-25 13:36] zricethezav commented on #413
Additionally this commit is a merge, which can make things a bit goofy

[2020-07-25 13:39] steeve85 commented on #413
FYI commits `b6f13ba79c420fac9661dcbe2e1c4b614adc6851` and `23ae90a12bd88723ce0817241b4e0174c45817c4` also returns -1, it might be for a different reason

[2020-07-25 13:44] zricethezav commented on #413
Yea I saw that I think that is a bug with the extract line function. I'm thinking maybe to skip scanning commits with more than one parent since that is indicative of a merge request which really just consolidates multiple commits and doesn't contain any new reachable information. WDYT?

[2020-07-25 13:59] steeve85 commented on #413
I don't think you should skip commits with more than 1 parent because if you do, it could miss some secrets. Imagine if that commit https://github.com/thoughtworks/talisman/commit/af0c964 was containing a secret, by skipping it because it has 2 parents you would have missed it.

[2020-07-25 14:22] zricethezav commented on #413
hmmm maybe pick the most recent commit then? Not sure exactly how to handle this. Thanks for providing this example, working through some things now

[2020-07-25 15:02] zricethezav commented on #413
https://github.com/thoughtworks/talisman/commit/af0c964.patch and https://patch-diff.githubusercontent.com/raw/thoughtworks/talisman/pull/111.patch

make me think this is the correct behavior actually. While iterating through commits it should diff each parent. Not sure why github displays https://github.com/thoughtworks/talisman/commit/af0c964 that way versus the patch generated: https://github.c

[2020-07-25 16:02] zricethezav commented on #413
Futhermore, https://github.com/thoughtworks/talisman/compare/e1a8a9d..af0c9642f5ae18b9bd4098bf320c089fbe24dc9e and https://github.com/thoughtworks/talisman/compare/0b60a3e..af0c9642f5ae18b9bd4098bf320c089fbe24dc9e?diff=split shows the changes gitleaks is tracking based on that thoughtworks/talisman@af0c964 commit... not entirely sure why github doesn't display the output of both diffs that in the

[2020-07-25 17:16] zricethezav commented on #413
Okay so upon some further investigation looks like we should only be generating a patch between the first parent of a commit if that commit has multiple parents (ie a merge commit). This is because the second+ parent exists as the HEAD of the branch that is part of the merge request. The first parent is the commit that gets picked as part of the merge.

Doing some testing and it looks like this is

[2020-07-25 17:56] steeve85 commented on #413
Cool that you found how to fix the problem! Git can definitely get complicated

[2020-07-25 18:31] zricethezav commented on #413
Got a PR for this issue that should handle both. Just need to add some tests.

[2020-07-25 18:56] #413 closed

[2020-07-26 00:23] zricethezav commented on #413
@steeve85 feel free to re-open the issue if you think it's still a problem

[2020-07-26 14:08] zricethezav commented on #203
Gonna close this issue out. Feel free to reopen if you think it's not complete.

[2020-07-26 14:08] #203 closed

[2020-07-26 14:09] zricethezav commented on #395
@tdhavalikar could you run with the latest version and tell me if its still an issue. Thanks 👍

[2020-07-26 23:03] zricethezav commented on #384
Captured here https://github.com/zricethezav/gitleaks/wiki/FAQs

closing

[2020-07-26 23:03] #384 closed

[2020-07-26 23:06] zricethezav commented on #401
@CargaisonTuba you can create a rule that checks the `.conf` file name:
[code]
See https://github.com/zricethezav/gitleaks/wiki/Configuration for more info.

closing the issue, reopen if that doesn't answer your question

[2020-07-26 23:06] #401 closed

[2020-07-26 23:15] zricethezav commented on #396
@strikergoutham in order to scan a PR you need to use the github api which requires an access token. Are you providing a github access-token via env var `GITLEAKS_ACCESS_TOKEN` or the option `--access-token`?

[2020-07-26 23:18] zricethezav commented on #355
@prabhu great idea. Updating the issue title.

[2020-07-26 23:21] zricethezav commented on #341
@sbarbeau-od @Chan9390
The default behavior now is to scan additions. `--include-deletions` to scan deletions as well as additions. See https://github.com/zricethezav/gitleaks/releases/tag/v5.0.0

[2020-07-26 23:21] #341 closed

[2020-07-26 23:23] zricethezav commented on #336
@tdhavalikar can you try running with the latest release and tell me if this is still an issue

[2020-07-26 23:25] zricethezav commented on #339
@kaushalyap could you provide a regex that would capture the credentials you're trying to target? Otherwise you could write a simple rule to find a `keystore.jsk` or `local.properties` file.

[2020-07-26 23:25] #334 closed

[2020-07-26 23:27] #328 closed

[2020-07-27 02:37] strikergoutham commented on #396
Thank you :) ! Got to know eventually. I forgot to update here.

[2020-07-27 03:06] #396 closed

[2020-07-27 12:22] zricethezav commented on #207
@Incisive This is the default behavior now. https://github.com/zricethezav/gitleaks/releases/tag/v5.0.0

[2020-07-27 12:22] #207 closed

[2020-07-27 15:53] nbublikov opened #415 "Error when start pre-commit hook"
**Describe the bug**
When i test pro-commit hook, i got it error
![image](https://user-images.githubusercontent.com/68223804/88562760-c4b30000-d039-11ea-8e0c-6f8977050d76.png)

**To Reproduce**
Steps to reproduce the behavior:
![image](https://user-images.githubusercontent.com/68223804/88563204-5de21680-d03a-11ea-9579-84b04dd1febe.png)

**Expected behavior**
wait that i get alert about AWS KEY

**

[2020-07-27 16:19] zricethezav commented on #415
@nbublikov can you post the actual hook file? Otherwise I cannot help debug this.

[2020-07-27 18:03] nbublikov commented on #415
[pre-commit.txt](https://github.com/zricethezav/gitleaks/files/4983683/pre-commit.txt)

[2020-07-27 18:03] nbublikov commented on #415
Basically, this is the original pre commit with no changes

[2020-07-28 06:43] nbublikov commented on #415
Some say, Most likely, the $ gitleaksEnabled variable turns out to be empty on line 4. Nothing goes into it.

But I don't know what to do with it and how to fix it.

[2020-07-28 19:09] alteral commented on #396
Hi @zricethezav, I've tried `--pr` argument on macOS with `--access-token` and `GITLEAKS_ACCESS_TOKEN` env variable:

`gitleaks --redact --pretty --debug --pr="https://github.com/repo/test/pull/15" --access-token="$TOKEN"`

But still getting:

[code]

Thanks in advance!

[2020-07-29 05:28] strikergoutham commented on #396
Hey @alteral ,

 you need to add "--host github" along with your current command. Hope this helps.

[2020-07-30 21:01] maennel commented on #415
@nbublikov You should be able to replace the line
`if [ $gitleaksEnabled == "true" ]; then`
with
`if [ "$gitleaksEnabled" == "true" ]; then`.

[2020-07-31 10:48] alteral commented on #396
Thank you, now it works 🚀

[2020-07-31 12:41] 1UC1F3R616 commented on #312
@waristea any success in doing this?

[2020-07-31 13:47] waristea commented on #312
@1UC1F3R616
I think I used this bash script back then:
`org=$1
items=$2
depth=$3

curl https://api.github.com/orgs/$org/repos?per_page=$items |
grep “full_name” |
awk -v org=“$org” -F”\“” ‘{print “https://github.com/”$4}’ > $org-repos.txt

while read in; do gitleaks --repo=“$in” --verbose --pretty --depth=$3 --threads=5 --report=$org-gitleaks-result; done < $org-repos.txt`

[2020-07-31 13:48] 1UC1F3R616 commented on #312
Hmm, a good workaround it is.

[2020-08-04 09:24] gchib297 commented on #387
Added comparison table to wiki [here](https://github.com/zricethezav/gitleaks/wiki/Comparison-with-other-tools) based on @codeEmitter slides:

![image](https://user-images.githubusercontent.com/11896766/89269659-ce4ef000-d657-11ea-9c76-77d04debd98c.png)

Reference:
[Token-Hunter and gitrob:  Hunting for Secrets - Black Hat USA 2020](https://gitlab.com/gitlab-com/gl-security/security-operations/gl-

[2020-08-05 16:00] zricethezav commented on #387
@gchib297 thank you for adding the table to the wiki!

Next item I'd like to tackle is comparing performance and accuracy between the tools but that could be opened in another issue.

[2020-08-05 16:00] #387 closed

[2020-08-05 16:02] zricethezav commented on #395
with v5.0.1 this shouldn't be an issue anymore. Reopen if it is.

[2020-08-05 16:02] #395 closed

[2020-08-05 16:05] zricethezav commented on #331
@jatindhankhar I created https://github.com/zricethezav/anyleaks a while ago. Anyleaks accepts a gitleaks config.

[2020-08-05 16:05] #310 closed

[2020-08-05 16:30] jatindhankhar commented on #331
@zricethezav, this looks great.

Let me try this out, will share my feedback here.

Again, thank you for your selfless work :)

[2020-08-07 17:05] theoretick opened #419 "Support ignore annotations for detected secrets"
**Is your feature request related to a problem? Please describe.**

In certain cases we may want to ignore instances of secrets that would be considered false positives. This is distinct form the allow/deny configuration within `gitleaks.toml` since we want to keep a regex enabled but only ignore a single instance.

**Describe the solution you'd like**

Add an annotation (TBD) to ignore detected s

[2020-08-12 16:09] zricethezav commented on #419
@theoretick an alternative could be to add a `regex` entry in the [global allowlist ](https://github.com/zricethezav/gitleaks/blob/master/config/default.go#L134-L138)field rather than adding another option to the cli. This would allow users the ability to define their own "ignore this line" signature. WDYT?

[2020-08-17 21:24] Asuza opened #425 "Wiki instructions to install via Go results in error"
**Describe the bug**
Wiki [installation instructions](https://github.com/zricethezav/gitleaks/wiki/Installation) to install `gitleaks` via the command `GO111MODULE=on go get github.com/zricethezav/gitleaks/v5` result in the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
Run `env GO111MODULE=on go get github.com/zricethezav/gitleaks/v5`

**Expected behavior**
`gitleaks`

[2020-08-19 16:21] theoretick commented on #419
Sorry for the slow reply, yes I think that makes sense and is a really great boring solution. Thanks for this!

[2020-08-19 17:04] #419 closed

[2020-08-22 16:22] hopewise opened #426 "Installation?"
Can some one describe what to do next after installation using go?

As I did as in docs:

    GO111MODULE=on go get github.com/zricethezav/gitleaks/v6

but, then what? as I got `command not found: gitleaks` when tried to use it then.

[2020-08-24 09:29] cybervizay opened #427 "Global allowlist repos doesn't work"
**Describe the bug**
I am trying to whitelist (allowlist) some of the repositories in my org. I have specified following `config.toml`
[code]

All the repos regex specified belongs to same repo, but gitleakes doesn't follow allowlist.

**To Reproduce**
Using the above config file, run following command:
[code]

**Expected behavior**
It should not scan the repos specifed in `allowlist`.

**Screensh

[2020-08-26 12:52] jepunband opened #428 "search with git dorks?"
**Is your feature request related to a problem? Please describe.**

hello, can gitleaks search by using git dorks?

cc @zricethezav

[2020-08-26 16:12] stone-z opened #429 "Allow custom config on top of the default config"
**Is your feature request related to a problem? Please describe.**
Normally, I want to use a set of default detection rules (either the gitleaks default or my own), but some projects have files which I know I want to ignore.

I'd like to be able to use the default configuration as a baseline and supply only the allowlist items I want _in addition to_ the default allowlist. This way I can use the s

[2020-08-27 04:48] vishnujanardhanan opened #430 "Issue with regex"
**Describe the bug**
I seem to have issues with the regex. If you think what i'm doing is wrong kindly let me know

my regex: (.*?=)([0-9a-zA-Z-_!{}=]{4,120})
what i'm trying to match the regex against as a potential leak where the string at the right hand side of equal to sign is the secret: spring.couchbase.bucket.password=password
error: ERRO[2020-08-27T04:28:01Z] Near line 5 (last key parsed '

[2020-08-27 13:22] zricethezav commented on #430
You command is pointing to a go file not a gitleaks config

[2020-08-27 13:23] zricethezav commented on #428
I don't know what you are asking

[2020-08-27 13:24] zricethezav commented on #430
`--config=/configpath/default.go` the config needs to be a toml file

[2020-08-27 13:24] #430 closed

[2020-08-27 13:25] zricethezav commented on #407
Closing this, reopen if my answer did not provide you with enough information

[2020-08-27 13:25] #407 closed

[2020-08-27 13:27] zricethezav commented on #398
I think this is a solid feature request and easy enough to implement to where I think the community could easily contribute if someone wanted to pick this up. I don't have much time the next couple weeks unfortunately.

[2020-08-27 13:28] zricethezav commented on #428
Provide a more full description of what you were thinking then reopen the issue if you want.

[2020-08-27 13:28] #428 closed

[2020-08-27 13:30] zricethezav commented on #393
@MaKyOtOx Opening an issue on the Patrowl project would be more appropriate. Closing this as I have no plans to work on this integration.

[2020-08-27 13:30] #393 closed

[2020-08-27 16:15] vishnujanardhanan commented on #430
thanks for the quick one @zricethezav . Much appreciated. My bad, didnt notice.

[2020-08-30 16:07] GolanTrevize10 opened #431 "Scan only all files in the last revision of my code."
**Is your feature request related to a problem? Please describe.**
I want to scan only the last version of my code. No, previous commits. For example, if I had in some previous revision a plain text password but it was already removed and it is not in the last revisions of my code, I don't want gitleaks to show it.

**Describe the solution you'd like**
Some option to tell getleaks to scan all file

[2020-08-30 22:50] zricethezav commented on #431
@GolanTrevize10 `--files-at-commit=latest`  is what you're looking for

[2020-08-31 10:11] stone-z opened #432 "Scanning with commit-from and commit-to includes whole commit history"
**Describe the bug**
I'm trying to scan a range of commits, but `gitleaks` is unexpectedly scanning the whole commit history.

This works fine on other repositories, so I don't know why this PR is different. In this case, `master` was merged back into a feature branch, but that doesn't seem like it should make a difference.

Hopefully I am just doing something wrong?

**To Reproduce**
Here is [the

[2020-08-31 12:24] zricethezav commented on #432
Is `fa608c1dd6a9d76481818d3fc1f9abeb9a7918d9` a merge commit? Can you set up a test repo or give me access to your test repo for me to test this against

[2020-08-31 13:36] zricethezav commented on #432
Thanks for bringing this bug up. There is some issues with `git log`s reachability in the `go-git` library. I'm thinking of deprecating `commit-from` and `commit-to` to be replaced with `--commit-range=<comma sep list of commits>`. Working on that right now, look for a 6.1.0 release with this shortly. I'll then update the gitleaks action

[2020-08-31 13:39] zricethezav commented on #432
cc @stone-z

[2020-08-31 13:47] stone-z commented on #432
Ok fantastic, thanks for the quick followup @zricethezav. I'll be on the lookout and give the new version a shot

[2020-08-31 15:03] zricethezav commented on #432
@stone-z example using new `commits-file` option in gitleaks-action@v1.1.3 https://github.com/zricethezav/gronit/runs/1051742650.

Could you give the latest version of gitleaks-action a shot?

[2020-08-31 15:22] zricethezav commented on #432
https://github.com/zricethezav/gronit/pull/4/checks?check_run_id=1051831203 use v1.1.4 actually

[2020-08-31 15:50] stone-z commented on #432
It is working on that problematic PR with v1.1.4 :rocket:

[2020-08-31 15:53] zricethezav commented on #432
hell yea, think this can be closed out then?

[2020-08-31 15:53] stone-z commented on #432
For sure -- huge thanks once again

[2020-08-31 15:54] #432 closed

[2020-09-01 04:50] vishnujanardhanan commented on #431
@zricethezav I'm trying to run gitleaks against uncommitted code with --uncommitted flag. gitleaks tries to flag a leak for the new config's added, but not for the old config's where only the secret has changed.

for ex:
aws_secret=dfaadasdadadadaad (existing) changed to aws_secret=sdffsdfsfdsfsfsdf is not flagged as a leak, where as on adding a new secret like aws_secret_1=sdfsfsdfsdfsfsdfsdf it

[2020-09-01 08:44] acearth opened #434 "How to check gitleaks version on macos(fetched with Homebrew)"
**Describe the bug**
A clear and concise description of what the bug is.
By using `gitleaks --help` command, I found we can use `gitleaks --version` to check its version.
Since the gitleaks is fetched by homebrew, the output is
[code]

Though the version can be fetched by `brew info gitleaks`, it's can be better if the result can be directly shown by the `gitleaks --version`.

**To Reproduce**
Ste

[2020-09-01 10:34] GolanTrevize10 commented on #431
@zricethezav thanks I will try that

[2020-09-01 11:33] zricethezav commented on #431
@vishnujanardhanan your question is unrelated to this issue, please open a new issue for your question.

[2020-09-01 11:41] zricethezav commented on #434
Good call, looks like the [brew formula is wrong](https://github.com/Homebrew/homebrew-core/blob/master/Formula/gitleaks.rb#L17-L20). I believe this was introduced in v6+.

[code]
Should be
[code]

It should match the ldflags used in my build script: https://github.com/zricethezav/gitleaks/blob/master/Makefile#L5

[2020-09-01 12:04] vishnujanardhanan opened #435 "Regex match not working"
**Describe the bug**
I'm trying to run gitleaks against uncommitted code with --uncommitted flag. gitleaks tries to flag a leak for the new config's added, but not for the old config's where only the secret has changed.

for ex:
aws_secret=dfaadasdadadadaad (existing) changed to aws_secret=sdffsdfsfdsfsfsdf is not flagged as a leak, where as on adding a new secret like aws_secret_1=sdfsfsdfsdfsfsd

[2020-09-01 12:05] vishnujanardhanan commented on #431
@zricethezav thanks, raised #435

[2020-09-02 12:22] zricethezav commented on #434
fixed in 6.1.1.

`brew upgrade gitleaks`

[2020-09-02 12:22] #434 closed

[2020-09-04 13:52] hopewise commented on #426
I found the answer here: https://stackoverflow.com/questions/36083542/error-command-not-found-after-installing-go-eval

[2020-09-04 13:52] #426 closed

[2020-09-08 12:06] davidsalvador-tf opened #438 "No commits scanned when scanning Pull Request of a Github Organization repository"
**Describe the bug**
No commits are scanned when analyzing a Pull Request from a repository. The repository is private and belongs to an organization and a valid access token is passed through `--access-token` parameter.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
The Pull Request has 17 commits. I was expecting to get them scanned.

**Basic Info (please comple

[2020-09-08 12:45] #355 closed

[2020-09-08 12:47] zricethezav commented on #376
closing this, reopen if needed

[2020-09-08 12:47] #376 closed

[2020-09-08 12:49] zricethezav commented on #435
Can you provide the output of the gitleaks run and the rule you think should be detecting this leak.

[2020-09-08 14:23] vishnujanardhanan commented on #435
@zricethezav Please find the requested info

git leaks output
-----------------

$ gitleaks --repo-path=/Users/xxxx/xxxxx/xxx-xxx-xxx/ --verbose --pretty --config=/Users/xxxxx/xxxxxxx/gitleaks/config/rules.toml --threads 10 --uncommitted --debug
DEBU[2020-09-08T19:07:32+05:30] -------------------------
DEBU[2020-09-08T19:07:32+05:30] | Times and Commit Counts|
DEBU[2020-09-08T19:07:32+05:30] -----

[2020-09-10 14:17] nidhisi opened #439 "How to Scan private Gitlab repository from gitleaks"
I am unable to scan the private Gitlab repository from gitleaks tool. It's give me an error (authentication required). So please give me the step by step solution for the above problem.

[2020-09-18 09:25] vishnujanardhanan commented on #435
@zricethezav also figured out one more issue where the above regex and entropy doesnt flags password123 and password14555666 as a leak and not password22222

[2020-09-21 18:40] amrityam opened #440 "Unable to scan azuredevops repos"
**Describe the bug**
I am trying to run gitleaks scan on a publicly available azuredevops repo.
But getting below error.FYI, I am facing this issue with both public and private azuredevops repo.

$ gitleaks --repo=https://dev.azure.com/jsuen0437/jsuen/_git/jsuen
INFO[2020-09-21T20:28:14+02:00] cloning... https://dev.azure.com/jsuen0437/jsuen/_git/jsuen
ERRO[2020-09-21T20:28:14+02:00] unexpected cl

[2020-09-21 19:15] timetoplatypus commented on #440
You're getting an HTTP 400 (Bad Request) status code, which may mean the URL is incorrect. Try appending ".git" to the end of the URL. Note that you may need to include credentials as well. The command will look something like this:

`gitleaks --username=<> --password=<> --repo=https://dev.azure.com/jsuen0437/jsuen/_git/jsuen.git`

[2020-09-22 17:17] evmcoedevsecops commented on #440
@timetoplatypus @zricethezav

I tried with multiple options with --access-token=<> as well as --username=<> --password=<>. Still no luck.
Looks like it is not suppoting Azure Repos at this moment. Attaching screenshot for your reference.
Also I think AzureDevOps is not supporting to create alternate credentials anymore instaed of which PAT(Personal access Token) should be used. I tried with Person

[2020-09-22 17:42] evmcoedevsecops commented on #440
@timetoplatypus  @zricethezav
Looks like there is some issue with go-git package, it has not implemented git v2 protocol which is required by Azure repos.
https://github.com/go-git/go-git/issues/64
https://github.com/src-d/go-git/issues/1058

[2020-09-22 17:48] amrityam commented on #440
@timetoplatypus @zricethezav

I tried with multiple options with --access-token=<> as well as --username=<> --password=<>. Still no luck.
Looks like it is not suppoting Azure Repos at this moment. Attaching screenshot for your reference.
Also I think AzureDevOps is not allowing to create alternate credentials anymore instead of which PAT(Personal access Token) should be used. I tried with Personal

[2020-09-22 17:49] amrityam commented on #440
@timetoplatypus @zricethezav
Looks like there is some issue with go-git package, it has not implemented git v2 protocol which is required by Azure repos.
go-git/go-git#64
src-d/go-git#1058

[2020-09-26 14:37] bkuhlmann opened #441 "Git Hook Invalid checksum"
**Describe the bug**

I am getting an `invalid checksum` error when running `gitleaks --verbose --redact --pretty`.

**To Reproduce**

Run the following to reproduce:

[code]

**Expected behavior**

I would expect this to come back as valid according to docs, especially when used in a Git Hook.

**Screenshots**

<img width="682" alt="iTerm2--WU6CpswO" src="https://user-images.githubusercontent.com

[2020-09-27 22:05] khalid-lemghari opened #442 "trufflehog detect 2 leaks and gitleaks detect it as 1 leaks"
Hello,

I just scanned gronit repo using gitleaks and trufflehog. And i noticed that trufflehog detect 2 leaks and gitleaks detect its as 1 leak. Can you explain for me why ?
- gitleaks --verbose --pretty --repo=https://github.com/gitleakstest/gronit
[code]
- trufflehog --regex --entropy=False https://github.com/gitleakstest/gronit
[code]
**Basic Info :**
 - OS: Ubuntu 20.04 LTS
 - Gitleaks Versio

[2020-09-28 08:09] kaisermad opened #443 "issue with allowing paths"
Hello,

I've just found this awesome tool and I've been trying to make it work for my repo.
My issue is : I want the tool to not test a specific path (functions/cfc/modules/Crypto) and I've been using [allowlist] to try and do so (used whitelist too but it doesn't seem to work either)

[allowlist]
	description = "Crypto and Cryptodome"
	paths = ['''functions/cfc/modules/Crypto''','''functions/cfc/

[2020-09-28 14:08] #443 closed

[2020-09-28 14:11] zricethezav commented on #442
@khalid-lemghari by default gitleaks does not check deletions. Use the `--include-deletion` option for parity with trufflehog:
`gitleaks --verbose --pretty --repo=https://github.com/gitleakstest/gronit --include-deletion` is what you're looking for

[2020-09-28 14:11] #442 closed

[2020-09-30 08:27] khalid-lemghari opened #444 "problem loading config: error parsing regexp: invalid or unsupported Perl syntax: `(?!`"
Hello,

I just add this rule to the config :
[code]
But i get this error message :
[code]
In addition, when, when i change the rule to :
[code]
I get also the same message :
[code]

Best regards,

[2020-09-30 14:47] saileshWB opened #445 "Scan current files in the repository irrespective of commit history"
A clear and concise description of what the problem is.
I am trying to scan a repository.But the gitleaks report shows obsolete files based on older commits. I am looking for a report which scans the latest files in the repository.

I saw your comment to use #431 to use --files-at-commit=latest, but that scans only the files in the last commit and not the entire repository.

Consider the below exa

[2020-09-30 14:59] saileshWB commented on #431
@zricethezav i tried using the above command, but it only scans the latest commit and not the entire respository. Please help to scan the latest version of the repository irrespective of commit history.

[2020-10-02 11:59] khalid-lemghari commented on #444
Hello,

As the error message, the root cause is that Go RE2 library doesn't support  lookahead and lookbehind :
[code]
Best regards,

[2020-10-02 11:59] #444 closed

[2020-10-06 16:28] buckleyGI opened #447 "Simple password not detected"
Excuse my ignorance but I was expecting that the following would trigger the default rules
`password=1234567890123456789012345678901`
It doesn't in version 6.1.2

At some point it was detected but it got reverted by #379

I get that there were too many false positives which is a good conclusion based on experience which I don't have at this point.

But to be clear, and excuse my ignorance again if

[2020-10-06 18:59] zricethezav commented on #447
Reducing FPs by default is the goal. You can always supply your config. No plan for `--expanded` at the moment

[2020-10-06 18:59] #447 closed

[2020-10-09 14:06] buckleyGI commented on #447
Thanks for the clear response. Conclusion: works as expected.

[2020-10-12 20:18] chenrui333 opened #449 "gitleaks and gitleaks-action behavior discrepancies"
**Describe the bug**
When I run `gitleaks --verbose  --repo=.` against repo1 in my local, I can see the leaks report.

[code]

But when I run with

[code]

It did not report any leaks but the success message as

[code]

**To Reproduce**
Steps to reproduce the behavior:

I am using gitleaks action and runs it against the master branch.

**Expected behavior**
Show all the leaks in the gitleaks actio

[2020-10-12 21:04] zricethezav commented on #449
@chenrui333 gitleaks-action does not scan the entire git history, instead it scans only commits that pertain to the context of the action. For example, for a `push` gitleaks-action will scan the commit that is associated with that push. Or for a PR, gitleaks-action will scan a range of commits associated with that PR.

[2020-10-12 21:11] chenrui333 commented on #449
Got you, that makes more sense. Thanks for confirming it.

[2020-10-12 21:11] #449 closed

[2020-10-12 21:11] chenrui333 commented on #449
I got little bit confused with the `fetch-depth: 0` option

[2020-10-13 09:29] paulschmelzer opened #450 "Option for exit code to always return 0 if no error occures"
**Problem**
I am trying to integrate the gitleaks scanner with the SecureCodeBox project. SecureCodeBox runs on kubernetes. When a container exits with a non zero return code kubernetes thinks the container crashed. But for gitleaks return code 0 and 1 this is not the case.

**Possible solution**
The solution could be a comand line option to tell gitleaks to return 0 for both 'no leaks' and 'leaks

[2020-10-15 14:22] davidsalvador-tf commented on #438
Sorry, looks like I was providing an invalid access token (`--access-token`) and `gitleaks` was not generating any error about it.

Closing the issue.

[2020-10-15 14:22] #438 closed

[2020-10-19 16:35] zricethezav opened #451 "Add reportGroup option to config"
**Is your feature request related to a problem? Please describe.**
Users might want to fine tune the "offender" field in the report to a specific capture group in their regex.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
A config that supports `reportGroup`:
[code]
If the leak contained the line: `awsSecretKey = "thiswillmatchexampleawskey111111

[2020-10-21 13:03] bkuhlmann commented on #441
:information_source: I'm closing this issue as it looks like this project has been abandoned and want to clean up my Inbox.

[2020-10-21 13:03] #441 closed

[2020-10-21 13:41] zricethezav commented on #441
@bkuhlmann lol abandoned?

[2020-10-21 13:42] zricethezav commented on #441
Im unable to reproduce your bug.

[2020-10-21 23:23] bkuhlmann commented on #441
@zricethezav Ah, sorry. I was going through my Inbox and realized this was 25 days old and figured I should close this. 😅 Maybe this is an issue on my side still, not sure, but I'm fine with leaving this closed for now.

[2020-10-22 12:32] suryanuddhi20 opened #453 "Wrong Line Numbers"
Two issues with the Line Number:
1) If there are more than one offender in the same line, one of the offenders get the correct line number but the others take "-1" value.
2) In the same file if the leak is repeated for more than one time, all other fields are correct except for the line_number field which tends to duplicate the line number for repeated offenders.

**To Reproduce**
Steps to reprodu

[2020-10-23 21:39] zricethezav commented on #453
@suryanuddhi20 thanks for bringing this up. We are tracking this at Gitlab as well here https://gitlab.com/gitlab-org/gitlab/-/issues/267389. Unfortunately I don't have any spare cycles to work on this at the moment so it would be great if a community member could contribute if anyone is feeling ambitious :P

It's quite a tricky bug

[2020-10-23 23:00] squaresurf commented on #451
Heads to future readers, I'm hoping to work on this over the next few days.

[2020-10-24 22:34] Twanislas commented on #429
Hi !

Thanks for the great work on Gitleaks !

I'm also interested in this, and will use @stone-z 's workaround in the meantime.

Cheers !

[2020-10-26 10:26] LinqLover commented on #439
As far as I understand the docs, you could clone the repository and do a [local repo scan](https://github.com/zricethezav/gitleaks/wiki/Scanning#local-repo-scan), does this work?

[2020-10-26 10:48] LinqLover opened #454 "False positive matches for 'Twitter Client ID' using python import"
We're getting a number of false-positive leaks using a python import statement:

[code]

Is this intended? Should I fix this manually with a whitelist rule or should the regex pattern for twitter be refined?

[2020-10-26 11:01] LinqLover commented on #454
Alright, this is how I ignored it:
[code]

[2020-11-02 16:34] caleb15 opened #457 "dynatrace now has regex to identify if their token was leaked"
Just letting you know that dynatrace changed their token format so it a leak can easily be identified with a regex:

https://www.dynatrace.com/news/blog/further-enhance-security-by-easily-automating-your-api-token-protection/

[2020-11-03 15:00] matsskoglund commented on #399
I want this too.
It can easily be done by adding in gitlab.go from line 63 to something like:

var recursive = true
	glOpts := &gitlab.ListGroupProjectsOptions{
	ListOptions:      listOpts,
	IncludeSubgroups: &recursive,
}

Need to get the traverse flag into the function and fix the argument flags though to make it an option.

I am pretty new at Go but if I can get some assistance and suggestions

[2020-11-03 20:15] #451 closed

[2020-11-05 00:44] diegobernardes opened #460 "Add support for 'git clone --depth'"
**Is your feature request related to a problem? Please describe.**
During the analysis of big repositories where the important feature is to detect the secrets at the HEAD, it's important to be able to use the `git clone --depth` in order to reduce the size of the repository that needs to be downloaded.

**Describe the solution you'd like**
`gitleaks` already have an `--depth` option, if `gitleaks

[2020-11-06 13:34] zricethezav commented on #453
https://github.com/sourcegraph/go-diff may be of use

[2020-11-07 17:01] diegobernardes opened #461 "fatal error: runtime: out of memory"
**Describe the bug**
I'm getting out of memory errors. I think `gitleaks` is not respecting the `--disk` option and downloading everything to memory, that's the only thing that comes to my mind that could eventually give that error.

**To Reproduce**
I'm using the following command at GitHub Actions `gitleaks --config config.toml --disk --access-token *** --redact --pretty --host github --org comp

[2020-11-07 17:03] diegobernardes commented on #461
Related/duplicate: #336

[2020-11-09 14:07] tavisca-ashinde1 opened #462 "Regex to get match from particular file"
Hi @zricethezav,

Requirement:
modify toml file in such a way that it can handle match specific to particular file.
Ex:

i have match "4111111111111111" which exists in 3 files(prod.csv,main.csv,test.csv) in repo. but i have to allow only one file ex: test.csv which contains above match.

cc @zricethezav

[2020-11-12 05:22] suryanuddhi20 commented on #453
Sure. Will look into it. Thanks!

[2020-11-12 15:32] zricethezav commented on #453
@suryanuddhi20 I opened a branch with what I think is a fix for this: https://github.com/zricethezav/gitleaks/commit/af4c746fd2746c9b4bf5135a5050a46ca1b72442

[2020-11-12 18:20] johnjhacking opened #464 "Question: Scanning Locked Repos"
Does Gitleaks have the capacity to scan for secrets in the instance in which an Organizational Admin Token is used?

For instance - in the situation where I have an organizational account w/admin privs and many projects, but some are locked, will I have to manually get them unlocked, or is there an easier route?

[2020-11-27 12:44] kiblik commented on #431
+1

[2020-11-27 12:48] kiblik commented on #450
+1

[2020-11-30 12:00] AndrewMasalski opened #467 "allowlist.paths is not ignoring files"
**Describe the bug**
I am setting a specific file by allowlist.paths to skip gitleaks scan of this file.

**To Reproduce**
* Clone https://github.com/AndrewMasalski/gitleaks-issues
* Execute command:
[code]

**Actual behavior**
a leak in 'src/readme.md'  file is found

**Expected behavior**
no leaks should be found ('src/readme.md' file should be ignored by paths config)

**Basic Info (please comp

[2020-11-30 12:21] AndrewMasalski opened #468 "Add option to use git index only with –cached"
**Is your feature request related to a problem? Please describe.**
We have huge mono-repo and the proposed pre-commit hook command is too slow.
[code]

**Describe the solution you'd like**
I think git options: --cached, --untracked, --no-index can help to reduce the scan time.

**Describe alternatives you've considered**
Maybe I am missing some other options, but I didn't find a way to reduce scan

[2020-11-30 18:32] zricethezav commented on #450
This will be the default behavior in v7

[2020-12-02 15:36] ethanwlo commented on #439
I have the same problem. Is it possible to scan private repo without cloning?

[2020-12-02 21:11] LinqLover commented on #439
@ethanwlo As written [right above](https://github.com/zricethezav/gitleaks/issues/439#issuecomment-737308769), you can do a [local repo scan](https://github.com/zricethezav/gitleaks/wiki/Scanning#local-repo-scan) ... Please contact if you encounter a problem doing so.

[2020-12-02 23:03] zricethezav commented on #398
See https://github.com/zricethezav/gitleaks/wiki/Configuration supported in v7

ex:
[code]

[2020-12-02 23:03] #398 closed

[2020-12-02 23:04] zricethezav commented on #453
@suryanuddhi20 fixed in https://github.com/zricethezav/gitleaks/releases/tag/v7.0.0

[2020-12-02 23:04] #453 closed

[2020-12-02 23:04] zricethezav commented on #450
@paulschmelzer this is the default behavior in https://github.com/zricethezav/gitleaks/releases/tag/v7.0.0

[2020-12-02 23:04] #450 closed

[2020-12-02 23:06] zricethezav commented on #467
@AndrewMasalski this should be fixed in https://github.com/zricethezav/gitleaks/releases/tag/v7.0.0. reopen if not

[2020-12-02 23:06] #467 closed

[2020-12-02 23:06] zricethezav commented on #457
Added as part of the default checks in https://github.com/zricethezav/gitleaks/releases/tag/v7.0.0

[2020-12-02 23:06] #457 closed

[2020-12-02 23:06] zricethezav commented on #460
@diegobernardes added in https://github.com/zricethezav/gitleaks/releases/tag/v7.0.0. Thanks for this optimization

[2020-12-02 23:06] #460 closed

[2020-12-02 23:07] zricethezav commented on #431
@saileshWB  @GolanTrevize10  @vishnujanardhanan Added a `--no-git` option in https://github.com/zricethezav/gitleaks/releases/tag/v7.0.0. This scans a directory or file specified in `--path`.

[2020-12-02 23:07] #431 closed

[2020-12-02 23:09] zricethezav commented on #399
I am not supporting scans that use gitlab/github apis. See https://github.com/zricethezav/gitleaks/releases/tag/v7.0.0

[2020-12-02 23:09] #399 closed

[2020-12-02 23:09] zricethezav commented on #445
See comment in https://github.com/zricethezav/gitleaks/issues/431

[2020-12-02 23:09] #445 closed

[2020-12-02 23:11] zricethezav commented on #427
I am not supporting gitlab/github APIs anymore. See https://github.com/zricethezav/gitleaks/issues/431

[2020-12-02 23:11] #427 closed

[2020-12-02 23:11] zricethezav commented on #331
You can now use `--no-git` to scan files. See https://github.com/zricethezav/gitleaks/releases/tag/v7.0.0

[2020-12-02 23:11] #331 closed

[2020-12-02 23:12] zricethezav commented on #312
I am not supporting github/gitlab apis anymore https://github.com/zricethezav/gitleaks/releases/tag/v7.0.0

[2020-12-02 23:12] #312 closed

[2020-12-02 23:14] zricethezav commented on #377
@galitz I'm not supporting github/gitlab apis anymore so this issue won't be fixed. See https://github.com/zricethezav/gitleaks/releases/tag/v7.0.0

[2020-12-02 23:14] #377 closed

[2020-12-02 23:16] zricethezav commented on #461
As I am not supporting gitlab/github apis anymore I won't be fixing this. See https://github.com/zricethezav/gitleaks/releases/tag/v7.0.0

[2020-12-02 23:16] #461 closed

[2020-12-02 23:16] zricethezav commented on #336
Closing this with the release of https://github.com/zricethezav/gitleaks/releases/tag/v7.0.0. Reopen if still getting this error.

[2020-12-02 23:16] #336 closed

[2020-12-02 23:17] zricethezav commented on #277
What @avishnyakov said, https://github.com/zricethezav/gitleaks/releases/tag/v7.0.0 ditches gitlab/github integrations. Closing this as I'm not going to be supporting it

[2020-12-02 23:17] #277 closed

[2020-12-02 23:18] zricethezav commented on #245
Again, what @avishnyakov said. Ditching this with https://github.com/zricethezav/gitleaks/releases/tag/v7.0.0. I'm not supporting gitlab/github integrations anymore.

[2020-12-02 23:18] #245 closed

[2020-12-02 23:20] zricethezav commented on #235
[code]

@galitz @avishnyakov Use `--commit-since` and `--commit-from`

[2020-12-02 23:20] #235 closed

[2020-12-02 23:21] zricethezav commented on #173
dropped support for github/gitlab integrations in v7

[2020-12-02 23:21] #173 closed

[2020-12-02 23:22] zricethezav commented on #318
This was never a bug, `--repo-config` takes precedence over `--config`

[2020-12-02 23:22] #318 closed

[2020-12-02 23:22] zricethezav commented on #220
I no longer support gitlab/github integrations

[2020-12-02 23:22] #220 closed

[2020-12-02 23:23] zricethezav commented on #137
Use `--clone-path` in v7

[2020-12-02 23:23] #137 closed

[2020-12-03 02:50] zricethezav commented on #468
@AndrewMasalski it's a known issue with a proposed solution https://github.com/zricethezav/gitleaks/pull/463. However I'm not sold on the idea of shelling out a exec within gitleaks.

[2020-12-03 05:14] suryanuddhi20 commented on #453
Thanks @zricethezav !

[2020-12-03 15:06] zricethezav commented on #324
This has been fixed

[2020-12-03 15:06] #324 closed

[2020-12-04 16:01] ramimac opened #472 "File-based Rules + Deduplication logic removal in v7.0.0"
**Describe the bug**

When using gitleaks v7.0.0, the removal of deduplication logic means that filename/path rules result in noisy, unnecessary) alerts (1 per line in file).

**To Reproduce**

1. Create a rule like:

[code]

2. Create a file "trigger.txt" that is multiple lines in length.
3. Run gitleaks, not that you will see duplicate alerts on "Filename/path offender: trigger.txt" , one per li

[2020-12-04 16:34] zricethezav commented on #472
Most definitely a bug. Thanks for raising this. Will fix asap

[2020-12-04 18:35] zricethezav commented on #472
@ramimac I was unable to recreate this bug
[code]
Is what I'm getting.

Could you show share some additional details on how to recreate this?

[2020-12-04 19:15] ramimac commented on #472
@zricethezav Sorry for the incomplete reproduction. This is actually an artifact of `no-git` as well:

`gitleaks --config-path=onlyFiles.toml -p vol/ --no-git --verbose`

onlyFiles.toml

[code]

trigger.txt

[code]

results:

[code]

[2020-12-04 19:34] paul-m opened #473 "--path + --repo-config-path + --no-git = segmentation violation"
**Describe the bug**
[code]
This command results in:
[code]

I get that having `--repo-config-path` and `--no-git` together kind of doesn't make sense.

But it seems like there is probably a better error message than a go exception. :-)

**To Reproduce**

Issue a command like this inside a git repo:
[code]

**Expected behavior**

Probably an error message about `--no-git` being in conflict with `-

[2020-12-04 19:48] paul-m opened #474 "--no-git scans .git directory, finds false positives"
**Describe the bug**

I want to scan the local files in my repo as a CI step.

With gitleaks 7 I could maybe use this:
[code]

However, since I just told gitleaks this is not a git repo, it starts scanning `.git/`, and finds false positives in the git commit SHAs.

The workaround is to delete .git as a first step, but this could be counter-productive, depending on needs.

**To Reproduce**

Within

[2020-12-05 14:45] zricethezav commented on #472
Perfect! Thank you.

[2020-12-05 16:21] zricethezav commented on #473
Nice find! I'll add some logic to prevent this from happening

[2020-12-05 17:06] zricethezav commented on #474
@paul-m Thanks for raising this issue. By default if `--no-git` is set then a global allowlist regex: `.git$` is appended to the config. This will prevent `.git` dirs from being scanned.

Should be fixed in https://github.com/zricethezav/gitleaks/releases/tag/v7.0.2

[2020-12-05 17:06] #474 closed

[2020-12-05 17:07] zricethezav commented on #473
Fixed in https://github.com/zricethezav/gitleaks/releases/tag/v7.0.2. This behavior is now prevented

[2020-12-05 17:07] zricethezav commented on #472
@ramimac fixed in https://github.com/zricethezav/gitleaks/releases/tag/v7.0.2

[2020-12-05 17:07] #472 closed

[2020-12-05 17:08] #473 closed

[2020-12-06 14:37] zricethezav opened #476 "Optmiziation: Concurrent Patch generation"
**Is your feature request related to a problem? Please describe.**
Generating patches is the biggest bottle neck. It would be great if we could get patch generation to run without race conditions while iterating through commits. This speeds up scans by a substantial amount

Race condition:
[code]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
^ se

[2020-12-07 14:02] ramimac commented on #472
@zricethezav Thanks for the quick fix, much appreciated! Do you have plans to push 7.0.2 to dockerhub?

[2020-12-07 14:29] zricethezav commented on #472
@ramimac just pushed! Thanks for the reminder

[2020-12-08 14:42] zricethezav commented on #476
Related issue: https://github.com/go-git/go-git/issues/48

[2020-12-08 19:41] coolacid opened #478 "Add option to exit code 1 on detected leak"
**Is your feature request related to a problem? Please describe.**
After #450 was implemented, gitleaks returns 0 unless an actual error occurred. I can fully understand that requirement. However, while running this in a gitlab docker container, it expects an error code to fail a test.

**Describe the solution you'd like**
Add `--error-on-leak` option to throw an error code 1 when a leak is found.

[2020-12-08 19:46] coolacid commented on #478
If I had to guess, this change also broke the pre-commit hook listed here: https://github.com/zricethezav/gitleaks/wiki/Scanning

[2020-12-08 20:03] pburkholder commented on #478
I came here to create this same issue. The 7.x behavior likely breaks everyone's pre-commit hooks. I might be so bold as to suggest the original behavior was correct, like `grep -q`, and that the K8s should case should be the one with the `--no-error-on-leak` option.

[2020-12-08 20:51] zricethezav commented on #478
@pburkholder I think you're right. Likely will change this next release.

proposed default behavior:
[code]

`--no-error-on-leak`
[code]

[2020-12-08 21:02] pburkholder commented on #478
Thanks for taking this into consideration. Different exit statuses for leaks vs errors is pretty useful, i.e.:

[code]

In my case, I write tests before updating my patterns, https://github.com/cloud-gov/caulking/blob/master/development.bats, and if we start lumping leaks _and_ errors into file exit status 1, I could have tests passing because an error in my pre-commit, not because I'm detecting l

[2020-12-08 22:28] zricethezav commented on #478
@pburkholder I'm actually thinking now:

`--leaks-exit-code=` which allows you to set whatever code you want. Default behavior will still be what is proposed above.

[2020-12-08 23:11] zricethezav commented on #478
https://github.com/zricethezav/gitleaks/releases/tag/v7.1.0 @coolacid @pburkholder here ya go

[2020-12-08 23:11] #478 closed

[2020-12-08 23:12] zricethezav commented on #476
https://github.com/zricethezav/gitleaks/releases/tag/v7.1.0 😬

[2020-12-08 23:12] #476 closed

[2020-12-09 00:26] coolacid commented on #478
Wow! Thanks for the quick turn around, Working here in my local gitlab pipeline. Cheers!

[2020-12-09 14:35] zricethezav commented on #243
I believe this issue has been resolved, reopen if still a problem

[2020-12-09 14:35] #243 closed

[2020-12-09 14:37] zricethezav commented on #160
I believe this issue has been fixed, reopen if still a problem

[2020-12-09 14:37] #160 closed

[2020-12-09 14:37] #167 closed

[2020-12-09 14:38] zricethezav commented on #167
See https://github.com/zricethezav/gitleaks/#rules-summary

[2020-12-09 14:38] #180 closed

[2020-12-09 15:40] ramimac opened #482 "Allowlist seems broken post v7.0.*"
**Describe the bug**
The allowlisting does not appear to be working - either rules-level or global.

**To Reproduce**

I am using the docker 7.1.0 container, but believe I saw the same thing in 7.0.2

The command I'm using is of the form
[code]

The ruleset has the following rules (note, I tried .git and .git$ ... just to be sure):
[code]

Plus with `--no-git` the .git directory should be ignored

[2020-12-09 16:19] zricethezav commented on #482
@ramimac thanks for raising this issue, already found the problem. 7.1.1 coming soon 😅

[2020-12-09 17:39] moshealon76 opened #483 "Scan the entire org"
In a previous version it was possible to scan all the repos within a particular org, does this option still exist?

Thanks

[2020-12-09 18:10] zricethezav commented on #483
@moshealon76 sorry it does not, I am not supporting github/gitlab integrations. Feel free to use this script https://github.com/zricethezav/gitleaks/issues/312#issuecomment-667128234 if you need to interact with a git provider

[2020-12-09 18:10] #483 closed

[2020-12-09 18:17] zricethezav commented on #482
@ramimac and for those curious, I forgot to add an additional check: https://github.com/zricethezav/gitleaks/blob/2bdf74a2a29775820b9b2d0ade75d82667c2a35b/config/rule.go#L82-L84 when iterating through file/path ONLY rules

[2020-12-09 18:21] zricethezav commented on #482
reopening until v7.1.1 released

[2020-12-09 18:31] zricethezav commented on #482
@ramimac released https://github.com/zricethezav/gitleaks/releases/tag/v7.1.1. Lemme know if that works for ya. Reopen if still broken

[2020-12-09 19:41] ramimac commented on #482
@zricethezav thanks again for the quick fix! `no-git` appears to be working. With `files-at-commit`, the rules-specific allowlists seem to be working, but global allowlisting still appears broken.

[2020-12-09 19:59] zricethezav commented on #482
@ramimac yep, already see the issue. Thanks for verifying!

[2020-12-09 21:10] zricethezav commented on #482
@ramimac should be good now

[2020-12-09 21:12] #482 closed

[2020-12-09 22:24] ramimac commented on #482
Bug == Squashed!

[2020-12-10 15:18] ramimac opened #486 ".git Regex Overmatching"
**Describe the bug**
Gitleaks appears to allowlist all files with the string "git" in their name OR path

I happen to use a directory "gitleaks_testcases" for my tests, and found leaks were not reported

**To Reproduce**
create a 3 test files that contain a leak:
1. gitleaks/testfile.txt
2. leaks/gitfile.txt
3. leaks/testfile.txt

Run gitleaks with `no-git`. Note that only the leak in file 3 is fl

[2020-12-10 15:31] zricethezav commented on #486
@ramimac good catch,

I bet that's the case, I'll try to look at this this afternoon

[2020-12-10 22:41] #486 closed

[2020-12-12 01:51] zricethezav commented on #187
@galiagante you can now use `-q/--quiet` mode which will only output pure json leaks

[2020-12-14 14:55] zricethezav commented on #464
@johnjhacking you scan them using username/pw, access token, or ssh key. It's easiest to use ssh

[2020-12-14 14:57] zricethezav commented on #462
@tavisca-ashinde1
[code]

[2020-12-14 20:10] c0rvax opened #492 "[Question] Missing couple options"
Hey, I have been skipping many updates (specifically, since 2.0.0), and right now I can't find some very important options: `--exclude-forks` and `--github-user`. I have been using them heavily in the past and now can't find a way to make similar behaviour. Is there a way to do this?

[2020-12-14 20:35] zricethezav commented on #492
@c0rvax sorry there is not. v7.x.x removed github/gitlab integrations and I don't plan on supporting them in the future.

You can use v6.2.0 if you want to use a more recent version with github/gitlab integrations

[2020-12-14 20:35] #492 closed

[2020-12-14 20:48] jpweiser opened #493 "[Feature Request] Add option to include deletion in v7"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I want to be able to optionally scan deletion commits in the version 7 stream.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Using a flag similar to `include-deletion` in prior releases, i

[2020-12-24 13:39] tavisca-ashinde1 commented on #462
Thanks @zricethezav  That worked.

[2020-12-24 13:39] #462 closed

[2020-12-28 10:35] moshealon76 opened #496 "Allowlist repos doesn't work"
**Describe the bug**
I am trying to whitelist (allowlist) some of the repositories in my org. I had used with the "simple_regex_and_allowlist_config.toml" config file  and it's not waitlisted the example "AKIAIO5FODNN7EXAMPLE"

**To Reproduce**
`[[rules]]
    description = "AWS Manager ID"
    regex = '''(A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}'''
    tags = ["key", "AWS"]

[2021-01-05 18:04] rseedorff opened #497 "Add a --commit-since-duration option to configure durations instead of date strings"
Hi @zricethezav,

thx for your awesome project 👍

**Is your feature request related to a problem? Please describe.**
We have integrated `gitleaks` in the [OWASP secureCodeBox](https://github.com/secureCodeBox/secureCodeBox) project which has its focus on security scanner automation and orchestration based on kubernetes. This enables users to run large scale security scans on a regular (scheduled)

[2021-01-06 07:16] andreeko28 commented on #440
has this problem been resolved? because I also have this problem when I wanted to scan with private azure repos

[2021-01-06 21:43] pburkholder opened #499 "v7 bugs: `[allowlist]...files` and `[[rules]].file` are no longer honored"
**Describe the bug**
gitleaks 6.2.0 used to properly:

* exclude/allow file extensions in:
[code]
* detect filenames in
[code]

**To Reproduce**

I had to convince myself I hadn't screw something up, so I put the config files and my bats tests in their own repo. So, on MacOs

[code]

You should see that all of v6 tests pass, but many of the v7 tests don't.

[code]

**Expected behavior**

All of th

[2021-01-06 21:44] pburkholder commented on #499
This seems to overlap a bit #496 in terms of `allowlist` behavior

[2021-01-07 18:39] kowalczykp opened #500 "Invalid usage or flags provided results in 0 exit code"
**Describe the bug**

Specifying invalid parameters to gitleaks results in help/usage being printed and 0 exit code

**To Reproduce**
[code]

**Expected behavior**

Ideally misconfiguration should result in error and be marked with non-zero exit code, to allow easy identification in CI

**Basic Info (please complete the following information):**
 - OS: macos/linux
 - Gitleaks Version: 7.2.0

cc @z

[2021-01-07 18:52] zricethezav commented on #500
![Screen Shot 2021-01-07 at 1 52 03 PM](https://user-images.githubusercontent.com/15034943/103932238-8b55e480-50ef-11eb-8923-2b392de3c660.png)

@kowalczykp odd, works for me. This is what you are expecting correct?

[2021-01-07 18:54] zricethezav commented on #500
ah, now i see. invalid options should result in exit code `1`. I agree with this I think

[2021-01-07 18:58] kowalczykp commented on #500
another common exit code could be: `127`, but it would require a bit more changes in the code I think. I've opened a PR in case you think this should be adjusted to return non-zero code on bad input.

[2021-01-07 19:20] zricethezav commented on #496
This is working for me:

[code]

[2021-01-07 19:21] zricethezav commented on #496
This is v7.2.0.

[2021-01-07 19:22] zricethezav commented on #496
You might be out of luck without creating your own fork of 6.2.0 to fix this bug

[2021-01-07 19:24] zricethezav commented on #499
@pburkholder could you provide me w/ your config? Are you following the correct syntax from https://github.com/zricethezav/gitleaks#rules-summary?

What gitleaks version are you using?

[2021-01-07 19:39] pburkholder commented on #499
Hi. I see I forgot to provide links the issue description.  Anyhow: Version: 7.2.0

Rules from: https://github.com/pburkholder/gitleaks-report/blob/main/report.toml

[code]

[2021-01-07 19:58] zricethezav commented on #499
@pburkholder Odd this seems to be working for me, will upload recording of it soon.

[2021-01-07 21:04] pburkholder commented on #499
That'd be cool. I tried to convince myself I was doing it wrong, and failed.

[2021-01-08 18:00] pburkholder commented on #499
This still looks like a bug to me. I've used this simpler script:

[code]

and when I run it with the above toml, I get
![image](https://user-images.githubusercontent.com/1211146/104048559-67f36e00-51b1-11eb-8284-c8367b125938.png)

[code]

[2021-01-10 14:34] #500 closed

[2021-01-12 14:33] bhornsby opened #502 "--depth flag behaviour"
**Possible Awareness for Community**
Just wondering if gents/ladies need to be made aware of this slight behaviour change

**To Reproduce**
With `v7.2.0` use `--depth` flag on a project that had a secret on another branch's commit history. In my case value passed to flag was 2.

**Expected behavior**
Was initially expecting the secret to be found just like normally occurs in `v6.2.0` but alas, tha

[2021-01-13 06:06] ishansharma29 opened #503 "panic: runtime error: index out of range [65533] with length 55868"
**Describe the bug**
Index out of range, might need to change some variables for bigger repos.

**To Reproduce**
for one of my git repo, it threw index out of bound

**Expected behavior**
Should just scan for vulnerabilities and generate the report.

**Screenshots**
panic: runtime error: index out of range [65533] with length 55868

goroutine 978 [running]:
github.com/sergi/go-diff/diffmatchpatch.

[2021-01-13 14:33] zricethezav commented on #503
@ishansharma29  this is a known bug with https://github.com/sergi/go-diff/issues/89. However, I pulled that change in and it had adverse affects on the performance of the scan. I'll do some testing again and see whatsup.

 Two solutions here if someone wants to get to it before I do:
 - add `recover` like before v7.x.x ex: https://github.com/zricethezav/gitleaks/blob/2acc34dfdfb0e7f1141eadd940ea93

[2021-01-13 16:03] mbilel opened #504 "Cannot generate CSV formatted report (version 7.2.0)"
**Describe the bug**

cannot generate csv format

**To Reproduce**

even when I pass parameters --report-format=CSV the generated report still in json format

*cc @zricethezav

[2021-01-13 16:24] #504 closed

[2021-01-13 16:26] mbilel commented on #504
it works, but the parameter is "--format=csv", not "--report-format=CSV" like described in documentation.

[2021-01-13 23:39] kiwiz opened #505 "Always generate SARIF output"
**Is your feature request related to a problem? Please describe.**
When no findings are found, Gitleaks doesn't generate a report. I think this makes sense generally, but when SARIF output is enabled, it makes sense to generate an empty report. Advantages:
- This simplifies any processing, since we can always assume that the output is always valid JSON.
- The SARIF output contains information abou

[2021-01-14 16:25] mrjoss19 commented on #439
It is true @LinqLover that cloning and scanning locally works perfectly, but I do agree that if a scan could be done without cloning it would be less intrusive and a great improvement when you have different teams and significant amount of repositories (even heavies). Great job :)

[2021-01-14 16:34] mrjoss19 commented on #439
Hello, I tried:

gitleaks --repo-url=INTERNAL_SERVER --username=USER_NAME --password=PASSWORD -v

and it works fine for me.

[2021-01-20 09:52] TehWebby opened #509 "--files-at-commit fails for nested repos"
**Describe the bug**
We use gitleaks in a project that contains multiple repos inside. Example

- Main directory (point gitleaks to here)
    - Repo 1
    - Repo 2

When the "--files-at-commit=latest" flag is set it only checks the Main directory repo for .git, if it doesn't find it ends.
But on old versions the behavior is different, it would recursively go through each inner repo (.git exists in

[2021-01-21 14:34] thecybermafia commented on #312
@zricethezav @waristea I created a small bash script that does the org scanning and it can pass any arguments to gitleaks as well, take a look at it [here](https://github.com/thecybermafia/orgleaks)

[2021-01-22 16:10] zricethezav commented on #503
@ishansharma29 could you provide a sample repo for me to test this on?

[2021-01-22 16:36] zricethezav commented on #499
@pburkholder aha! this is indeed a bug specific to the `unstaged` scanner, looks like i didn't include file/path rule checks : /

Will be fixing this soon!

[2021-01-22 16:49] #496 closed

[2021-01-22 16:51] zricethezav commented on #468
@AndrewMasalski did you notice an improvement since https://github.com/zricethezav/gitleaks/pull/463 was merged? Can this be closed?

[2021-01-22 17:14] zricethezav commented on #499
@pburkholder v7.2.1 should  fix this, lemme know what you think

[2021-01-25 12:24] AndrewMasalski commented on #468
@zricethezav, thank you for the update
I did check this command as pre-commit hook: `gitleaks --verbose --redact -c secrets-config.toml --files-at-commit=latest`
Now scan takes only couple of seconds:
[code]
I think this ticket can be closed now.

[2021-01-25 12:33] #468 closed

[2021-01-25 19:03] zricethezav opened #513 "`--no-git` should be report relative paths"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-01-25 22:34] btilford commented on #499
Ran into this and tried 7.2.1 with no luck. Interesting thing is that it's scanning files that are not in the repo / are ignored. They are also owned by root since they were generated in a Docker container so gitleaks errors out with permission denied.

Only workaround ATM is to delete these files each time I need to commit or skip commit hooks.

[2021-01-25 22:45] zricethezav commented on #499
@btilford ran what?

[2021-01-25 23:29] pburkholder commented on #499
@zricethezav V7.2.1 fixed the issues I ran into, thanks! @btilford may have found something different.

[2021-01-26 03:12] zricethezav commented on #499
@pburkholder perfect! @btilford could you please open another issue to track your bug?

[2021-01-26 03:12] #499 closed

[2021-01-26 10:01] wakeman83 opened #514 "Multiple instances of the same rule in one line"
Multiple rules matching in one line are supported.
How about getting each instance of the same rule in the same line being flagged?

Example:
For a line with multiple secret types and two passwords, I get only one match as follows - I assume that the leftmost match is taken into account below:

[code]

Justification: Different secret instances may have different criticality. One of them can be fal

[2021-01-26 12:59] #505 closed

[2021-02-01 14:54] AndrewMasalski opened #515 "Options --files-at-commit and --commit results in error"
I am trying to run the scan on our CI using this command:
[code]
If I use `--files-at-commit` or `--commit` option, gitleaks throws error:
[code]
When I remove `--files-at-commit` option gitleaks does not throw any error, but it doesn't find any secrets.
Locally the same command works just fine.

**Basic Info (please complete the following information):**
 - Gitleaks Version: v7.2.0

cc @zricethez

[2021-02-03 10:00] qingxp9 opened #518 ""fatal error: concurrent map read and map write" when use threads"
[code]
after some normal outputs, it shows up an error
[code]

cc @zricethezav

[2021-02-03 19:17] #513 closed

[2021-02-04 10:37] gupta-pooja-xo opened #520 "Bitbucket enterprise URL scan"
**Describe the bug**
I want to scan all the repositories in a workspace / enterprise but I am getting error as "authentication required". I tried connecting with ssh as well as username/password. If I run the same commands only on a single repo it works.

So there are two workspace I am trying to connect to. One is the enterprise bitbucket URL but since that was not working I tried the https://use

[2021-02-04 13:38] Cedric-Magnan opened #521 "Github Actions / Ubuntu 18.04 > Option --commit=latest raises an "object not found" error"
**Describe the bug**
The following command works perfectly fine on a laptop or on a VM but raises an error when started from Github Actions.
[code]
The same command does not raise an error when "--commit=latest" is removed from the command above.

**To Reproduce**
1) Create a new Github repository
2) Add a .github/workflows/CI.yml file to the repository with the following content:
[code]
3) Push t

[2021-02-04 13:46] Cedric-Magnan commented on #521
Duplicate with #515

[2021-02-04 13:46] #521 closed

[2021-02-05 03:22] qingxp9 commented on #518
after up to date, it works normally now.

[2021-02-05 03:22] #518 closed

[2021-02-05 14:23] C1ph3R-s opened #522 "docker build problem with Go"
Hi,

i have an issue when I want to build it from Dockerfile.
Do you have any solution for that case?

[code]

Thanks,

[2021-02-05 16:26] zricethezav commented on #522
@C1ph3R-s https://github.com/zricethezav/gitleaks/blob/master/Makefile#L48-L49

[2021-02-08 08:35] C1ph3R-s commented on #522
@zricethezav unfortunately, I have a same output. Do you have any other idea? or did I something wrong? Has it got any prerequisite ?

[2021-02-08 15:48] C1ph3R-s commented on #522
I have solved the build problem, but pls check this output:
`?   	github.com/zricethezav/gitleaks/v7	[no test files]`

[2021-02-10 11:20] C1ph3R-s opened #523 "docker, no such file or directory"
Hi.

Any idea for that?
[code]

Thanks,

[2021-02-11 19:46] brownrw8 opened #524 "Gitleaks generates empty report (0KB)"
**Describe the bug**
On Windows, gitleaks writes an empty (0KB) report file to whichever directory I specify, regardless of number of leaks found.  This occurs for both both JSON and CSV report format.

After running the following command:
`> gitleaks.exe --path=<PATH_TO_REPO> --branch=master --report=report.csv --format=CSV --config-path=scanner.config`

Log output is the following:
[code]

The r

[2021-02-15 09:17] tigerkungen commented on #440
Hi, I have the same problem. Wanted to use gitleaks as mandatory step in the pull request in Azure DevOps pipelines. But cannot make it work. Same message as described above.

[2021-02-17 09:39] c3101 commented on #524
+1

[2021-02-18 08:48] rahulvinodsharma opened #526 "Git Cloning Connection Refused"
**Describe the bug**

Getting lots of connection refused.

[code]
**To Reproduce**
Happens on any attempt, inconsistent.

**Expected behavior**
Git Clone without Error

**Basic Info (please complete the following information):**
 - OS: Alpine
 - Gitleaks Version: v7.2.2

**Additional context**

It would be good if there is the option of the re-attempt parameter.

Thanks

cc @zricethezav

[2021-02-23 17:03] adamdecaf opened #531 "False positive Github token in Terraform module"
**Describe the bug**
Our CI failed due to gitleaks detecting the following block as a Github API key. It's not, but I assume the pattern matches similar enough that the regex matched the line. This code block is [Terraform](https://www.terraform.io/) config to deploy a docker image inside Kubernetes.

The `source` attribute [references a commit that doesn't introduce secrets](https://github.com/mo

[2021-02-23 19:13] tesharp commented on #531
Have a very similar case with false positive in `yarn.lock` file on this entry:

https://registry.yarnpkg.com/github-slugger/-/github-slugger-1.3.0.tgz#9bd2a95c5efdfc46225e82a926ef8e2a259124c9

Because package has github in name it matches the Github rule. Looks like pretty much same problem

[2021-02-23 19:42] zricethezav commented on #531
@adamdecaf @tesharp thanks for bringing this up. I'll try to work on a stricter github rule. Happy to accept PRs for this as well!

[2021-02-24 05:32] amrityam opened #532 "Problem loading config in Windows platform"
Hi,

I am trying to load config .toml file using below command in windows.
**_gitleaks --path="F:\Test\secret_scan\vuln_app" --no-git --report="F:\Test\secret_scan\scan_report.json" --config-path="F:\Test\secret_scan\gitleaks\examples\leaky-repo.toml"_**

But it is giving me below error.
_**time="2021-02-24T10:46:49+05:30" level=error msg="problem loading config: error parsing regexp: invalid esca

[2021-02-24 12:40] kstarzyk commented on #531
Same here.

Link to the rule: https://github.com/zricethezav/gitleaks/blob/4544156b448ee5152f7e4c1c3ad8eec7e5d3d5d6/config/default.go#L46

@zricethezav what's the purpose of this rule? What kind of leaks it might prevent?

[2021-02-24 15:09] zricethezav commented on #531
@kstarzyk ideally this would prevent github access tokens from being leaked

[2021-02-25 18:33] adamdecaf commented on #531
GitHub personal access tokens are 40 characters and so are the commit hashes. Was the regex designed to catch instances where a token is supplied as an HTTP header? I've got `Authorization: token $GITHUB_TOKEN` as the format for that.

I'm thinking any `https://(.*)(github.)([0-9a-zA-Z]{35,40})` matching string is safe, but it seems there's an example I'm missing?

[2021-02-26 07:50] thecybermafia commented on #483
@moshealon76 I created a small bash script that does the org scanning, saves individual repo's reports and it can pass any arguments to gitleaks as well, take a [look at it here](https://github.com/thecybermafia/orgleaks)

[2021-02-26 20:18] andybeet opened #533 "False leak reported"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Basic Info (please complete the following information):**
 - OS:
 - Gitleaks Version:

**Additional context*

[2021-02-27 15:54] zricethezav commented on #533
no description, closing

[2021-02-27 15:54] #533 closed

[2021-03-04 11:03] acheronstyix commented on #524
Hi,

try to change `--format=CSV` by `--format=csv` (lowercase).

It worked for me

[2021-03-04 14:39] zricethezav commented on #531
@adamdecaf, the regex was designed to catch things like
[code]

However the regex is too tolerant. I'm thinking something like

[code]

WDYT @adamdecaf @kstarzyk. Give it a try https://regex101.com/r/81pntG/1

I'm in the process of rewriting some of the more loose rules to make them more strict

[2021-03-04 16:17] adamdecaf commented on #531
That looks a lot better. I tried a few other `github....` common strings and it's not matching. https://regex101.com/r/VVpIXJ/1

[2021-03-05 20:09] #429 closed

[2021-03-05 21:00] #503 closed

[2021-03-05 21:02] zricethezav commented on #531
@adamdecaf thanks for doing some additional testing!

[2021-03-05 21:33] #531 closed

[2021-03-08 07:24] w0rmr1d3r commented on #522
Hello @C1ph3R-s , how did you solve the build problem?

[2021-03-08 07:28] w0rmr1d3r commented on #523
Dumb question, does the path `/home/user/gitleaks/config` actually exist?

[2021-03-09 18:53] amq commented on #532
Can be mitigated by running in git bash

[2021-03-12 18:48] EliSchleifer opened #537 "Output from stdout is not valid json no comma between found entries"
**Describe the bug**
The output in json mode is not printing a valid group of json.

Looks like
{
....
}
{
...
}

Should be
{
...
}**,**
{
....
}

**To Reproduce**
Lint file with multiple issues

**Expected behavior**
stdout should have valid parsable json

cc @zricethezav

[2021-03-15 19:47] andybeet opened #538 "False leak reported?"
**Describe the bug**
I believe gitleaks-action is producing a false alarm

**To Reproduce**
Both of these repos were passing when i added the action on Jan 30, 2021. Then on Feb 22, 2021 after no significant changes in content. Both repos failed. Here are the logs from two of our repos.
1. [repo1](https://github.com/NOAA-EDAB/ms-keyrun/runs/1989245657)
2. [repo2](https://github.com/NOAA-EDAB/tech-

[2021-03-16 13:40] jessehouwing opened #539 "Gitleaks misses quite a few Azure rules."
Gitleaks is missing quite a few rules for the Microsoft ecosystem, including Visual Studio, Azure and Azure DevOps.

Microsoft used to have a competing product called `credscan`, but it was recently deprecated in favor of the GitHub Security offerings.

I've ported most of the rules from credscan to the gitleaks format and put them in a repo here:
https://github.com/jessehouwing/gitleaks-azure

I'

[2021-03-17 08:56] yxingwu opened #540 "ssh: handshake failed: ssh: unable to authenticate, attempted methods [none publickey], no supported methods remain"
**Describe the bug**
I am using gitleaks to clone **gist**, but got the error `ssh: handshake failed: ssh: unable to authenticate, attempted methods [none publickey], no supported methods remain`
Probably, it's a bug. I used gitleaks to clone gist repository in `https`, it works fine. But I used gitleaks to clone gist repository in `ssh`, got the error. I did it by `git clone git@gist.github.com:0

[2021-03-18 13:57] jessehouwing commented on #539
I contributed in a project called SpamAssassin before. There I was abne tm setup what we called a Spam and a Ham corpus of examples to test rules against, many people separated oud good code vs bad code and every time the ruleset changed, they'd run the new ruleset and reported any new false positives and false negatives.

Would be nice if people could setup a private repo with a GitHub action to

[2021-03-22 11:31] qingxp9 opened #541 "Wrong repo value when scanning repos contained in a parent directory"
In some situations, the repo value in the output file uses the name of the parent directory instead of the repo's name.

[2021-04-01 18:20] melg8 commented on #538
I've encountered same issue.
Reports:
"rule": "AWS Secret Key",
where
"line": "      \"integrity\": \"sha512-GDHVin2EJ9PGJ33VMGlqtPcvUlY+pkTbaWs4jWv8oBaEK8UUBzS5ZpEc4xi7Xp5vIXnVsCSLKNC6bgvR9X/AoQ==\",",
"offender": "aWs4jWv8oBaEK8UUBzS5ZpEc4xi7Xp5vIXnVsCSLKNC6bgvR9X/AoQ",

So just sha512 with aWs symbols were detected as AWS leak.

[2021-04-04 15:51] reuvenel opened #542 "Gitlab ci job with Gitleaks "failed" randomly--> [object not found], but succeeded with --no-git flag"
**Describe the bug**

When I try to run a simple job via Gitlab ci, I'm getting an error: **object not found**, but if I added **--no-git** flag, it works. I'm suspecting GitLab CI, so I ran it locally with different containers, and it worked like a charm.
I tried many times on Gitlab CI, but I don't know what the problem is.

**Update 11.04.21:**
It happens randomly when i edit the .yml file, I d

[2021-04-07 10:53] prabhu opened #543 "Exclude directory argument in --no-git mode"
**Is your feature request related to a problem? Please describe.**
slscan now use gitleaks in `--no-git` mode by default. This is currently parsing all the directories including .venv, node_modules etc that can be safely ignored.

**Describe the solution you'd like**
By supporting an argument such as `--exclude-dir`, `--exclude-regex` tools such as slscan can ignore known directories to speed up t

[2021-04-08 13:35] mercuriete opened #544 "[Documentation] Dockerfile comment is wrong."
If you go to this line:

https://github.com/zricethezav/gitleaks/blob/d353ac510878c743df7d5ebfdfc823be574f8e8f/Dockerfile#L15
[code]

it fails with the following error:
[code]

and it should be repo-url:
[code]

Thanks

[2021-04-08 13:44] zricethezav commented on #544
@mercuriete care to make a PR? happy to accept community contributions

[2021-04-08 13:55] mercuriete commented on #544
ok! I'll do it

[2021-04-08 14:08] mercuriete commented on #544
@zricethezav done

can you review the PR?

thanks for this project! :smile:

[2021-04-08 14:23] #544 closed

[2021-04-08 17:04] zricethezav commented on #539
Source for rules: https://www.powershellgallery.com/packages/AzSK.AzureDevOps/0.9.8/Content/Framework%5CConfigurations%5CSVT%5CAzureDevOps%5CCredentialPatterns.xml

[2021-04-08 20:38] jessehouwing commented on #539
Yups that's the pattern source. There isn't a 1-to-1 mapping, but it's close.

[2021-04-11 06:49] rseedorff opened #548 "Docker Tag v7.4.0 is missing 🤔"
**Describe the bug**
As a gitleaks user i would like to decide which release version of gitleaks is currently running in my infrastructure.

In an fully automated docker container based setup it is somehow a little bit risky to always reference a `latest` docker tag image instead of specific versions.

**To Reproduce**
Steps to reproduce the behavior:

The latest release version is currently: `v7.

[2021-04-13 20:06] zricethezav commented on #548
@rseedorff 7.4.0 is available now. I don't have plans to automate the release process at this time.

[2021-04-13 20:06] #548 closed

[2021-04-13 20:10] zricethezav commented on #538
Thanks for bringing this up. @andybeet @melg8. https://github.com/zricethezav/gitleaks/blob/master/config/default.go#L14-L17 is probably too lenient. I can look into changing this rule. Meanwhile, you can write [your own rules](https://github.com/zricethezav/gitleaks#rules-summary) with stricter regexes.

[2021-04-22 11:06] SphenicPaul opened #553 "Whitelisting and/or merged GitLeaks configs not suppressing false-positives"
**Describe the bug**
It currently appears that when using multiple configurations (merged as part of the execution of GitLeaks), the white/allow-listing isn't working correctly.

NOTE: I'm a little new to use of GitLeaks so this could be a misunderstanding on my part, but further details below...

I'm currently using a global/packaged 'gitleaks.config' file as part of an execution of GitLeaks, and

[2021-04-22 11:06] SphenicPaul commented on #553
Shout if you've any more questions and/or if my expected usage of these configurations is incorrect.

[2021-04-22 13:10] SphenicPaul commented on #553
Having read through a number of previous issues, I suspect it's a little similar to #499

It looks as though it's the global whitelisting that is ignored/missed by the config (this may be limited to use of the `unstaged` scanner) - I've tried this in a single configuration and got similar results to my other experience of this.

This first config still raises issues/leaks with `.cs` files within a

[2021-04-22 13:33] zricethezav commented on #553
Thanks @SphenicPaul this looks like a bug. Taking a look now.

[2021-04-22 13:55] zricethezav commented on #553
I'm unable to recreate this locally. Seems to be working for me. Could you give me some steps to reproduce or provide a script or repo to test against?

[2021-04-22 15:49] SphenicPaul commented on #553
@zricethezav - I've been quickly trying to put another repo to exemplify this but I've hit another problem (again, might just be my expectations not matching the actual functionality).

Should the `--unstaged` option scan files in the repo that have **never** been staged and never previously committed? - I had a relatively empty repo (cloned locally) and I added a file to the directory/repo with a

[2021-04-22 17:13] SphenicPaul commented on #553
@zricethezav  - Additionally, I've put a repo together for now.... [https://github.com/SphenicPaul/GitLeaks.Sample](https://github.com/SphenicPaul/GitLeaks.Sample) ... that you should be able to clone and try the below (I've committed the binary I'm using - v7.3.0 - so good to go). I won't leave this repo available too long.

[.gitleaks.CsInRulesAllowlist.toml](https://github.com/SphenicPaul/GitLe

[2021-04-22 22:02] zricethezav commented on #553
@SphenicPaul perf, found the cause. fix here https://github.com/zricethezav/gitleaks/pull/554. I need to add some tests around this but would rather push this fix out now and add some tests later 😬

[2021-04-22 22:07] #553 closed

[2021-04-26 21:30] ghostsquad opened #556 "Better support as a library"
**Is your feature request related to a problem? Please describe.**
If someone want to integrate gitleaks into another tool, it is not trivial to do without shelling out. I believe this scenario could be made easier with some changes to Scan

**Describe the solution you'd like**
Allow Scan to take a `context.Context` and quit when that context is cancelled. Scan should return just the results, and

[2021-04-26 21:48] ghostsquad commented on #537
It doesn't output anything when nothing is found. This is also a problem, as you can't reliably pipe to `jq`

[2021-04-29 08:50] jonathanio opened #557 "No .pre-commit-hook.yaml file in any current release"
**Describe the bug**

In adding the recommended configuration from the README file, the `pre-commit` run fails:

[code]

Both the `v7.4.0` release linked to in the documentation and the `v.7.4.1` current release is older than the commit which adds the `.pre-commit-hooks.yaml` file to the repository, so the run fails. If I target the repository directly with the latest commit (e7553b0168aac548d8858

[2021-05-01 20:49] davidkochkerian commented on #540
issue present in older versions as well, please fix...

[2021-05-04 12:51] zricethezav commented on #543
@prabhu There is the ability to exclude regexes and directories using the [config toml file](https://github.com/zricethezav/gitleaks#rules-summary). I like the separation of scanning options and rule configuration. This encourages folks to write their own gitleaks configuration files and not rely on the default config.

[2021-05-04 12:52] zricethezav commented on #542
@reuvenel the gitleaks action job depends on `checkout`. See https://github.com/zricethezav/gitleaks-action#sample-workflow

[2021-05-04 12:56] zricethezav commented on #541
@qingxp9 could you provide a sample repo to test this bug on?

[2021-05-04 15:55] prabhu commented on #543
@zricethezav Thank you. Will explore the config file further. However, would it offer performance benefits by completely ignoring those directories or only used for suppressing findings? node_modules, venv are large in modern apps so an option to entirely ignore them is preferable. I have users reporting that gitleaks is currently taking over 2.5 hours for certain apps which is not ideal.

[2021-05-04 16:05] zricethezav commented on #543
@prabhu the former. Gitleaks prevents scanning and files/paths founds in the global allowlist.

If those repos are public I'd be happy to take a look 😄

[2021-05-05 10:44] w0rmr1d3r commented on #523
@C1ph3R-s I found the error, you must pass your folder to the docker.
Like this:
[code]

[2021-05-05 13:25] zricethezav commented on #557
@jonathanio just released https://github.com/zricethezav/gitleaks/releases/tag/v7.5.0. Lemme know if that works

[2021-05-06 09:33] C1ph3R-s commented on #523
Thanks !

[2021-05-06 09:33] #523 closed

[2021-05-06 10:06] jonathanio commented on #557
@zricethezav Just tested with the `v7.5.0` tag and I had no issues. Thanks for that.

[2021-05-06 10:06] #557 closed

[2021-05-06 21:18] davidkochkerian commented on #540
Looks like the code has 2 issues.

1. It's only looking at id_rsa, so if you have a configuration for multiple keys, say one for github, and another for gitlab, you'll need to make sure id_rsa is set to the one that you are scanning... you should instead check config, and use the appropriate key, or alternatively try all keys in .ssh folder...

2. you are not taking account keys that are passkey p

[2021-05-06 21:24] zricethezav commented on #540
@davidkochkerian happy to look at PRs. My time is gonna be tight for the next few months so this might not get my full attention for a while.

[2021-05-10 18:58] eric-w-hart opened #562 "Vulnerabilities found in latest Docker image"
**Describe the bug**
A clear and concise description of what the bug is.

OS | high | openssl (used in libssl1.1, libcrypto1.1) version 1.1.1i-r0 has 5 vulnerabilities.Show details
-- | -- | --
  |  
OS | high | openssh (used in openssh-server, openssh-server-common, openssh-sftp-server, openssh-client, openssh-keygen, openssh) version 8.1_p1-r0 has 3 vulnerabilities.Show details
  |  
OS | high |

[2021-05-11 06:38] w0rmr1d3r commented on #562
Shall we add a security policy to this repo? @eric-w-hart @zricethezav ?
Can we activate Dependabot to have a broader look of vulns regarding dependencies?

[2021-05-11 11:11] maurofaccenda opened #563 "Hide access token from command line arguments"
**Is your feature request related to a problem? Please describe.**

When running gitleaks the access token is exposed to anyone who can list processes on the system (`ps`, `top`).

**Describe the solution you'd like**

I've seen some solutions that can mask the secret replacing the actual value with something like `*****` or `<hidden secret>`.
If I remember right, mysql command line does that.

An

[2021-05-11 11:57] eric-w-hart commented on #562
@w0rmr1d3r I'll defer to @zricethezav since it's his repo.

[2021-05-17 11:28] schattenbaum commented on #524
The answer from @acheronstyix definitively helped me as well. a simple to lowercase would probably help many others in the future as well. ;)

[2021-05-17 13:37] zricethezav commented on #524
@schattenbaum 😬 you're absolutely right. https://github.com/zricethezav/gitleaks/blob/master/scan/report.go#L21-L99 needs a lil rework. I see some redundant logic at a glance. Happy to accept PRs if anyone wants to tackle this. Basically, we want to normalize all `ReportFormat` values to lowercase before checking them. Also that second https://github.com/zricethezav/gitleaks/blob/master/scan/repor

[2021-05-20 08:52] w0rmr1d3r commented on #526
Hello @rahulvinodsharma !
It seems there's a connection issue with GitHub, have you tried cloning the repo yourself (without using gitleaks) where it's running, to see if the problem persist?
Could it be due to your SSH keys to connect to GitHub? Or maybe due to your internet connection?

[2021-05-21 00:11] marcelo321 opened #571 "Can't use config-path flag"
sorry I don't know if im stupid or what but I can't add a local config.go file.

I am trying:

[code]

I tried all the ways It is common to select a path.. but none work

Can somebody please help me?

[2021-05-21 00:15] marcelo321 commented on #571
The usual that most golang tools use is `-c config.go` or `-c /path/to/file.yaml` and that's it, none of them working here

[2021-05-21 05:38] w0rmr1d3r commented on #571
Hello @marcelo321 !
I'd try without the `-q` mode, and use `-v` or `--verbose` instead, to have a better look of what's the error.
However, the _config path_  it refers to, the path to the gitleaks config file, not the config file of your application.

If you want to scan that file, use it as it's shown in this example -> https://github.com/zricethezav/gitleaks#scan-a-file
Here you have more info

[2021-05-21 13:50] w0rmr1d3r opened #572 "Not detecting certificates"
**Describe the bug**
I used gitleaks to review a small repo which had a private key and a certificate.
gitleaks detected the key (yay!) but not the certificate.
The string containing the certificate started with -> `-----BEGIN CERTIFICATE-----`
and ended with -> `-----END CERTIFICATE-----\n`
Between those lines, you can find the usual "random" characters.

**To Reproduce**
1. Run gitleaks and try

[2021-05-21 14:02] zricethezav commented on #571
@w0rmr1d3r thanks for helping out!

[2021-05-21 14:07] zricethezav commented on #572
Hey @w0rmr1d3r this would be easy enough to add. We would just need an additional rule similar to https://github.com/zricethezav/gitleaks/blob/master/config/default.go#L76-L79.

Something like
[code]

Care to test that out and see if it works? If it does, feel free to open a PR 😄

[2021-05-21 16:22] marcelo321 commented on #571
@zricethezav @w0rmr1d3r,

I am trying to load a gitleaks configuration using my own regexs, but I am unable to pass it as an argument using the mentioned flag.

`--config-path loads a local gitleaks configuration`

I am trying the following:

[code]

Works as expected, scans perfectly. Now I am trying to pass my own set of rules/regexs so gitleaks uses them instead of the default one here: https:/

[2021-05-21 19:07] marcelo321 commented on #571
Ok so the config file had to be .toml.. damn.

[2021-05-21 19:43] marcelo321 commented on #571
Also I noticed that regex matching more than 1 line aren't working. Is there a way to do it?

Trying:

[code]

I used that regex a lot, trying to switch from shhgit to gitleaks but can't manage how to change the regexs

[2021-05-23 05:10] marcelo321 opened #574 "Avoid getting many alerts of the same leak"
I wanted to know if it is possible to add a flag so we don't get tons of alerts of the same "leak"

Right now if somebody pushes a secret and keeps modifying that file, gitleaks will match that same secret the number of times the user modified the file. So we might get 1 or 50 jsons of the same "leak" in the same file but in different lines.

Wanted to know if there is a way to do this before I tr

[2021-05-23 10:27] dudicoco opened #575 "Too many false positives"
I have created the following rule for generic secrets:
[code]

The following two configurations are used for testing the rule (contains dummy secrets):
[code]
[code]

When running the rule on the second configuration, the rule alerts on false positives:
[code]

Raising the min entropy value would cause the rule to not detect all secrets in the configuration with the "real" secrets.

In addition, i

[2021-05-23 22:32] marcelo321 opened #576 "Add blacklist of custom words to config.toml"
Would it be possible to add a blacklist of custom words that we do not want gitleaks to get us when scanning?

let's say I have a regex that will match "test:example", I would want to add to the blacklist the word "example" so I don't get any alerts of leak containing that word.

Example from shhgit here: https://github.com/eth0izzle/shhgit/blob/master/config.yaml

[2021-05-25 06:55] w0rmr1d3r commented on #572
Alright! Will do in the following days!

[2021-05-25 09:24] w0rmr1d3r commented on #574
Hello @marcelo321 !
I understand that `the user modified the file` refers to each commit and all those json refer to each finding in each commit.
Have you tried the `--no-git` option?

[2021-05-25 09:25] w0rmr1d3r commented on #576
Hello @marcelo321 !
In here, before the examples -> https://github.com/zricethezav/gitleaks#rules-summary
You can find an `[allowlist]` , and put the `example` so you don't get findings regarding that word.

[2021-05-26 06:01] w0rmr1d3r commented on #571
Hello @marcelo321 !
About this:

Yes, there're examples here and you can add blacklist strings ->
https://github.com/zricethezav/gitleaks#rules-summary

Regarding the comment about regex, you have an example here -> https://github.com/zricethezav/gitleaks#example-1
However, can you provide us the full `toml` file? Maybe there's something else we are missing.

Thank you!

[2021-05-31 13:23] cyrusmatsumori opened #578 "SARIF output report doesn't contain "ruleId" string"
**Describe the bug**
When use sarif output format, it generates report using  particular schema: "https://schemastore.azurewebsites.net/schemas/json/sarif-2.1.0-rtm.5.json".
In this schema there is a "ruleId" parameter, but Gitleaks report doesn't contain it.

**To Reproduce**
Steps to reproduce the behavior:
* Perform Gitleaks secret search with `-f sarif` parameter on source code, which contains

[2021-06-01 20:12] vallieres opened #579 "Inline False Positive Ignore Statement"
**Is your feature request related to a problem? Please describe.**
Given that we can now integrate gitleaks with pre-commit hooks, I can see the situation where a secret could be found during the pre-commit hook routine. However, if that secret is not an actual secret and simply something that gets identified as a false positive. We should be able to mark that line to be ignored.

Given that the p

[2021-06-03 10:17] Normo opened #580 "File with key not detected as leak"
**Describe the bug**
It seems that gitleaks does not detect files according to the following rule:
[code]
Instead it reports that this rule *"does not define any actionable data"*:
[code]
I'm not sure if it's a bug or misconfiguration.

**To Reproduce**
1. Create an empty directory:
[code]
2. Create SSH key pair:
[code]
3. Download example config [`leaky-repo.toml`](https://github.com/zricethezav/

[2021-06-03 11:04] w0rmr1d3r commented on #580
Hello @Normo !

I created a key pair and ran gitleaks and it has found it.

What I did was to create a key from scratch with just `ssh-keygen`.
Named it `test-gitleaks` and of course, it generated `test-gitleaks` and `test-gitleaks.pub`  files.

In that very same folder I ran `gitleaks --no-git --path=. --verbose` and of course, it found a leak, which is the key I generated before.

I have the sam

[2021-06-08 07:28] w0rmr1d3r commented on #572
Hello @zricethezav !
I can't build a custom docker image in order to test it, it's giving me errors.
What I've tried is to use a custom config file and put that rule there, but it's not detecting anything.

I've put this:
[code]
in the custom config file, and trying to scan a "bad file" with that in in, and nothing is found.

Any help here?

[2021-06-08 12:19] 030 opened #581 "Is a snap package available?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

A snap package so I could install gitleaks by issuing `snap install gitleaks`.

**Describe alternatives you've considered**
A clear and conci

[2021-06-09 09:43] cyrusmatsumori commented on #542
I faced same issue (suddenly).
It worked fine, but start to came with an error 'object not found'.

[2021-06-09 11:41] cyrusmatsumori commented on #542
@reuvenel, use these params (it works fine for me).:
`GIT_STRATEGY: clone
  GIT_DEPTH: 100
`
Read [more](https://docs.gitlab.com/ee/ci/runners/README.html#git-strategy) about GitLab Runner pre-clone scripts.

[2021-06-11 05:51] zac11 opened #582 "Gitleaks marks Chromedriver as a potential leak"
**Describe the bug**
Gitleaks considers Chromedriver executable for potential leaks (Twitter ID) check.

**To Reproduce**
1. Add chromedriver version (ChromeDriver 91.0.4472.19) in your git repo.
2. Run gitleaks in the repo.

**Expected behavior**
Gitleaks should not actually classify Chromedriver as a leak.

**Screenshots**

**Basic Info (please complete the following information):**
 - Mac OS Ca

[2021-06-15 14:02] cyrusmatsumori commented on #578
Such behavior comes to parsing problems while importing results (for ex. into DefectDojo) using SARIF output.

[2021-06-20 15:05] Adnan0o7 opened #583 "gitleaks not working with submodules "is a directory " error"
**Describe the bug**
gitleaks local repo scan doesn't work with repos with submodules

**To Reproduce**
Scan a local repo with pre included git submodule
gitleaks -v --redact

**Expected behavior**
Should scan and return leaks or success

**Basic Info (please complete the following information):**
 - OS: mac 11.2.3
 - Gitleaks Version: 7.5.0
- repo link: https://github.com/Adnan0o7/PyYelp

**Addit

[2021-06-20 17:56] #583 closed

[2021-06-21 18:55] leroux-p opened #584 "Node Module"
I am trying to run gitleaks as part of "pre-commit" and I would like for this to run as an npm script so I can commit the node dependency.

I would like an npm package that allows me to inject gitleaks into my package,json.

cc @zricethezav

[2021-06-21 19:14] Miloy03 commented on #181
Hi @zricethezav,

I am facing the same issue wherein my scan gets killed. Is this because it does not get enough RAM memory? Also the "--disk" option does not seem to be working for me. Can you please suggest a solution?

[2021-06-29 08:36] jkbszpg commented on #415
there are two issues with in that pre-commit.example file

- test in sh uses one '='
- remove the "--pretty" parameter (it will fail the scan with "unknown flag `pretty'")

[code]

[2021-06-29 08:55] jkbszpg opened #585 "Staged not used in pre-commit"
**Describe the bug**
staged changes and not scanned by pre-commit after changing working directory

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
Stage version should be scanned and commit prevented

**Screenshots**

Status before commit that passes
[code]

**Basic Info (please complete the following information):**
 - OS: Windows 10, WSL Ubuntu 20.04.2 LTS
 - Gi

[2021-06-29 17:17] eschrader opened #586 "Supplement rules with actual password strings"
Hi,

I am using the leaky toml rules file to find my passwords. However, with some digging and removing false positives I have a list of about 60 passwords. How can I pass in these exact strings into TOML or a config file? I found some passwords while digging that were not in the original report. Regex is a bit too fluid. Can I add a rule without regex and just an escaped string?
[code]
or multipl

[2021-06-29 19:23] marcelo321 commented on #571
I missed your comment. Basically I want to generate a rule/regex that matches the following words:

[code]

In the config.yaml of shhgit I was using a regex like this one: `((?i)someword)((\S|\s*)?){0,75}anotherword` to match spaces, but it doesn't work with gitleaks.

If you find an example to match words from 2 or more different lines like with my example, let me know

[2021-06-30 06:20] w0rmr1d3r commented on #586
Hello @eschrader !
Gitleaks should find those passwords for you, I guess, you shouldn't need those regex to find your passwords...
Are we missing some info here?

Cheers!

[2021-07-02 20:29] eschrader commented on #586
Some weak passwords dont look like passwords, like a color or animal or persons name for example. If there I could add my exact strings as a rule, it would solve my issue. The tool detects a ton of the passwords, but mainly picked up the connection string for example as a leaky environment var but not a simple password in the string.

[2021-07-03 13:13] rubyman opened #587 "Scan all repos of an organization"
Hi guys,

I can't find this feature. (maybe I didn't search enough!) I mean you get organization name from the user and scan all repositories' of that organization for any leaks.

example:
_gitleaks --org-name=github -v_

output:

found 27 repos.
Scanning repo 1 ...
Scanning repo 2 ..._

Thanks

cc @zricethezav

[2021-07-06 18:14] eschrader commented on #586
I might have figured it out with my friends help, We can just copy the Generic Credential and file extension examples and replace the names with our escaped passwords.
`[[rules]]
	description = "Generic Credential"
	regex = '''(?i)(pass\$word|P@ssw0rd|small|longlonglonglong|andmoregohere)$'''`

[2021-07-07 15:07] cyrusmatsumori opened #591 "Gitleaks ignore new line character in rule regex section"
**Describe the bug**
Trying to use regexp, which contain 'new line' character. Seems Gitleaks can't process it.

**To Reproduce**
Steps to reproduce the behavior:
1. Use Regexp to fing credentials in Gradle files: `'''(credentials).*?\n*.*?[username|password]\s*[:=]?\s*['\"]([0-9a-zA-Z-_]{3,32})['\"]'''`
2. Full rule description:
[code]
3. Use below content of a file to analyze:
[code]
4. Try to f

[2021-07-07 18:37] eschrader commented on #586
I was able to solve it, just use triple single quotes surrounding your string. Be sure to escape regex special characters with a single slash \, such as \$ for an actual $. I added each string to its own line,
[code]
Thanks everyone!

[2021-07-07 18:37] eschrader commented on #586
I was able to solve it, just use triple single quotes surrounding your string. Be sure to escape regex special characters with a single slash , such as $ for an actual $. I added each string to its own line,

[code]
Thanks everyone!

[2021-07-07 18:37] #586 closed

[2021-07-08 10:00] cyrusmatsumori opened #592 "Gitleaks ignore files regexp in rule section"
**Describe the bug**
Gitleaks ignore **files** regexp in rule section.
But at the same time, Gitleaks apply/use **files** regexp in [rules.allowlist] section.

**To Reproduce**
Steps to reproduce the behavior:

1. Create files (with secrets) with the same content:
[code]
2. File list:
[code]
3. Use rule below to find secrets:
[code]
4. leaks found: 4

**Expected behavior**
leaks found: 3

**Basic

[2021-07-12 21:16] fzipi360 commented on #587
@rubyman Did you tried with `--github-org=....` ?

[2021-07-13 13:01] HotThoughts commented on #571
@marcelo321
You probably want to put your regex in square brackets. This is a toml syntax.
[code]

[2021-07-14 02:58] srkiNZ84 opened #594 "GitLeaks throwing "too many open files" error when running with the --no-git option"
**Describe the bug**
When running the "gitleaks" command against a git repository that's locally checked out on Mac OS X, it throws a "too many open files" error:

[code]
The reason for running with the "--no-git" option is that I would like to only scan the current revision of the repository (all the files, not just the ones referenced by the latest commit).

The error seems to be being thrown du

[2021-07-14 08:57] w0rmr1d3r commented on #594
Could this PR -> https://github.com/zricethezav/gitleaks/pull/590 fix this issue?

[2021-07-14 14:01] GolanTrevize10 commented on #587
That was possible before, but it looks like it was removed in version 7. I cannot see anything in the release notes.

[2021-07-14 14:24] zricethezav commented on #587
https://github.com/zricethezav/gitleaks/releases/tag/v7.0.0 i aint supportin it no mo

[2021-07-14 14:24] #587 closed

[2021-07-14 14:26] zricethezav commented on #594
@srkiNZ84

Damn, true. Thanks for pointing that out. Gotta fix that

[2021-07-15 04:27] srkiNZ84 commented on #594
Just note that I did try moving the ".git" directory and it's files out of the way and it was still throwing the error, though it did manage to get a bit further in terms of scanning. So, there might still be an issue even without scanning the .git repository.

[2021-07-16 14:59] jonmcquillan commented on #562
golang.org/x/crypto, CVE-2020-29652 also has a high vulnerability in release 7.5.0

[2021-07-19 07:44] chanpl opened #595 "Not working well with pre-commit"
**Describe the bug**
Two issues I got when using gitleaks with pre-commit:

1. When run with `pre-commit run -a`, `gitleaks` was executed multiple times.
2. A single line of secret will generate more than one error under the same rule.

**To Reproduce**
To reproduce:
1. Add the following example secret to any file in your repo
`mongodb://myDBReader:D1fficultP%40ssw0rd@mongodb0.example.com:27017/?a

[2021-07-19 15:44] foolioo commented on #595
@chanpl: i got exactly that :)

[2021-07-19 16:07] foolioo opened #596 "sharable configuration"
gitleaks does not have a builtin functionality to share a configuration, this can be very helpful for sharing the same configuration across many projects. it would be neat that when http(s) url(s) is given to gitleaks, gitleaks will fetch the configuration over http(s) and append it.

alternatives:
- `config-path` can be overloaded to honor http(s) urls or introduce another option for it
- support

[2021-07-21 03:57] chanpl commented on #595
@foolioo Could you share your configuration? Are you running `pre-commit run -a` (against all files)?

[2021-07-22 12:24] twierzchowski commented on #580
There is a typo in example. It should be ```file``` instead of ```files``` in configuration example.
[code]

[2021-07-25 19:17] rzandonai commented on #283
https://github.com/zricethezav/gitleaks/pull/598 check my pr

[2021-07-27 18:23] 5cr1pt commented on #594
Temporarily set `ulimit` to a larger value in linux, such as:
[code]
This worked for me.

[2021-08-01 21:31] srkiNZ84 commented on #594
Yeah, I tried this as well. Not sure why it doesn't work on OS X 🤷

[2021-08-04 09:45] gps-drone opened #599 "Plans on adding more regexes like Github scanning or Gitguardian scanning?"
**Is your feature request related to a problem? Please describe.**
Not a problem, per se. But having more regexes to scan is always appreciated and really helpful.

**Describe the solution you'd like**
More exhaustive list of regexes like [github scanning](https://docs.github.com/en/code-security/secret-security/about-secret-scanning) or [gitguardian](https://docs.gitguardian.com/secrets-detection

[2021-08-04 13:22] zricethezav commented on #599
@gps-drone I will be more than happy to review PRs folks open that add to the default regexes provided they have an example key/token and matching rule. I do not have the resources/time to figure out all those rules on my own.

[2021-08-04 22:19] jboler commented on #543
I'm seeing something similar. I've tried various different regexes to exclude all `node_modules` directory and the `.git` directories but I can't get anything to work. Do you have any suggestions of what regex to use here?

MacOS 11.4
gitleaks 7.5.0

[code]

gitleaks.toml
[code]

[2021-08-04 22:20] jboler commented on #594
I'm seeing something similar. I've tried various different regexes to exclude all `node_modules` directory and the `.git` directories but I can't get anything to work. Do you have any suggestions of what regex to use here?

MacOS 11.4
gitleaks 7.5.0

[code]

gitleaks.toml
[code]

[2021-08-05 08:26] #592 closed

[2021-08-05 08:27] cyrusmatsumori commented on #592
Need to use proper syntax.

[2021-08-06 04:32] ihavespoons opened #600 "Incorrect line numbers on secrets"
**Describe the bug**
When performing a scan the line numbers in the reported leaks are not correct.

**To Reproduce**
Steps to reproduce the behavior:

- Change to a specified branch for repo using checkout
- Run gitleaks -v --depth 1 --commit latest --config-file=CONFIGFILE
- Review results
{
	"line": "        \u003cproperty name=\"ecbpm.endpoint.ec.password\" value=\"REDACTED\"/\u003e",
	"lineNu

[2021-08-09 10:27] SebastianSchuetze commented on #539
Any update on a possible PR @jessehouwing  and @zricethezav . We use are going to use gitleaks internally at our company and implemented your rules @jessehouwing. We also started creating a repo that triggers the rules to get findings. We may be able to work something out to push this a little bit.

Could we integrate this into the default rule set?

[2021-08-10 07:25] GargiAgrawalscb opened #601 "Gitleaks keeps on scanning previous commits even if the secret/key has been removed"
**Describe the bug**
In my workflow when I use the gitleaks action it works and scans the file for the first time.
Next build when I remove the secret from the repo then too the action refers to the previous commit sha and fails the build saying that the repo still has secrets/keys.

**To Reproduce**
jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with

[2021-08-10 09:39] w0rmr1d3r commented on #601
Could it be due to clonning the repo with `fetch-depth: '0'` ?
gitleaks will still scan previous commits, that might be why your build is still failing!
Have you considered using other options so it scans the repo as a plain folder?
https://github.com/zricethezav/gitleaks#usage-and-options

Cheers!

[2021-08-10 09:45] GargiAgrawalscb commented on #601
Even if I remove fetch-depth: '0' the result is same: It still scans two leaks which have been deleted in many commits before.
time="2021-08-10T06:12:11Z" level=warning msg="leaks found: 2"
🛑 STOP! Gitleaks encountered leaks
----------------------------------
{

https://github.com/zricethezav/gitleaks#usage-and-options does not suggest anything on how to use latest commit or diff between previous

[2021-08-10 09:52] w0rmr1d3r commented on #601
Hello @GargiAgrawalscb ,
take another look at the readme, because it DOES suggest options on how to use gitleaks and scan the repo as a plain folder, without scanning commits.

For instance:
[code]
or
[code]

Cheers!

[2021-08-10 09:57] GargiAgrawalscb commented on #601
I am using below:

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
     - name: gitleaks-action
      uses: zricethezav/gitleaks-action@master

Can u suggest how can I add ' --commit=latest ' with this action?

[2021-08-10 10:06] w0rmr1d3r commented on #601
I don't know at the moment.
But I think, this issue should be moved to the repo with the action, since it's related with the options for that and not with gitleaks.

[2021-08-10 10:08] GargiAgrawalscb commented on #601
Yes thanks I raised this with gitleaks-action now.

[2021-08-10 10:09] w0rmr1d3r commented on #601
This issue right?
https://github.com/zricethezav/gitleaks-action/issues/33

[2021-08-10 10:10] KendraNikole702 commented on #601
STOP SENDING ME E-MAILS PLEASE!!
On Tue, Aug 10, 2021 at 3:09 AM GargiAgrawalscb ***@***.***>
wrote:

[2021-08-10 10:11] w0rmr1d3r commented on #601
Modify your email settings then @KendraNikole702 !

[2021-08-10 10:12] GargiAgrawalscb commented on #601
Yes

[2021-08-10 10:13] GargiAgrawalscb commented on #601
I think I will not have access for this.

[2021-08-13 13:33] zricethezav commented on #594
If the code is working the way I intended it (limited number of concurrent files open), then you really shouldn't have to set `ulimit`. Something fishy is going on. One easy solution would be to scrap multi-processing of `--no-git` altogether. This would increase the scan time significantly but would ensure no more `too many files opened` errors get thrown.

Who's got opinions... lets hear em

[2021-08-13 13:33] zricethezav commented on #600
@ihavespoons could you provide a sample repo for me to test this on?

[2021-08-13 13:37] zricethezav commented on #591
@cyrusmatsumori I do not have any plans to add multi-line support as determining line-numbers numbers is quite the task. If you want to fork and implement this feature yourself I'd be happy to review it.

[2021-08-13 13:37] #591 closed

[2021-08-13 13:37] zricethezav commented on #584
@leroux-p sounds cool, I don't plan on adding an npm package but feel free to do it yourself

[2021-08-13 13:37] #584 closed

[2021-08-13 13:40] zricethezav commented on #582
@zac11 This is a false positive which is hard to avoid since we are just using regex for the twitter rule.  Feel free to use your own config where you tweak the twitter regex or add an entropy constraint. If you come up with a more accurate rule I'd be happy to review it in a PR

[2021-08-13 13:40] #582 closed

[2021-08-13 13:43] zricethezav commented on #580
@twierzchowski @w0rmr1d3r thanks for catching this 😄

[2021-08-13 13:43] #580 closed

[2021-08-13 13:50] zricethezav commented on #579
@vallieres you can add a global "ignore rule" like this:
[code]

Any false positives that have `nosec` on the same line (or whatever you decide) will be ignored

[2021-08-13 13:50] #579 closed

[2021-08-13 13:51] cyrusmatsumori commented on #591
Thanks for info.
Maybe it should be mentioned in the README.md **feature** section?

[2021-08-13 13:52] zricethezav commented on #576
@marcelo321 similar issue: https://github.com/zricethezav/gitleaks/issues/579

[2021-08-13 13:52] #576 closed

[2021-08-13 13:58] zricethezav commented on #575
@dudicoco you could add an allowlist to the rule that ignores lines with `os.getenv`, `echo`, `jq -r`, `https://api.opsgenie.com`

[code]
Basically, it's hard to create a generic rule and not get a ton of false positives

What makes you say that?

[2021-08-16 16:04] emmahsax opened #602 "--commit-from and --commit-to flags don't work"
**Describe the bug**
The `--commit-from` flag doesn't seem to work. If I run:

[code]

It doesn't properly find the secret leaks that I'd expect it to find. On some examples, it seems continues to scan the entire project's complete history (but that could just be because I don't have the patience to parse long lines and lots of vulnerabilities). On some examples, it seems to work as the `commit-to

[2021-08-17 14:16] hashworks opened #604 "False positive matches for 'Twitter Client ID' with twitter status URLs"
[code]

[2021-08-19 03:05] emmahsax commented on #602
Ah. According to [this issue](https://github.com/zricethezav/gitleaks/issues/432#issuecomment-683782867), it seems that these flags have been deprecated in version 7.5.0:

_Originally posted by @zricethezav in https://github.com/zricethezav/gitleaks/issues/432#issuecomment-683782867_.

I'll close this issue because it's expected behavior in this new version.

In another note, it'd be nice to have

[2021-08-19 03:05] #602 closed

[2021-08-19 03:06] emmahsax commented on #604
I get similar false positive matches for `Twitter Client iD` with the same Twitter status URLs.

[2021-08-19 08:06] w0rmr1d3r commented on #602
Hello @emmahsax , can you open a PR updating the documentation?

Thank you! :)

[2021-08-20 13:47] emmahsax commented on #602
@w0rmr1d3r @zricethezav Here you go! https://github.com/zricethezav/gitleaks/pull/605

[2021-08-20 14:09] w0rmr1d3r commented on #602
Thank you @emmahsax !

[2021-08-20 15:50] emmahsax opened #606 "GitLeaks locally is failing, but is passing on GitLab with the container from DockerHub"
**Describe the bug**

I've defined a unique `gitleaks.toml` config file in the repository in question. This toml file has only a basic `allowlist` and has no rules defined. I'd like to take that config file and append it to the _default rules_ that come straight from GitLeaks.

Locally, (with a mac with GitLeaks installed from homebrew), GitLeaks fails because it's appending my custom toml with th

[2021-08-20 16:24] derekmurawsky commented on #562
I'm happy to do some work on this to clear it up. Updating the Alpine base image should clear up the SSH, BusyBox, and apk issues.  The non-root user is a bit more tricky and may have downstream impacts.
I second the ask for dependabot.

[2021-08-20 17:05] zricethezav commented on #562
@derekmurawsky Happy to review a PR

[2021-08-20 20:49] derekmurawsky commented on #562
I do not have access to Twistlock scanner as it appears to be a commercial app. I tried both Grype and Docker Scan and neither found a vulnerability in the base image. I have no way to validate my "fix".
@eric-w-hart  - I created a new version of this at dmurawsky/gitleaks. Can you scan that to verify it is fixed?

[2021-08-20 21:48] derekmurawsky commented on #562
PR submitted. @zricethezav - let me know what you think.

[2021-08-20 22:08] eric-w-hart commented on #562
@derekmurawsky @zricethezav happy to do a pull and scan.
One moment whilst the bits grind away.

[2021-08-20 22:18] eric-w-hart commented on #562
@derekmurawsky and @zricethezav
The results are:
Vulnerabilities found for image dmurawsky/gitleaks:latest: total - 0, critical - 0, high - 0, medium - 0, low - 0
Vulnerability threshold check results: PASS
You are cleared for take off
Thanks for your time.

[2021-08-21 00:15] derekmurawsky commented on #562
Thanks for the scan @eric-w-hart !

[2021-08-23 08:16] w0rmr1d3r commented on #606
Hello @emmahsax ,

Have you taken a look at -> https://github.com/zricethezav/gitleaks-action#using-your-own-gitleakstoml-configuration ?
Could it be related?

Could this be more of an issue with the action and not with gitleaks?

Cheers!

[2021-08-23 12:56] w0rmr1d3r opened #608 "Pull image from ECR/GitHub Packages instead of Docker Hub"
**Is your feature request related to a problem? Please describe.**
If I reach the Docker Hub rate limit I don't have any other option to use gitleaks from (remotely speakiing).
Since I'm using AWS with ECR, I'd like to pull directly my image from ECR instead of Docker Hub.
At the same time, could there be, instead of a public ECR, to use GitHub Packages?

**Describe the solution you'd like**
A pub

[2021-08-24 16:48] emmahsax commented on #606
@w0rmr1d3r I am not using the gitleaks action at all.

[2021-08-24 19:36] emmahsax commented on #606
My apologies. The issue was actually in my yaml. The following works:
[code]

[2021-08-24 19:36] #606 closed

[2021-08-25 06:28] w0rmr1d3r commented on #606
Sorry @emmahsax !
Glad you found the issue!

[2021-08-25 08:44] w0rmr1d3r opened #609 "No difference when using --threads option with docker image"
**Describe the bug**
I'm scanning a repo which takes aprox, 1min to get scanned.
I'm using gitleaks as follows:
[code]

And wanted it to perform better, so I came accross the `--threads` option ([from here](https://github.com/zricethezav/gitleaks/#usage-and-options)).
I used it many times with different values, but no different outcome in time it takes to scan the repo.

**To Reproduce**
Steps to

[2021-08-27 14:41] damiencarol opened #610 "Anomaly in SARIF report"
**Describe the bug**
SARIF1001: The two identity-related properties of a SARIF rule must be consistent. The required 'id' property must be a "stable, opaque identifier" (the SARIF specification ([3.49.3](https://docs.oasis-open.org/sarif/sarif/v2.1.0/os/sarif-v2.1.0-os.html#_Toc34317839)) explains the reasons for this). The optional 'name' property ([3.49.7](https://docs.oasis-open.org/sarif/sarif

[2021-08-31 04:42] sarulmurugan commented on #594
i too face the same issue. Could you please provide high priority to fix this one .

[2021-09-02 14:26] #604 closed

[2021-09-02 14:26] #454 closed

[2021-09-02 15:21] zricethezav commented on #609
@w0rmr1d3r if you are using Docker for mac you can throttle the number of CPUs dedicated to Docker. I'm curious if bumping the CPU value would fix your problem?

![Screen Shot 2021-09-02 at 10 20 23 AM](https://user-images.githubusercontent.com/15034943/131871015-fe58f04e-5af8-407d-87d4-8a43115b4bde.png)

[2021-09-02 15:59] zricethezav commented on #594
@jboler @srkiNZ84 do either of you have example repos I can try reproducing this on? The concurrency pattern found in the [`nogit` scanner](https://github.com/zricethezav/gitleaks/blob/master/scan/nogit.go#L43-L154) is pretty straight forward and based off of https://www.oreilly.com/content/run-strikingly-fast-parallel-file-searches-in-go-with-sync-errgroup/

[2021-09-03 05:46] w0rmr1d3r commented on #609
Hello @zricethezav !
I actually did and nothing changed. I tried this locally, to see if I missed something, but I want it to work on my CI.
And there, it did the same, no changes even though I put more than 100 threads.
Always using docker.

Are we missing something?

[2021-09-03 16:04] zricethezav opened #618 "Split `scan_test.go` into individual test files"
**Describe the solution you'd like**
The `scan_test.go` file contains too many unorganized test cases. We should split this tests apart into scanner specific tests, i.e. `commit_test.go`, `nogit_test.go`, etc. As part of this work, the text fixtures should be rewritten as well.

**Additional context**
Consider building a tool that automatically generates leaky repos?

cc @zricethezav

[2021-09-03 20:26] zricethezav commented on #594
@jboler @srkiNZ84 found the issue, turns out I wasn't limiting the number of goroutines spinning up :/

Gonna throw a limiter on it like the other scans

[2021-09-03 20:47] jboler commented on #594
Thanks!

[2021-09-03 21:41] srkiNZ84 commented on #594
Awesome! Thank you! Sorry I wasn't more helpful in identifying the issue

[2021-09-04 00:33] zricethezav commented on #594
https://github.com/zricethezav/gitleaks/pull/619 going into next release

[2021-09-04 00:34] zricethezav commented on #609
@w0rmr1d3r I believe this is related to https://github.com/zricethezav/gitleaks/pull/619.

[2021-09-04 01:50] zricethezav commented on #594
@jboler @srkiNZ84 should be fixed in 7.6.0, feel free to reopen if you find it still broken

[2021-09-04 01:50] #594 closed

[2021-09-04 13:21] zricethezav commented on #562
thanks @eric-w-hart for the scan and thanks again @derekmurawsky for the PR, closing this as v7.6.0 resolved these vulns

[2021-09-04 13:21] #562 closed

[2021-09-06 04:05] srkiNZ84 commented on #594
have upgraded, ran the command with "--no-git" that was consistently failing before and it is working now! Thank you so much! 🙂

[2021-09-06 07:26] w0rmr1d3r commented on #609
It is!
I ran some tests again and with the `--threads` option it decreases the time it takes!

Thank you!

Closing the issue

[2021-09-06 07:26] #609 closed

[2021-09-06 09:16] w0rmr1d3r commented on #609
However, tested it in a Jenkins machine and got no significant changes.
Previously it took 1min 15sec, I forced to download latest (v7.6.0) and it takes 1min 14sec.

In my local it's showing progress, so I will say that it's limited to how Jenkins runs docker images

[2021-09-06 09:54] raoel commented on #515
could this be related? since it's related to git, and go-git is used in the code? (I don't code Go myself, so I can't patch it :-/  )
https://github.com/go-git/go-git/issues/305

[2021-09-06 09:57] raoel commented on #515
I'm getting the same error;  the last 40-50 commits or so everything worked perfectly, but it stops working on my last commit

[2021-09-06 10:24] w0rmr1d3r commented on #515
Hello!

Can you try with the new version? 7.6.0

It seems that this issue is related to an old version of gitleaks.

Cheers!

[2021-09-06 11:40] ar185356 opened #622 "Unstaged flag causing keys to go undetected"
**Describe the bug**
The --unstaged flag will cause changed keys to go unnoticed by GitLeaks when set up as a pre-commit hook.

**To Reproduce**

1. Set up a pre-commit hook with the following command: `exec gitleaks --path=. -v --unstaged`.
2. Add a file with no secrets to the repository like the following: secret.json `{ "key": "password" }`.
3. Commit the file: `git stage *` & `git commit`.
4.

[2021-09-06 12:46] w0rmr1d3r commented on #622
Hello @ar185356 !

Can you confirm is this is happening in v7.6.0 as well?

Cheers!

[2021-09-06 14:29] ar185356 commented on #622
Hello @w0rmr1d3r

Yes. I upgraded but I am still having issues. I tested and thought it might have been fixed although it was not.

Here is what I done:
1. `{ "key": "secret" }` - No leaks Found
2. `{ "key": " *github token* " }` - 1 Leak Found ✔
3. `{ "key": " *part of github token* " }` - No Leaks Found
4. `{ "key": " *github token* " }` - No Leaks Found ❌
5. `{ "key": "secret" }`  - No Leaks Fo

[2021-09-06 14:43] w0rmr1d3r commented on #622
Some questions.
1. What's the difference between 1 and 6?
2. It should have found leaks on all 6 of them?
Thank you :)

[2021-09-06 14:55] ar185356 commented on #622
Sorry about the confusion. I didn't name these very well. I will rewrite it with better names.

1. `{ "key": "regularString" }` - No leaks Found
2. `{ "key": "ghp_************************************" }` - 1 Leak Found ✔
3. `{ "key": "ghp_" }` - No Leaks Found
4. `{ "key": "ghp_************************************" }` - No Leaks Found ❌
5. `{ "key": "regularString" }` - No Leaks Found
6. `{ "key":

[2021-09-06 15:04] w0rmr1d3r commented on #622
It makes it a little bit more clearer.
However, I can't see the difference between 2, 4 and 6 and why in 2 a leak is found and not in 4 or 6.

What am I missing?

[2021-09-06 15:42] ar185356 commented on #622
You aren't missing anything. They are exactly the same. That's the bug.

[2021-09-06 17:47] w0rmr1d3r commented on #622
Oh! Now I understand the bug you found!
Weird, could this be regarding your custom configuration?

Can you try using this -> https://github.com/zricethezav/gitleaks#as-a-pre-commit-hook ?
It will still run as a pre-commit and it might solve the issue.

Cheers!

[2021-09-06 17:57] w0rmr1d3r commented on #585
Hello @jkbszpg ,

Can this be the same bug found in https://github.com/zricethezav/gitleaks/issues/622 ?

Thank you

[2021-09-06 17:58] w0rmr1d3r commented on #622
At the same time @ar185356 , can you check if your bug is somehow related or duplicated to https://github.com/zricethezav/gitleaks/issues/585 ?

Thank you!

[2021-09-06 17:59] w0rmr1d3r commented on #537
Hello @EliSchleifer and @ghostsquad !

Is this still happening on v7.6.0 ?

Thank you!

[2021-09-06 21:39] #524 closed

[2021-09-06 21:49] zricethezav opened #625 "Create CHANGELOG.md"
**Describe the solution you'd like**
I'd like to go back to using a CHANGELOG.md to track changes. This will be the first step in updating the ci/cd process to increase the frequency of patches/deploys.

**Additional context**
Go through https://github.com/zricethezav/gitleaks/releases and create a CHANGELOG.md file

cc @zricethezav

[2021-09-07 02:06] leonitousconforti commented on #583
has this been fixed? The issue is closed but I am experiencing the same problem running gitleaks 7.6.0 installed from homebrew

[2021-09-07 05:38] w0rmr1d3r commented on #583
Hello @leonitousconforti ,
It seems the issue got closed by its opener.
Can you provide more info about the bug?

Thank you!

[2021-09-07 06:02] Viajaz opened #626 "Support for Microsoft Webhooks"
Support for Microsoft Incoming Webhooks (Eg: Microsoft Teams Channel Webhooks) would be useful

Example:
`https://customertenantname.webhook.office.com/webhookb2/ffffffff-ffff-ffff-ffff-ffffffffffff@ffffffff-ffff-ffff-ffff-ffffffffffff/IncomingWebhook/ffffffffffffffffffffffffffffffff/ffffffff-ffff-ffff-ffff-ffffffffffff`

Possible Regex:
[code]

cc @zricethezav

[2021-09-07 06:57] w0rmr1d3r commented on #601
Closing this issue since it's related to the action and not directly to gitleaks.

[2021-09-07 06:57] #601 closed

[2021-09-07 07:19] jkbszpg commented on #585
I don't use '--unstaged' option in [pre-commit](examples/pre-commit.example),

my issue is - stage contains a secret that is detectable by rules
gitleaks will only find it if staged and workspace are the same,
if you stage a change with a secret and not have it in workspace during pre-commit-hook - it will be committed - seems like the wrong thing is scanned

[2021-09-07 09:11] ah185199 commented on #622
Here are commands that can reproduce the issue. Using the same setup as @ar185356
Start each run with an empty folder

git init
echo #!/bin/sh > .git\hooks\pre-commit
echo exec gitleaks --path=. --unstaged -v >> .git\hooks\pre-commit

echo {"key":"secret"} > file.json
git stage *
git commit -m message

echo { "key": "ghp_abcdefghijklmnopqrstuvwxyz0123456789" } > file.json
git stage *
git commit -m

[2021-09-07 15:41] Adnan0o7 commented on #583
This is not an issue, you can use the command below:
`gitleaks --path=./ --verbose --redact --repo-config-path=.gitleaks.toml`

This resolves the problem with submodules but it does not detect the secrets in uncommitted files (Both staged or unstaged).

[2021-09-07 15:41] zricethezav opened #628 "Reduce False Positives with Tree-sitter"
**Is your feature request related to a problem? Please describe.**
False positives will pop up due to regex/entropy limitations. Having access to a syntax-tree during an additional rule validation step would help reduce false positives. We can use [tree-sitter](https://tree-sitter.github.io/tree-sitter/) for the parsing after a  leak has been detected.

**Describe the solution you'd like**
Leverag

[2021-09-07 18:08] zricethezav commented on #628
Eventually we could even replace the rules with a custom query language that queries tree-sitter parse results o.O

Treesitterplayground:  ![Screen Shot 2021-09-07 at 1 05 21 PM](https://user-images.githubusercontent.com/15034943/132390709-b7642568-55db-45d2-93f4-318250a3f54e.png)

Config idea:

[code]

[2021-09-08 02:37] zricethezav commented on #618
Working branch https://github.com/zricethezav/gitleaks/tree/split-tests

[2021-09-08 05:59] soulcurrymedia opened #629 "A how-to for first timers, for scanning full code or repository and setting up a git hook"
**Is your feature request related to a problem? Please describe.**

I have gone through the README and a couple of issues before writing this. I'm scanning a legacy repo and want to set up the hook for future commits. My expectation is to quickly scan the files are not all the commits to find leaks. I used this command and the below-given .gitleaks.toml file (which is at the root of the repo).

Th

[2021-09-08 07:08] w0rmr1d3r commented on #629
Hello @soulcurrymedia ,

Have you read this section?
https://github.com/zricethezav/gitleaks#docker
Or tried some basic examples?
https://github.com/zricethezav/gitleaks#scanning

I believe what you are requesting already exists in the readme of the repo.
More precisely, you are doing this -> https://github.com/zricethezav/gitleaks#scan-local-directory
But with some custom options as well.

Cheers

[2021-09-08 07:44] w0rmr1d3r commented on #583
Alright!
Thank you @Adnan0o7 !

Regarding `staged` and `unstaged`, there are other issues opened with that bug, we will try to fix them :)

[2021-09-08 08:03] ar185356 commented on #622
@w0rmr1d3r It does not appear to be related to #585 as they differ slightly.

This issue seems to be brought on by the --unstaged flag whereas the other issue does not.
Also, in this example the key is still present in both the working directory and is staged at the point of commit.

This also doesn't seem to brought on by a custom config as it still happens with and without the custom configurati

[2021-09-08 15:41] emmahsax opened #630 "v7.6.0 makes a 'could not generate Patch' error"
**Describe the bug**
When using the newest GitLeaks version (v7.6.0), I now am seeing a new error:

[code]

Here's the run with v7.6.0: https://github.com/emmahsax/emmahsax.github.io/runs/3546589868?check_suite_focus=true

Here's the same run with v7.5.0: https://github.com/emmahsax/emmahsax.github.io/runs/3546602697?check_suite_focus=true

To get this, I'm running it with a `--path='./'` flag, an

[2021-09-08 16:00] zricethezav commented on #630
Thanks for opening this issue @emmahsax. I have a feeling this is related to bumping the dependencies which includes the diff library that `go-git` uses, https://github.com/zricethezav/gitleaks/blob/master/go.sum#L62

I'll try and figure out what's going on here

[2021-09-08 18:22] w0rmr1d3r commented on #630
@zricethezav for that dependency, if I'm not mistaken, exists a new version -> https://github.com/sergi/go-diff/releases/tag/v1.2.0
Can we upgrade it and try again?

[2021-09-09 01:56] zricethezav commented on #622
@ah185199 @ar185356 I will try tackling this in the next release. Thank you for providing plenty of context

[2021-09-09 12:13] raoel commented on #515
I don't know why, but the issue disappeared? :-/

I upgraded from 7.5.0 to 7.6.0, so it wasn't that old :-)  but we'll see how it goes

[2021-09-09 15:21] EliSchleifer commented on #537
Yes it is

[2021-09-09 15:23] EliSchleifer opened #632 "Can we cut a release with symlink fix?"
**Is your feature request related to a problem? Please describe.**
Symlink following for uncommitted files can we get that fix in a new dot release

**Describe the solution you'd like**
Bump release to main

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screens

[2021-09-09 15:53] EliSchleifer commented on #537
For example - this outtput from 7.6.0. Changing the json output to properly push "[]" on empty and to create properly formatted json would be a simple enough PR - but also a breaking change for any consumers of the product. I am happy to put a PR together - but the implications of the fix are rough.

{"line":"aws_access_key_id = \"AKIAIO5FODNN7EXAMPLE\"","lineNumber":1,"offender":"AKIAIO5FODNN7EXA

[2021-09-09 16:05] zricethezav commented on #537
@EliSchleifer happy to review an PR. I think the vast majority of users consume the reports via report file rather than stdout so this wouldn't be considered a breaking change imo.

If you're willing, would you mind sharing how you are consuming the output of gitleaks? I'm curious

[2021-09-09 16:30] EliSchleifer commented on #537
@zricethezav - We're integrating gitleaks into our universal check tool. Would love for you to check it out if you're interested. We'll be launching in about a months time, but happy to give you a sneak peek. You can reach me directly at eli@trunk.io

By the way gitleaks is a super cool tool and a really important piece, IMO, of good engineering workflows.

[2021-09-09 16:58] zricethezav commented on #632
@EliSchleifer https://github.com/zricethezav/gitleaks/releases/tag/v.7.6.1 there ya go

[2021-09-09 16:58] #632 closed

[2021-09-10 06:16] w0rmr1d3r commented on #515
Okai!
Closing the issue for now, since it seems that it's been fixed :)

[2021-09-10 06:16] #515 closed

[2021-09-10 11:17] k0ral commented on #537
The `stdout` output is pretty convenient to consume huge amounts of leaks in a streaming manner. That is: the consumer processes one stdout line at a time, with constant memory usage throughout the process. For this use case, having a standalone JSON object per line is more convenient than having to strip each line of the extra comma-separator.

Thus, I would argue that sending a big standalone JS

[2021-09-10 14:47] nickrussler opened #635 "Alpine 3.14.1 has CVEs"
**Describe the bug**
Alpine 3.14.1 has CVEs.

libcrypto1.1: CVE-2021-3711, CVE-2021-3712 and libssl1.1: CVE-2021-3711, CVE-2021-3712.

This can be confirmed with trivy image zricethezav/gitleaks:v.7.6.1 or trivy image alpine:3.14.1.

This can be fixed by bumping alpine to alpine:3.14.2 (no CVEs for trivy image alpine:3.14.2)

**To Reproduce**
Run trivy image zricethezav/gitleaks:v.7.6.1

**Expecte

[2021-09-10 16:25] EliSchleifer commented on #537
I'm really interested in the use case of a repository that has so many leaks that they need to be consumed by a stream. @k0ral  - is this a scenario you've come across?

[2021-09-11 02:42] massongit opened #636 "Support go install to install gitleaks"
https://golang.org/doc/go-get-install-deprecation

We should use `go install` because `go get`  in module mode is deprecated.
However, when I try to use `go install` to install gitleaks, I get the following error:

[code]

[2021-09-11 04:50] leonitousconforti commented on #583
Thank you @Adnan0o7
That solved my problem

[2021-09-12 07:32] k0ral commented on #537
@EliSchleifer Using a set of custom rules, I've seen cases with tens of thousands of leaks. Each leak includes the full line that matched the regex (in case it's a content regex and not just a filepath regex), which is an unbounded piece of information. (By the way, this probably warrants a distinct issue.)

Granted, this may not be the common scenario, but I sleep better at night knowing that whe

[2021-09-14 07:27] sojugeorge opened #638 "Dockerfile creation blocker"
While im building a dockerfile, im getting the below error

=> ERROR [build 4/4] RUN GO111MODULE=on CGO_ENABLED=0 go build -o bin/gitleaks -ldflags "-X="${ldflags} *.go

Iam using the same code as which is present in this github @zricethezav

[2021-09-14 21:41] emmahsax commented on #630
@zricethezav or @w0rmr1d3r Have either of you figured out what was going on? I've been doing some more poking around.

First off, I made https://github.com/zricethezav/gitleaks/pull/639, but I'm not sure how to test it beyond the automated tests... essentially because I haven't been able to reproduce this error locally at all.

When I run `gitleaks` installed via Brew (`7.5.0`, `7.6.0`, and `7.6.1

[2021-09-15 05:54] w0rmr1d3r commented on #630
Hello @emmahsax !
Weird situation, can we try if we run Gitleaks inside a GitHub action but using it like this:
[code]
That is, to run it like that in this step:
[code]

Can we try that if it gives us the same error?

On the other side, this PR has its build failing -> https://github.com/zricethezav/gitleaks/pull/639
Haven't checked it though

[2021-09-15 06:40] w0rmr1d3r commented on #638
Hello @sojugeorge !
Can you provide us more error logs?

Thank you!

[2021-09-15 07:29] sojugeorge commented on #638
[code]

[2021-09-15 14:39] w0rmr1d3r commented on #638
Thanks @sojugeorge !
It seems that you aren't passing the argument `ldflags` (needed here -> https://github.com/zricethezav/gitleaks/blob/master/Dockerfile#L3).

Can you provide us how are you building the image?

I've checked this section of the readme -> https://github.com/zricethezav/gitleaks#docker
@zricethezav , but can't find how to build the docker image, only how to use it once it's been b

[2021-09-15 20:57] emmahsax commented on #630
@w0rmr1d3r This is what I changed it to:

[code]

And just like when running it previously, versions 7.6.0 and 7.6.1 gave me the same error, while version 7.5.0 succeeded. So essentially this is the exactly same thing as when using the `addnab/docker-run-action@v3` GitHub Action to run GitLeaks.

HOWEVER, I did figure something potentially out. The issue may have to do with using the `--path` flag

[2021-09-16 07:02] w0rmr1d3r commented on #638
Great @sojugeorge , that's the very same file I checked within the repo.
The thing is, that it needs an argument `ldflags` , but I don't know which value it should have.

Waiting for @zricethezav to add more info here.

[2021-09-16 07:09] w0rmr1d3r commented on #630
Thanks @emmahsax :)

What if in the first example, you just put `--path='.'` instead of `--path='./'`.  Have you tried so?
Talking about these lines:
[code]
Or maybe, you won't even need that `cd app/`, in this section of the readme -> https://github.com/zricethezav/gitleaks#docker
It's passing to the docker, the path without needing to do the `cd app/` that you are doing.

Can we try that? Those

[2021-09-16 08:18] 0xsapra opened #640 "File Rules doesnt work when running gitleaks in NewRepoScanner mode"
**Description**
Running gitleaks on a repo-url with the following `https://github.com/zricethezav/gitleaks/blob/master/testdata/configs/nozips.toml` configuration doesn't produce any output even though there is a regex matching to this file.

nozips.toml file:
[code]

**To Reproduce**
[code]

The nozips.toml have a regex for the file to look for filename ending with .zip`'''.*\.zip'''` which you c

[2021-09-16 16:09] sojugeorge commented on #638
@zricethezav  please do let us know how to solve this issue.

[2021-09-16 16:32] zricethezav commented on #638
@sojugeorge @w0rmr1d3r

https://github.com/zricethezav/gitleaks/blob/master/Makefile#L45-L46

[2021-09-16 17:15] sojugeorge commented on #638
I do have this line in my local also @zricethezav . i have cloned the code from master branch only

[code]

[2021-09-16 17:17] sojugeorge commented on #638
its is failing like this while iam building the image
[code]

[2021-09-16 17:29] zricethezav commented on #638
use `make dockerbuild` otherwise you have to use ld flags manually:
[code]

[2021-09-16 17:43] sojugeorge commented on #638
yea this worked. Thanks @zricethezav

[2021-09-16 17:44] #638 closed

[2021-09-17 02:57] emmahsax commented on #630
All of that does work! I ended up changing the final solution to this:

[code]

It still does return the `could not generate Patch` error, but it moves on and finishes the scan anyway:

[code]

[2021-09-17 07:26] w0rmr1d3r commented on #630
@zricethezav any help here? I know nothing about that error :/

[2021-09-23 11:20] ashokm opened #641 "v7.6.1 is tagged as v.7.6.1 in Docker Hub"
Release `v7.6.1` (see https://github.com/zricethezav/gitleaks/releases) is tagged as `v.7.6.1` (note the extra `.` after `v`) in Docker Hub (see https://hub.docker.com/r/zricethezav/gitleaks/tags)

cc @zricethezav

[2021-09-24 09:13] sd185233 opened #644 "Random "object not found" error"
Started seeing "object not found" randomly today.  Version being used is v7.6.0.  Have been using for several weeks now and not come across this issue.

    *** pre-commit ***
    time="2021-09-24T05:05:09-04:00" level=info msg="opening .\n"
    time="2021-09-24T05:05:16-04:00" level=info msg="scan time: 6 seconds 557 milliseconds 701 microseconds"
    time="2021-09-24T05:05:16-04:00" level=error

[2021-09-24 10:54] sd185233 commented on #644
We noticed a similar issue was fixed in 7.6.1, however we still got the same error with this.  When we deleted one of the staged files which was tracked by LFS, gitleaks run OK.  After recreating the repo, everything was fine.  We think the repo may have been in a strange state after staging using a mix of libgit2sharp and the commandline.

[2021-09-24 10:54] #644 closed

[2021-09-27 06:12] w0rmr1d3r commented on #640
Hello @0xsapra !
Somehow, you want gitleaks to use your custom rules instead of the ones by default and overriding them if they collide at some point?

Cheers!

[2021-09-28 09:49] 0xsapra commented on #640
Hi @w0rmr1d3r

Below is complete nozips.toml file. There is literally no other rule except the file `.*\.zip`. By passing my config using `--config-path=./config/nozips.toml`, it should load only 1 rule
[code]
So it should simply be giving me matching zip files right? I didn't understand your doubt ..

[2021-09-28 09:50] 0xsapra commented on #640
The issue is using the above rule
[code]

I am getting no result on repo https://github.com/iamvictim007/test-gitleaks even thought we can clearly see a zip file in there at  https://github.com/iamvictim007/test-gitleaks/blob/main/file.zip

[2021-09-28 16:55] emmahsax commented on #630
@zricethezav I'm continuing to run into similar issues, but this time on GitLab CI:
[code]

I've tried removing the `/` in the `--path` (same error), changing it from single-quotes to double-quotes (gitleaks ignored my commits because it couldn't find the object, which implied the commits weren't being interpolated correctly). I, again, think the path isn't being set properly. Lastly, it's again j

[2021-09-28 18:50] zricethezav commented on #641
@ashokm thanks for pointing that out, pushing fix now

[2021-09-28 19:04] zricethezav commented on #641
@ashokm https://hub.docker.com/layers/zricethezav/gitleaks/v7.6.1/images/sha256-66a8b46e267c4331b2902c7354ca6b31833603fbe35b9ab443c9b00d9ebee100?context=repo

[2021-09-28 19:04] #641 closed

[2021-09-29 08:25] barrerajl opened #646 "Go installation fails"
**Describe the bug**
When running `GO111MODULE=on go get github.com/zricethezav/gitleaks/v7` it fails with
[code]

**To Reproduce**
Just try to install it

**Expected behavior**
Gitleaks should be installed

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Basic Info (please complete the following information):**
 - OS: linux
 - Gitleaks Version: v7

**Additional con

[2021-09-29 19:41] msamendinger opened #647 "Google API keys are not being detected"
**Describe the bug**
Google API keys are not being detected

**To Reproduce**
[code]

**Expected behavior**
leak gets detected

**Basic Info (please complete the following information):**
 - OS: macOS 11.6
 - Gitleaks Version: 7.6.1

**Additional context**
I'm not sure what the reason for the two backslashes in the regex `AIza[0-9A-Za-z\\-_]{35}` are, but this leads to escaping the dash and thus t

[2021-09-29 19:52] Jelzman opened #648 "docker run not detecting git repo"
**Describe the bug**
The docker version of gitleaks doesn't detect any git repo properly, when using the --path flag. (Have not tried it with the --repo-url flag)

[code]

**To Reproduce**
Run these two commands and compare their output, when running on a local repo known to have secrets in it.

[code]
**Expected behavior**
I expected both commands to find the 6 leaks. Instead, the docker command

[2021-09-30 01:15] dustinsand commented on #646
What version of go are you using? The embed package is part of go1.16+

[2021-09-30 07:02] w0rmr1d3r commented on #648
Hello @Jelzman !
That's weird... Can you try using `" "` on the `--path` option as it's shown here -> https://github.com/zricethezav/gitleaks#docker
That is, to run the command that doesn't work like this:
[code]

Anyhow, if I'm not wrong, there's a difference between `--volume ${PWD}/repo:/repo` and `--path=${PWD}` isn't it?
Can you (when using the docker) go to the repo and use the volume like `

[2021-09-30 07:06] barrerajl commented on #646
I can close the bug, it seems that new 7.6.1 needs go 1.16 but not before. (Should be stated in the version notes maybe?)

[2021-09-30 07:06] #646 closed

[2021-09-30 07:10] w0rmr1d3r commented on #647
Hello @msamendinger !
Wow...  Can you try running gitleaks without the `-c` option?
`gitleaks -p api_key.json --no-git`
And let's see if it works?

If not, can you open a PR with the fix/solution you are commenting on the regex?

Thank you!

[2021-09-30 14:07] Jelzman commented on #648
Let's say PWD=/u/username/project. In the project folder, there are a bunch of files, which are all checked into git, so there is also a .git file in the directory. Then the docker flag --volume ${PWD}:/repo mounts the directory project from the host OS to the directory /repo in the container. gitleaks runs in the container, so it can only see the container's filesystem. Therefore gitleaks must be

[2021-09-30 14:49] #595 closed

[2021-10-01 20:25] msamendinger commented on #647
Hi @w0rmr1d3r,

running without `-c` makes no different I just wanted to demonstrate that I'm working on a clean `gitleaks.toml`.
Sorry for not checking the PRs before, but it seems like #558 is already addressing this problem.

[2021-10-01 20:27] #647 closed

[2021-10-02 14:11] joaquin386 commented on #440
Would love to know if there is a Work Around on this issue, since wanted to use gitleaks over truffleHog, as gitleaks offers username/password and pat tokens needed for ADO private repos.

[2021-10-04 06:18] 0xsapra commented on #640
@w0rmr1d3r tagging for review

[2021-10-04 10:26] w0rmr1d3r commented on #647
Thank you @msamendinger !
Will try to merge that PR so this issue gets fixed :)

[2021-10-06 10:27] w0rmr1d3r commented on #640
Hello @0xsapra !
Sorry for the delay.

I've re-read the entire issue, let's see if I've understood it correctly.
gitleaks doesn't scan inside the .zip file, it skips it, but you want for gitleaks to tell you that there shouldn't be a .zip file in the repo, right?

Could it be that your new rule is somehow colliding with the one here?
https://github.com/zricethezav/gitleaks/blob/master/config/gitle

[2021-10-07 14:07] GolanTrevize10 opened #655 "runtime: failed to create new OS thread (have 15 already; errno=11)"
**Describe the bug**
We are using the official gitleaks image for version 7.5.0. We are scanning thousands of repositories and sometimes we get an error like this

runtime: failed to create new OS thread (have 15 already; errno=11)

**To Reproduce**
Not sure how to reproduce it. Maybe it happens when a repository with a lot of commits is scanned. We are running this command
gitleaks --access-token

[2021-10-07 14:43] w0rmr1d3r commented on #655
Hello @GolanTrevize10 !

It seems you are using an old version of gitleaks.
Currently gitleaks is on version `v7.6.1`:
https://github.com/zricethezav/gitleaks/releases/tag/v7.6.1

And version `v7.6.0` seems to fix some issues with the `--threads` option (which you are using).

Can you try using that newer version to see if the error still pops up?
Another thing that can be tested is to either modi

[2021-10-07 15:40] w0rmr1d3r commented on #425
Hello @Asuza !

I believe that this bug is old and has been fixed.

Can we close this issue?

cheers!

[2021-10-07 15:45] 0xsapra commented on #640
Hi @w0rmr1d3r

So yea, you understood the problem correctly. With the configuration file I provide, i.e
[code]

It should be able to locate the `.zip` file. The same is the case with `.pem` file, if I change the rule to
[code]
It doesn't work, whereas I believe you can see how important it could be for gitleaks to locate such files as they can be sensitive.

Now as you asked to try 2 approaches ,

[2021-10-08 07:17] w0rmr1d3r commented on #214
Hello @the1mills !

Has this been solved?
Can you try with newer versions fo gitleaks?

Thank you!

[2021-10-08 12:13] tumido opened #657 "`pre-commit run -a` outputs different result to `gitleaks --repo-url .`"
**Describe the bug**
Pre-commit's `run --all-files` should check on all files in the repo, including those which are already commited. `gitleaks` hook disregards already commited files and does not check them.

**To Reproduce**
Steps to reproduce the behavior:

1. Have a pre-commit hook enabled
[code]

2. Have a file with any secret violation e.g.:
[code]
3. Commit the file (skipping pre-commit or

[2021-10-08 13:05] w0rmr1d3r commented on #657
Hello @tumido !

Can you pass as arguments to the pre-commit the same arguments you are passing to the execution of gitleaks outside the pre-commit?
That is:
[code]
And re-run the tests you've done to find the bug?

I believe the pre-commit configuration might need some arguments by default that we aren't passing them.

Thank you!

[2021-10-09 05:29] Asuza commented on #425
If it's been fixed, then sure! I haven't tried it lately, but my issue is so old at this point it might as well be cleaned up. Thanks!

[2021-10-09 05:29] #425 closed

[2021-10-11 06:53] tumido commented on #657
Hey @w0rmr1d3r,

I think the problem is caused by `gitleaks` not consuming the `--all-files` flag from pre-commit (not sure how the integration is supposed to works at all, that's just my observation).

To demostrate, I've changed the pre-commit config to (per your suggestion). This results in:

1. `pre-commit` to always fail on empty repo (but that's not an issue, just a side effect here, I don't

[2021-10-13 19:56] Dentrax opened #663 "--config-path does not work as expected with --repo-url flag"
**Describe the bug**
`--config-path` flag does not work expected with `--repo-url` flag. gitleaks still uses default `gitleaks.toml` file. But it works fine with the `--path` flag.

**To Reproduce**
Steps to reproduce the behavior:
1. Edit your default `gitleaks.toml`, append the following rule:
[code]
2. In your repo, add a sample code that breaks the rule.
3.
[code]

I tried to pass following fl

[2021-10-14 16:25] danielorihuela commented on #657
I have made a POC that changes the behaviour to match the pre-commit run and pre-commit run -a.
@tumido You can check it here https://github.com/danielorihuela/gitleaks/tree/fix/gitleaks-behaviour-on-pre-commit-run.

If you need to use it, you can fork it to use in your pre-commits.

@zricethezav @w0rmr1d3r I am willing to work on that if the POC makes sense.

[2021-10-16 14:16] 0xsapra commented on #640
@w0rmr1d3r  tagging for review

[2021-10-18 14:18] Dentrax opened #666 "sometimes stucks at cloning if --repo-url passed"
**Describe the bug**
I am not sure whether this is a bug or retry mechanism. In some cases or situations, gitleaks stuck at `cloning...` stage.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
It should not stuck at cloning stage?

I manually ran the `$ git clone ...` command to check if there are really any problem related to repo, but it cloned almost in a few se

[2021-10-19 08:46] w0rmr1d3r commented on #625
Will take a look at it @danielorihuela !

Thank you 😄

[2021-10-19 10:41] #663 closed, assigned to nobody

[2021-10-19 17:11] danielorihuela commented on #657
@w0rmr1d3r Opened. If the solution makes sense, we can work on improvements, refactor and tests.

[2021-10-20 19:27] cribdragg3r opened #669 "Update Slack Webooks to include Workflows"
https://github.com/zricethezav/gitleaks/blob/5afe59d2fa53737d449729f01582cf28497dbc3c/config/gitleaks.toml#L118

This seems to work okay:

[code]

[2021-10-21 06:51] w0rmr1d3r commented on #669
Hello @cribdragg3r !

Feel free to open a PR with those changes 😄

cheers!

[2021-10-21 12:04] GolanTrevize10 commented on #655
Hi, we solved already the issue. It has nothing to do with gitleaks but with some reused environment variables running several gitleaks scans in parallel

[2021-10-21 12:04] #655 closed

[2021-10-21 12:09] Ketan987 opened #670 "Can't Install GitLeaks on Windows"
**Describe the bug**
Hi,
I am trying to run exe file of GitLeaks ([Latest Version of GitLeaks](https://github.com/zricethezav/gitleaks/releases/download/v7.6.1/gitleaks-windows-386.exe)) on my windows machine but it's not working.

When I double tap and try to install nothing happens nor it get installed.

**To Reproduce**
1) Download the exe file from windows ([Latest Version of GitLeaks](https:/

[2021-10-26 07:52] majinghe opened #671 "Missing option to ignore the scan result from xxx.toml file"
**Describe the bug**
when using Gitleaks to scan a remote repo, the result contain the xxx.toml file's result, eg the scan file is as below

[code]
while the xxx.toml file is as below

[code]
when i using the below cmd to scan the remote repo which containing the above files

[code]
The result is as below
[code]
In the report.json file, containing the below content from gitleaks.toml file
[code]

[2021-10-26 10:29] dirkaholic opened #672 "AWS secret key regex does not match"
**Describe the bug**

The rule for detecting AWS secret key's does not match. There are some secret keys in the testdata repos already that should be actually detected.

**To Reproduce**

The execution of
[code]

finds 2 AWS access keys but no AWS secret key.

**Expected behavior**

The above command should actually detect the AWS secret key in line 10 of file `secrets.py` (https://github.com/zric

[2021-10-26 10:45] ccsalway opened #674 "new line break"
https://github.com/zricethezav/gitleaks/blob/5afe59d2fa53737d449729f01582cf28497dbc3c/scan/utils.go#L57

https://github.com/zricethezav/gitleaks/blob/5afe59d2fa53737d449729f01582cf28497dbc3c/scan/utils.go#L69

Why have you put a new line break in? It shows up in the console

time="2021-10-26T10:37:47Z" level=info msg="opening /builds/salway/pipelines\n"

[2021-10-26 13:43] #672 closed, assigned to nobody

[2021-10-26 13:55] blenolopes opened #676 "Pre-commit scan always returns "lineNumber": 2"
**Describe the bug**
I'm using gitleaks (v.7.6.1) windows version x64 in git pre-commit (v2.33.1.windows.1) and the scan result always returns "lineNumber": 2.

**To Reproduce**
I'm using the pre-commit script with hooks.gitleaks true:
[code]

Sample source code with credential:

[code]

In output report, "lineNumber" always returns 2... no matter where the line with the credential is. If on line

[2021-10-26 14:22] #671 closed, assigned to nobody

[2021-10-26 18:48] Dentrax opened #677 "provide `ignorelist` in the config file"
**Is your feature request related to a problem? Please describe.**

To prevent and as decrease as possible the _false positives_, we might need to _ignore_ some directories or file extensions. To do that, `ignorelist` would be a great case in this scenario. We scanned over 1000 projects across entire internal git repositories by using _default_ config, the followings are what we have found mostly:

[2021-10-30 17:23] Dentrax opened #679 "porting the semgrep & github ruleset"
**Is your feature request related to a problem? Please describe.**
I'm just coming from the [GitLab conversation](https://gitlab.com/gitlab-org/gitlab/-/issues/340002#note_671440863) to drop an issue for the GitHub side, so we do not forget!

**Describe the solution you'd like**
Determine which secrets from the [semgrep ruleset](https://github.com/returntocorp/semgrep-rules/tree/develop/generic/se

[2021-11-01 10:52] infokiller opened #682 "Doesn't work with submodules as a pre-commit hook: `is a directory` error"
**Describe the bug**
This is the same as https://github.com/zricethezav/gitleaks/issues/583 which was closed but not fixed.
It mentions a workaround, but it doesn't work for uncommitted files.

**To Reproduce**

With docker:

[code]

Manually:

- Create repo with submodules
- Run `gitleaks .`

**Expected behavior**
Not failing, whether scanning the submodule or not.

**Basic Info (please complete

[2021-11-02 16:08] zricethezav opened #683 "Announcement: v8.0.0 changes"
# v8.0.0
Gitleaks v8.0.0 introduces some breaking changes and feature removals. My vision for gitleaks is for the project to
follow the [unix philosophy](https://en.wikipedia.org/wiki/Unix_philosophy) -- do one thing and one thing well.
That one thing is detecting secrets efficiently.

Sorry if this causes any inconveniences. You can always fork.

### What's changed
- Swapped `go-git` for shelling

[2021-11-05 12:54] rmillet-rs commented on #630
Hello, I have the same issue on version 7.6.1
Command: `gitleaks --path ./ -c .gitleaks.toml --commits-file=commits.txt`

I applied the following diff to have more info on the error:
[code]

The error I get is "flate: corrupt input before offset 5" (error type: `Patch flate.CorruptInputError`).

There are 3 commits, with about 47000 lines of diff (`git diff | wc -l`), mostly due to `package-lock.j

[2021-11-05 13:54] shawnz88 opened #685 "Object Not Found or Invalid delta"
**Describe the bug**
When running gitleaks in Azure DevOps self hosted agent with flag **files-at-commit=latest**, it returns the error **Object Not Found** or **Invalid delta**

**To Reproduce**
Steps to reproduce the behavior:
D:\Agents\mybuildserver-Agent5\_work\_tool\gitleaks\7.6.1\x64\gitleaks-windows-amd64.exe --path=D:/Agents/mybuildserver-Agent5/_work/3074/s --report=D:/Agents/mybuildserve

[2021-11-05 14:23] asaini11 opened #686 "Object not found when using --commit flag"
**Describe the bug**
We are running gitleaks as a pre-receive hook on GitLab using `gitleaks --leaks-exit-code=2 --path=. --verbose --commit=$commit` where $commit is the commit sha to be checked at the time of pushing. In some cases, gitleaks is unable to run and we get the below 'object not found' with exit code 1. I believe it is an issue with the ` --commit ` option.
[code]
We have tried this

[2021-11-05 14:26] asaini11 commented on #685
@shawnz88 I have just submitted a similar issue https://github.com/zricethezav/gitleaks/issues/686 although we've not seen `Invalid delta`

[2021-11-08 16:07] buckleyGI commented on #630
Rolling back to 7.5.0 solved it for us as well atm

[2021-11-08 16:44] emmahsax commented on #630
@w0rmr1d3r and/or @zricethezav. It seems this is becoming more of an issue for more and more people. It seems to be a particular issue then the code it's being run on is large (lots of commits or lots of changes).

[2021-11-09 11:14] buckleyGI commented on #630
Looking at the places it goes wrong it might have to do with the length of the patch when long lines are involved.
Our javascript files have been concatenated to 1 big single file with 1 long line. I suspect that if the length of a line goes over a certain threshold the problem occurs.

[2021-11-11 13:43] am251224 opened #691 "Gitleaks scan does not report basic keys i have added to test the scan"
hi all, i am trying to test basic gitleaks function , so i hardcoded some keys in a .tfvar file, but it does not show that in the report at all.
what I am doing,
* I am using the gitleaks on Azure devops , so I installed the plugin and I am running on self hosted agents.

- task: Gitleaks@1
  inputs:
    scanfolder: '$(Agent.BuildDirectory)/adle-ado-pipeline-iac/'
    arguments: '--debug --verbose

[2021-11-12 09:48] asaini11 commented on #691
@am251224 Gitleaks works by detecting secrets based off regular expressions so if the secrets don't match they won't be picked up. The regex can be found [here](https://github.com/zricethezav/gitleaks/blob/master/config/gitleaks.toml)
You could try using `AKIAIO5FODNN7EXAMPL2` as your fake aws key as this fits the regex.

[2021-11-12 12:46] am251224 commented on #691
@asaini11  - you are right , now it shows as an issue in the report.
i have on more question though, is there a way to exempt something from the report. what I mean is lets say i have to keep some key value in my file and i don't want it to be reported, like false positive or something and then it should not be picked again in future scans.

[2021-11-12 12:52] asaini11 commented on #691
@am251224 you may specify your own config. Please see the examples [here](https://github.com/zricethezav/gitleaks#configuration). Example 4 will probably be what you are looking for which can be found [here](https://github.com/zricethezav/gitleaks#example-4-using-allowlist-regex)

[2021-11-12 15:17] am251224 commented on #691
This is great, Thanks

[2021-11-12 15:17] #691 closed

[2021-11-14 16:22] gmacario opened #694 "Gitleaks reports "LinkedIn Client ID" errors on some public LinkedIn profiles"
**Describe the bug**

I have a Markdown file which contains links to people profiles on LinkedIn.
Some of those links are reported as errors even though their profile can be browsed anonymously.

**To Reproduce**

Steps to reproduce the behavior:

Inside an empty directory create a file `test.md` with the following contents:

[code]

then commit the file to git and run gitleaks inside a container

[2021-11-14 19:10] w0rmr1d3r commented on #694
Hello @gmacario !
I'm a little bit confused, you say first:
`Some of those links are reported as errors even though their profile can be browsed anonymously.`
I understand that gitleaks shouldn't report the links as a leak.
Yet, then you say:
`I would expect to leaks found.`
Which is actually what's happening.

If you want gitleaks *not* to report those links as a leaks you can always use an Allow

[2021-11-14 19:11] w0rmr1d3r commented on #630
Hello!
As for this announcement:
https://github.com/zricethezav/gitleaks/issues/683

I believe most of this situations will be fixed there.

Maybe @zricethezav has more context on that.

[2021-11-14 19:18] w0rmr1d3r commented on #686
Hello @asaini11

I see this `Note. Gitleaks is able to run on some commits in the repo but not others.`
I might need more info on that, why on some commits gitleaks fails and why on other commits it runs without any issue.

Do you have more info on why is that?
What are the differences between those commits?

Thank you

[2021-11-14 19:22] w0rmr1d3r commented on #685
Hello @shawnz88

It seems to me that the error is quite straight forward.

This:
`--path=D:/Agents/mybuildserver-Agent5/_work/3074/s`
doesn't exist...

Need more info.

Thank you

[2021-11-14 19:23] w0rmr1d3r commented on #682
Hello @infokiller

Is it giving the same error with `v7.6.1`?

Thank you

[2021-11-14 19:31] gmacario commented on #694
Hello @w0rmr1d3r, thank for your quick reply.

I actually made a typo when in my previous comment I wrote what I would expect.
I just edited my comment to state "I would expect that no leaks are reported".

More specifically, I could not understand why the second URL in my test file is reported

[code]

while the first URL is not.

Thanks for the hint, I will re-read it carefully and try to whitel

[2021-11-14 20:34] w0rmr1d3r commented on #694
Perfect @gmacario !

Closing the issue since it can be solved with an allowlist.

Cheers!

[2021-11-14 20:34] #694 closed

[2021-11-14 20:53] infokiller commented on #682
Yes:

[code]

[2021-11-15 07:13] w0rmr1d3r commented on #682
Thank you @infokiller !
I might be missing something, regarding the documentation -> https://github.com/zricethezav/gitleaks#usage-and-options
You are using gitleaks such as `gitleaks .` but it needs options

What am I missing?

[2021-11-15 07:59] infokiller commented on #682
Is `gitleaks .` not a valid usage of gitleaks? Options are not required, right?
Can you please show me a command that works with a submodule in that docker command?
Thanks

[2021-11-15 08:03] infokiller commented on #682
BTW, my use case it to run gitleaks in a git precommit hook. I want it to run on the staged changes that are about to be committed, but nothing else (for example if there's another file in the repo that is not staged in that commit, gitleaks shouldn't analyze it). If there is a better way to use gitleaks for this I would be happy to learn about it.

[2021-11-15 11:03] w0rmr1d3r commented on #682
Well, for that particular case, you can:

https://github.com/zricethezav/gitleaks#as-a-pre-commit-hook

Or for unstaged changes:
https://github.com/zricethezav/gitleaks#scan-unstaged-changes

See if it helps :)

[2021-11-15 12:03] infokiller commented on #682
I don't use pre-commit (I use a custom bash script) so it's not relevant for me. But even if I did use it, I don't understand why it would work and still fail in the simple docker command I posted above.

[2021-11-15 13:36] asaini11 commented on #686
Hi @w0rmr1d3r thank you for your comment. Currently, it's unclear what the differences are, as both commits update .java files. I tried to replicate the issue this morning and it replicated but I tried again this afternoon and now can't I replicate the issue as it's scanning. It seems pretty random. However, I wanted to use the `--debug` option to get more information but nothing extra prints out.

[2021-11-15 17:55] zricethezav commented on #683
### Left Gitleaks v7.6.1 | Right Gitleaks v8.0.0
Running against the gitleaks repo... more details to come

![Screen Shot 2021-11-10 at 1 22 09 PM](https://user-images.githubusercontent.com/15034943/141830478-3111e32c-6b9c-424a-83e4-1a2c840594cb.png)

![Screen Shot 2021-11-10 at 1 21 56 PM](https://user-images.githubusercontent.com/15034943/141830491-eb2c26e3-36c0-4a37-a683-286869121d60.png)

[2021-11-16 05:46] mhazimaqlan commented on #670
@Ketan987 You don't need to install gitleaks on windows, you can just run gitleaks.exe file with CLI (command prompt or powershell)

[2021-11-16 05:59] Ketan987 commented on #670
Hi @mhazimaqlan
I tried running `.exe` file with command prompt and PowerShell, did not work

![image](https://user-images.githubusercontent.com/35922826/141929279-f7fe41cb-35f9-4ef9-9f1f-f9d64e00c983.png)

 only screen just blinked once.
 I tried running with
start .\gitleaks-windows-amd64.exe

[2021-11-16 08:43] mhazimaqlan commented on #670
try to run without "start"
`PS C:\Users\Users\GitLeaks> ./gitleaks-windows-amd64.exe /help`

![image](https://user-images.githubusercontent.com/83561905/141951865-2ea984aa-116a-405f-92a4-64a4fa9bf203.png)

[2021-11-16 11:32] Ketan987 commented on #670
Hi @mhazimaqlan , @w0rmr1d3r ,

it is working.
Thank you. :-)

[2021-11-16 11:32] #670 closed

[2021-11-16 12:04] w0rmr1d3r commented on #670
Hi @mhazimaqlan !

Can we add this "how-to" to the README.md ?

Thanks!

[2021-11-17 05:50] mhazimaqlan opened #695 "Archive gitleaks .exe binary files into zip (blocked when downloading exe file)"
**Is your feature request related to a problem? Please describe.**
I'm pulling download link from GitHub Releases to download gitleaks for windows but unable to download .exe file due to internet policy. The policy is blocking internet request to download exe files.

**Describe the solution you'd like**
https://github.com/zricethezav/gitleaks/releases/tag/v7.6.1
Would be great if you could provide

[2021-11-17 19:31] w0rmr1d3r commented on #695
Hello @mhazimaqlan !

Can you try downloading the source code and compile it?
What about using Docker?

Cheers!

[2021-11-17 22:28] scottschreckengaust opened #698 "Add default configuration file locations"
**Is your feature request related to a problem? Please describe.**
How to add extra rules if necessary with false-positives without scripting.

**Describe the solution you'd like**
If and when there are configuration files found relative to the `--path`,  automatically override without having to use the `--config-path` or `--additional-config` parameters. Propose`gitleaks.toml` or `gitleaks-additi

[2021-11-18 01:37] scottschreckengaust commented on #683
Added a minor PR for the `Description` to the output as many `RuleID` values are not present yet in the default #699

[2021-11-18 07:57] mhazimaqlan commented on #695
@w0rmr1d3r,

Yes I can do to that on my machine (download and compile the source code). But, this is not the best solution for other people who can't compile the source code. For instance, an application that download gitleaks during runtime by fetching the download link from the release in github. In my case, the internet policy is blocking any request to download exe files on windows, so I'm thi

[2021-11-18 10:01] marian-craciunescu commented on #532
any toml config manifested the same way actually.

[2021-11-18 14:45] julianoborba opened #700 "Recent regex update too greedy"
**Describe the bug**
[Updated rule](https://github.com/zricethezav/gitleaks/blob/714c0bef1e953710c039deb6e15a0bdd5f6ed532/config/gitleaks.toml#L11) `(?i)aws_(.{0,20})?=?.[\'\"0-9a-zA-Z\/+]{40}` match the follow string in a terraform file:

[code]

[code]

**To Reproduce**
Scan a terraform script file containing
```data "aws_iam_policy_document" "SecretsManagerRDSPostgreSQLRotationSingleUserRolePol

[2021-11-20 02:28] zricethezav commented on #698
@scottschreckengaust great suggestion. This will be added in the upcoming version 8.

[code]

[2021-11-20 14:54] zricethezav commented on #695
@mhazimaqlan I'm switching the release process to goreleaseer which will provide a zip in the v8 release

[2021-11-20 19:38] zricethezav commented on #608
Being added in v8 https://github.com/zricethezav/gitleaks/blob/v8/.github/workflows/release.yml#L28-L33

[2021-11-22 15:18] zricethezav commented on #683
@pab1it0 is there anything I need to do regarding the gitleaks precommit? The new pre-commit script for v8 is https://github.com/zricethezav/gitleaks/blob/v8/scripts/pre-commit.py

[2021-11-22 18:42] #683 closed

[2021-11-22 18:53] zricethezav commented on #698
available in v8.0.0

[2021-11-22 18:53] #698 closed

[2021-11-22 18:56] zricethezav commented on #700
@julianoborba I actually deleted this rule in the latest version of gitleaks. I will be providing community contribution guidelines and best practices on how to submit new rules soon. AWS needs to be revisited

[2021-11-22 18:57] zricethezav commented on #695
zips are available in https://github.com/zricethezav/gitleaks/releases/tag/v8.0.0

[2021-11-22 18:57] #695 closed

[2021-11-22 18:58] zricethezav commented on #686
This is an issue with `go-git`s patch generation and will not be fixed as v8.0.0+ uses `git` directly for generating patches

[2021-11-22 18:58] #686 closed

[2021-11-22 19:02] #685 closed

[2021-11-22 19:04] zricethezav commented on #682
Gitleaks has been updated to [v8.0.0](https://github.com/zricethezav/gitleaks/releases/tag/v8.0.0) and this issue will not be fixed moving forward. Sorry for the inconvenience, feel free to fork older versions introduce a fix in your fork.

In v8 you can provide the flag `--log-opts="--submodule=log"` to scan submodules.

[2021-11-22 19:04] #682 closed

[2021-11-22 19:05] zricethezav commented on #679
Thank you @Dentrax, the most recent version of Gitleaks introduced 60+ new secrets. Adding new secrets will be a top priority for the project moving forward

[2021-11-22 19:05] #679 closed

[2021-11-22 19:05] #674 closed

[2021-11-22 19:07] zricethezav commented on #676
Gitleaks has been updated to [v8.0.0](https://github.com/zricethezav/gitleaks/releases/tag/v8.0.0) and this issue will not be fixed moving forward. Sorry for the inconvenience, feel free to fork older versions introduce a fix in your fork.

See new pre-commit hook example https://github.com/zricethezav/gitleaks/blob/master/scripts/pre-commit.py

[2021-11-22 19:07] #676 closed

[2021-11-22 19:08] zricethezav commented on #669
Closing this issue as it is not describing an issue

[2021-11-22 19:08] #669 closed

[2021-11-22 19:08] zricethezav commented on #666
Gitleaks has been updated to [v8.0.0](https://github.com/zricethezav/gitleaks/releases/tag/v8.0.0) and this issue will not be fixed moving forward. Sorry for the inconvenience, feel free to fork older versions introduce a fix in your fork.

Gitleaks v8.0.0 does not support cloning anymore

[2021-11-22 19:08] #666 closed

[2021-11-22 19:13] zricethezav commented on #648
@Jelzman I don't really have a fix but maybe the new version fixes this issue? https://github.com/zricethezav/gitleaks#docker

[2021-11-22 19:14] zricethezav commented on #640
Gitleaks has been updated to [v8.0.0](https://github.com/zricethezav/gitleaks/releases/tag/v8.0.0) and this issue will not be fixed moving forward. Sorry for the inconvenience, feel free to fork older versions introduce a fix in your fork.

[2021-11-22 19:14] #640 closed

[2021-11-22 19:14] zricethezav commented on #630
Gitleaks has been updated to [v8.0.0](https://github.com/zricethezav/gitleaks/releases/tag/v8.0.0) and this issue will not be fixed moving forward. Sorry for the inconvenience, feel free to fork older versions introduce a fix in your fork.

[2021-11-22 19:14] #630 closed

[2021-11-22 19:26] zricethezav commented on #622
Gitleaks has been updated to [v8.0.0](https://github.com/zricethezav/gitleaks/releases/tag/v8.0.0) and this issue will not be fixed moving forward. Sorry for the inconvenience, feel free to fork older versions introduce a fix in your fork.

`gitleaks protect`  has you covered

[2021-11-22 19:26] #622 closed

[2021-11-22 19:26] #618 closed

[2021-11-22 19:26] zricethezav commented on #608
donzo

[2021-11-22 19:26] #608 closed

[2021-11-22 19:27] zricethezav commented on #599
https://github.com/zricethezav/gitleaks/blob/master/config/gitleaks.toml **air horn sounds**

[2021-11-22 19:27] #599 closed

[2021-11-22 19:34] zricethezav commented on #585
https://github.com/zricethezav/gitleaks/blob/master/scripts/pre-commit.py likely fixes this

[2021-11-22 19:34] #585 closed

[2021-11-22 19:36] zricethezav commented on #581
@030 I haven't added anything to snap before, do you have a guide on how I could add it to snap?

[2021-11-22 19:36] zricethezav commented on #578
fixed in v8.0.0

[2021-11-22 19:36] #578 closed

[2021-11-22 19:37] zricethezav commented on #575
updated config provides better rules and advice on how to write rules. closing this issue

[2021-11-22 19:37] #575 closed

[2021-11-22 19:38] zricethezav commented on #574
Likely fixed in v8.0.0 although gitleaks should only report leaks when they are introduced

[2021-11-22 19:38] #574 closed

[2021-11-22 19:39] zricethezav commented on #571
Gitleaks has been updated to [v8.0.0](https://github.com/zricethezav/gitleaks/releases/tag/v8.0.0) and this issue will not be fixed moving forward. Sorry for the inconvenience, feel free to fork older versions introduce a fix in your fork.

This issues are likely resolved with the latest version of gitleaks

[2021-11-22 19:39] #571 closed

[2021-11-22 19:46] zricethezav commented on #537
should be fixed in v8, reopen if not

[2021-11-22 19:46] #537 closed

[2021-11-22 19:48] zricethezav commented on #526
Gitleaks has been updated to [v8.0.0](https://github.com/zricethezav/gitleaks/releases/tag/v8.0.0) and this issue will not be fixed moving forward. Sorry for the inconvenience, feel free to fork older versions introduce a fix in your fork.

[2021-11-22 19:48] #526 closed

[2021-11-22 19:49] zricethezav commented on #538
v8 has updated rules

[2021-11-22 19:49] #538 closed

[2021-11-22 19:53] zricethezav commented on #502
you can pass `git log -p` option into gitleaks with the `--log-opts` flag. So to set a depth you can pass `--log-opts -1` which execute `git log -p -1` under the hood

[2021-11-22 19:53] #502 closed

[2021-11-22 19:53] zricethezav commented on #509
Gitleaks has been updated to [v8.0.0](https://github.com/zricethezav/gitleaks/releases/tag/v8.0.0) and this issue will not be fixed moving forward. Sorry for the inconvenience, feel free to fork older versions introduce a fix in your fork.

[2021-11-22 19:53] #509 closed

[2021-11-22 19:54] zricethezav commented on #493
I'm not going to be pursuing this, I only want gitleaks to detect when secrets were introduced.

[2021-11-22 19:54] #493 closed

[2021-11-22 19:54] zricethezav commented on #440
Gitleaks has been updated to [v8.0.0](https://github.com/zricethezav/gitleaks/releases/tag/v8.0.0) and this issue will not be fixed moving forward. Sorry for the inconvenience, feel free to fork older versions introduce a fix in your fork.

Gitleaks is not responsible for cloning repos anymore

[2021-11-22 19:54] #440 closed

[2021-11-22 19:56] zricethezav commented on #556
This might be something I pursue in the future but currently I do not want to support it as a library

[2021-11-22 19:56] #556 closed

[2021-11-22 19:57] zricethezav commented on #439
Gitleaks has been updated to [v8.0.0](https://github.com/zricethezav/gitleaks/releases/tag/v8.0.0) and this issue will not be fixed moving forward. Sorry for the inconvenience, feel free to fork older versions introduce a fix in your fork.

Gitleaks is not responsible for cloning

[2021-11-22 19:57] #439 closed

[2021-11-22 19:57] zricethezav commented on #540
Gitleaks has been updated to [v8.0.0](https://github.com/zricethezav/gitleaks/releases/tag/v8.0.0) and this issue will not be
fixed moving forward. Sorry for the inconvenience, feel free to fork older versions introduce a fix in your fork.

Gitlaeks is not responsible for cloning

[2021-11-22 19:57] #540 closed

[2021-11-22 19:58] zricethezav commented on #435
Likely fixed in most recent version of gitleaks

[2021-11-22 19:58] #435 closed

[2021-11-22 19:59] zricethezav commented on #520
Gitleaks has been updated to [v8.0.0](https://github.com/zricethezav/gitleaks/releases/tag/v8.0.0) and this issue will not be fixed moving forward. Sorry for the inconvenience, feel free to fork older versions introduce a fix in your fork.

Gitleaks is not responsible for cloning

[2021-11-22 19:59] #520 closed

[2021-11-22 20:09] julianoborba commented on #700
Thank you very much.

[2021-11-22 20:09] #700 closed

[2021-11-22 20:38] zricethezav commented on #683
@chenrui333 since you have so graciously been helping out with keeping the brew formula up to date, is there anything that needs to be done to make sure brew has gitleaks v8.0.0 available?

[2021-11-22 20:41] 030 commented on #581
Snapcraft examples:
* https://github.com/030/informado/blob/master/build/package/snap/snapcraft.yaml
* https://github.com/030/dip/blob/master/build/package/snap/snapcraft.yaml
* https://github.com/030/n3dr/blob/master/build/package/snap/snapcraft.yaml

Snapcraft pipelines:
* https://github.com/030/informado/blob/master/.github/workflows/snapcraft.yml

[2021-11-23 14:30] zricethezav opened #703 "Replace with `[a-z0-9_ .\-,]` with `[\w\-.=]` in rules' regexes"
**Describe the solution you'd like**
Replace with `[a-z0-9_ .\-,]`  with `[\w\-.=]` in rules' regexes. Cleans up the rules a bit

**Additional context**
https://regex101.com/r/TJAZtE/1

[2021-11-23 20:40] emmahsax opened #704 "Don't know how to append a --config with the default config in v8"
**Describe the bug**

Is there a way to append a passed in config path with the default configs? In previous versions, we could run `--additional-config` and it would append a config file passed in with the default. But now, there's only `--config`, so it seems like we have to choose to use either the default OR a specific file.

**To Reproduce**

1. Make a new branch off of default branch
2. Make

[2021-11-24 00:21] zricethezav commented on #704
@emmahsax I intentionally remove those flags as I do not want Gitleaks to be responsible for merging configuration files. I wanted gitleaks to have one `--config` flag in v8. Feel free to fork and maintain an older version of Gitleaks. Sorry if this causes any inconvenience.

https://github.com/zricethezav/gitleaks/releases/tag/v8.0.0

[2021-11-24 00:21] #704 closed

[2021-11-24 08:07] codekuu opened #705 "ERR fatal: unrecognized argument: --show-pulls"
**Describe the bug**
When I try to run gitleaks I get the following error:
[code]

Currently running Linux Mint 20.

**To Reproduce**
Steps to reproduce the behavior:
Run `gitleaks detect .` in a local repository

**Expected behavior**
Should start to detect secrets but does not.

**Screenshots**
X

**Basic Info (please complete the following information):**
 - OS: Linux Mint 20.2
 - Gitleaks Vers

[2021-11-24 08:57] codekuu commented on #705
I am happy with `gitleaks detect --no-git` for now, closing.

[2021-11-24 13:24] zricethezav commented on #705
@codekuu thank you for opening this issue. You actually bring up a bug that should be fixed. `--show-pulls` was introduced in git `2.27` see https://github.com/git/git/blob/master/Documentation/RelNotes/2.27.0.txt#L69-L72 for git's release notes. I believe `--show-pulls` should be removed since it shows merge commits which don't introduce any new information in the commit history.

[2021-11-24 13:31] #705 closed

[2021-11-24 21:11] #402 closed

[2021-11-24 21:13] zricethezav commented on #371
Closing this issue as this is not a bug but rather a configuration issue that can be tuned

[2021-11-24 21:13] #371 closed

[2021-11-24 21:14] zricethezav commented on #636
Closing this. Cloning and building the binary is the preferred method. Feel free to open a PR if you want to add documentation on installing via go

[2021-11-24 21:14] #636 closed

[2021-11-24 21:14] zricethezav commented on #563
Gitleaks is not responsible for cloning

[2021-11-24 21:14] #563 closed

[2021-11-24 21:20] zricethezav commented on #542
closing this issue. `object not found` is not an error that will be encountered in v8 since gitleaks does not use `go-git` anymore.

[2021-11-24 21:20] #542 closed

[2021-11-24 21:20] zricethezav commented on #283
v8 supports multiline regexes

[2021-11-24 21:20] #283 closed

[2021-11-24 21:21] zricethezav commented on #404
I will happily accept a PR for this idea

[2021-11-24 21:22] zricethezav commented on #338
this can be scripted. I don't want gitleaks being responsible for merging reports

[2021-11-24 21:22] #338 closed

[2021-11-24 21:23] zricethezav commented on #282
I'm happy with the design of gitleaks recently in v8. It's only responsibility is scanning. See https://github.com/zricethezav/gitleaks/releases/tag/v8.0.0

[2021-11-24 21:23] #282 closed

[2021-11-24 21:27] zricethezav commented on #280
This is something that should be pursued by an additional configuration entry `reportGroup`

[2021-11-24 21:28] zricethezav commented on #265
gitleaks is not responsible for cloning anymore

[2021-11-24 21:28] #265 closed

[2021-11-24 21:33] zricethezav commented on #258
Positive lookaheads are not available for gitleaks at this time however. However I have been experimenting with using hyperscan as the regex engine which does support positive lookaheads

[2021-11-24 21:33] #258 closed

[2021-11-24 21:34] zricethezav commented on #263
gitleaks does not clone

[2021-11-24 21:34] #263 closed

[2021-11-24 21:35] zricethezav commented on #257
I don't have plans to support this. I like the simplicity of the current configuration

[2021-11-24 21:35] #257 closed

[2021-11-24 21:39] zricethezav commented on #256
@avishnyakov This could be interesting.

[code]

If `verify` is set then gitleaks would test the rules. `verify` could be a cli command as well. Something I'll think about

[2021-11-24 21:44] zricethezav commented on #403
Likely fixed in v8 reopen if not

[2021-11-24 21:44] #403 closed

[2021-11-24 21:45] zricethezav commented on #339
closing as this is a configuration issue

[2021-11-24 21:45] #339 closed

[2021-11-24 21:47] zricethezav commented on #522
` ? github.com/zricethezav/gitleaks/v7 [no test files]` is not an issue there were no test files for that path

[2021-11-24 21:47] #522 closed

[2021-11-24 21:48] zricethezav commented on #212
gitleaks is not responsible for cloning in v8+

[2021-11-24 21:48] #212 closed

[2021-11-24 21:49] zricethezav commented on #514
This should be fixed in the most recent version of gitleaks as it uses `findallindex` for matching regex

[2021-11-24 21:49] #514 closed

[2021-11-24 21:49] zricethezav commented on #214
gitleaks is not responsible for cloning in v8+

[2021-11-24 21:49] #214 closed

[2021-11-24 21:50] zricethezav commented on #205
This should be done in a script

[2021-11-24 21:50] #205 closed

[2021-11-24 21:50] #209 closed

[2021-11-24 21:52] zricethezav commented on #186
can be avoided by using a global allowlist https://github.com/zricethezav/gitleaks#configuration

[2021-11-24 21:52] #186 closed

[2021-11-24 21:52] zricethezav commented on #182
Gitleaks is not responsible for cloning in v8

[2021-11-24 21:52] #182 closed

[2021-11-24 21:54] zricethezav commented on #234
Gitleaks v8 should have the performance to avoid the need to statefully track scans. I don't have any plans to introduce this at this time

[2021-11-24 21:54] #234 closed

[2021-11-24 21:57] zricethezav commented on #200
v8 recently expanded the amount of rules by quite a bit https://github.com/zricethezav/gitleaks/blob/master/config/gitleaks.toml. Adding more rules will be something I focus more time on in the future.

closing this issue.

[2021-11-24 21:57] #200 closed

[2021-11-24 21:58] zricethezav commented on #415
new script should fix https://github.com/zricethezav/gitleaks/blob/master/scripts/pre-commit.py

[2021-11-24 21:58] #415 closed

[2021-11-24 21:59] zricethezav commented on #625
Gonna close this issue, I dont want to keep a changelog since tags/releases keep track of the changes. reducing the amount of bookkeeping during the release process is a priority of mine

[2021-11-24 21:59] #625 closed

[2021-11-24 22:00] zricethezav commented on #532
I unfortunately do not have a windows machine to test on. If someone could provide a solution that would be great

[2021-11-24 22:39] adamdecaf opened #708 "`--no-git` inspects `.gitleaks.toml` config file"
**Describe the bug**
I ran gitleaks v8.0.2 with `--no-git` and found it detected secrets in its own config file.
Example: https://github.com/moov-io/infra/pull/233

**To Reproduce**
1. Run `gitleaks detect --no-git` (so it writes the config file)
2. Run the command again

[code]

**Expected behavior**
gitleaks should ignore its own configuration file.

**Basic Info (please complete the following i

[2021-11-24 22:42] adamdecaf opened #709 "CLI support for ignoring rules"
**Is your feature request related to a problem? Please describe.**
I'm seeing some false positives after attempting an upgrade to v8.0.2.
Example: https://github.com/moov-io/infra/pull/233

[code]

**Describe the solution you'd like**
A solution like [shared config files](https://github.com/zricethezav/gitleaks/issues/596) could work, but it would also work to support CLI arguments when ignoring d

[2021-11-25 02:10] zricethezav commented on #708
@adamdecaf thank you! Great catch, fixing now

[2021-11-25 02:27] #708 closed

[2021-11-25 05:50] JoostVoskuil opened #711 "Add commit scan information when log level is debug"
Hi @zricethezav ,

Congrats on v8! Awesome work. At the moment I am adjusting the Azure DevOps extension to work with v8. I really like the way you are continuing with v8, making it simpler and to-the-point.

I notice that I find it hard to find out what commits are actually scanned by Gitleaks. Maybe it is just the imposter-syndrome kicking in but I don't feel that I am in control when providing

[2021-11-25 06:29] JoostVoskuil opened #712 "Sarif schema version is set to v8.0.0, should be 2.1.0"
Tested on Gitleaks v8.0.3:
When --format=sarif is provided to Gitleaks a sarif report is generated.
The version information of the schema is set to V8.0.0 while it should be 2.1.0. This leads to an incorrect sarif report

**Output from Gitleaks V7.6.x:**
 "$schema": "https://schemastore.azurewebsites.net/schemas/json/sarif-2.1.0-rtm.5.json",
 "version": "2.1.0",

**Output from Gitleaks v8.0.3:**

[2021-11-25 06:36] JoostVoskuil commented on #712
Proposed fix at #713

[2021-11-25 06:48] Aankhen commented on #636
Just to clarify for anyone following the issue, as I was a tad confused myself: while cloning and building might be the preferred method, <kbd>go install github.com/zricethezav/gitleaks/v8@latest</kbd> **does work** now (and, of course, so do versions like <kbd>v8@v8.0.3</kbd>). I believe @zricethezav is strictly referring to opening a PR to document this.

[2021-11-25 15:01] emmahsax opened #715 "Adding regex to global allowlist does not ignore secret, but adding to rule's allowlist does"
**Describe the bug**
Adding regex to global allowlist doesn't ignore the secret, but adding to rule specific allowlist does.

If I add
[code]

to my config file, then it doesn't properly ignore that secret. But if I add
[code]

to my config file's rule, then it does properly ignore the secret.

This is the secret the output is showing:
[code]

**To Reproduce**

1. Create a commit with a new test s

[2021-11-25 15:30] zricethezav commented on #715
@emmahsax great catch! This is indeed a bug

[2021-11-25 15:42] zricethezav commented on #711
@JoostVoskuil
This is something I'll have to think about. You can see the `git log` command that gitleaks is parsing. From that you can alter the command to give you the number of commits scanned.

ex: if I run `gitleaks detect --log-level=debug --log-opts=-50` I'm telling gitleaks to scan with a depth of 50 commits.

The `git log` command executed is `git -C . log -p -U0 -50`

You can follow up w

[2021-11-25 15:52] zricethezav commented on #711
I actually think this might be worthwhile since it has to be enabled via log-level setting, thanks for opening this @JoostVoskuil

[2021-11-25 16:02] JoostVoskuil commented on #711
Cool! Awesome

[2021-11-25 17:17] #715 closed

[2021-11-25 17:43] zricethezav commented on #712
released in v8.0.4

[2021-11-25 17:43] #712 closed

[2021-11-25 17:43] zricethezav commented on #711
released in v8.0.4, thanks @JoostVoskuil

[2021-11-25 17:43] #711 closed